<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
  <div class="loading"></div>
  <!--<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>-->
</div>
<p-panel header="BUSCAR SOLICITUD" toggleable="true" collapseIcon="ui-icon-close">
  <p-tabView class="form-group">
    <p-fieldset legend="Buscar por ID o Nro de solicitud" toggleable="true">
      <form [formGroup]="userform3" (ngSubmit)="BuscarSolicitud()">
        <p-fieldset legend="Nuevo estado">
          <div class="ui-g-12 ui-md-3">
            <label>Cambiar estado a: <a type="button" href="javascript:void(none)" (click)="op1.toggle($event)"><i (click)="showPopUpEstado()" class="pi pi-info-circle"></i></a></label>
            <p-overlayPanel #op1>
              <p>Una vez encontrada la solicitud, selecciona anulado para anular la solicitud o desistido para desistir la solicitud</p>
            </p-overlayPanel>

          </div>
          <div class="ui-g-12 ui-md-3">
            <p-dropdown [options]="Estados ? Estados : []" [(ngModel)]="par_estado_id" [showClear]="true" formControlName="par_estado_id" (onChange)="selectCurrentStado($event)"
                        [disabled]="disabledFound"></p-dropdown>
            <p-message severity="error" text="Estado es requerido"
                       *ngIf="!userform3.controls['par_estado_id'].valid&&userform3.controls['par_estado_id'].dirty">
            </p-message>
          </div>
          <div class="ui-g-4 ui-md-3" *ngIf="!idsPoliza.includes('null')">
              <span class="md-inputfield">
                <!--<input type="number" [(ngModel)]="id_instancia_poliza" formControlName="id_instancia_poliza" pInputText tooltipPosition="bottom" pTooltip="Busca la solicitud del cliente mediante el ID" tooltipEvent="focus">-->
                <input type="number" [(ngModel)]="nro_solicitud" formControlName="numSolicitud" pInputText tooltipPosition="bottom" pTooltip="Busca la solicitud del cliente mediante el Nro de Solicitud" tooltipEvent="focus">
                <label>Número de solicitud</label>
              </span>
          </div>
          <div class="ui-g-4 ui-md-3" *ngIf="idsPoliza.includes('null')">
              <span class="md-inputfield">
                <input type="number" [(ngModel)]="id_deudor" formControlName="id_deudor" pInputText tooltipPosition="bottom" pTooltip="Busca la solicitud del cliente mediante el ID DEUDOR" tooltipEvent="focus">
                <label>Id Deudor</label>
              </span>
          </div>
          <div class="ui-g-2 ui-md-1">
            <button [disabled]="!userform3.valid" type="submit" pButton icon="pi pi-search"></button>
          </div>
          <div class="ui-g-2 ui-md-1" *ngIf="asegurado && ['10','12'].includes(solicitudService.id_poliza+'')">
            <button type="button" pButton *ngIf="showImpresora" [disabled]="!enableImprimir" (click)="asegurado ? solicitudService.ImprimirAnulacion(id_instancia_poliza,asegurado.instancia_poliza.id_poliza) : id_deudor ? solicitudService.ImprimirAnulacion(id_deudor,'null') : ''" icon="ui-icon-print" ></button>
          </div>
        </p-fieldset>
      </form>
    </p-fieldset>
    <p-fieldset legend="Informacion de la Solicitud" toggleable="true" *ngIf="asegurado || deudor">
         <div [classList]="id_estado == solicitudService.estadoIniciado.id ? 'task-box task-box-1' :
                              id_estado == solicitudService.estadoSolicitado.id ? 'task-box task-box-2' :
                               id_estado == solicitudService.estadoPorPagar.id ? 'task-box task-box-3' :
                               id_estado == solicitudService.estadoEmitido.id ? 'task-box task-box-4' :'' ">
           <div class="ui-g-12 ui-md-2" style="text-align:center">
                <img src="/assets/form-icon.jpg" alt="form-icon">
           </div>
           <div class="ui-g-12 ui-md-8">
             <div class="ui-g-12 ui-md-12" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>La solicitud encontrada tiene al titular: </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{asegurado_nombre1+' '+asegurado_nombre2+' '+asegurado_apellido1+' '+asegurado_apellido2}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" style="padding:0px" *ngIf="fecha_inicio_vigencia_certificado && fecha_fin_vigencia_certificado">
               <div class="ui-g-12 ui-md-6">
                 <span><b>El rango de vigencia del certificado es la siguiente: </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{fecha_inicio_vigencia_certificado && fecha_fin_vigencia_certificado ? fecha_inicio_vigencia_certificado+' - '+fecha_fin_vigencia_certificado : 'No cuenta con certificado de cobertura'}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" style="padding:0px" *ngIf="fecha_inicio_vigencia_solicitud && fecha_fin_vigencia_solicitud">
               <div class="ui-g-12 ui-md-6">
                 <span><b>El rango de vigencia de la solicitud es la siguiente:  </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{fecha_inicio_vigencia_solicitud+' - '+fecha_fin_vigencia_solicitud}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>Se encuentra en estado:  </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span  class="task-status">{{estado}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" style="padding:0px" *ngIf="motivo">
               <div class="ui-g-12 ui-md-6">
                 <span><b>Motivo:  </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span  class="task-status">{{motivo}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" style="padding:0px" *ngIf="!proceder && observacion">
               <div class="ui-g-12 ui-md-6">
                 <span><b>Observación:  </b></span>
               </div>
               <div class="ui-g-12 ui-md-6" (dblclick)="oldObservation.hidden = true; newObservation.hidden = false">
                 <span  class="task-status" #oldObservation>{{observacion}}</span>
                 <span  class="task-status" #newObservation hidden><input type="text" #newObservationInput [value]="observacion">
                     <button pButton (click)="guardarNuevaObservacion(newObservationInput.value,asegurado.instancia_poliza.id,asegurado.instancia_poliza.id_estado);newObservation.hidden = true;oldObservation.hidden = false" type="button" icon="ui-icon-edit"></button>
                 </span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" style="padding:0px" *ngIf="producto">
               <div class="ui-g-12 ui-md-6">
                 <span><b>Corresponde al producto:  </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{producto}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" *ngIf="fecha_emision_certificado" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>La fecha de emisión es: </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{fecha_emision_certificado ? fecha_emision_certificado : 'No cuenta con certificado de cobertura'}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" *ngIf="fecha_anulado" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>La fecha anulación es: </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{fecha_anulado}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" *ngIf="nroCertificado" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>El número de certificado es: </b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{nroCertificado ? nroCertificado : 'No cuenta con certificado de cobertura'}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" *ngIf="nroSolicitud" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>El número de solicitud es:</b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{nroSolicitud}}</span>
               </div>
             </div>
             <div class="ui-g-12 ui-md-12" *ngIf="idInstanciaPoliza" style="padding:0px">
               <div class="ui-g-12 ui-md-6">
                 <span><b>El ID es:</b></span>
               </div>
               <div class="ui-g-12 ui-md-6">
                 <span>{{idInstanciaPoliza}}</span>
               </div>
             </div>
           </div>
         </div>
    </p-fieldset>
    <p-fieldset *ngIf="proceder"  legend="Describa motivo del cambio de estado a Anulado o Desistido" toggleable="true">
      <div class="ui-g-12">
          <form [formGroup]="userform2" (ngSubmit)="cambiarSiEstadoSolicitud()" >
            <div class="ui-g-12 ui-md-2" style="text-align:center">
              <img src="/assets/form-icon.jpg" alt="form-icon">
            </div>
            <div class="ui-g-12 ui-md-10">
              <div class="ui-g-12 ui-md-6" *ngIf="showIdMotivo">
                <label>Motivo</label>
                <p-dropdown [options]="solicitudService.MotivosAnulacion" [(ngModel)]="id_motivo" [showClear]="true" formControlName="id_motivo"></p-dropdown>
                <p-message severity="error" text="El Motivo es requerido"
                           *ngIf="!userform2.controls['id_motivo'].valid&&userform2.controls['id_motivo'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-12">
                <label>Debido a: (Nota: se imprimira en la carta del cliente) </label>
                <textarea minlength="30" class="custom-textarea" [rows]="5" [(ngModel)]="observacion" [disabled]="disabledFound" [cols]="30" pInputTextarea formControlName="observacion"></textarea>
                <p-message severity="warn" *ngIf="userform2.controls['observacion'] && userform2.controls['observacion'].errors && userform2.controls['observacion'].value && userform2.controls['observacion'].value.length > 0"
                           [text]="userform2.controls['observacion'].errors != undefined ?
                                 userform2.controls['observacion'].errors['required'] ? 'Este campo es requerido' :
                                 userform2.controls['observacion'].errors['minlength'] ? 'Introduce como minimo 30 caracteres' : 'Este campo es requerido' : '' ">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-12">
                  <div class="ui-g-4 ui-md-3">
                    <button type="button" [disabled]="disabledFound" pButton icon="pi pi-times" (click)="CancelarAnulacion()" label="Cancelar"></button>
                  </div>
                  <div class="ui-g-8 ui-md-3" *ngIf="asegurado && ['10','12'].includes(asegurado.instancia_poliza.id_poliza+'') && showBtnGuardar">
                    <button type="button" *ngIf="['60'].includes(id_estado+'')" (click)="solicitudService.ImprimirAnulacion(asegurado.instancia_poliza.id,asegurado.instancia_poliza.id_poliza)" pButton icon="pi pi-check" label="Guardar"></button>
                  </div>
                  <div class="ui-g-8 ui-md-3" *ngIf="showBtnGuardar">
                    <button type="submit" [disabled]="!userform2.valid" pButton icon="pi pi-check" label="Guardar"></button>
                  </div>
              </div>
            </div>
          </form>
      </div>
    </p-fieldset>
  </p-tabView>
</p-panel>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displayConfirmar" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">Estas seguro de cambiar el estado de la solicitud a {{desLabel}} ?.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="
      solicitudService.estadoAnulado && currentEstado.value == solicitudService.estadoAnulado.id ? Anular() :
      solicitudService.estadoDesistido && currentEstado.value == solicitudService.estadoDesistido.id ? Desistir() :
      solicitudService.parametroRechazado && currentEstado.value == solicitudService.parametroRechazado.id ? Rechazar() :
      solicitudService.parametroNoIncluido && currentEstado.value == solicitudService.parametroNoIncluido.id ? NoIncluir() :
      '';
      displayConfirmar=false" label="Si"></button>
      <button type="button" pButton icon="pi pi-times" (click)="CancelarAnulacion();displayConfirmar=false" label="No"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displayNotfound" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">No es posible encontrar la solicitud {{id_instancia_polizaTxt}}.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayNotfound=false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displayNotPosible" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">No es posible Desistir la solicitud {{id_instancia_polizaTxt}}, o ya se encuentra desistida.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayNotPosible=false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displayPreventMessage" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center" [innerHTML]="preventMessage"></p>
  <p-footer>
    <div *ngIf="asegurado && asegurado.instancia_poliza.id_estado == 60" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayPreventMessage=false" label="Aceptar"></button>
      <button type="button" pButton icon="pi pi-check" (click)="displayPreventMessage=false" label="Cancelar"></button>
    </div>
    <div *ngIf="asegurado && asegurado.instancia_poliza.id_estado == 62 && ['10','12'].includes(asegurado.instancia_poliza.id_poliza+'')" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayPreventMessage=false; solicitudService.ImprimirAnulacion(id_instancia_poliza,asegurado.instancia_poliza.id_poliza)" label="Si"></button>
      <button type="button" pButton icon="pi pi-check" (click)="displayPreventMessage=false" label="No"></button>
    </div>
    <div *ngIf="asegurado && asegurado.instancia_poliza.id_estado == 62 && !['10','12'].includes(asegurado.instancia_poliza.id_poliza+'')" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayPreventMessage=false" label="Aceptar"></button>
      <button type="button" pButton icon="pi pi-check" (click)="displayPreventMessage=false" label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displaySolicitudProcesada" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">La solicitud {{idsPoliza.includes(10) || idsPoliza.includes(12) ? 'Nro' : 'con Id'}}: {{nro_solicitud}} fue cambiada al estado {{estadoActual}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displaySolicitudProcesada=false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displaySolicitudProcesadaConImpresion" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">La solicitud {{idsPoliza.includes(10) || idsPoliza.includes(12) ? 'Nro' : 'con Id'}}: {{nro_solicitud}} fue cambiada al estado {{estadoActual}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displaySolicitudProcesadaConImpresion=false" label="Aceptar"></button>
      <button type="button" pButton icon="pi pi-check" *ngIf="['10','12'].includes(solicitudService.id_poliza+'') && ['62'].includes(id_estado+'')" (click)="displaySolicitudProcesadaConImpresion=false; solicitudService.ImprimirAnulacion(id_instancia_poliza,asegurado.instancia_poliza.id_poliza)" label="Imprimir Carta Anulación"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displayFoundSol" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">Se encontro la solicitud {{id_instancia_polizaTxt}} correspondiente a  {{asegurado_nombre1+' '+asegurado_nombre2+' '+asegurado_apellido1+' '+asegurado_apellido2}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayFoundSol=false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Anular Solicitud" [(visible)]="displayGuardado" [modal]="true" [responsive]="true" [minY]="70" [closable]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
       style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">Se {{estadoLabel}} exitosamente la solicitud {{id_instancia_polizaTxt}} correspondiente a  {{asegurado_nombre1+' '+asegurado_nombre2+' '+asegurado_apellido1+' '+asegurado_apellido2}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" *ngIf="id_instancia_poliza && ['10','12'].includes(asegurado.instancia_poliza.id_poliza+'') && ['62'].includes(id_estado+'')" (click)="displayGuardado = false; solicitudService.ImprimirAnulacion(asegurado.instancia_poliza.id,asegurado.instancia_poliza.id_poliza)" label="Imprimir"></button>
      <button type="button" pButton icon="pi pi-check" (click)="displayGuardado = false;" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>
