<div class="ui-g">
  <div class="ui-g-12">
      <div class="card card-w-title">

        <h1>DataTable</h1>
        
          <p-table [columns]="cols"  #dt [value]="caros" selectionMode="single" dataKey="codigo" [(selection)]="selectedCar"
                     [paginator]="true" [rows]="10" [responsive]="true" > 
                     <ng-template pTemplate="caption">
                        <div class="ui-g">
                            <div class="ui-g-6" style="text-align: left">
                                <button pButton type="button" style="margin-bottom:10px" label="adicionar" icon="ui-icon-add-circle-outline" class="green-btn flat"></button>
                            </div>
                            <div class="ui-g-6" style="text-align: right">
                                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="15" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </div>
                    </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                          {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
      </div>
  </div>          
</div>  