<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
    <div class="loading"></div>
    <!--<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>-->
</div>
<!--<app-beneficiario #componenteBeneficiario [parametros_beneficiario]="solicitudService.parametrosYAtributos" (setBeneficiarios)="solicitudService.asegurado.beneficiarios = $event" style="display: none"></app-beneficiario>-->

<p-dialog header="No Existe" [(visible)]="solicitudService.displayErrorRespuestaBanco" [modal]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
    </div>
    <p class="text-center">Hubo un problema relacionado con la respuesta de los servicios del banco, el servicio: {{solicitudService.nombreServicioBanco}} no genero ningun dato, por favor contactese con el area de sistemas del Banco.</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check"
                    (click)="solicitudService.displayErrorRespuestaBanco = false" label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="dialog-emitir-solicitud" header="Emitir solicitud desde caja" [(visible)]="solicitudService.displayEmitirSolicitudDesdeCaja" [modal]="true" [responsive]="true" [minY]="70">
    <form [formGroup]="fechaEmisionForm" (ngSubmit)="updateInstanciaPoliza()">
        <div class="ui-g-12 text-center">
            <div class="ui-g-12 ui-md-offset-3 ui-md-6 ui-md-offset-3">
                <div class="ui-g-12 ui-md-12">
                    <i class="ui-icon-check text-center ui-icon-check-colibri"></i>
                    <p>{{msgFechaEmision}}</p>
                    <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="solicitudService.instanciaDocumentoCertificado.fecha_emision" pInputText
                                  formControlName="fecha_registro" [disabled]="true"></p-calendar>
                    <p-message severity="error"
                               [text]="fechaEmisionForm.controls['fecha_registro'] != undefined && fechaEmisionForm.controls['fecha_registro'].errors != null ? fechaEmisionForm.controls['fecha_registro'].errors['required'] ?
                               'La fecha es requerida' : '' : ''"
                               *ngIf="!fechaEmisionForm.controls['fecha_registro'].valid&&fechaEmisionForm.controls['fecha_registro'].dirty">
                    </p-message>
                    <p>Introduzca el número de transacción que acredite el pago de la prima:</p>
                    <input type="text" [(ngModel)]="solicitudService.persona_banco_transaccion.nrotran" pInputText formControlName="nro_transaccion">
                    <p-message severity="error"
                               [text]="fechaEmisionForm.controls['nro_transaccion '] != undefined && fechaEmisionForm.controls['nro_transaccion '].errors != null ? fechaEmisionForm.controls['nro_transaccion'].errors['required'] ?
                                'El numero de transaccion es requerida' : '' : ''"
                               *ngIf="!fechaEmisionForm.controls['nro_transaccion'].valid&&fechaEmisionForm.controls['nro_transaccion'].dirty">
                    </p-message>
                </div>
                <div class="ui-g-12 ui-md-12">
                    <button type="submit" pButton icon="fa fa-check" label="Guardar" [disabled]="!fechaEmisionForm.valid"></button>
                </div>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog class="dialog-emitir-solicitud" header="Emitir Solicitud desde caja" [(visible)]="solicitudService.displayEmitirSolicitudSinNroTransaccion" [modal]="true" [responsive]="true" [minY]="70">
    <form [formGroup]="fechaEmisionForm" (ngSubmit)="updateInstanciaPoliza()">
        <div class="ui-g-12 text-center">
            <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
            <div class="ui-g-12 ui-md-12">
                <p>La fecha de emisión del certificado de cobertura del seguro será la siguiente:</p>
            </div>
            <div class="ui-g-12 ui-md-offset-3 ui-md-6 ui-md-offset-3">
        <span class="md-inputfield" style="height: 260px">
          <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="solicitudService.instanciaDocumentoCertificado.fecha_emision" pInputText
                      formControlName="fecha_registro" [minDate]="yesterday" [disabled]="true"></p-calendar>
        </span>
                <p-message severity="error"
                           [text]="fechaEmisionForm.controls['fecha_registro'].errors != null ? fechaEmisionForm.controls['fecha_registro'].errors['required'] ? 'La fecha es requerida' : fechaEmisionForm.controls['fecha_registro'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : '' : ''"
                           *ngIf="!fechaEmisionForm.controls['fecha_registro'].valid&&fechaEmisionForm.controls['fecha_registro'].dirty">
                </p-message>
                <button type="submit" pButton icon="fa fa-check" label="Guardar" style="bottom: 115px"></button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Se Actualizo Exitosamente" [(visible)]="solicitudService.displayCambioEstadoExitosoOpcional" [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
        <p>La solicitud fue actualizada exitosamente a la siguiente instancia:
            {{solicitudService.EstadosInstaciaPolizaId[solicitudService.asegurado.instancia_poliza.id_estado]}}</p>
        <p *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+''">¿Desea imprimir la solicitud de seguro Nro: {{solicitudService.instanciaDocumentoSolicitud.nro_documento+''}}?</p>
        <p *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+''">¿Desea imprimir el comprobante Nro: {{solicitudService.instanciaDocumentoComprobante.nro_documento+''}}?</p>
        <p *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+''">¿Desea imprimir el certificado de cobertura Nro: {{solicitudService.instanciaDocumentoCertificado.nro_documento+''}}?</p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+''" (click)="
             solicitudService.displayCambioEstadoExitosoOpcional = false;
             solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' ?
             solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza) : ''" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+''" (click)="
             solicitudService.displayCambioEstadoExitosoOpcional = false;
             solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' ?
             solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza) : ''" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+''" (click)="
             solicitudService.displayCambioEstadoExitosoOpcional = false;
             solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' ?
             solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza,null,solicitudService.persona_banco_solicitud.solicitud_sci_selected) : ''" label="SI"></button>

            <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayCambioEstadoExitosoOpcional = false;" label="No"></button>
        </div>
    </p-footer>
</p-dialog>


<p-dialog header="Se Actualizo Exitosamente" [(visible)]="solicitudService.displayCambioEstadoExitosoDesdeCaja" [modal]="true" [responsive]="true" [draggable]="false" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
        <p>La solicitud fue actualizada exitosamente a la siguiente instancia:
            {{solicitudService.EstadosInstaciaPolizaId[solicitudService.asegurado.instancia_poliza.id_estado]}}</p>
        <p *ngIf="!solicitudService.hasRolCajero && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+''">¿Desea imprimir la solicitud de seguro Nro: {{solicitudService.instanciaDocumentoSolicitud.nro_documento+''}}?</p>
        <p *ngIf="!solicitudService.hasRolCajero && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+''">¿Desea imprimir el comprobante Nro: {{solicitudService.instanciaDocumentoComprobante.nro_documento+''}}?</p>
        <!--<p *ngIf="!solicitudService.hasRolCajero && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+''">¿Desea imprimir el certificado de cobertura Nro: {{solicitudService.instanciaDocumentoCertificado.nro_documento+''}}?</p>-->
        <p *ngIf="!solicitudService.hasRolCajero && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && !solicitudService.usuarioAdicionadoHasRolCajero">¿Desea imprimir el certificado de cobertura Nro: {{solicitudService.instanciaDocumentoCertificado.nro_documento+''}}?</p>
        <p *ngIf="solicitudService.hasRolCajero && solicitudService.usuarioAdicionadoHasRolCajero">Si el cliente no cuenta con la solicitud del seguro: Nro. {{solicitudService.instanciaDocumentoSolicitud.nro_documento+''}}, debe primero imprimir esta, luego el certificado de cobertura Nro. {{solicitudService.instanciaDocumentoCertificado.nro_documento+''}}.</p>
        <!--<p *ngIf="solicitudService.hasRolCajero">¿Desea imprimir el comprobante de pago Nro: {{solicitudService.instanciaDocumentoComprobante.nro_documento+''}}?</p>-->
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button *ngIf="!solicitudService.hasRolCajero" type="button" pButton icon="pi pi-check" (click)="solicitudService.displayCambioEstadoExitosoDesdeCaja = false;
            solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' ?
            solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza,null,solicitudService.persona_banco_solicitud.solicitud_sci_selected) :
            solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' ?
            solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza) :
            solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' ?
            solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza) :
            ''" label="SI"></button>
            <button *ngIf="!solicitudService.hasRolCajero && !solicitudService.usuarioAdicionadoHasRolCajero" type="button" pButton icon="pi pi-times" (click)="
            solicitudService.displayCambioEstadoExitosoDesdeCaja = false;" label="No"></button>
            <button *ngIf="solicitudService.hasRolCajero && solicitudService.usuarioAdicionadoHasRolCajero" type="button" pButton icon="pi pi-check" (click)="
            solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.asegurado.instancia_poliza.id_poliza,null,solicitudService.persona_banco_solicitud.solicitud_sci_selected)" label="Imprimir Solicitud de seguro"></button>
            <button *ngIf="solicitudService.hasRolCajero" type="button" pButton icon="pi pi-check" (click)="
            solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.asegurado.instancia_poliza.id_poliza)" label="Imprimir Certificado de cobertura"></button>
            <button *ngIf="solicitudService.atributoDebitoAutomatico.valor == '58'" type="button" pButton icon="pi pi-check" (click)="
            solicitudService.asegurado.instancia_poliza.id_poliza == 7 ? solicitudService.ImprimirPlanPagoEcoProteccion() :
            solicitudService.asegurado.instancia_poliza.id_poliza == 8 ? solicitudService.ImprimirPlanPagoEcoMedicB() :
            ''" label="Imprimir Plan de Pago"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Se Actualizo Exitosamente" [(visible)]="solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja" [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
        <p>La solicitud fue actualizada exitosamente a la siguiente instancia:
            {{solicitudService.EstadosInstaciaPolizaId[solicitudService.asegurado.instancia_poliza.id_estado]}}</p>
        <p *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+''">¿Desea imprimir la solicitud de seguro Nro: {{solicitudService.instanciaDocumentoSolicitud.nro_documento+''}}?</p>
        <p *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+''">El cliente debe aproximarse a caja para hacer el pago de la prima y obtener su certificado de cobertura, ¿Desea imprimir el comprobante Nro:{{solicitudService.instanciaDocumentoComprobante.nro_documento+''}}?</p>
        <p *ngIf="solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+''">¿Desea imprimir el certificado de cobertura Nro: {{solicitudService.instanciaDocumentoCertificado.nro_documento+''}}?</p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 6" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 7" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 8" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 1" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 10" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza,null,solicitudService.persona_banco_solicitud.solicitud_sci_selected); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 11" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 12" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza,null,solicitudService.persona_banco_solicitud.solicitud_sci_selected); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 2" (click)="solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>

            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 6" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 8" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 1" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 10" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 11" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 12" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 2" (click)="solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>

            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 6" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 7" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 8" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 1" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 10" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 11" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 12" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' && solicitudService.asegurado.instancia_poliza.id_poliza == 2" (click)="solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.id_poliza); solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false" label="SI"></button>

            <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayCambioEstadoExitosoSinOpcionesDesdeCaja = false;" label="No"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayValidacionMessages"
          [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
        <p>{{solicitudService.msgsFromSolicitud}}</p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayValidacionMessages = false"
                    label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayMontoInvalido"
          [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
        <p>{{solicitudService.msgMontoInvalido}} </p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayMontoInvalido = false"
                    label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayTransaccionInvalida"
          [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
        <p>Advertencia: {{solicitudService.msgTransaccionInvalida}}, ¿Desea continuar?.</p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="continuarSinValidarNroTransaccion = true; solicitudService.displayTransaccionInvalida = false; justUpdateInstanciaPoliza()" label="SI"></button>
            <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayTransaccionInvalida = false; solicitudService.displayEmitirSolicitudDesdeCaja = true" label="No"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayTransaccionInvalidaSinContinuar"
          [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
        <p>Advertencia: {{solicitudService.msgTransaccionInvalida}}.</p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayTransaccionInvalidaSinContinuar = false; solicitudService.displayEmitirSolicitudDesdeCaja = true" label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayTransaccionInfo"
          [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-check ui-icon-check-colibri"></i>
        <p>{{solicitudService.msgTransaccionInfo}}</p>
        <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_warn">
            <p-messages [closable]="false" severity="success" text="Informacion de la transacción" [value]="solicitudService.tran_info"></p-messages>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayTransaccionInfo = false; solicitudService.displayCambioEstadoExitosoDesdeCaja = true"
                    label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayErrorValidacionDesdeCaja"
          [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-error ui-icon-error-colibri"></i>
        <p>{{solicitudService.msgErrorValidacionDesdeCaja}}</p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayErrorValidacionDesdeCaja = false"
                    label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>
