<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
  <div class="loading"></div>
</div>
<p-fieldset legend="INGRESE PARAMETROS" toggleable="true">
  <div class="ui-g-12 ui-md-3">
    <span class="md-inputfield">
      <p-dropdown [options]="ListaPolizas" [(ngModel)]="objeto.id_poliza" [showClear]="true"></p-dropdown>
      <label>Poliza</label>
    </span>
  </div>
  <div class="ui-g-12 ui-md-3">

    <div class="ui-g-12">
      <span class="md-inputfield">
        <p-calendar [(ngModel)]="objeto.fecha_ini" placeholder="Fecha desde" dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>
        <label>Fin de Cobertura desde</label>
      </span>
    </div>
  </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12">
      <span class="md-inputfield">
      <p-calendar [(ngModel)]="objeto.fecha_fin" placeholder="Fecha hasta" dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>
      <label>Fin de Cobertura hasta</label>
    </span>
    </div>
  </div>
  <div class="ui-g-12 ui-md-3" style="text-align: center;">
    <button type="button" pButton (click)="listaAll(dt)" pTooltip="Buscar" tooltipPosition="top"
      icon="pi pi-search"></button>
  </div>
</p-fieldset>

<p-fieldset legend="RESULTADOS PENDIENTES" toggleable="true" [hidden]="!milimizado">
  <p-table #dt [columns]="cols" [value]="pendientes" dataKey="id" [paginator]="true" [rows]="10">
    <ng-template>
      <div class="ui-g">
        <div class="ui-g-6" style="text-align: left">
          Resultados de la busqueda
        </div>
        <div class="ui-g-6" style="text-align: right">
          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="IMPRIMIR PLAN PAGOS"
            (click)="exportExcel(dt)" style="margin-right: 0.5em;" class="ui-button-success"></button>
          <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field">
          <h3>{{col.header}}</h3>
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-instancia_poliza let-i="rowIndex">
      <tr>
        <td>{{i+1}}</td>
        <td>{{instancia_poliza['nro_documento']}}</td>
        <td>{{instancia_poliza['fecha_emision']}}</td>
        <td>{{instancia_poliza['asegurado']}}</td>
        <td>{{instancia_poliza['fecha_inicio_vigencia']}}</td>
        <td style="color :red;"><b>{{instancia_poliza['fecha_fin_vigencia']}}</b></td>
        <td>{{instancia_poliza['dias_vigencia']}}</td>
        <!--<td style="text-align: right;">{{instancia_poliza['cuenta']}}</td>
        <td style="text-align: right;">{{instancia_poliza['persona_celular']}}</td>
        <td style="text-align: right;">{{instancia_poliza['email']}}</td>
        <td style="text-align: center;">{{instancia_poliza['nro_cuota_prog']}}</td>
        <td>{{instancia_poliza['fecha_couta_prog']}}</td>
        <td>{{instancia_poliza['motivo']}}</td>
        <td style="text-align: center;">{{instancia_poliza['dias_transcuridos']}}</td>
        <td style="color :red;"><b>{{instancia_poliza['fecha_vencimiento']}}</b></td>!-->
        <td>{{instancia_poliza['usuario_login']}}</td>
        <td>{{instancia_poliza['sucursal']}}</td>
        <td>{{instancia_poliza['agencia']}}</td>
        <!--<td>
          <b>...</b>
          <div class="ui-g-6">
          <button type="button" pButton label="Image" (click)="op1.toggle($event)"></button>
                    <p-overlayPanel #op1>
                        <img src="assets/demo/images/nature/nature1.jpg" alt="Nature 1" />
                    </p-overlayPanel>
                  </div>                    
        </td>!-->
      </tr>
    </ng-template>
  </p-table>
  <div class="ui-g-12" style="text-align: center">
    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXPORTAR A EXCEL"
      (click)="exportExcel(dt)" style="margin-right: 0.5em;" class="ui-button-success"></button>
    <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
  </div>
</p-fieldset>
