
<div class="w3-panel w3-light-grey">

    <div class="w3-row">
        <div class="w3-col">

        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col">
            Busqueda Solicitud de Crédito 
        </div>
    </div>
    <div class="w3-row w3-section">
        <form #frm="ngForm">
            <div class="w3-col" style="width:50px">
                <button [disabled]="frm.invalid"
                 class="w3-button w3-round w3-indigo" type="button"
                  (click)="onBuscar()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="w3-rest">
                <input class="w3-input w3-border" 
                    name="numsol"
                    #numsol="ngModel"
                    type="number"
                    [(ngModel)]="numero_solicitud"
                    placeholder="Número de Solicitud" required>
                <div *ngIf="numsol.invalid && (numsol.dirty || numsol.touched)"
                 class="w3-panel w3-pale-red w3-tiny w3-padding">
                    <p *ngIf="numsol.errors.required">* Campo es requerido</p>
                </div>
            </div>
        </form>
    </div>
    <div class="w3-row w3-padding-16">
        <ul class="w3-ul w3-border">
            <li *ngFor="let solicitud of solicitudes">
                    Solicitud de Crédito : <b> {{ solicitud.Sol_NumSol }} </b> <br>
                    Fecha Solicitud : {{ solicitud.Sol_FechaSol | slice:0:10 }} <br>
                    Asegurado : {{solicitud.Seg_Deudores[0].Deu_Nombre }} {{solicitud.Seg_Deudores[0].Deu_Paterno}} {{solicitud.Seg_Deudores[0].Deu_Materno}}, CI: {{solicitud.Seg_Deudores[0].Deu_NumDoc}}  <br>
                    Oficial de Créditos : {{ solicitud.Sol_Oficial }} ( {{ solicitud.Sol_CodOficial }} )  <br>
                    Estado de la Solicitud del Seguro : {{ getEstadoSolicitud(solicitud.Sol_EstadoSol)  }}  <br>
                    Estado de la Operación del Crédito : {{solicitud.operacion_estado }} <br>
                    Tipo Solicitud de Crédito  : {{ solicitud.Sol_TipoOpeUni  }}
                    <div class="w3-bar">
                        <div class="w3-bar-item w3-right">
                            <button (click)="onCancelar()" type="button"
                             class="w3-button w3-border-blue w3-white w3-border w3-round-xlarge w3-text-blue">
                                Cancelar
                            </button>
                        </div>
                        <div class="w3-bar-item w3-right">

                            <button (click)="onGestionarSeguro(solicitud.Sol_IdSol)" 
                            
                            class="w3-button w3-border-blue w3-white w3-border w3-round-xlarge w3-text-blue">
                                <i class="fa fa-edit" title="Editar solicitud"></i>
                                Gestionar Seguro
                            </button>

                            <!--
                                <button (click)="onGestionarSeguro(solicitud.Sol_IdSol)" 
                            *ngIf="userinfo.usuario_login == solicitud.Sol_CodOficial "
                            class="w3-button w3-border-blue w3-white w3-border w3-round-xlarge w3-text-blue">
                                <i class="fa fa-edit" title="Editar solicitud"></i>
                                Gestionar Seguro
                            </button>
                            -->
                            
                        </div>
                    </div>
                    <div class="w3-panel w3-pale-red"
                    *ngIf="userinfo.usuario_login != solicitud.Sol_CodOficial " >
                       SOLICITUD ASIGNADA A OTRO OFICIAL
                   </div>
            </li>
        </ul>
    </div>
    <div class="w3-row w3-padding-16" [ngStyle]="{'display': verOperacion }">
        <ul class="w3-ul w3-border">
            <li>
                Solicitud de Crédito: <b>{{ operacion.Operacion_Solicitud }}</b>  <br>
                Fecha Solicitud : {{ operacion.Operacion_Fecha_Solicitud | slice:0:10 }} <br>
                Cliente : {{ deudor.Deudor_Nombre }} {{deudor.Deudor_Paterno}} {{deudor.Deudor_Materno}}, CI: {{deudor.Deudor_Numero_Documento}} <br>
                Oficial de Créditos : {{ operacion.Operacion_Oficial_Creditos }} ({{ operacion.Operacion_Usuario_Oficial}})<br>
                Estado de la Operación del Crédito : {{ operacion.Operacion_Estado }} <br>
                Tipo Solicitud de Crédito  : {{ operacion.Operacion_Tipo_Solicitud }}
                <div class="w3-bar">
                    <div class="w3-bar-item w3-right">
                        <button (click)="onCancelar()" type="button"
                        class="w3-button w3-border-teal w3-white w3-border w3-round-xlarge w3-text-teal">
                           Cancelar
                       </button>
                    </div>
                    <div class="w3-bar-item w3-right">
                        <button (click)="onCrearSuscripcion(operacion.Operacion_Solicitud)"
                        class="w3-button w3-round-xlarge w3-indigo w3-border">
                            <i class="fa fa-file" title="Editar solicitud"></i>
                            Instrumentar Seguro
                        </button>
                        <!--
                        <button (click)="onCrearSuscripcion(operacion.Operacion_Solicitud)"
                        *ngIf="userinfo.usuario_login == this.operacion.Operacion_Usuario_Oficial" 
                        class="w3-button w3-round-xlarge w3-indigo w3-border">
                            <i class="fa fa-file" title="Editar solicitud"></i>
                            Instrumentar Seguro
                        </button>
                        -->
                    </div>
                </div>
                <div class="w3-panel w3-pale-red"
                 *ngIf="userinfo.usuario_login != this.operacion.Operacion_Usuario_Oficial" >
                    SOLICITUD ASIGNADA A OTRO OFICIAL, NO PUEDE CONTINUAR CON LA INSTRUMENTACION DEL SEGURO
                </div>
            </li>
        </ul>
    </div>
   
   

</div>
