<div class="w3-row">
  <div class="w3-col m12">
    <form>
      <div class="w3-bar">
        <p class="w3-bar-item">
          <label>Numero de documento</label>
        </p>
        <div class="w3-row-padding w3-bar-item">
          <div class="w3-third">
            <input class="w3-input w3-bar-item" [(ngModel)]="param.numero_documento"
             required name="numero_documento" type="text" />
          </div>
        </div>
        <div class="w3-bar-item">
          <button
            class="w3-button w3-teal"
            type="button" (click) = "onBuscarCodeu()"
          ><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="w3-row">
  <div class="w3-col m12">
    <div>
      <div class="w3-row">
        <div class="w3-col m12">
          <div class="w3-container">
            <div class="w3-bar w3-light-grey">
              <button class="w3-bar-item w3-button tablink"
              [ngClass] ="{'w3-dark-grey': tab_active == 0}"
              (click)="tab_active=0">Cliente</button>
              <button class="w3-bar-item w3-button tablink"
              [ngClass] ="{'w3-dark-grey': tab_active == 1}"
              (click)="tab_active=1"> </button>
              <button class="w3-bar-item w3-button tablink"
              [ngClass] ="{'w3-dark-grey': tab_active == 2}"
              (click)="tab_active=2"> </button>
            </div>

            <div class="w3-container w3-border city w3-light-grey"
            [ngStyle]="{'display' :  tab_active == 0 ? 'block' : 'none' }" >
              <br>
              <div *ngFor="let cli of clientes;index as i">
                <button (click)=" ops[i] ? ops[i]=false : ops[i]=true" [ngClass]="{'w3-dark-grey':ops[i]}"
                class="w3-button w3-light-grey w3-block w3-left-align">
                  {{ cli.nombre }} {{ cli.apellido_paterno }} {{ cli.apellido_materno }}
                </button>
                <div class="w3-border" [ngClass]="{'w3-hide': ! ops[i] , 'w3-show': ops[i]  }">

                  <table class="w3-table-all">
                    <tr *ngFor="let row of cli | keyvalue">
                      <td>
                        <span>{{ row.key | nombreCampo:parametrosCampo }}</span>
                      </td>
                      <td>
                        <span>{{ row.value }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="w3-center">
                        <button *ngIf="param.accion=='create_folder'"  class="w3-button w3-teal" (click)="onContinuarCrear()">
                          <i class="fa fa-check"></i> Gestionar seguro</button>
                        <button *ngIf="param.accion=='add-codeudor'"  class="w3-button w3-teal"
                         (click)="onContinuarAdd(cli.numero_documento)">
                          <i class="fa fa-check"></i> Incluir como codeudor</button>

                      </td>
                    </tr>
                  </table>

                </div>
              </div>

              <br>
            </div>

            <div class="w3-container w3-border city w3-light-grey"
            [ngStyle]="{'display' :  tab_active == 1 ? 'block' : 'none' }">
              <br>

            </div>

            <div class="w3-container w3-border w3-light-grey"
            [ngStyle]="{'display' :  tab_active == 2 ? 'block' : 'none' }">
              <br>
                <pre>{{clientes | json }}</pre>
              <br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


