<div *ngIf="isLoading" class="overlay">
  <div class="loading"></div>
</div>
<div class="w3-bar w3-deep-orange w3-block">
  <div class="w3-bar-item">SOLICITUD DE SEGURO DE CREDITOS</div>
</div>
<div class="w3-container w3-border w3-monospace">
  <div class="w3-row">
      <div class="w3-col w3-small s5 m5 l5" >
        <br>
        Nro.Solicitud: {{ data.seg_solicitudes.Sol_NumSol }}    <br>
        Tipo de Cartera: <b> <span class="w3-text-khaki">{{ data.seg_solicitudes.Sol_TipoSeg }}</span>  </b> <br>
        <span *ngIf="estado_general=='APROBADO' " >Número de Póliza : {{ data.seg_solicitudes.Sol_Poliza }} </span>
      </div>
      <div class="w3-col s7 m7 l7">
        <br>
        <div class="w3-bar">
          <!--
          <button type="button" (click)="onDatosEco()"
          class="w3-button w3-margin-left w3-deep-orange w3-round">
            <i class="fa fa-download fa-2x" title="Actualizar datos WS"></i><br>
            <span class="w3-tiny" > Actualizar</span>
          </button>
          -->
          <button type="button" class="w3-button w3-margin-left w3-deep-orange w3-round" (click)="onViewHistorial()">
            <i class="fas fa-history fa-2x" title="Historial de la Solicitud"></i><br>
            <span class="w3-tiny" > Historial</span>
          </button>
          <button type="button" *ngIf="estado_codigo=='X' "
            class="w3-button w3-margin-left w3-deep-orange w3-round" (click)="onImprimirDoc()">
            <i class="fas fa-print fa-2x"></i><br>
            <span style="font-size: 10px;" > Imprimir</span>
          </button>
          <!--<button type="button" *ngIf="estado_codigo=='P' " class="w3-button w3-margin-left w3-deep-orange w3-round" (click)="openModalDesistir='block' " >
            <i class="fa fa-blind fa-2x"></i><br>
            <span style="font-size: 10px;" > Desistimiento</span>
          </button>-->
          <button type="button" *ngIf="['P','A'].includes(estado_codigo) " class="w3-button w3-margin-left w3-deep-orange w3-round"
           (click)="onEliminarSolicitud()">
            <i class="fa fa-trash fa-2x"></i><br>
            <span style="font-size: 10px;" > Eliminar</span>
          </button>
          <button  
          class="w3-button w3-margin-left w3-deep-orange w3-round" (click)="onGuardarDatosEdit()">
           <i class="fa fa-save fa-2x" title="Guardar"></i><br>
           <span style="font-size: 10px;" >&nbsp;&nbsp; Guardar &nbsp;&nbsp;</span>
          </button>
          <button type="button"
          *ngIf="estado_codigo=='X' " class="w3-button w3-margin-left w3-deep-orange w3-round"
         (click)="onValidar()">
           <i class="fa fa-check fa-2x" title="Validar"></i><br>
           <span class="w3-tiny" > Validar</span>
         </button>
        </div>
      </div>
  </div>
  <br>
  <div class="w3-row">
      <div class="w3-col s12 m12 l12">

          <div class="w3-bar w3-light-grey">
              <button class="w3-bar-item w3-button tablink w3-border-top w3-border-left w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 0}"
              (click)="tab_active=0">Solicitud</button>
              <button class="w3-bar-item w3-button tablink w3-border-top w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 2}"
              (click)="tab_active=2">Deudores</button>
              <button class="w3-bar-item w3-button tablink w3-border-top w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 3}"
              (click)="tab_active=3">Beneficiarios</button>
              <button *ngIf="usuario_rol == 'of' "
              class="w3-bar-item w3-button tablink w3-border-top w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 4}"
              (click)="tab_active=4">Operación</button>
              <button *ngIf="['C1','C2'].includes(estado_codigo) "
               class="w3-bar-item w3-button tablink  w3-border-top w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 5}"
              (click)="tab_active=5">Ult.comunicación</button>
              <button *ngIf="['C1','C2','A1','A2','A3','A4','A5','A6','A7','A8'].includes(estado_codigo) "  
              class="w3-bar-item w3-button tablink  w3-border-top w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 6}"
              (click)="tab_active=6">Resolución</button>
              <button *ngIf="true" class="w3-bar-item w3-button tablink w3-border-top w3-border-right w3-round"
              [ngClass] ="{'w3-deep-orange': tab_active == 1}"
              (click)="tab_active=1">&nbsp;</button>
          </div>

          <!-- Seg_Solicitudes -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding" 
          [ngClass]="{'w3-hide': tab_active != 0 , 'w3-show': tab_active == 0}">
              <div class="w3-row">
                  <div class="w3-col s5 m5 l5">

                    <table class="w3-table w3-small" style="border-collapse:collapse;">
                      <tbody>
                        <tr>
                          <td><b>Sucursal:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">{{ data.seg_solicitudes.Sol_Sucursal }}</td>
                        </tr>
                        <tr>
                          <td> <b>Agencia:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ data.seg_solicitudes.Sol_Agencia }}</td>
                        </tr>
                        <tr>
                          <td> <b>Ciudad:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ data.seg_solicitudes.Sol_Ciudad }} </td>
                        </tr>
                        <tr>
                          <td> <b>Oficial de Créditos: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Sol_Oficial" [(ngModel)]="data.seg_solicitudes.Sol_Oficial" >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Usuario Of. </b> </td>
                          <td class="w3-text-khaki w3-border-bottom"> 
                            <input class="w3-input w3-pale-red" type="text" name="Sol_CodOficial" [(ngModel)]="data.seg_solicitudes.Sol_CodOficial" >
                          </td>
                        </tr>
                        <tr>
                          <td> <b>Digitador del Seguro: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom"> 
                            <input class="w3-input w3-pale-red" type="text" name="Sol_Digitador" [(ngModel)]="data.seg_solicitudes.Sol_Digitador" >
                          </td>
                        </tr>
                        <tr>
                          <td> <b>Tipo de Crédito: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ data.seg_solicitudes.Sol_TipoCred }} </td>
                        </tr>
                        <tr>
                          <td> <b>Tipo de Crédito sg/ASFI: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom"> {{ data.seg_solicitudes.Sol_TipoAsfi }}</td>
                        </tr>
                        <tr>
                          <td><b>Tipo de Cliente: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ data.seg_solicitudes.Sol_TipoCli }}</td>
                        </tr>
                        <!--
                        <tr>
                          <td> <b>Compañía de Seguros: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom"> {{ this.datosCalculados.entidad_seguros_1 }}</td>
                        </tr>
                        -->
                        <tr>
                          <td> <b>Tipo de Operación Bajo L/C: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ data.seg_solicitudes.Sol_TipoOpeLC }} </td>
                        </tr>
                        <tr>
                          <td> <b>Tipo de Seguro: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom"> {{ data.seg_solicitudes.Sol_TipoSeg }} </td>
                        </tr>
                        <!--
                        <tr>
                          <td> <b>Número de Póliza: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_Poliza }}  
                          </td>
                        </tr>
                        -->
                        <tr>
                          <td><b>Tipo Solicitud: </b>  </td>
                          <td class="w3-text-khaki w3-border-bottom"> {{ data.seg_solicitudes.Sol_SolTipoSol }} </td>
                        </tr>
                        <tr>
                          <td> &nbsp; <!-- <b>Tipo de Cobertura: </b> -->    </td>
                          <td class="w3-text-khaki w3-border-bottom">
                              <!-- {{ data.seg_solicitudes.Sol_TipoParam }}  --> </td>
                        </tr>
                      </tbody>
                    </table>
      
                  </div>
                  <div class="w3-col s5 m5 l5">

                    <table class="w3-table w3-small" style="border-collapse:collapse;">
                      <tbody>
                        <tr>
                          <td><b>Nro.Solicitud:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_NumSol   }}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Fecha Solicitud (yyyy-mm-dd):</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Sol_FechaSol" [(ngModel)]="data.seg_solicitudes.Sol_FechaSol " >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Monto solicitado:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="number" name="sol_montosol" [(ngModel)]="data.seg_solicitudes.Sol_MontoSol " >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Moneda Solicitud:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Sol_MonedaSol" [(ngModel)]="data.seg_solicitudes.Sol_MonedaSol " >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Plazo Solicitud:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Sol_PlazoSol" [(ngModel)]="data.seg_solicitudes.Sol_PlazoSol " >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Frec.Pag.Sol.:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_FrecPagoSol }}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Número L/C:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_NumLC }}
                          </td>
                        </tr>
                        <tr>
                          <td> <b>Moneda L/C:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_MonedaLC }}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Fecha Aprob. L/C:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_FechaLC | slice:0:10  }}
                          </td>
                        </tr>
                        <!--
                        <tr>
                          <td><b>Tasa Anual Ref.:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_TasaSeg | number:'.2' }}
                          </td>
                        </tr>
                        
                        <tr>
                          <td><b>Tasa Mensual x Mil Ref.:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ datosCalculados.tasa_mensual_ref | number:'.4' }}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Prima Mensual Ref.:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                           {{ datosCalculados.prima_mensual_ref | number:'.2'  }}
                          </td>
                        </tr>
                        -->
                        <tr>
                          <td> <b>Cant.Obligados:</b></td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_CantObl }}
                          </td>
                        </tr>
                        <tr>
                          <td><b>ID Solicitud:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ data.seg_solicitudes.Sol_IdSol }}
                          </td>
                        </tr>
                        <tr>
                          <td><b>Estado Solicitud:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <select name="Sol_EstadoSol" [(ngModel)] = "data.seg_solicitudes.Sol_EstadoSol" class="w3-select w3-pale-red">
                              <option *ngFor="let itm of _estados_solicitud " [ngValue]="itm.codigo">
                                {{itm.estado}}
                              </option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
      
                  </div>
                  <div class="w3-col s2 m2 l2">
                    <br>
                  </div>
              </div>
          </div>

          <!-- data -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding" 
          [ngClass]="{'w3-hide': tab_active != 1 , 'w3-show': tab_active == 1  }">
              <div class="w3-row">
                <div class="w3-col s12 m12 l12">
                  <div class="w3-row-padding " [innerHTML]="viewTable"></div>
                </div>
              </div>
              <div class="w3-row">
                <div class="w3-col s6 m6 l6">
                  <pre class="w3-small"> {{ data | json }} </pre>
                </div>
              </div>
          </div>

          <!-- Seg_Deudores -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding" 
          [ngClass]="{'w3-hide': tab_active != 2 , 'w3-show': tab_active == 2   }">
            
            <div *ngFor="let deuObj of data.seg_deudores ;index as i" class="w3-small w3-margin-left">
              <button [ngClass]="{'w3-dark-grey':deus[i]}"
              class="w3-button w3-light-grey w3-block w3-left-align w3-round">
                <span (click)=" deus_[i] == 'none' ? deus_[i] = 'block' : deus_[i] = 'none' ">
                  <i *ngIf="deus_[i] == 'none'  " class="fa fa-plus"></i>
                  <i *ngIf="deus_[i] == 'block'  " class="fa fa-minus"></i> &nbsp;
                  {{ deuObj.Deu_Nombre }} {{ deuObj.Deu_Paterno }} {{ deuObj.Deu_Materno }} 
                    <span *ngIf="deuObj.Deu_NIvel == 0 ">( <i class="fa-solid fa-user"></i>  Titular)</span> 
                    <span *ngIf="deuObj.Deu_NIvel == 1 ">( <i class="fa-solid fa-user-group"></i> Codeudor)</span> 
                </span>
                <span  *ngIf="estado_codigo=='P' " class="w3-right">
                  Incluido: &nbsp;
                  <i class="fa fa-square" *ngIf="deuObj.Deu_Incluido=='N' " (click)="deuObj.Deu_Incluido='S' "></i>
                  <i class="fa fa-square-check" *ngIf="deuObj.Deu_Incluido=='S' " (click)="deuObj.Deu_Incluido='N' "></i>
                </span>
                <span  *ngIf="estado_codigo!='P' " class="w3-right">
                  Incluido: &nbsp;
                  <i class="fa fa-square" *ngIf="deuObj.Deu_Incluido=='N' " ></i>
                  <i class="fa fa-square-check" *ngIf="deuObj.Deu_Incluido=='S' " ></i>
                </span>
              </button>
              <!-- deudor -->
              <div class="w3-border" [ngStyle]="{'display': deus_[i] }">
                <div class="w3-row w3-padding">
                  <div class="w3-col s5 m5 l5">

                    <table class="w3-table w3-small" style="border-collapse:collapse;">
                      <tbody>
                        <tr>
                          <td><b>Nombre Completo:</b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Sol_Oficial" [(ngModel)]="deuObj.Deu_Nombre" >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Apellido Paterno: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Deu_Paterno" [(ngModel)]="deuObj.Deu_Paterno" >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Apellido Materno: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Deu_Materno" [(ngModel)]="deuObj.Deu_Materno" >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Apellido de Casada: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Deu_Casada" [(ngModel)]="deuObj.Deu_Casada" >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Dirección Domicilio: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_DirDom }}</td>
                        </tr>
                        <tr>
                          <td><b>Dirección Negocio/Oficina: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_DirOfi }}</td>
                        </tr>
                        <tr>
                          <td><b>Estado Civil: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_EstCiv }}</td>
                        </tr>
                        <tr>
                          <td><b>Género: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_Sexo }}</td>
                        </tr>
                        <tr>
                          <td><b>Documento de Identidad: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_NumDoc }}</td>
                        </tr>
                        <tr>
                          <td><b>Tipo Documento: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_TipoDoc }}</td>
                        </tr>
                        <tr>
                          <td><b>Extension Documento: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input class="w3-input w3-pale-red" type="text" name="Deu_ExtDoc" [(ngModel)]="deuObj.Deu_ExtDoc" >
                          </td>
                        </tr>
                        <tr>
                          <td><b>Complemento Documento: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_CompDoc }}</td>
                        </tr>
                        <tr>
                          <td><b>País de Nacimiento: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_PaisNac }}</td>
                        </tr>
                        <tr>
                          <td><b>Fecha Nacimiento: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_FecNac | slice:0:10  }}</td>
                        </tr>
                        <tr>
                          <td><b>Edad (Años): </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_Edad }}</td>
                        </tr>
                        <tr>
                          <td><b>Tipo de Cobertura del Seguro: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_cobertura }}</td>
                        </tr>
                        <tr>
                          <td> <b>Número de Póliza: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ deuObj.Deu_Poliza }}  
                          </td>
                        </tr>
                        <tr *ngIf="['A','A1','A2','A3','A4','A5','A6','A7','A8'].includes(estado_codigo) ">
                          <td> <b>Fecha de Resolución: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ deuObj.Deu_FechaResolucion | slice:0:10  }}  
                          </td>
                        </tr>
                        <!--
                        <tr>
                          <td> <b>Tasa Mensual Ref.:	 </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ deuObj.Deu_TasaSeg }}  
                          </td>
                        </tr>
                        <tr>
                          <td> <b>Prima Mensual Ref.: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            {{ deuObj.Deu_PrimaSeg }}  
                          </td>
                        </tr>
                        -->

                      </tbody>
                    </table>

                  </div>
                  <div class="w3-col s5 m5 l5">

                    <table class="w3-table w3-small" style="border-collapse:collapse;">
                      <tbody>
                        <tr>
                          <td><b>(*) Cuidad de Nacimiento: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <span *ngIf="estado_codigo!='P' ">{{ deuObj.Deu_CiudadNac }}</span>
                            <input 
                            *ngIf="estado_codigo=='P' "
                            name="Deu_CiudadNac"
                            class="w3-input w3-pale-red w3-border-0"
                            [(ngModel)]="deuObj.Deu_CiudadNac"
                            type="text">
                          </td>
                        </tr>
                        <tr>
                          <td><b>(*) Peso (KGrs): </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <span *ngIf="estado_codigo!='P' ">{{ deuObj.Deu_Peso }}</span>
                            <input 
                            *ngIf="estado_codigo=='P' "
                            name="Deu_Peso"
                            class="w3-input w3-pale-red w3-border-0"
                            [(ngModel)]="deuObj.Deu_Peso"
                            type="number">
                          </td>
                        </tr>
                        <tr>
                          <td><b>(*) Talla (Cms): </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <span *ngIf="estado_codigo!='P' ">{{ deuObj.Deu_Talla }}</span>
                            <input 
                            *ngIf="estado_codigo=='P' "
                            name="Deu_Talla"
                            class="w3-input w3-pale-red w3-border-0"
                            [(ngModel)]="deuObj.Deu_Talla"
                            type="number">
                          </td>
                        </tr>
                        <tr>
                          <td><b>(*) Zurd@/Derecho@: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <span *ngIf="estado_codigo!='P' ">{{ deuObj.Deu_Mano }}</span>
                            <select 
                             *ngIf="estado_codigo=='P' "
                             class="w3-input w3-pale-red"
                             [(ngModel)]="deuObj.Deu_Mano">
                              <option value="DERECHO(A)">DERECHO(A)</option>
                              <option value="ZURDO(A)">ZURDO(A)</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td><b>Actividad: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_Actividad }}</td>
                        </tr>
                        <tr>
                          <td><b>(*) Detalle de la Actividad: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <span *ngIf="estado_codigo!='P' ">{{ deuObj.Deu_DetACtiv }}</span>
                            <input 
                            *ngIf="estado_codigo=='P' "
                            name="Deu_DetACtiv"
                            class="w3-input w3-pale-red w3-border-0"
                            [(ngModel)]="deuObj.Deu_DetACtiv"
                            type="text">
                          </td>
                        </tr>
                        <tr>
                          <td><b>Fecha Registro: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_FecRegCli | slice:0:10  }}</td>
                        </tr>
                        <tr>
                          <td><b>Celular: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_TelCel }}</td>
                        </tr>
                        <tr>
                          <td><b>Teléfono de Contacto: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_TelDom }}</td>
                        </tr>
                        <tr>
                          <td><b>Teléfono: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_TelOfi }}</td>
                        </tr>
                        <!--
                        <tr>
                          <td> <b>SEGURO ANTERIOR: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Hist_TipoSeg }}</td>
                        </tr>
                        -->
                        <tr *ngIf="!esTarjeta">
                          <td><b>SALDO ACTUAL VERIFICADO: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <input 
                            name="Deu_MontoActAcumVerif"
                            class="w3-input w3-pale-red w3-border-0"
                            [(ngModel)]="deuObj.Deu_MontoActAcumVerif"
                            type="number">
                          </td>
                        </tr>
                        <tr>
                          <td><b class="w3-text-red">SALDO ACTUAL + SOLICITUDA: </b> </td>
                          <td class="w3-text-khaki w3-border-bottom">
                            <!-- | number:'.2' -->
                            {{ this.deuObj.saldo_actual_solicitud  }}
                          </td>
                        </tr>
                        
                          <tr>
                            <td><b>Incluido: </b> </td>
                            <td class="w3-text-khaki w3-border-bottom">{{ deuObj.Deu_Incluido }}</td>
                          </tr>
                        
                          <tr>
                            <td><b>ID: </b> </td>
                            <td class="w3-text-teal w3-border-bottom">{{ deuObj.Deu_Id }}</td>
                          </tr>

                      </tbody>
                    </table>

                  </div>
                  <div class="w3-col s2 m2 l2">
                    <br>
                    <!--
                    <button *ngIf="estado_codigo=='P' " 
                     class="w3-button w3-margin-left w3-deep-orange w3-round" (click)="onGuardarDatosEdit()">
                      <i class="fa fa-save fa-2x" title="Guardar"></i><br>
                      <span style="font-size: 10px;" >&nbsp;&nbsp; Guardar &nbsp;&nbsp;</span>
                    </button>
                    <br>
                    -->
                    <button *ngIf="estado_codigo!='X' " (click)="onOpenBeneficiarios(deuObj.Deu_Id)"
                    class="w3-button w3-margin-left w3-margin-top w3-deep-orange w3-round">
                      <i class="fas fa-users  fa-2x"></i><br>
                      <span style="font-size: 10px;" >Beneficiarios</span>
                      
                    </button>
                    <br>
                    <button class="w3-button w3-margin-left w3-margin-top w3-deep-orange w3-round"
                     (click)="onDeclaracionDeudor(deuObj.Deu_Id)">
                      <i class="fa fa-user-md fa-2x" title="Declaracion de salud"></i><br>
                      <span style="font-size: 10px;" >Decla.Salud &nbsp;</span>
                    </button>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <!-- Seg_Beneficiarios -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding"
           [ngClass]="{'w3-hide': tab_active != 3 , 'w3-show': tab_active == 3  }">
              
              <div class="w3-row">
                  <div class="w3-col s10 m10 l10">
                    <table class="w3-table w3-bordered w3-small">
                      <tr>
                        <th>Id</th>
                        <th>Deudor</th>
                        <th>Tipo Deudor</th>
                        <th>Nombre Beneficiario</th>
                        <th>Documento</th>
                        <th>Porcentaje</th>
                        <th>Tipo Beneficiarios</th>
                        <th>
                          <button type="button" *ngIf="false" class="w3-button" (click)="loadBeneficiarios()">
                            <i class="fa fa-retweet"></i>
                          </button>
                        </th>
                      </tr>
                      <tr *ngFor="let ben of data.seg_beneficiarios">
                        <td>{{ ben.Ben_Id }}</td>
                        <td>{{ getDeudor(ben.Ben_IdDeu,'nombres') }}</td>
                        <td>{{ getDeudor(ben.Ben_IdDeu,'tipo')  }}</td>
                        <td>{{ ben.Ben_Nombre }} {{ ben.Ben_Paterno }} {{ ben.Ben_Materno }}</td>
                        <td>{{ ben.Ben_NumDoc }}</td>
                        <td>{{ ben.Ben_Porcentaje }}%</td>
                        <td>{{ ben.Ben_Tipo }}</td>
                        <td>
                            <a href="javascript:void(0)" (click)="onOpenBeneficiarios(ben.Ben_IdDeu,ben.Ben_Id)" class="w3-text-blue">
                              <span *ngIf="estado_codigo=='P' ">Editar</span>
                              <span *ngIf="estado_codigo!='P' ">Ver</span>
                            </a> 
                        </td>
                      </tr>
                    </table>
                   
                    
                  </div>
                  <div class="w3-col s2 m2 l2">
        
                  </div>
                </div>

          </div>

          <!-- Seg_Operaciones -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding"
           [ngClass]="{'w3-hide': tab_active != 4 , 'w3-show': tab_active == 4 }">
              
              <div class="w3-row">

                <div class="w3-col m5">
                  <table class="w3-table w3-small" style="border-collapse:collapse;">
                    <tbody>
                      <tr>
                        <td><b>Número de Operación: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Numero_Aprobado }}</td>
                      </tr>
                      <tr>
                        <td><b>Monto Aprobado: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">
                          {{ data.seg_operaciones.Operacion_Monto_Aprobado | number:'.2' }}</td>
                      </tr>
                      <tr>
                        <td><b>Moneda: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Moneda_Aprobada }}</td>
                      </tr>
                      <tr>
                        <td><b>Destino del Crédito: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Destino_Prestamo }}</td>
                      </tr>
                      <tr>
                        <td><b>Fecha Desembolsado: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">
                          {{ data.seg_operaciones.Operacion_Fecha_Desembolso | slice:0:10  }}</td>
                      </tr>
                      <tr>
                        <td><b>Monto Desembolsado: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Monto_Desembolsado	 }}</td>
                      </tr>
                      <tr>
                        <td><b>Fecha Aprobación: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">
                          {{ data.seg_operaciones.Operacion_Fecha_Aprobacion | slice:0:10  }}</td>
                      </tr>
                      <tr>
                        <td><b>Plazo: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Plazo_Aprobado }}</td>
                      </tr>
                      <tr>
                        <td><b>Frecuencia de Pago: </b> </td>
                        <td class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Frecuencia_Aprobada }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="w3-col m5">
                  <table class="w3-table w3-small" style="border-collapse:collapse;">
                    <tbody>
                      <tr>
                        <td><b>Fecha Reprogr.:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">
                          {{ data.seg_operaciones.Operacion_Fecha_Reprogramacion | slice:0:10  }}</td>
                      </tr>
                      <tr>
                        <td><b>Fecha Vencimiento:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">
                          {{ data.seg_operaciones.Operacion_Fecha_Vencimiento | slice:0:10  }}</td>
                      </tr>
                      <tr>
                        <td><b>Tipo Garantia:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Tipo_Garantia }}</td>
                      </tr>
                      <tr>
                        <td><b>Tipo Garantia Codigo:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Tipo_Grantia_Codigo }}</td>
                      </tr>
                      <tr>
                        <td><b>Valor Garantia:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Valor_Garantia }}</td>
                      </tr>
                      <tr>
                        <td><b>Destino Prestamo:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Destino_Prestamo }}</td>
                      </tr>
                      <tr>
                        <td><b>Destino Codigo:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">{{ data.seg_operaciones.Operacion_Destino_Codigo }}</td>
                      </tr>
                      <tr>
                        <td><b>Actual Acumulado:</b></td>
                        <td  class="w3-text-khaki w3-border-bottom">
                          {{ data.seg_operaciones.Operacion_Actual_Acumulado | number:'.2' }}</td>
                      </tr>
                      <tr>
                        <td>
                          <b></b> 
                        </td>
                        <td class="w3-text-khaki w3-border-bottom">
                          <!--
                          <span *ngIf="row.editable==false && row.tipo=='text' ">{{ row.valor}}</span>
                          <span *ngIf="row.editable==false  && row.tipo=='date' ">{{ row.valor  | date:'dd/MM/yyyy' }}</span>
                          <span *ngIf="row.editable==false && row.tipo=='number' ">{{ row.valor | number:'.2' }}</span>
                          -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="w3-col s2 m2 l2">
                    <br>
                  </div>
                </div>


          </div>

          <!-- Ultima Comunicacion -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding"
           [ngClass]="{'w3-hide': tab_active != 5, 'w3-show': tab_active == 5  }">

            <div class="w3-row">
              <div class="w3-col s8 m8 l8">
                <table class="w3-table-all w3-container">
                  <tr>
                    <td class="w3-center">
                      

                      <table class="w3-table w3-small">
                        <tr>
                          <th>Fecha</th>
                          <th>Hora</th>
                          <th>observación</th>
                          <th>Usuario</th>
                          <th>EIF</th>
                          <th>Aseguradora</th>
                        </tr>
                        <tr *ngFor="let row of segObservacionesUlt">
                          <td>{{row.Obs_FechaReg | slice:0:10 }}</td>
                          <td>{{row.Obs_HoraReg}}</td>
                          <td>{{row.Obs_Observacion}}</td>
                          <td>{{row.Obs_Usuario}}</td>
                          <td>{{ getEifAseguradora(row.Obs_Eeff) }}</td>
                          <td>{{ getEifAseguradora(row.Obs_Aseg)  }}</td>
                        </tr>
                      </table>


                    </td>
                  </tr>
                  <tr>
                    <td>
      
                    </td>
                  </tr>
                  <tr>
                    <td class="w3-center">Respuesta</td>
                  </tr>
                  <tr>
                    <td>
                      <textarea class="w3-input w3-pale-red" name="mensaje" [(ngModel)]="respuestaObser" cols="25" rows="2"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Adjuntar archivo:
                      <input class="w3-input" name="file" type="file" (change)="onChangeUpload($event)">
                    </td>
                  </tr>
                  <tr>
                    <td><button type="button" class="w3-button w3-round-large w3-deep-orange" (click)="onResponderObser()">
                      <i class="fa fa-paper-plane"></i> &nbsp; Responder y Enviar</button></td>
                  </tr>
              </table>
              </div>
              <div class="w3-col s4 m4 l4"></div>
            </div>
              


          </div>

          <!-- Resoluciion -->
          <div class="w3-border-bottom w3-border-left w3-border-right w3-padding"
           [ngClass]="{'w3-hide': tab_active != 6 , 'w3-show': tab_active == 6   }">

            <div *ngIf="['A1','A2','A3','A4','A5','A6','A7','A8'].includes(estado_codigo)  " >
              <table class="w3-table w3-small">
                <tr>
                  <td colspan="4" class="w3-center">
                    <b class="w3-text-red">PRONUNCIAMIENTO DE LA COMPAÑÍA</b> 
                  </td>
                </tr>
                <tr *ngFor="let apro of data.seg_aprobaciones">
                  <td>{{ getDeudor(apro.Apr_IdDeu,'nombres') }}</td>
                  <td>
                    Aprobado: 
                    <input *ngIf="apro.Apr_Aprobado == 'S' "  class="w3-check" type="checkbox" checked="checked" disabled>
                    <input *ngIf="apro.Apr_Aprobado != 'S' " class="w3-check" type="checkbox" disabled>
                    Rechazado:
                    <input *ngIf="apro.Apr_Aprobado == 'N' "  class="w3-check" type="checkbox" checked="checked" disabled>
                    <input *ngIf="apro.Apr_Aprobado != 'N' " class="w3-check" type="checkbox" disabled>
                  </td>
                  <td>Extra Prima: <b>{{ apro.Apr_ExtraPrima }}</b> </td>
                  <td>Condiciones/Exclusiones: <b>{{ apro.Apr_Condiciones }}</b> </td>
                </tr>
              </table>
            </div>

           <div *ngIf="usuario_rol != 'of' && ['C1','C2'].includes(estado_codigo)   " >
              <table class="w3-table-all w3-small w3-margin-top">
                <tr *ngFor="let deu of data.seg_deudores" style="height: 70px;">
                  <td>
                    <p style="margin-top:10px ;">{{deu.Deu_Nombre }} {{deu.Deu_Paterno}} {{deu.Deu_Materno}}</p>
                  </td>
                  <td>
                    Aprobado <input class="w3-check" type="checkbox" 
                    (change)="deu.rechazado=false"
                      [(ngModel)]="deu.aprobado" name="aprobado"  />
                    <i *ngIf="deu.aprobado && estado_general=='APROBADO' " class="fas fa-check-square"></i>
                  </td>
                  <td>
                    Rechazado <input class="w3-check" type="checkbox" 
                    (change)="deu.aprobado=false"
                    [(ngModel)]="deu.rechazado" name="rechazado"  />
                    <i *ngIf="deu.rechazado && estado_general=='APROBADO' " class="fas fa-check-square"></i>
                  </td>
                  <td style="width: 200px;">
                    <ng-container *ngIf="deu.aprobado">
                      <input type="number"
                      class="w3-input w3-border w3-pale-red" name="extraprima" [(ngModel)]="deu.extra_prima"
                      placeholder="Extra prima %" />
                      <span *ngIf="estado_general=='APROBADO'">{{deu.extra_prima}}</span>
                    </ng-container>
                    &nbsp;
                  </td>
                  <td style="width: 200px;">
                    <ng-container *ngIf="deu.aprobado">
                      <input 
                      class="w3-input w3-border w3-pale-red"  name="condiciones" [(ngModel)]="deu.condiciones_exclusiones"
                      placeholder="Condiciones/Exclusiones"/>
                      <span *ngIf="estado_general=='APROBADO'">{{deu.condiciones_exclusiones}}</span>
                    </ng-container>
                    <ng-container *ngIf="deu.rechazado">
                      <input 
                      class="w3-input w3-border w3-pale-red"  name="causal" [(ngModel)]="deu.causal"
                      placeholder="Causal"/>
                      <span *ngIf="estado_general=='APROBADO'">{{deu.causal}}</span>
                    </ng-container>
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td colspan="5">
                    <button type="button" (click)="onSaveResolucion()" 
                    class="w3-button w3-deep-orange w3-border w3-round-xlarge w3-right">
                      <i class="fas fa-check"></i> Aceptar y Guardar
                    </button>
                  </td>
                </tr>
              </table>
           </div>

          </div>
          <br>
          <br>
      </div>
  </div>
</div>


<!-- modal cuestionario DJS -->
<div id="id10" class="w3-modal" [ngStyle]="{'display': openModalCuestion }">
  <div class="w3-modal-content">
    <header class="w3-container w3-deep-orange">
      <span  (click)="openModalCuestion='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h4>Cuestionario de Salud</h4>
    </header>
    <div class="w3-container w3-light-grey">
      <table class="w3-table w3-small">
        <tr *ngFor="let salud of declaraciones">
          <td width="50%">{{salud.Adic_Pregunta}}. {{salud.Adic_Texto}}</td>
          <td width="20%">
            SI <input class="w3-check" type="checkbox" (change)="salud.valor_no=false" [(ngModel)]="salud.valor_si" name="valor_si"  />
            NO <input class="w3-check" type="checkbox" (change)="salud.valor_si=false" [(ngModel)]="salud.valor_no" name="valor_no"  />
          </td>
          <td width="30%">
            <ng-container *ngIf="onAclaracion(salud) ;else ver1 ">
              <input class="text" class="w3-input" [(ngModel)]="salud.Adic_Comment" name="respuesta"
              placeholder="Aclaración" />
            </ng-container>
            <ng-template #ver1> {{salud.Adic_Comment}}</ng-template>
          </td>
        </tr>
      </table>

    </div>
    <footer class="w3-container w3-deep-orange">
      <div class="w3-bar">
        <div  class="w3-bar-item w3-right">
          <button type="button" class="w3-button w3-border w3-round-xlarge" (click)="onAceptarCuestionario()" >
            <i class="fas fa-check"></i> Aceptar y Guardar
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- MODAL HISTORIAL  -->
<div id="id26" class="w3-modal" [ngStyle]="{'display': openModalHistorial }">
  <div class="w3-modal-content">
    <header class="w3-container w3-light-grey">
      <br>
      <span (click)="openModalHistorial='none'"
          class="w3-button w3-display-topright">&times;</span>
    </header>
    <div class="w3-container w3-light-grey">
      <br>
      <table class="w3-table-all w3-small">
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>observación</th>
          <th>Usuario</th>
          <th>EIF</th>
          <th>Aseguradora</th>
        </tr>
        <tr *ngFor="let row of data.seg_observaciones">
          <td>{{row.Obs_FechaReg | slice:0:10 }}</td>
          <td>{{row.Obs_HoraReg}}</td>
          <td>{{row.Obs_Observacion}}</td>
          <td>{{row.Obs_Usuario}}</td>
          <td>{{ getEifAseguradora(row.Obs_Eeff) }}</td>
          <td>{{ getEifAseguradora(row.Obs_Aseg)  }}</td>
        </tr>
      </table>
      <br>
    </div>
    <footer class="w3-container w3-light-grey">
      <br>
    </footer>
  </div>
</div>

<!-- MODAL BENEFICIARIOS -->
<div id="id06" class="w3-modal" [ngStyle]="{'display': openModalBene }">
  <div class="w3-modal-content">
    <header class="w3-container w3-light-grey">
      <br>
      <span class="w3-tiny w3-text-khaki">BENEFICIARIOS DE :
        <b>{{ deudor_nombre_sel }}</b> </span>
      <span (click)="openModalBene='none'"
          class="w3-button w3-display-topright">&times;</span>
    </header>
    <div class="w3-container w3-light-grey">
      
      <div *ngFor="let bene of segBeneficiariosIdDeu;index as i">

        <button  [ngClass]="{'w3-dark-grey':bens[i]}"
        class="w3-button w3-light-grey w3-block w3-left-align w3-round">
          <span class="w3-small" (click)=" bens[i] ? bens[i]=false : bens[i]=true">
            <i *ngIf="!bens[i]" class="fa fa-plus"></i><i *ngIf="bens[i]" class="fa fa-minus"></i>
            &nbsp; {{ bene.Ben_Nombre }} {{ bene.Ben_Paterno }} {{ bene.Ben_Materno}} |  {{ bene.Ben_Tipo }}  | {{ bene.Ben_Porcentaje }} %
          </span>
          <i *ngIf="bens[i] && estado_codigo=='P' " class="far fa-trash-alt w3-right" (click)="onDelBeneficiario(bene.Ben_Id,i)"></i>
        </button>
            
        <div class="w3-border" [ngClass]="{'w3-hide': ! bens[i] , 'w3-show': bens[i]  }">
          <div class="w3-row">
            <div class="w3-col m12">
              <table class="w3-table w3-small">
                <tr>
                  <td>(*) Nombre Completo:</td>
                  <td>
                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_Nombre" name="nombre" type="text" />
                  </td>
                  <td>(*) Apellido Paterno:</td>
                  <td>
                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_Paterno" name="paterno" type="text" />
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>(*) Apellido Materno:</td>
                  <td>
                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_Materno" name="materno" type="text" />
                  </td>
                  <td>Apellido de Casada:</td>
                  <td>
                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_Casada" name="casada" type="text" /></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Género (Sexo):</td>
                  <td>
                    <select  name="sexo" [(ngModel)]="bene.Ben_Sexo" class="w3-select">
                      <option value="M">MASCULINO</option>
                      <option value="F">FEMENINO</option>
                    </select>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>(*) Numero documento</td>
                  <td>

                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_NumDoc" name="numdoc" type="text" /> 
                  </td>
                  <td>(*) Tipo:</td>
                  <td>

                    <select  name="tipo_doc" [(ngModel)]="bene.Ben_TipoDoc" class="w3-select">
                      <option value="CARNET DE IDENTIDAD">CARNET DE IDENTIDAD</option>
                      <option value="CARNET EXTRANJERO">CARNET EXTRANJERO</option>
                      <option value="PASAPORTE">PASAPORTE</option>
                    </select>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>Extensión</td>
                  <td>

                    <select  name="ext_doc" [(ngModel)]="bene.Ben_ExtDoc" class="w3-select">
                      <option value="LA PAZ">LA PAZ</option>
                      <option value="COCHABAMBA">COCHABAMBA</option>
                      <option value="SANTA CRUZ">SANTA CRUZ</option>
                      <option value="ORURO">ORURO</option>
                      <option value="POTOSI">POTOSI</option>
                      <option value="CHUQUISACA">CHUQUISACA</option>
                      <option value="TARIJA">TARIJA</option>
                      <option value="BENI">BENI</option>
                      <option value="PANDO">PANDO</option>
                      <option value="S/E">Sin Extensión </option>
                    </select>
                  </td>
                  <td>Complemento documento</td>
                  <td>

                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_CompDoc" name="compdoc" type="text" /> </td>
                  <td></td>
                </tr>
                <tr>
                  <td>(*) Relación:</td>
                  <td>

                    <select  name="relacion" [(ngModel)]="bene.Ben_Relacion" class="w3-select">
                      <option value="CONVIVIENTE">CONVIVIENTE</option>
                      <option value="CONYUGUE">CONYUGUE</option>
                      <option value="HIJO(A)">HIJO(A)</option>
                      <option value="HERMANO(A)">HERMANO(A)</option>
                      <option value="MADRE">MADRE</option>
                      <option value="PADRE">PADRE</option>
                      <option value="OTROS">OTROS</option>
                    </select>
                  </td>
                  <td>(*) Porcentaje cobertura</td>
                  <td>

                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_Porcentaje" name="porcentaje" type="number" />
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>Teléfonos de Contacto:</td>
                  <td>

                    <input  class="w3-input w3-border w3-pale-red" [(ngModel)]="bene.Ben_Telefono" name="casada" type="number" /></td>
                  <td>(*) Tipo Beneficiario</td>
                  <td>

                    <select  name="tipo" [(ngModel)]="bene.Ben_Tipo" class="w3-select">
                      <option value="PRIMARIO">PRIMARIO</option>
                      <option value="CONTINGENTE">CONTINGENTE</option>
                    </select>
                  </td>
                  <td></td>
                </tr>
              </table>
              <div class="w3-container w3-text-red w3-opacity">* Campos requeridos</div>
              
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <footer class="w3-container w3-deep-orange">

      <div class="w3-bar">

        <div class="w3-bar-item w3-left" >
          <button  type="button"
           class="w3-button w3-round-xlarge w3-border" (click)="addBeneficiario()">
            <i class="fas fa-user-plus"></i>
              Adicionar Beneficiarios
          </button>
        </div>        

        <div class="w3-bar-item w3-right">
          <button  type="button"
           class="w3-button w3-border w3-round-xlarge" [disabled]="segBeneficiariosIdDeu.length==0" 
           (click)="updateBeneficiarios()" >
            <i class="fas fa-check"></i> Aceptar y Guardar
          </button>
        </div>

      </div>

    </footer>
  </div>
</div>


<!-- modal imprimir documentos -->
<div id="id13" class="w3-modal" [ngStyle]="{'display': openModalImprimir }">
  <div class="w3-modal-content">
    <header class="w3-container w3-deep-orange">
      <span (click)="openModalImprimir='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h4>Imprimir documentos</h4>
    </header>
    <div class="w3-container w3-light-grey">
      <br>
      <table class="w3-table">
        <tr *ngFor="let deu of data.seg_deudores ;index as i">
          <td *ngIf="deu.Deu_Incluido == 'S' ">Deudor : {{deu.Deu_Nombre}} {{deu.Deu_Paterno}} {{deu.Deu_Materno}}</td>
          <td *ngIf="deu.Deu_Incluido == 'S' ">
            <div class="w3-margin-bottom">

                <button class="w3-button w3-deep-orange w3-round-large"
               (click)="onImprimirV2(deu.Deu_Id,deu.id_documento_version)" >Imprimir documentos</button>

            </div>
            <br>
          </td>
        </tr>
      </table>
    </div>
    <footer class="w3-container w3-light-grey">
      <br>
    </footer>
  </div>
</div>

<!-- MODAL VALIDAR -->
<div id="id26" class="w3-modal" [ngStyle]="{'display': openModalValida }">
  <div class="w3-modal-content">
    <header class="w3-container w3-deep-orange">
      <span (click)="openModalValida='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h4 class="w3-small">Observaciones y Advertencias</h4>
    </header>
    <div class="w3-container w3-small w3-light-grey" style="height:400px;overflow-y: scroll;">
      <br>
      <ul class="w3-ul w3-hoverable">
        <li *ngFor="let obs of observaciones" class="w3-text-red">
          {{ obs }}
        </li>
      </ul>
      <ul class="w3-ul w3-hoverable">
        <li *ngFor="let obs of advertencias" class="w3-text-orange">
          {{ obs }}
        </li>
      </ul>
    </div>
    <footer class="w3-container w3-light-grey">
      <br>
    </footer>
  </div>
</div>

<!--MODAL DESISTIMIENTO -->
<div class="w3-modal" [ngStyle]="{'display': openModalDesistir }">
  <div class="w3-modal-content">
    <header class="w3-container w3-deep-orange">
      <span (click)="openModalDesistir='none'"
      class="w3-button w3-display-topright">&times;</span>
      <h5>Desestimiento de Solicitudes</h5>
    </header>
    <div class="w3-container w3-small w3-light-grey">
      <br>
      <label>Causa:</label><br>
      <textarea class="w3-input w3-pale-red" name="causal" [(ngModel)]="desistimiento.causal" cols="25" rows="2"></textarea> <br>
      <label>Autorizado por:</label><br>

      <select [(ngModel)]="desistimiento.autorizado_por"  class="w3-input w3-pale-red">
         <option *ngFor="let itm of autorizacionesSolicitud" 
         [ngValue]="itm.autorizado_por">{{itm.autorizado_por}}
         </option>
     </select>
      <br>

      <button type="button" class="w3-button w3-block w3-round-large w3-deep-orange" (click)="onDesistir()">
        Efectivizar Desestimiento
      </button>

    </div>
    <footer class="w3-container w3-light-grey">
      <br>
    </footer>
  </div>
</div>





