<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/logoColibriMiniBlanco.png">
        </div>
        <div class="login-panel-content">
            <div class="ui-g">
                <form [formGroup]="formLogin" (ngSubmit)="Session()">
                    <div class="ui-g-12">
                        <h1>Iniciar Sesión</h1>
                    </div>
                    <div class="ui-g-12 form-group" >
                        <span class="md-inputfield">
                            <input type="text" [(ngModel)]="loginService.usuario.usuario_login" pInputText formControlName="username">
                            <label>Usuario</label>
                        </span>
                    </div>
                    <div class="ui-g-12 form-group">
                        <span class="md-inputfield">
                            <input type="password" [(ngModel)]="loginService.usuario.usuario_password" pInputText formControlName="password">
                            <label>Contraseña</label>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <button pButton type="submit" label="Ingresar" icon="ui-icon-person"
                            autofocus></button>
                    </div>

                    <!-- <div class="ui-g-12">
                        <div class="ui-g-5">
                            <p-checkbox name="group1" value="remember" label="Recuerdame" inputId="technology">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-7" style="text-align: rigth">
                            <a href="#"><span (click)="solicitaResetPassword()">Recuperar contraseña</span></a>
                        </div>
                    </div>
                    <div class="ui-g-12" style="text-align: rigth">
                        No tienes una cuenta? <a href="#">Registrate</a> ahora.
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
<p-toast position="center" key="c" (onClose)="onReject('c')" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>Aviso
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <br />
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <button type="button" pButton (click)="onReject('c')" label="Aceptar" class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="center" key="session" (onClose)="onReject('session')" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>Aviso
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <br />
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="cerrarSesion();onReject('session')" label="SI" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject('session')" label="NO" class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="center" key="usuarioBanco" (onClose)="onReject('usuarioBanco')" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>Aviso
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <br />
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="cerrarSesion();onReject('usuarioBanco')" label="Aceptar" class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<form [formGroup]="userformPwd">
    <p-dialog header="Solicitud cambio contraseña" [(visible)]="displayPwd" [focusOnShow]="false" [responsive]="true"
        showEffect="fade" [modal]="true" [style]="{width: '350px'}" [resizable]="true">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <!-- <div class="ui-g-4">
                    <label for="year">Email</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="email" formControlName="email" />
                </div> -->
                <span class="md-inputfield">
                    <input type="email" id="email" formControlName="email" pInputText size="40%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Email</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error" text="Email no válido"
                    *ngIf="!userformPwd.controls['email'].valid&&userformPwd.controls['email'].dirty"></p-message>
            </div>
        </div>
        <p-footer>
            <div class="ui-g-12">
                <button type="button" pButton icon="fa fa-check"
                    (click)="solCambiarPassword(userformPwd.controls['email'].value)"
                    label="Solicitar cambio password"></button>
            </div>
        </p-footer>
    </p-dialog>
</form>
