
<div *ngIf="isLoadingAgain" class="overlay">
    <div class="loading"></div>
    <!--<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>-->
</div>
<div class="layout-config"
     [ngClass]="{'layout-config-active': transicionActive}" (click)="onTransicionClick($event)">
    <div class="layout-config-content transicion">
        <a style="cursor: pointer" id="layout-config-button" class="layout-config-button"
           (click)="onTransicionButtonClick($event)">
            <span class="material-icons" *ngIf="!transicionActive">arrow_back</span>
            <span class="material-icons" *ngIf="transicionActive">arrow_forward</span>
        </a>
        <a style="cursor: pointer" class="layout-config-close" (click)="onTransicionCloseClick($event)">
            <i class="material-icons">clear</i>
        </a>
        <p-tabView>
            <p-tabPanel header="Transiciones">
                <div class="container" *ngIf="estadosPoliza.length">
                    <div class="timeline" *ngIf="transicionesEstadosPoliza.length">
                        <div class="timeline-month ui-widget-header">
                            Inicio: {{yearMonths[dateStartInstanciaPoliza.getMonth()]}} {{dateStartInstanciaPoliza.getDate()}} , {{dateStartInstanciaPoliza.getFullYear()}}
                            <span>Total Logs: {{instanciaPolizaTransicions.length}}</span>
                        </div>
                        <!--<div class="timeline-section" *ngIf="transicionesEstadosPoliza[0].createdAt == undefined">
                            <div class="timeline-date">CREADO</div>
                            <div class="row" *ngFor="let transicionEstadoPoliza of transicionesEstadosPoliza">
                                <div class="col-sm-4" *ngIf="transicionEstadoPoliza.createdAt == undefined">
                                    <div class="timeline-box">
                                        <div class="box-title ui-widget-header">
                                            <i class="fa fa-asterisk text-success" aria-hidden="true"></i> Instancia
                                            póliza creada
                                        </div>
                                        <div class="box-content">
                                            <table style="width:100%">
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Detalle</th>
                                                    <th>Usuario</th>
                                                    <th>Fecha</th>
                                                </tr>
                                                <tr *ngFor="let instanciaPolizaTransicion of instanciaPolizaTransicions"
                                                    [classList]="instanciaPolizaTransicion.par_observacion_id == parametroWarning.id ? 'msg-trans-warn' : (instanciaPolizaTransicion.par_observacion_id == parametroError.id ? 'msg-trans-error' : (instanciaPolizaTransicion.par_observacion_id == parametroInformation.id ? 'msg-trans-info' : (instanciaPolizaTransicion.par_observacion_id == parametroSuccess.id ? 'msg-trans-succ' : '')))">
                                                    <td><b>{{ObservacionesId[instanciaPolizaTransicion.par_observacion_id]}}: </b></td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == transicionEstadoPoliza.par_estado_id">
                                                        {{instanciaPolizaTransicion.observacion}}</td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == transicionEstadoPoliza.par_estado_id">
                                                        {{instanciaPolizaTransicion.ipt_usuario ? instanciaPolizaTransicion.ipt_usuario.usuario_login : ''}}</td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == transicionEstadoPoliza.par_estado_id">
                                                        {{setDateTime(instanciaPolizaTransicion.updatedAt)}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="ui-widget-header">
                                            {{setDateTime(fechaActual)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div *ngFor="let estadoPoliza of estadosPoliza" class="timeline-section">
                            <div class="timeline-date">
                                {{estadoPoliza.parametro_descripcion}}
                            </div>
                            <div class="row" *ngFor="let transicionEstadoPoliza of transicionesEstadosPoliza">
                                <div class="col-sm-4"
                                     *ngIf="transicionEstadoPoliza.par_estado_id == estadoPoliza.id &&
                                     transicionEstadoPoliza.createdAt != undefined">
                                    <div class="timeline-box">
                                        <div class="box-title ui-widget-header">
                                            <i class="fa fa-asterisk text-success" aria-hidden="true"></i> Instancia póliza
                                        </div>
                                        <div class="box-content">
                                            <table style="width:100%">
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Detalle</th>
                                                    <th>Usuario</th>
                                                    <th>Fecha</th>
                                                </tr>
                                                <tr *ngFor="let instanciaPolizaTransicion of instanciaPolizaTransicions"
                                                    [classList]="instanciaPolizaTransicion.par_observacion_id == parametroWarning.id ? 'msg-trans-warn' : (instanciaPolizaTransicion.par_observacion_id == parametroError.id ? 'msg-trans-error' : (instanciaPolizaTransicion.par_observacion_id == parametroInformation.id ? 'msg-trans-info' : (instanciaPolizaTransicion.par_observacion_id == parametroSuccess.id ? 'msg-trans-succ' : '')))">
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id">
                                                        <b>{{ObservacionesId[instanciaPolizaTransicion.par_observacion_id]}}: </b>
                                                    </td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id">
                                                        {{instanciaPolizaTransicion.observacion}}</td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id">
                                                        {{instanciaPolizaTransicion.ipt_usuario ? instanciaPolizaTransicion.ipt_usuario.usuario_login : ''}}</td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id">
                                                        {{setDateTime(instanciaPolizaTransicion.updatedAt)}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="ui-widget-header"
                                             *ngIf="transicionEstadoPoliza.par_estado_id == estadoPoliza.id">
                                            {{setDateTime(transicionEstadoPoliza.updatedAt)}}
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-4"
                                     *ngIf="transicionEstadoPoliza.par_estado_id == estadoPoliza.id &&
                                     transicionEstadoPoliza.createdAt != undefined &&
                                     transicionEstadoPoliza.createdAt.getHours() != transicionEstadoPoliza.updatedAt.getHours() &&
                                     transicionEstadoPoliza.createdAt.getMinutes() != transicionEstadoPoliza.updatedAt.getMinutes()">
                                    <div class="timeline-box">
                                        <div class="box-title ui-widget-header">
                                            <i class="fa fa-pencil text-info" aria-hidden="true"></i> Instancia poliza modificada
                                        </div>
                                        <div class="box-content">
                                            <table style="width:100%">
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Detalle</th>
                                                    <th>Usuario</th>
                                                    <th>Fecha</th>
                                                </tr>
                                                <tr *ngFor="let instanciaPolizaTransicion of instanciaPolizaTransicions"
                                                    [classList]="instanciaPolizaTransicion.par_observacion_id == parametroWarning.id ? 'msg-trans-warn' : (instanciaPolizaTransicion.par_observacion_id == parametroError.id ? 'msg-trans-error' : (instanciaPolizaTransicion.par_observacion_id == parametroInformation.id ? 'msg-trans-info' : (instanciaPolizaTransicion.par_observacion_id == parametroSuccess.id ? 'msg-trans-succ' : '')))">
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id &&
                                                     instanciaPolizaTransicion.createdAt.getTime() != instanciaPolizaTransicion.updatedAt.getTime()">
                                                        <b>{{ObservacionesId[instanciaPolizaTransicion.par_observacion_id]}}: </b></td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id &&
                                                     instanciaPolizaTransicion.createdAt.getTime() != instanciaPolizaTransicion.updatedAt.getTime()">
                                                        {{instanciaPolizaTransicion.observacion}}</td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id &&
                                                     instanciaPolizaTransicion.createdAt.getTime() != instanciaPolizaTransicion.updatedAt.getTime()">
                                                        {{instanciaPolizaTransicion.ipt_usuario ? instanciaPolizaTransicion.ipt_usuario.usuario_login : ''}}</td>
                                                    <td *ngIf="instanciaPolizaTransicion.par_estado_id == estadoPoliza.id &&
                                                     instanciaPolizaTransicion.createdAt.getTime() != instanciaPolizaTransicion.updatedAt.getTime()">
                                                        {{setDateTime(instanciaPolizaTransicion.updatedAt)}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="ui-widget-header"
                                             *ngIf="transicionEstadoPoliza.par_estado_id == estadoPoliza.id">
                                            {{setDateTime(transicionEstadoPoliza.updatedAt)}}
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Seguimiento">
                <div class="panel-items"></div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
