
.timeline{
    margin-top:20px;
    position:relative;
}

.timeline:before{
    position:absolute;
    content:'';
    width:4px;
    height:calc(100% + 50px);
    background: rgb(138,145,150);
    background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
    background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
    background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
    left:14px;
    top:5px;
    border-radius:4px;
}

.timeline-month{
    position:relative;
    padding:4px 15px 4px 35px;
    //background-color:#5f7d8a;
    //color: #ffffff;
    display:inline-block;
    width:auto;
    border-radius:40px;
    z-index: 1;
    //border:1px solid #17191B;
    border-right-color:black;
    margin-bottom:30px;
}

.timeline-month span{
    position:absolute;
    top:-6px;
    left:calc(100% - 10px);
    //z-index:-1;
    color: #000000;
    white-space:nowrap;
    background-color: #ffffff;
    display:inline-block;
    //background-color:#e8e8e8;
    padding:4px 10px 4px 20px;
    border-top-right-radius:40px;
    border-bottom-right-radius:40px;
    border:1px solid black;
    box-sizing:border-box;
}

.timeline-month:before{
    position:absolute;
    content:'';
    width:20px;
    height:20px;
    background: rgb(138,145,150);
    background: -moz-linear-gradient(top, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(112,120,125,1) 100%);
    background: -webkit-linear-gradient(top, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    background: linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#70787d',GradientType=0 );
    border-radius:100%;
    border:1px solid #17191B;
    left:5px;
}

.timeline-section{
    padding-left:35px;
    display:block;
    position:relative;
    margin-bottom:30px;
}

.timeline-date{
    margin-bottom:15px;
    padding:2px 15px;
    background:linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    position:relative;
    display:inline-block;
    border-radius:20px;
    border:1px solid #5f7d8a;
    color:#fff;
    text-shadow:1px 1px 1px #5f7d8a;
}
.timeline-section:before{
    content:'';
    position:absolute;
    width:30px;
    height:1px;
    background-color:#444950;
    top:12px;
    left:20px;
}

.timeline-section:after{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
    top:7px;
    left:11px;
    //border:1px solid #17191B;
    border-radius:100%;
}

.timeline-section .col-sm-4{
    margin-bottom:15px;
}

.timeline-box{
    position:relative;
    background-color:#5f7d8a;
    //border-radius:15px;
    //border-top-left-radius:0px;
    //border-bottom-right-radius:0px;
    //border:1px solid #17191B;
    transition:all 0.3s ease;
    overflow:hidden;
}

.box-icon{
    position:absolute;
    right:5px;
    top:0px;
}

.box-title{
    padding:5px 15px;
    color: #ffffff;
    //border-bottom: 1px solid #17191B;
}

.box-title i{
    margin-right:5px;
}

.box-content{
    padding:5px 15px;
    background-color:#ffffff;
}

.box-content strong{
    color:#666;
    margin-right:5px;
}

.box-item{
    margin-bottom:5px;
}

.box-footer{
    padding:5px 15px;
    color: #ffffff;
    //border-top: 1px solid #17191B;
    background-color:#5f7d8a;
    text-align:right;
}
.msg-trans-error {
    color: red;
}
.msg-trans-warn {
    color:#ffba01;
}
.msg-trans-info {
    color: deepskyblue;
}
.msg-trans-succ {
    color:#4caf50;
}
