<!-- <p>
  beneficiario works!
</p> -->
<!--<div *ngIf="solicitudService.isLoadingAgain" class="overlay">-->
  <!--<div class="loading"></div>-->
  <!--<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>-->
<!--</div>-->
<p-fieldset class="form-group" legend="Datos de los Beneficiarios" toggleable="true">
    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-3">
          <button pButton type="button" (click)="AbrirVentanaBeneficiarioVerificandoDesgravamen()" label="Adicionar Beneficiario"
            style="margin-bottom:10px" [disabled]="enableAdicionarBeneficiario"></button>
        </div>
    </div>
  <p-dataView #dv [value]="BeneficiariosAux" [paginator]="false" [rows]="10" paginatorPosition="none" filterBy="brand" emptyMessage="">
    <ng-template let-ben pTemplate="listItem">
      <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-1" style="text-align:center">
          <img src="assets/layout/images/avatares.png" width="50px">
        </div>
        <div class="ui-g-12 ui-md-10 car-details">
          <div class="ui-g">
            <div class="ui-g-4 ui-sm-3" *ngIf="ben.persona_doc_id"><b>Cedula de Identidad:</b></div>
            <div class="ui-g-8 ui-sm-3" *ngIf="ben.persona_doc_id">{{ben.persona_doc_id?ben.persona_doc_id:''}} &nbsp;{{ben.persona_doc_id_ext != "Seleccione Procedencia" ?ben.persona_doc_id_ext:''}}</div>
            <div class="ui-g-3 ui-sm-3">
              <b>
              Nombres:<br>
              Apellido Paterno: <br>
              Apellido Materno:<br>
              Parentesco:<br>
              </b>
            </div>
            <div class="ui-g-3 ui-sm-3">
                {{ben.persona_primer_nombre?ben.persona_primer_nombre:''}} {{ben.persona_segundo_nombre?ben.persona_segundo_nombre:''}}<br>
                {{ben.persona_primer_apellido?ben.persona_primer_apellido:''}}<br>
                {{ben.persona_segundo_apellido?ben.persona_segundo_apellido:''}}<br>
                {{ben.parentesco}}<br>
            </div>
            <div class="ui-g-3 ui-sm-3">
              <b>
              Estado:<br>
              {{Condiciones && Condiciones.length ? 'Condición' : ''}}<br>
              Fecha Declaracion:<br>
              Porcentaje:<br>
              {{ben.descripcion_otro ? 'Otro:' : ''}}
              </b>
            </div>
            <div class="ui-g-3 ui-sm-3">
                {{ben.estado}}<br>
                {{Condiciones && Condiciones.length && ben.condicion ? ben.condicion : ''}}<br>
                {{ben.fecha_declaracion  | date: 'dd/MM/yyyy'}}<br>
                {{ben.porcentaje}}<br>
                {{ben.descripcion_otro ? ben.descripcion_otro : ''}}
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-1 search-icon">
          <button pButton [disabled]="![solicitudService.estadoIniciado.id].includes(solicitudService.asegurado.instancia_poliza.id_estado) || solicitudService.hasRolCajero" (click)="editarBeneficiario(ben)" type="button" icon="{{solicitudService.estadoIniciado.id == solicitudService.asegurado.instancia_poliza.id_estado ? 'ui-icon-edit' : 'ui-icon-remove-red-eye'}}"></button>
          <button pButton [disabled]="![solicitudService.estadoIniciado.id].includes(solicitudService.asegurado.instancia_poliza.id_estado) || solicitudService.hasRolCajero" (click)="eliminarBeneficiarioConfirmacion(ben)" type="button" icon="ui-icon-delete"></button>
        </div>
      </div>
    </ng-template>
    <ng-template let-car pTemplate="gridItem">
      <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
          <img src="assets/layout/images/Usuário-HM.png" width="30%">
          <div class="car-detail">{{beneficiario.persona_primer_nombre}} - {{beneficiario.persona_doc_id}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <button pButton type="button" icon="ui-icon-edit" style="margin-top:0"><i _ngcontent-cxj-c4=""
              class="pi pi-search" style="margin:4px 4px 0 0"></i></button>
        </p-panel>
      </div>
    </ng-template>
  </p-dataView>
</p-fieldset>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayGuardado" [modal]="true" [responsive]="true" [minY]="70" [closable]="false" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high"
      style="border: 1px solid #455A64; border-radius: 20px; font-size: 50px; color: #455A64;"></i>
  </div>
  <p class="text-center">Se registro exitosamente la persona beneficiaria</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="confirmado()" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayErrorBusquedaBeneficiario" [modal]="true" [responsive]="true" [minY]="70" [closable]="false" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
      <i class="ui-icon-error-outline ui-icon-error-colibri"></i>
  </div>
  <p class="text-center">Hubo un problema al buscar a la persona con el CI y Extencion seleccionada</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayErrorBusquedaBeneficiario = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="solicitudService.displayMigrarBeneficiarios" [modal]="true" [responsive]="true" [minY]="70" [closable]="false" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
      <i class="ui-icon-error-outline ui-icon-info-colibri"></i>
  </div>
  <p class="text-center">Tiene Beneficiarios declarados en una solicitud de desgravamen, Desea migrar los mismos a esta solicitud?</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <!--<button type="button" pButton icon="pi pi-check" (click)="displayCambioEstadoExitoso = false; solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoSolicitado.id ? ImprimirSolicitud(solicitudService.asegurado) : solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoEmitido.id ? solicitudService.ImprimirCertificado(solicitudService.asegurado) : ''" label="SI"></button>-->
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayMigrarBeneficiarios = false; AbrirVentanaBeneficiario()" label="NO"></button>
      <button type="button" pButton icon="pi pi-checks" (click)="solicitudService.displayMigrarBeneficiarios = false; migrarBeneficiarios()" label="SI"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="solicitudService.displayBeneficiariosDuplicados" [modal]="true" [responsive]="true" [minY]="70" [closable]="false" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
      <i class="ui-icon-error-outline ui-icon-info-colibri"></i>
  </div>
  <p class="text-center">Se encontro Beneficiarios duplicados declarados en una solicitud de desgravamen, por lo que no se podra migrar los mismos, a continuacion puede ingresar los beneficiarios.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <!--<button type="button" pButton icon="pi pi-check" (click)="displayCambioEstadoExitoso = false; solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoSolicitado.id ? ImprimirSolicitud(solicitudService.asegurado) : solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoEmitido.id ? solicitudService.ImprimirCertificado(solicitudService.asegurado) : ''" label="SI"></button>-->
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayBeneficiariosDuplicados = false; AbrirVentanaBeneficiario()" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="solicitudService.displayRegistrandoDuplicado" [modal]="true" [responsive]="true" [minY]="70" [closable]="false" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
      <i class="ui-icon-error-outline ui-icon-info-colibri"></i>
  </div>
  <p class="text-center">El Beneficiario que desea ingresar ya se encuentra registrado como beneficiario.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <!--<button type="button" pButton icon="pi pi-check" (click)="displayCambioEstadoExitoso = false; solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoSolicitado.id ? ImprimirSolicitud(solicitudService.asegurado) : solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoEmitido.id ? solicitudService.ImprimirCertificado(solicitudService.asegurado) : ''" label="SI"></button>-->
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayRegistrandoDuplicado = false;" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Adicionar Beneficiario" [(visible)]="displayBeneficiario" [modal]="true" [responsive]="true" [baseZIndex]="1000000">
  <div class="ui-g-12">
    <p-fieldset legend="Buscar persona en el Banco" toggleable="true" collapsed="true">
      <form [formGroup]="userform3">
        <div class="ui-g-4">
          <span class="md-inputfield">
            <input type="text" formControlName="doc_id" [(ngModel)]="doc_id" pInputText>
            <label>Cedula de identidad <span style="color:red">(*)</span></label>
          </span>
        </div>
        <div class="ui-g-4">
          <span class="md-inputfield">
            <p-dropdown [options]="ProcedenciaCI" formControlName="ext" [(ngModel)]="ext" [showClear]="true">
            </p-dropdown>
            <label>Extensión <span style="color:red">(*)</span></label>
          </span>
        </div>
        <div class="ui-g-4">
          <button type="button" pButton icon="fa fa-close" (click)="BuscarClienteBeneficiario()"
            label="Buscar"></button>
        </div>
      </form>
    </p-fieldset>
  </div>
  <p-fieldset legend="Datos de Beneficiario" toggleable="true">
    <div class="ui-g-12">
      <form [formGroup]="userform2">
        <div class="ui-g form-group">
          <input type="hidden" [(ngModel)]="beneficiario.id" pInputText id="EA_TitId"
                 formControlName="id" [readonly]="displayId">
          <div class="ui-g-12 ui-md-4">
              <span class="md-inputfield" *ngIf="displayBeneficiarioFound">
              <input type="text" [(ngModel)]="beneficiario.persona_primer_apellido" pInputText id="EA_TitPaterno"
                formControlName="persona_primer_apellido" [readonly]="displayBeneficiarioFound">
              <label>Apellido Paterno <span style="color:red">(*)</span></label>
            </span>
              <span class="md-inputfield md-inputfield-fill" *ngIf="!displayBeneficiarioFound">
              <input type="text" [(ngModel)]="beneficiario.persona_primer_apellido" pInputText id="EA_TitPaterno"
                formControlName="persona_primer_apellido" [readonly]="displayBeneficiarioFound">
              <label>Apellido Paterno <span style="color:red">(*)</span></label>
            </span>
              <p-message severity="error"
                         [text]="userform2.controls['persona_primer_apellido'].errors != undefined ?
                               userform2.controls['persona_primer_apellido'].errors['required'] ? 'El apellido paterno es requerido' :
                               userform2.controls['persona_primer_apellido'].errors['pattern'] ? 'Debe contener solo letras' :
                               'Apellido invalido' : '' "
                         *ngIf="userform2.controls['persona_primer_apellido'].errors && !userform2.controls['persona_primer_apellido'].valid&&userform2.controls['persona_primer_apellido'].dirty">
              </p-message>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield" *ngIf="displayBeneficiarioFound">
              <input type="text" [(ngModel)]="beneficiario.persona_segundo_apellido" pInputText
                formControlName="persona_segundo_apellido" [readonly]="displayBeneficiarioFound">
              <label>Apellido Materno <span style="color:red">(*)</span></label>
            </span>
              <p-message severity="error"
                         [text]="userform2.controls['persona_segundo_apellido'].errors != undefined ?
                               userform2.controls['persona_segundo_apellido'].errors['required'] ? 'El apellido paterno es requerido' :
                               userform2.controls['persona_segundo_apellido'].errors['pattern'] ? 'Debe contener solo letras' :
                               'Apellido invalido' : '' "
                         *ngIf="userform2.controls['persona_segundo_apellido'].errors && !userform2.controls['persona_segundo_apellido'].valid&&userform2.controls['persona_segundo_apellido'].dirty">
              </p-message>
            <span class="md-inputfield md-inputfield-fill" *ngIf="!displayBeneficiarioFound">
              <input type="text" [(ngModel)]="beneficiario.persona_segundo_apellido" pInputText
                formControlName="persona_segundo_apellido" [readonly]="displayBeneficiarioFound">
              <label>Apellido Materno <span style="color:red">(*)</span></label>
            </span>
              <p-message severity="error"
                         [text]="userform2.controls['persona_segundo_apellido'].errors != undefined ?
                               userform2.controls['persona_segundo_apellido'].errors['required'] ? 'El apellido paterno es requerido' :
                               userform2.controls['persona_segundo_apellido'].errors['pattern'] ? 'Debe contener solo letras' :
                               'Apellido invalido' : '' "
                         *ngIf="userform2.controls['persona_segundo_apellido'].errors && !userform2.controls['persona_segundo_apellido'].valid&&userform2.controls['persona_segundo_apellido'].dirty">
              </p-message>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield" *ngIf="displayBeneficiarioFound">
              <input type="text" [(ngModel)]="beneficiario.persona_primer_nombre" pInputText id="persona_primer_nombre"
                formControlName="persona_primer_nombre" [readonly]="displayBeneficiarioFound">
              <label>Nombres <span style="color:red">(*)</span></label>
            </span>
            <span class="md-inputfield md-inputfield-fill" *ngIf="!displayBeneficiarioFound">
              <input type="text" [(ngModel)]="beneficiario.persona_primer_nombre" pInputText id="persona_primer_nombre"
                formControlName="persona_primer_nombre" [readonly]="displayBeneficiarioFound">
              <label>Nombres <span style="color:red">(*)</span></label>
            </span>
            <p-message severity="error" text="Nombres es requerido"
              *ngIf="!userform2.controls['persona_primer_nombre'].valid&&userform2.controls['persona_primer_nombre'].dirty">
            </p-message>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
            <p-dropdown [options]="Sexos" [(ngModel)]="beneficiario.par_sexo_id" placeholder="Seleccione sexo" [showClear]="true"
              formControlName="sexo" [baseZIndex]="1000002"></p-dropdown>
            <label>Sexo<span style="color: red">(*)</span></label>
            </span>
            <p-message severity="error" text="Parentesco es requerido"
              *ngIf="!userform2.controls['id_parentesco'].valid&&userform2.controls['id_parentesco'].dirty">
            </p-message>
          </div>
          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield md-inputfield-fill">
              <input type="number" [(ngModel)]="beneficiario.persona_celular" pInputText id="telefono"
                formControlName="persona_celular">
              <label>Telefono de Contacto<span style="color: red">(*)</span></label>
            </span>
            <p-message severity="error" text="Telefono es numero" *ngIf="userform2.controls['persona_celular'].errors">
            </p-message>
          </div>
          <div class="ui-g-12 ui-md-4" *ngIf="['10','12'].includes(solicitudService.poliza.id+'')">
            <span class="md-inputfield">
            <p-dropdown [options]="Condiciones" placeholder="Seleccione una condicion para el beneficiario" [showClear]="true"
                        formControlName="condicion"></p-dropdown>
              <label>Condición<span style="color: red">(*)</span></label>
            </span>
            <p-message severity="error" text="Condición del beneficioario es requerido"
                       *ngIf="!userform2.controls['condicion'].valid&&userform2.controls['condicion'].dirty">
            </p-message>
          </div>
          <div class="ui-g-12 ui-md-4" [hidden]="true">
            <p-dropdown [options]="Estado" placeholder="Seleccione Estado" [showClear]="true" selectId="410"
              formControlName="estado"></p-dropdown>
            <label>Estado<span style="color: red">(*)</span></label>
            <p-message severity="error" text="Estado es requerido"
              *ngIf="!userform2.controls['estado'].valid&&userform2.controls['estado'].dirty">
            </p-message>
          </div>
          <div class="ui-g-12 ui-md-4" [hidden]="true">
            <p-dropdown [options]="Tipo" placeholder="Seleccione Tipo" [showClear]="true" selectId="410"
              formControlName="tipo"></p-dropdown>
            <label>Tipo<span style="color: red">(*)</span></label>
            <p-message severity="error" text="Tipo es requerido"
              *ngIf="!userform2.controls['tipo'].valid&&userform2.controls['tipo'].dirty">
            </p-message>
          </div>

          <div class="ui-g-12 ui-md-4">
            <span class="md-inputfield">
            <p-dropdown [options]="Parentesco" placeholder="Seleccione parentesco" [showClear]="true"
              formControlName="id_parentesco" [baseZIndex]="1000002"></p-dropdown>
              <label>Parentesco<span style="color: red">(*)</span></label>
            </span>
            <p-message severity="error" text="Parentesco es requerido"
              *ngIf="!userform2.controls['id_parentesco'].valid&&userform2.controls['id_parentesco'].dirty">
            </p-message>
          </div>
          <div class="ui-g-12 ui-md-4" *ngIf="userform2.controls['id_parentesco'].value === '56'">
            <span class="md-inputfield">
              <input type="text" pInputText id="otro" formControlName="descripcion_otro">
              <label>Otro<span style="color: red">(*)</span></label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-4">
          <span class="md-inputfield md-inputfield-fill">
            <input type="number" pInputText id="porcentaje" formControlName="porcentaje">
            <label>Porcentaje<span style="color: red">(*)</span></label>
          </span>
            <p-message severity="error" text="Porcentaje es numero entre 1 y 100"
            *ngIf="!userform2.controls['porcentaje'].valid&&userform2.controls['porcentaje'].dirty">
              <!-- *ngIf="userform2.controls['porcentaje'].errors"> editarBeneficiario-->
            </p-message>
        </div>
        </div>
        <p-footer>
          <p-messages [value]="ValidacionesMensajes" *ngIf="validacionApellidos()"></p-messages>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button pButton icon="fa fa-check" label="Guardar" *ngIf="!validacionApellidos()" (click)="guardarPersonaBeneficiario()"
              [disabled]="!userform2.valid"></button>
              <!-- [disabled]="!userform2.valid && (!userform2.valid===true && nuevo)"></button> -->
          </div>
        </p-footer>
        <br />
        <br />
        <br />
        <br />
        <br />
      </form>
    </div>
  </p-fieldset>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiariosExcedidos" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">Numero de beneficiarios permitidos excedidos</p>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiariosCambio" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">El registro no se encuentra en esta Iniciado, no es posible Editar ni Eliminar</p>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiariosExcedidos" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">Numero de beneficiarios permitidos excedidos</p>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiarioDouble" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">Beneficiario ya registrado, escoja otra persona beneficiaria </p>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayEliminarBeneficiario" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">Confirmacion eliminar Beneficiario? </p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="eliminarBeneficiario()" label="Confirmar"></button>
      <button type="button" pButton icon="pi pi-times" (click)="displayEliminarBeneficiario=false"
        label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiariosTitular" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">El beneficiario no puede ser el Titular Asegurado</p>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiariosNotFound" [modal]="true" [responsive]="true" [minY]="70" [closable]="false" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">La busqueda de persona no encontro resultados. Desea utilizar la Cedula de Identidad introducida para el registro?.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="registrarNuevoConCI()" label="Si"></button>
      <button type="button" pButton icon="pi pi-times" (click)="registrarNuevoSinCI()" label="No"></button>
    </div>
  </p-footer>

</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiarioDuplicado" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">Beneficiario ya esta registrado, un beneficiario es unico por Asegurado</p>
</p-dialog>

<p-dialog header="Modulo Beneficiario" [(visible)]="displayBeneficiariosCambio" [modal]="true" [responsive]="true" [minY]="70" [baseZIndex]="1000001">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">El registro no se encuentra en estado Iniciado, no es posible Editar ni Eliminar</p>
</p-dialog>
