<div class="row mt-1">
  <p-table #dt [columns]="cols" [value]="usuarios" [paginator]="true" [rows]="10" selectionMode="single"
    [(selection)]="usuarioSel" dataKey="id" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
      <div class="ui-g">
        <div class="ui-g-6" style="text-align: left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialog()" label="Adicionar"></button>
        </div>
        <div class="ui-g-6" style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="15" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr [pSelectableRow]="usuario">
        <td>{{usuario.id}}</td>
        <td>{{usuario.usuario_login}}</td>
        <td>{{usuario.usuario_nombre_completo}}</td>
        <td>{{usuario.usuario_email}}</td>
        <td>{{usuario.par_estado_usuario_descripcion}}</td>
        <td>{{usuario.par_aut_usuario_descripcion}}</td>
        <td>{{usuario.par_local_descripcion}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<form [formGroup]="userform" (ngSubmit)="onSubmit()">
  <p-dialog header="Detalle de Usuario" [(visible)]="display" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '350px'}" [resizable]="true">
    <div class="ui-g form-group">
      <!-- <div class="ui-g-4">
        <label for="year">Login</label>
      </div>
      <div class="ui-g-8">
        <input pInputText [(ngModel)]="usuario.usuario_login" id="year" formControlName="username" />
      </div> -->
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input size="40%" pInputText [(ngModel)]="usuario.usuario_login" id="year" formControlName="username" class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
          <label>Login</label>
        </span>
        <div class="ui-g-12">
          <p-message severity="error" text="Login requerido"
            *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12" *ngIf='nuevo'>
          <span class="md-inputfield">
            <input size="40%" pInputText type="password" [(ngModel)]="usuario.usuario_password" id="password" formControlName="password" class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
            <label>Password</label>
          </span>
          <div class="ui-g-12" *ngIf='nuevo'>
            <p-message severity="error"
              [text]="userform.controls['password'].errors['required'] ? 'Password es requerido' : userform.controls['password'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
              *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
          </div>  
        </div>
        <!-- <div class="ui-g-4">
          <label for="year">Password</label>
        </div>
        <div class="ui-g-8" *ngIf='nuevo'>
          <input pInputText type="password" [(ngModel)]="usuario.usuario_password" id="password" formControlName="password" />
        </div> -->
      <!-- </div> -->
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input size="40%" pInputText [(ngModel)]="usuario.usuario_nombre_completo" id="nombres" formControlName="nombres" class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
          <label>Nombre Completo</label>
        </span>
        <div class="ui-g-12" *ngIf='nuevo'>
          <p-message severity="error"
            [text]="userform.controls['nombres'].errors['required'] ? 'Nombre es requerido' : userform.controls['nombres'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
            *ngIf="!userform.controls['nombres'].valid&&userform.controls['nombres'].dirty"></p-message>
        </div>
        <!-- <div class="ui-g-4">
          <label for="brand">Nombre Completo</label>
        </div>
        <div class="ui-g-8">
          <input pInputText [(ngModel)]="usuario.usuario_nombre_completo" id="brand" formControlName="nombres" />
        </div>
        <div class="ui-g-12">
          <p-message severity="error" text="Nombres"
            *ngIf="!userform.controls['nombres'].valid&&userform.controls['nombres'].dirty"></p-message>
        </div> -->
      </div>
      <div class="ui-g-12">
        <!-- <div class="ui-g-4">
          <label for="brand">Email</label>
        </div>
        <div class="ui-g-8">
          <input pInputText type="email" [(ngModel)]="usuario.usuario_email" id="email" formControlName="email" />
        </div> -->
        <span class="md-inputfield">
          <input size="40%" pInputText type="email" [(ngModel)]="usuario.usuario_email" id="email" formControlName="email" class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
          <label>Email</label>
        </span>
        <div class="ui-g-12">
          <p-message severity="error" text="Email no válido"
            *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12">
        <!-- <div class="ui-g-4">
          <label for="brand">Estado</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="estadoPar" [(ngModel)]="usuario.par_estado_usuario_id" placeholder="Seleccione Estado"
            [showClear]="true" formControlName="estado"></p-dropdown>
        </div> -->
        <label>Estado</label>
        <span class="md-inputfield">
          <p-dropdown  [style]="{'width': '100%'}" [options]="estadoPar" [(ngModel)]="usuario.par_estado_usuario_id" placeholder="Seleccione Estado"
            [showClear]="true" formControlName="estado"></p-dropdown>
        </span>
        <div class="ui-g-12">
          <p-message severity="error" text="Estado es requerido"
            *ngIf="!userform.controls['estado'].valid&&userform.controls['estado'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12">
        <!-- <div class="ui-g-4">
          <label for="brand">Autenticacion</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="contextoPar" [(ngModel)]="usuario.par_autenticacion_id"
            placeholder="Seleccione Contexto" [showClear]="true" selectId="410" formControlName="contexto"></p-dropdown>
        </div> -->
        <label>Autenticacion</label>
        <span class="md-inputfield">
          <p-dropdown [style]="{'width': '100%'}" [options]="contextoPar" [(ngModel)]="usuario.par_autenticacion_id" placeholder="Seleccione autenticacion"
            [showClear]="true" formControlName="contexto"></p-dropdown>
        </span>
        <div class="ui-g-12">
          <p-message severity="error" text="Contexto es requerido"
            *ngIf="!userform.controls['contexto'].valid&&userform.controls['contexto'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12" *ngIf="usuario.par_autenticacion_id == 10">
        <!-- <div class="ui-g-8">
          <p-dropdown [options]="localPar" [(ngModel)]="usuario.par_local_id"
          placeholder="Recuperacion contraseña" [showClear]="true" selectId="410" formControlName="recoverypwd"></p-dropdown>
        </div> -->
        <label>Recuperacion Contraseña</label>
        <span class="md-inputfield">
          <p-dropdown [style]="{'width': '100%'}" [options]="localPar" [(ngModel)]="usuario.par_local_id" placeholder="Seleccione opción"
            [showClear]="true" formControlName="recoverypwd"></p-dropdown>
        </span>
        <div class="ui-g-12">
          <p-message severity="error" text="Tipo recuperar contraseña requerida"
            *ngIf="!userform.controls['recoverypwd'].valid&&userform.controls['recoverypwd'].dirty"></p-message>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Eliminar"></button>
        <button type="button" pButton icon="fa fa-check" (click)="resetPassword()" label="Clave"
          [disabled]="usuario.par_aut_usuario_descripcion === 'EXTERNA'"></button>
        <!-- <button type="button" pButton icon="fa fa-check" (click)="guardarCambio()" label="Guardar" [disabled]="!userform.valid && (!userform.valid===true && nuevo)"></button> -->
        <button type="submit" pButton icon="fa fa-check" label="Guardar"
          [disabled]="!userform.valid && (!userform.valid===true && nuevo)"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button type="button" pButton (click)="onConfirm()" label="Ok" class="ui-button-success"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<!-- <app-usuario *ngIf='visto'></app-usuario> -->

<form [formGroup]="userformPwd">
  <p-dialog header="Cambio de Contraseña" [(visible)]="displayPwd" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '350px'}" [resizable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="year">Login</label>
        </div>
        <div class="ui-g-8">
          {{usuario.usuario_login}}
        </div>
      </div>
      <div class="ui-g-4">
        <label for="year">Password</label>
      </div>
      <div class="ui-g-8">
        <input pInputText type="password" id="password" formControlName="password" />
      </div>
      <div class="ui-g-12">
        <p-message severity="error"
          [text]="userformPwd.controls['password'].errors['required'] ? 'Password is required' : userformPwd.controls['password'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : ''"
          *ngIf="!userformPwd.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
      </div>
      <div class="ui-g-4">
        <label for="year">Confirmar Password</label>
      </div>
      <div class="ui-g-8">
        <input pInputText type="password" id="password2" formControlName="password2" />
      </div>
      <div class="ui-g-12">
        <p-message severity="error"
          [text]="userformPwd.controls['password2'].errors['required'] ? 'Password is required' : userformPwd.controls['password2'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : ''"
          *ngIf="!userformPwd.controls['password2'].valid&&userform.controls['password'].dirty"></p-message>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-check" (click)="cambiarPassword(userformPwd.controls['password'].value, userformPwd.controls['password2'].value)" label="Cambiar"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>