body .ui-carousel .ui-carousel-content .ui-carousel-next, body .ui-carousel .ui-carousel-content .ui-carousel-prev{
    display:none!important;
}

.ui-widget-overlay {
    background-color: rgb(0,0,0,0.4);
}
body .p-component-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}
