<div class="layout-topbar">

    <a routerLink="/" *ngIf="app.isHorizontal() && !app.isMobile()" class="topbar-logo">
        <img alt="logo" src="assets/layout/images/logo-slim.png" />
        <span class="app-name">Kerkus Corredores de Seguro S.A. </span>
    </a>

    <img alt="logo" src="assets/layout/images/logoCorredora1.png" class="mobile-logo" />

    <a href="#" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="material-icons">&#xE5D2;</i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="app.onTopbarMobileMenuButtonClick($event)">
        <i class="material-icons">&#xE853;</i>
    </a>

    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}"
            (click)="app.onTopbarMenuClick($event)">
            <li #profile class="profile-item" [ngClass]="{'active-topmenuitem': app.activeTopbarItem === profile}"
                (click)="app.onTopbarRootItemClick($event, profile)">
                <a href="#">
                    <span class="profile-image-wrapper">
                        <img src="assets/layout/images/avatar.png" />
                    </span>
                    <span class="topbar-item-name profile-name">{{usuario.usuario_nombre_completo}}</span>
                </a>
                <ul class="fadeInDown">
                    <!--<li role="menuitem">
                        <a href="#">
                            <i class="material-icons">account_circle</i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">verified_user</i>
                            <span>Privacy</span>
                        </a>
                    </li>!-->
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">vpn_key</i>
                            <!-- <button type="button" pButton (click)="onConfirm()" label="Ok" class="ui-button-success"><span>Settings</span></button> -->
                            <!-- <button type="button" pButton (click)="resetPassword()" label="Cambiar clave"
                                class="ui-button-success"></button> -->
                            <span (click)="resetPassword()">Cambiar clave</span>
                        </a>
                    </li>
                    <li #rols [ngClass]="{'active-topmenuitem':app.activeTopbarItem === rols}"
                        (click)="app.onTopbarRootItemClick($event, rols)">
                        <a href="#">
                            <i class="material-icons">accessibility</i>
                            <span class="topbar-item-name">Roles</span>
                        </a>
                        <ul class="fadeInDown">
                            <li role="menuitem" *ngFor="let rol of roles">
                                <a href="#"><i class="material-icons">accessibility</i>
                                    {{rol.descripcion}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">exit_to_app</i>
                            <span>Logout</span>
                        </a>
                    </li> -->
                </ul>
            </li>

            <li #settings [ngClass]="{'active-topmenuitem':app.activeTopbarItem === settings}"
                (click)="app.onTopbarRootItemClick($event, settings)">
                <a href="#">
                    <i class="topbar-icon material-icons">settings</i>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul class="fadeInDown">
                    <!--<li role="menuitem">
                        <a href="#">
                            <i class="material-icons">palette</i>
                            <span>Change Theme</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">star</i>
                            <span>Favorites</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">lock</i>
                            <span>Lock Screen</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">wallpaper</i>
                            <span>Wallpaper</span>
                        </a>
                    </li>!-->
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">done</i>
                            <span>{{versionApp}}</span>
                        </a>
                    </li>
                    <li role="menuitem" (click)="cerrarSesion()">
                        <a href="#">
                            <i class="material-icons">exit_to_app</i>
                            <span>Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #product class="produc-logo">
                <a routerLink="/AppMain">
                    <h3>{{solicitudService.ruta ? solicitudService.ruta : ''}}</h3>
                </a>
            </li>
            <!--
            <li #messages [ngClass]="{'active-topmenuitem':app.activeTopbarItem === messages}"
                (click)="app.onTopbarRootItemClick($event, messages)">
                <a href="#">
                    <i class="topbar-icon material-icons animated swing">&#xE0C9;</i>
                    <span class="topbar-badge animated rubberBand">5</span>
                    <span class="topbar-item-name">Messages</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <img src="assets/layout/images/avatar1.png" width="35" />
                            <span>Give me a call</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <img src="assets/layout/images/avatar2.png" width="35" />
                            <span>Sales reports attached</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <img src="assets/layout/images/avatar3.png" width="35" />
                            <span>About your invoice</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <img src="assets/layout/images/avatar2.png" width="35" />
                            <span>Meeting today at 10pm</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#" class="topbar-message">
                            <img src="assets/layout/images/avatar4.png" width="35" />
                            <span>Out of office</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #notifications [ngClass]="{'active-topmenuitem':app.activeTopbarItem === notifications}"
                (click)="app.onTopbarRootItemClick($event, notifications)">
                <a href="#">
                    <i class="topbar-icon material-icons">notifications</i>
                    <span class="topbar-badge animated rubberBand">4</span>
                    <span class="topbar-item-name">Notifications</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">bug_report</i>
                            <span>Pending tasks</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">event</i>
                            <span>Meeting today at 3pm</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">cloud_download</i>
                            <span>Download documents</span>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="material-icons">flight</i>
                            <span>Book flight</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="search-item">
                <span class="md-inputfield">
                    <input type="text" pInputText />
                    <label>Search</label>
                    <i class="topbar-icon material-icons">search</i>
                </span>
            </li>
            !-->
        </ul>
    </div>
</div>


<form [formGroup]="userformPwd">
    <p-dialog header="Cambio de Contraseña" [(visible)]="displayPwd" [focusOnShow]="false" [responsive]="true"
        showEffect="fade" [modal]="true" [style]="{width: '280px'}" [resizable]="true">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" value={{usuario.usuario_login}} readonly=true pInputText size="30%"/>
                    <label>Login</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" id="passwordold" formControlName="passwordold" pInputText size="30%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Contraseña anterior</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error"
                    [text]="userformPwd.controls['passwordold'].errors['required'] ? 'Password is required' : userformPwd.controls['passwordold'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userformPwd.controls['passwordold'].valid&&userformPwd.controls['passwordold'].dirty">
                </p-message>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" id="password" formControlName="password" pInputText size="30%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Contraseña nueva</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error"
                    [text]="userformPwd.controls['password'].errors['required'] ? 'Password is required' : userformPwd.controls['password'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userformPwd.controls['password'].valid&&userformPwd.controls['password'].dirty">
                </p-message>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" id="password2" formControlName="password2" pInputText size="30%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Confirmar contraseña nueva</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error"
                    [text]="userformPwd.controls['password2'].errors['required'] ? 'Password is required' : userformPwd.controls['password2'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userformPwd.controls['password2'].valid&&userformPwd.controls['password2'].dirty">
                </p-message>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check"
                (click)="cambiarPasswordOld(userformPwd.controls['passwordold'].value, userformPwd.controls['password'].value, userformPwd.controls['password2'].value)"
                label="Cambiar"></button>
            </div>
        </p-footer>
    </p-dialog>
</form>

<form [formGroup]="userformChangePwd">
    <p-dialog header="Cambio de contraseña obligatoria" [(visible)]="displayChangePwd" [focusOnShow]="false"
        [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '280px'}" [resizable]="true"
        [closable]="false">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" value={{usuario.usuario_login}} readonly=true pInputText size="30%"/>
                    <label>Login</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" id="passwordold" formControlName="passwordold" pInputText size="30%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Contraseña anterior</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error"
                    [text]="userformChangePwd.controls['passwordold'].errors['required'] ? 'Password is required' : userformChangePwd.controls['passwordold'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userformChangePwd.controls['passwordold'].valid&&userformChangePwd.controls['passwordold'].dirty">
                </p-message>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" id="password" formControlName="password" pInputText size="30%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Contraseña nueva</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error"
                    [text]="userformChangePwd.controls['password'].errors['required'] ? 'Password is required' : userformChangePwd.controls['password'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userformChangePwd.controls['password'].valid&&userformChangePwd.controls['password'].dirty">
                </p-message>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="password" id="password2" formControlName="password2" pInputText size="30%"
                        class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                    <label>Confirmar contraseña nueva</label>
                </span>
            </div>
            <div class="ui-g-12">
                <p-message severity="error"
                    [text]="userformChangePwd.controls['password2'].errors['required'] ? 'Password is required' : userformChangePwd.controls['password2'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userformChangePwd.controls['password2'].valid&&userformChangePwd.controls['password2'].dirty">
                </p-message>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check"
                    (click)="cambiarPasswordOld(userformChangePwd.controls['passwordold'].value, userformChangePwd.controls['password'].value, userformChangePwd.controls['password2'].value)"
                    label="Cambiar"></button>
                <button type="button" pButton icon="fa fa-check" (click)="cerrarSesion()" label="Cancelar"></button>
            </div>
        </p-footer>
    </p-dialog>
</form>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <button type="button" pButton (click)="onConfirm()" label="Ok" class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast [style]="{marginTop: '80px'}"></p-toast>


<p-toast position="center" key="c1" (onClose)="onReject1()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <button type="button" pButton (click)="onConfirm1()" label="Ok" class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
