<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
    <div class="loading"></div>
</div>

<p-dialog header="Se Actualizo Exitosamente" [(visible)]="displayExedioResultados" [modal]="true" [responsive]="true" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
        <p [outerHTML]="'<br><br>Advertencia: El criterio de búsqueda introducido ha generado como resultado gran cantidad de registros, <br>por lo que se mostrarán solo los primeros 300 cuyas fechas de solicitud son las más recientes.'"></p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="displayExedioResultados = false" label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-panel header="Filtros" toggleable="true" collapseIcon="fa fa-minus" [(collapsed)]="PanelFiltrosColapsed">

    <p-fieldset class="form-group" *ngIf="showFiltros" legend="Buscar polizas por" toggleable="true">
        <div class="ui-g form-group">

            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Sucursales" [(ngModel)]="objeto.sucursal" (onChange)="filterAgencies($event)" [disabled]="disableFieldSucursal" [showClear]="true"></p-dropdown>
        <label>Sucursal</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Agencias" [(ngModel)]="objeto.agencia" [disabled]="disableFieldAgencia" [showClear]="true"></p-dropdown>
        <label>Agencia</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.usuario_login" [disabled]="disableFieldUsuario" pInputText>
        <label>Usuario</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.id_deu" pInputText>
        <label>Id Deudor</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.nro_documento" pInputText>
        <label>Nro. Sol.</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.tipo_credito" pInputText>
        <label>Tipo Credito</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="TiposCobertura" [(ngModel)]="objeto.tipo_cobertura" [disabled]="disableTipoCobertura" [showClear]="true"></p-dropdown>
        <label>Tipo Cobertura</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="TiposSeguro" [(ngModel)]="objeto.tipo_seguro" [disabled]="disableTipoSeguro" [showClear]="true"></p-dropdown>
        <label>Tipo Cartera</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Estados" (onChange)="selectAllLikeEstados($event)" [(ngModel)]="objeto.estado" [showClear]="true"></p-dropdown>
        <label>Estado</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Polizas" [(ngModel)]="objeto.poliza" [showClear]="true"></p-dropdown>
        <label>Poliza</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_primer_apellido" pInputText>
        <label>Apellido Paterno</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_segundo_apellido" pInputText>
        <label>Apellido Materno</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_primer_nombre" pInputText>
        <label>Nombre</label>
      </span>
            </div>
            <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_doc_id" pInputText>
        <label>Carnet de identidad</label>
      </span>
            </div>
            <!--<div class="ui-g-12 ui-md-2">-->
          <!--<span class="md-inputfield">-->
            <!--<p-dropdown [options]="ProcedenciaCI" [(ngModel)]="objeto.persona_doc_id_ext" [showClear]="true"></p-dropdown>-->
            <!--<label>Extensión</label>-->
          <!--</span>-->
            <!--</div>-->
        </div>
    </p-fieldset>

    <p-fieldset class="form-group" *ngIf="showFiltros" legend="Buscar por fecha" toggleable="true">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <span class="md-inputfield">
                    <p-dropdown [options]="FiltrosFechas" [(ngModel)]="objeto.campo_fecha" [showClear]="true" selectId="1"></p-dropdown>
                    <label>Fechas</label>
                </span>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12">
                        <p-calendar [(ngModel)]="objeto.fecha_min" placeholder="Desde" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es" [dateFormat]="'dd/mm/yy'"></p-calendar>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12">
                        <p-calendar [(ngModel)]="objeto.fecha_max" placeholder="Hasta" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es" [dateFormat]="'dd/mm/yy'"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
    </p-fieldset>
    <!--<p-fieldset class="form-group" *ngIf="showFiltros" legend="Buscar por fecha" toggleable="true">-->
    <!--<div class="ui-g form-group">-->
    <!--<div class="ui-g-12 ui-md-6">-->
    <!--<div class="ui-g-12">-->
    <!--<p-calendar [(ngModel)]="objeto.fecha_registro_min" placeholder="Desde Fecha Registro" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-g-12 ui-md-6">-->
    <!--<div class="ui-g-12">-->
    <!--<p-calendar [(ngModel)]="objeto.fecha_registro_max" placeholder="Hasta Fecha Registro" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-g form-group">-->
    <!--<div class="ui-g-12 ui-md-6">-->
    <!--<div class="ui-g-12">-->
    <!--<p-calendar [(ngModel)]="objeto.fecha_emision_min" placeholder="Desde Fecha Emision" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ui-g-12 ui-md-6">-->
    <!--<div class="ui-g-12">-->
    <!--<p-calendar [(ngModel)]="objeto.fecha_emision_max" placeholder="Hasta Fecha Emision" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</p-fieldset>-->


    <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-12" style="text-align: right">
            <button type="button" pButton (click)="limpiar()" pTooltip="Borrar Filtros" tooltipPosition="top"
                    icon="ui-icon-refresh"></button>
            <button type="button" pButton (click)="objeto.first = 0;objeto.rows = 10;listaAll(dt);" pTooltip="Buscar" tooltipPosition="top"
                    icon="pi pi-search"></button>
        </div>
    </div>

</p-panel>

<p-table #dt [columns]="esAseguradoraAlianza ? colsAseguradoraAlianza : esAseguradoraLbcSuscriptor ? colsAseguradoraLbcSuscriptor : cols" [value]="segDeudores" [paginator]="true" [rows]="this.objeto.rows" (onPage)="onPageAction($event,dt)" [lazyLoadOnInit]="true" [totalRecords]="totalRows" [showCurrentPageReport]="true" responsiveLayout="scroll" resetPageOnSort="false"
         [currentPageReportTemplate]="'Mostrando los últimos '+numRecords+' de '+rowsPerPage+' de '+totalRows+' registros'" [rowsPerPageOptions]="[10,25,50]"
         dataKey="id">
    <ng-template pTemplate="caption">
        <div class="ui-g">
            <div class="ui-g-6" style="text-align: left">
                Resultados <span *ngIf="showMoreResultsMessage"><b>(solo se mostrarán los 300 primeros resultados)</b></span>
            </div>
            <div class="ui-g-6" style="text-align: right">
                <!--<button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>-->
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel(dt)" style="margin-right: 0.5em;" class="ui-button-success"></button>
                <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field">
                <b>{{col.header}}</b>
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-instancia_poliza let-i="rowIndex">
        <tr *ngIf="esAseguradoraLbcSuscriptor">
            <td style="font-size: 12px;">{{instancia_poliza['Nro_Sol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['id_deu']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Fecha_Solicitud']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Fecha_Resolucion']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Poliza']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['CI']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Asegurado']}}</td>
            <td [classList]="setEdadClass(instancia_poliza)" style="font-size: 12px;">{{instancia_poliza['Edad']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Sol_MonedaSol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Sol_MontoSol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Estado']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Incluido']}}</td>
            <td [classList]="instancia_poliza['Deu_FactorImc'] == 'danger' ? 'factor-imc-danger' : instancia_poliza['Deu_FactorImc'] == 'warning' ? 'factor-imc-warning' : instancia_poliza['Deu_FactorImc'] == 'good' ? 'factor-imc-good' : 'factor-imc-info'" style="font-size: 12px;">{{instancia_poliza['Deu_Imc']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Deu_MontoActAcumVerifSum']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Deu_MontoSolAcumVerifSum']}}</td>
            <td *ngIf="instancia_poliza.id_deu" [classList]="instancia_poliza['Deu_RespPositivas'] == '0' ? 'resp-info' : 'resp-danger'" style="font-size: 12px;">{{instancia_poliza['Deu_RespPositivas'] == 0 ? 'No' : 'SI'}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['usuario']}}</td>
            <td *ngIf="instancia_poliza.id_deu">
                <button type="button" [disabled]="btnEditar" pButton icon="ui-icon-{{getIconEditAdd(instancia_poliza)}}" title="{{getWordEditAdd(instancia_poliza)}}" (click)="editSolicitudDesgravamen(instancia_poliza.id_sol)"></button>
                <button type="button" pButton icon="ui-icon-print" title="Imprimir Documentos" *ngIf="showBtnImprimir(instancia_poliza)" (click)="solicitudService.ImprimirDocumentosCrediticios(instancia_poliza.id_deu,instancia_poliza.id_documento_version)"></button>
                <!--<button type="button" *ngIf="usuarioLogin.rol[0].id==='9'" pButton icon="ui-icon-playlist-add-check" title="Plan Pago" (click)="generarplanpago(instancia_poliza.id)"></button>!-->
                <!--<button type="button" *ngIf="usuarioLogin.rol[0].id==='9'" pButton icon="ui-icon-playlist-add-check" title="Plan Pago" (click)="GeneraAllPlanPagos(instancia_poliza.id)"></button>!-->
            </td>
        </tr>
        <tr *ngIf="esAseguradoraAlianza">
            <td style="font-size: 12px;">{{instancia_poliza['Nro_Sol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['id_deu']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Fecha_Solicitud']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Fecha_Resolucion']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Poliza']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['CI']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Asegurado']}}</td>
            <td [classList]="setEdadClass(instancia_poliza)" style="font-size: 12px;">{{instancia_poliza['Edad']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Sol_MonedaSol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Sol_MontoSol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Estado']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Incluido']}}</td>
            <td [classList]="instancia_poliza['Deu_FactorK'] == 'danger' ? 'factor-k-danger' : instancia_poliza['Deu_FactorK'] == 'warning' ? 'factor-k-warning' : instancia_poliza['Deu_FactorK'] == 'good' ? 'factor-k-good' : 'factor-k-info'" style="font-size: 12px;">{{instancia_poliza['Deu_K']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Deu_MontoActAcumVerifSum']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Deu_MontoSolAcumVerifSum']}}</td>
            <td *ngIf="instancia_poliza.id_deu" [classList]="instancia_poliza['Deu_RespPositivas'] == '0' ? 'resp-info' : 'resp-danger'" style="font-size: 12px;">{{instancia_poliza['Deu_RespPositivas'] == 0 ? 'No' : 'SI'}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['usuario']}}</td>
            <td *ngIf="instancia_poliza.id_deu">
                <button type="button" [disabled]="btnEditar" pButton icon="ui-icon-{{getIconEditAdd(instancia_poliza)}}" title="{{getWordEditAdd(instancia_poliza)}}" (click)="editSolicitudDesgravamen(instancia_poliza.id_sol)"></button>
                <button type="button" pButton icon="ui-icon-print" title="Imprimir Documentos" *ngIf="showBtnImprimir(instancia_poliza)" (click)="solicitudService.ImprimirDocumentosCrediticios(instancia_poliza.id_deu,instancia_poliza.id_documento_version)"></button>
                <!--<button type="button" *ngIf="usuarioLogin.rol[0].id==='9'" pButton icon="ui-icon-playlist-add-check" title="Plan Pago" (click)="generarplanpago(instancia_poliza.id)"></button>!-->
                <!--<button type="button" *ngIf="usuarioLogin.rol[0].id==='9'" pButton icon="ui-icon-playlist-add-check" title="Plan Pago" (click)="GeneraAllPlanPagos(instancia_poliza.id)"></button>!-->
            </td>
        </tr>
        <tr *ngIf="!esAseguradora">
            <td *ngIf="instancia_poliza.id_deu" style="font-size: 12px;">{{instancia_poliza['Nro']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Nro_Sol']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['id_deu']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Poliza']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['CI']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Sucursal']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Agencia']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Tipo_Cobertura']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Tipo_Seguro']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Estado']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Incluido']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Fecha_Solicitud']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Fecha_Resolucion']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['Asegurado']}}</td>
            <td style="font-size: 12px;">{{instancia_poliza['usuario']}}</td>
            <td *ngIf="instancia_poliza.id_deu" >
                <button type="button" [disabled]="btnEditar" pButton icon="ui-icon-{{getIconEditAdd(instancia_poliza)}}" title="{{getWordEditAdd(instancia_poliza)}}" (click)="editSolicitudDesgravamen(instancia_poliza.id_sol)"></button>
                <button type="button" [disabled]="btnSoporte" pButton icon="ui-icon-supervisor-account" title="Soporte" (click)="soporteSolicitudDesgravamen(instancia_poliza.id_sol)"></button>
                <button type="button" pButton icon="ui-icon-print" title="Imprimir Documentos" *ngIf="showBtnImprimir(instancia_poliza)" (click)="solicitudService.ImprimirDocumentosCrediticios(instancia_poliza.id_deu,instancia_poliza.id_documento_version)"></button>
                <!--<button type="button" *ngIf="usuarioLogin.rol[0].id==='9'" pButton icon="ui-icon-playlist-add-check" title="Plan Pago" (click)="generarplanpago(instancia_poliza.id)"></button>!-->
                <!--<button type="button" *ngIf="usuarioLogin.rol[0].id==='9'" pButton icon="ui-icon-playlist-add-check" title="Plan Pago" (click)="GeneraAllPlanPagos(instancia_poliza.id)"></button>!-->
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<app-actualizar-solicitud #componenteActualizarSolicitud *ngIf="solicitudService.asegurado" (setAsegurado)="solicitudService.asegurado = $event"></app-actualizar-solicitud>
