.factor-imc-danger{
    color:red;
}
.factor-imc-warning{
    color:yellow;
}
.factor-imc-good{
    color:blue;
}
.factor-imc-info{
    color:deepskyblue;
}
.factor-k-danger{
    color:red;
}
.factor-k-warning{
    color:yellow;
}
.factor-k-good{
    color:blue;
}
.factor-k-info{
    color:blue;
}

.resp-warning {
    color: yellow;
}
.resp-danger {
    color: red;
}
.resp-info {
    color: blue;
}
.edad-warning {
    color: yellow;
}
.edad-danger {
    color: red;
}
.edad-info {
    color: blue;
}