<p-fieldset class="form-group" legend="Documentos Adjuntos" toggleable="true">
  <div class="ui-g">
      <div class="ui-g-12">
          <p-growl [value]="msgs"></p-growl>
          <p-fileUpload name="archivos" chooseLabel="Elegir Archivo" [uploadLabel]="'Subir Archivo'" cancelLabel="Cancelar"
                        [disabled]="!solicitudService.asegurado || !solicitudService.asegurado.id || ![solicitudService.estadoSolicitado.id].includes(solicitudService.asegurado.instancia_poliza.id_estado) || !solicitudService.hasRolCredito"
                        accept=".pdf" [url]="archivoService.rutaUpload+'?idInstanciaPoliza='+solicitudService.asegurado.instancia_poliza.id"
                        (onUpload)="onUpload($event)" multiple="multiple" maxFileSize="512000" >
            <span>Los archivos PDF deben tener maximo 500kb. (medio mega) de tamaño</span>
            <ng-template pTemplate="content">
              <table style="border: 0px; width:100%">
                <tr *ngFor="let file of uploadedFiles; let i = index">
                  <td *ngIf="file">{{i+1}}</td>
                  <td *ngIf="file"><img [src]="file.ext == 'pdf' ? origin+'/assets/pdf_logo.jpeg' : file.path" alt="" style="width: 25px; height: 25px"></td>
                  <td *ngIf="file">{{file.newName}}</td>
                  <td *ngIf="file">{{file.tipoDocumento}}</td>
                  <td *ngIf="file"><button pButton [disabled]="file.idTipoDocumento == solicitudService.documentoSolicitud.id_tipo_documento && solicitudService.asegurado.instancia_poliza.id_estado !=solicitudService.estadoSolicitado.id ||
                                                  file.idTipoDocumento == solicitudService.documentoCertificado.id_tipo_documento && solicitudService.asegurado.instancia_poliza.id_estado != solicitudService.estadoEmitido.id"
                              (click)="deleteFile(solicitudService.instanciaDocumentoSolicitud.id)" type="button" icon="ui-icon-delete"></button></td>
                  <td *ngIf="file"><button pButton (click)="solicitudService.ShowUploadedFile(file.newName)"
                              type="button" icon="ui-icon-print"></button></td>
                </tr>
              </table>
            </ng-template>
          </p-fileUpload>
      </div>
  </div>
</p-fieldset>

