<div class="card card-w-title">
  <h3>Ingrese el login de los usuarios</h3>
  <span class="ui-fluid">
      <p-autoComplete [(ngModel)]="usuarios" [suggestions]="filteredUsuariosMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
          [minLength]="1" placeholder="Usuario" field="usuario_login" [multiple]="true">
      </p-autoComplete>
  </span>
  <ul>
      <li class="clearfix" *ngFor="let c of usuarios ; let j = index">
        {{c.usuario_login}} - email({{c.usuario_email}})
        <span *ngIf="c.usuarioRoles.length>0">=> roles(</span>
        <span *ngFor="let r of c.usuarioRoles ; let i = index">{{r.descripcion}}<i class="material-icons" (click)="confimarEliminar(c.id,r.id,j,i)">delete</i><span *ngIf="i<c.usuarioRoles.length-1">,&nbsp;</span></span>
        <span *ngIf="c.usuarioRoles.length>0">)</span>
      </li>
  </ul>
</div>
 <div class="card card-w-title">
      <h1>Seleccione los roles a asignar</h1>
      <p-pickList [source]="roles" [target]="rolesSelect" sourceHeader="Lista de Roles" targetHeader="Seleccionados" [responsive]="true"
                  [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}" filterBy="descripcion"
                  dragdrop="true">
          <ng-template let-rol pTemplate="item">
              <div class="ui-helper-clearfix">
                  <!--<img src="assets/demo/images/car/{{car.brand}}.gif" style="display:inline-block;margin:2px 0 2px 2px"/>!-->
                  <div style="font-size:16px;float:right;margin:15px 5px 0 0">{{rol.descripcion}}</div>
              </div>
          </ng-template>
      </p-pickList>
  </div>

  <div class="card">
    <h1>Realizar Registro</h1>
    <p-confirmDialog header="Confirmation" icon="fa ui-icon-warning" [style]="{width: '425px'}"></p-confirmDialog>

    <button type="text" (click)="confirm()" pButton icon="pi pi-check" label="Registrar"></button>
</div>

<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>