<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Documento sin título</title>
   </head>
   <style type="text/css">
p {margin:0;
   line-height: 100%;
   }
</style>
   <body style="font-family:Arial Narrow;font-size:9pt;text-align: justify;">
      <div style="page-break-after: always;">
         <p style="font-family:Arial Narrow;font-size:11pt;line-height:1.5" align="center"><strong><u>CERTIFICADO DE COBERTURA INDIVIDUAL <br>
            SEGURO PARA TARJETAHABIENTES: TARJETAS DE CRÉDITO</u></strong><br>
         </p>
		 <p style="font-family:Arial Narrow;font-size:9pt;" align="center">Código de Registro 102-9109255-2017 09 205 4003<br />
			Certificado aprobado mediante la Resolución Administrativa APS/DS/Nro. 1286/2019 del 26 de Julio de 2019</p>
         <div>
            <p><strong>PÓLIZA N°: </strong>{{id_instancia_poliza}}<br>
               <strong>NUMERO DE CERTIFICADO:</strong> {{nro_certificado}}<br>
               <strong>CONTRATANTE: </strong>BANCO PYME ECOFUTURO S.A.<br>
               <strong>DIRECCIÓN: </strong>Avenida Sanchez  Bustamento No 302, Esquina Calle 9, Zona Calacoto<br>
               <strong>MONEDA: </strong>Bs. (Bolivianos)
            </p>
			<br />
            <b>COBERTURAS,  CLÁUSULAS Y LÍMITES</b>
            <ol style="padding-left: 13px;margin-top:0px">
               <li>Robo de la tarjeta como consecuencia de Asalto y/o secuestro del Asegurado y/o extravió de tarjeta: Hasta el límite de la tarjeta por evento y/o reclamo y hasta el monto de acuerdo a las condiciones particulares de la poliza por cada tarjeta y en el agregado anual. El riesgo cubierto se limita a las compras de productos y servicios (incluyendo compras fraudulentas y/o forzadas) realizadas dentro de los cinco (5) primeros días contados a partir de la fecha de la primera transacción fraudulenta.</li>
			   <li>Falsificación y/o adulteración física de la tarjeta, banda magnética, copia o clonación, contenido de tarjeta o contenido de la banda magnética incluyendo Clonación Skimming: hasta el monto determinado de acuerdo a las condiciones particulares de la poliza por cada tarjeta, por evento y/o reclamo y en el agregado anual.</li>
               <li>Secuestro Express: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza por tarjeta y en el agregado anual.</li>
               <li>Robo del dinero retirado de cajeros automáticos (ATMs) a consecuencia de asalto al tarjetahabiente producido inmediatamente después de efectuar  uno o más retiros de cajeros automáticos (ATMs), el lapso de esta cobertura se hace efectiva hasta los siguientes 60 minutos de haber realizado el o los retiros en cajeros automáticos (ATMs): hasta el monto determinado de acuerdo a las condiciones particulares de la póliza por cada tarjeta y en el agregado anual, y siempre que la denuncia a las autoridades policiales se realice de inmediato una vez sucedido el siniestro salvo casos de fuerza mayor.</li>
               <li>Compras fraudulentas por Internet: Cobertura para transacciones realizadas con tarjetas de débito a través de ventas y/o transacciones por internet, dentro de los cinco (5) primeros días contados a partir de la fecha del robo y/o extravío de la tarjeta. hasta el monto determinado de acuerdo a las condiciones particulares de la póliza en el agregado anual.</li>
               <li>Cobertura de Extensión de la garantía del fabricante: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza. Duplica el periodo original de la garantía oficial otorgada por el fabricante hasta un periodo no mayor de 12 meses desde la fecha de compra de los bienes adquiridos con la tarjeta bancaria como medio de pago. La protección empieza al día siguiente del vencimiento de la garantía original e incluye los costos de reparación o el reembolso del precio de compra del bien.</li>
               <li>Muerte accidental como consecuencia de asalto y/o secuestro del Asegurado el monto determinado de acuerdo a las condiciones particulares de la póliza: Esta cobertura está sujeta a la cobertura contra robo como consecuencia de asalto y/o secuestro del Asegurado.</li>
               <li>Invalidez total y/o parcial permanente: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza como consecuencia de asalto cubierto.</li>
               <li>Gastos por Asistencia médica a consecuencia de Asalto y/o Secuestro del Asegurado: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza por evento y hasta 2 eventos al año. Esta cobertura está sujeta a la cobertura 1) Robo, Asalto y/o Secuestro del Asegurado. Y la cobertura 3) Secuestro Express del Asegurado</li>
               <li>Traslado médico terrestre a consecuencia de  asalto y/o secuestro: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza por evento y hasta 2 eventos al año. Esta cobertura está sujeta a la cobertura 1) Robo, Asalto y/o Secuestro del Asegurado.</li>
               <li>Protección de compras con tarjetas de Débito: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza por evento y hasta 2 eventos al año. La Compañía Aseguradora indemnizará al Asegurado hasta el límite establecido, el robo con violencia en el interior de la residencia o domicilio habitual del Asegurado o los daños accidentales de los bienes adquiridos a través de las tarjetas de Débito o Crédito por un periodo no mayor de sesenta (60) días contados desde la fecha de compra del bien y siempre que exista la denuncia a las autoridades pertinentes inmediatamente después del hecho perpetrado en el domicilio del asegurado</li>
               <li>Reembolso de gastos por recuperación, la compañía indemnizará al asegurado por el reemplazo de los documentos robados o hurtados en uno o más eventos cubiertos por la póliza siempre que exista la denuncia a las autoridades pertinentes inmediatamente después del hecho sufrido por el asegurado: hasta el monto determinado de acuerdo a las condiciones particulares de la póliza por evento y/o reclamo y en el agregado anual por persona asegurada.</li>
            </ol>
      
            <p style="margin-bottom:5px;line-height: normal;">En todas las Coberturas no se  aplica límite Geográfico</p>
         </div>
         <p>
         <div style="border: 3px solid #555; padding:8px; border-radius: 20px;font-family:Arial Narrow;font-size:8pt;line-height:1">
            <strong>CONDICIÓN DE ADHESIÓN</strong><br>
            El Asegurado      se adhiere voluntariamente a los términos establecidos en el Seguro de      Protección para Tarjetahabientes contratado por el Banco PYME Ecofuturo      S.A. y declara conocer y estar de acuerdo con las condiciones de la póliza      de Seguro,<i><b> teniendo la  posibilidad de reemplazar la(s) cobertura(s) exigida(s) con otra póliza de similares características.</b></i>
         </div>
         &nbsp;
         <div>
            <p><strong>LUGAR Y FECHA: </strong>LA PAZ,{{fecha}}</p>
         </div>
         &nbsp;
         <div>
            <table border="0">
               <tr>
                  <td><strong>FIRMA DEL CLIENTE <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong></td>
                  <td><strong>ACLARACIÓN DE FIRMA </strong>{{nombres}}</td>
               </tr>
            </table>
         </div>
         </p>
      </div>
      <div>
         <strong>RESUMEN DE COBERTURAS DEFINICIONES</strong>
         <p><strong>Accidente: </strong>Se entiende por  Accidente, la acción repentina de un agente externo violento y visible,  independiente de la voluntad del Tarjetahabiente, que cause a éste lesiones  corporales / daños materiales que puedan determinarse de una manera cierta por  un médico / por un inspector de la Compañía.<br>
            <strong>Asegurado: </strong>Todos los Usuarios de Tarjetas de Crédito del Banco PYME Ecofuturo S.A., de  acuerdo a listados mensuales proporcionados por el Tomador.<br>
            <strong>Asalto: </strong>Es el delito caracterizado por la violencia contra el tarjetahabiente con  fines de apoderamiento ilegítimo.<br>
            <strong>Beneficiario: </strong>Se considerará  beneficiario al Banco/Cooperativa a título oneroso cuando el uso indebido de  Tarjetas de Crédito y/o retiros de dinero con dichas tarjetas produzcan un  saldo deudor del asegurado, por el cual el Banco/Cooperativa recibirá la  indemnización a su favor hasta el límite de dichos retiros o compras indebidas.<br>
            El Banco/Cooperativo no serán beneficiarios por las coberturas de muerte e  invalidez accidental Se considerará beneficiario al Asegurado titular de las  coberturas de Invalidez y cualquier daño económico ocasionado por las  coberturas otorgadas por esta póliza a través de Tarjetas de Crédito.<br>
            Se considerarán beneficiarios a los  herederos legales del asegurado titular en caso de la cobertura de muerte.<br>
            <strong>Invalidez Total y/o Parcial  Permanente por asalto: </strong>Por incapacidad total permanente y continua debida a  un asalto que impida al Tarjetahabiente efectuar cualquier trabajo o empleo que  le produzca remuneración o utilidad por un periodo de 12 meses consecutivos, o  si antes de que transcurriera este lapso de tiempo, los médicos habilitados por  la Autoridad de Fiscalización y Control de Pensiones y Seguros lo declaran  incapacitado total y permanentemente.<br>
            <strong>Muerte Accidental del  Tarjetahabiente por asalto: </strong>En virtud de esta cobertura la Compañía pagará  a los Beneficiarios el monto especificado en las Condiciones Particulares, una  vez recibidas y aprobadas las pruebas en cuanto a que el fallecimiento del  Tarjetahabiente se produjo durante la vigencia de esta cobertura, como  consecuencia directa o inmediata de un asalto cubierto por la misma. Si el  Tarjetahabiente falleciere como consecuencia de algún asalto cubierto, la  Compañía deducirá de la suma asegurada a pagar bajo esta cobertura, el importe  total que hubiere pagado al Tarjetahabiente por el mismo asalto bajo las  coberturas de Invalidez Total y/o Parcial permanente por Asalto.<br>
            <strong>Robo: </strong>Es el apoderamiento de bienes ajenos, con intención de lucrarse, empleando  para ello fuerza en las cosas o bien violencia o intimidación en el  tarjetahabiente.<br>
            <strong>Tarjetahabiente: </strong>Todos los Usuarios de Tarjetas de Débito y/o Crédito del Banco PYME  Ecofuturo S.A., de acuerdo a listados mensuales proporcionadas por el  Contratante.<br>
            <strong>Clonación y/o Skiming: </strong>Significa la  reproducción ilegal de la tarjeta bancaria del asegurado o de los códigos  electrónicos de la misma por parte de personas maliciosas para realizar de esta  forma, ya sean consumos  en establecimientos  comerciales y/o retiros de fondos de un cajero automático (ATM) mediante  utilización de dicha tarjeta y/o de los códigos electrónicos falsificados,  afectando de esa manera la cuenta del Asegurado. <strong>Secuestro: </strong>Privación de la libertad del asegurado por uso de la  fuerza ejercida sobre su integridad física por terceros identificables o no, y  sin relación sanguínea ni de parentesco hasta el 4to grado.<br>
            <strong>Uso Indebido: </strong>Uso de la  tarjeta por terceros sin autorización del asegurado titular de la misma.
         </p>
         <p><strong>EXCLUSIONES: </strong>No se consideran como accidentes cubiertos por esta  Póliza</p>
         <ol style="padding-left: 13px;margin-top:0px">
            <li>Uso fraudulento de la tarjeta por parte del tarjetahabiente.</li>
            <li>Fraudes,  estafas y/o cualquier delito que cuente con la participación de alguno de los  ascendientes, descendientes y/o parientes por afinidad del Asegurado hasta el  Segundo grado. Se encuentra expresamente excluido cualquier caso en el que una  tercera persona autorizada por el cliente o por el Asegurado para el uso de la  tarjeta haya tenido participación y/o beneficio directo o indirecto en el hecho  constitutivo del siniestro.</li>
            <li>Fraudes, estafas y/o cualquier otro delito que cuente con la  participación directa de empleados y/o personal dependiente del Asegurado y/o  del cliente.</li>
            <li>Se excluye todo tipo de daños patrimoniales atribuibles a errores  demostrados del emisor o del (de los) procesador(es) de las tarjetas.</li>
            <li>Responsabilidad Civil de cualquier tipo que afecte al Asegurado o al  Contratante.</li>
            <li>Transacciones realizadas a través de ventas por catálogo o por  teléfono.</li>
            <li>Perdidas ocurridas como consecuencia de transacciones  realizadas en lugares directamente afectados por Guerra, sea o no declarada,  operaciones o actividades bélicas, actos del enemigo extranjero, guerra civil,  revolución, sublevación, motín, actos de terrorismo y delitos contra la  seguridad del estado.</li>
            <li>Intervención directa o indirecta del Asegurado en actos criminales, que  le ocasionen el fallecimiento o Invalidez Total y Permanente.</li>
            <li>Guerra internacional o civil (declarada o no),  revolución, invasión, actos de enemigos extranjeros, hostilidades u operaciones  bélicas, insurrección, sublevación, rebelión, sedición, motín o hechos que las  leyes califican como delitos contra la seguridad del Estado.</li>
            <li>Fisión, fusión nuclear o contaminación radioactiva.</li>
         </ol>
         <p>&nbsp;</p>
         <p><strong>PROCEDIMIENTO EN CASO DE  SINIESTRO: </strong>En  caso que se produzca un evento que pudiera encontrar cobertura en la presente  Póliza, el Asegurado o sus Beneficiarios se obligan a:</p>
         <ol style="padding-left: 13px;margin-top:0px">
            
               <li>Denunciar el  hecho ante las autoridades correspondientes dentro de los tres días de tener  conocimiento del hecho, salvo fuerza mayor o impedimento justificado y  solicitar una copia de la misma para ser presentada ante la Compañía  Aseguradora para efectos de solicitar su indemnización.</li>
               <li>En caso de robo o pérdida de la tarjeta, se deberá solicitar la  anulación de la misma de acuerdo al procedimiento del Banco PYME Ecofuturo S.A.</li>
               <li>Dar aviso al  Banco PYME Ecofuturo S.A., mediante comunicación telefónica, escrita o  computacional y en ella se debe individualizar el nombre del titular de la  cuenta corriente y/o tarjeta bancaria afectada. Dicho aviso deberá darse dentro  de los 3 días siguientes de conocido el siniestro salvo fuerza mayor o  impedimento justificado.</li>
               <li>Para todas  las secciones de cobertura del artículo primero, el Tarjetahabiente y/o beneficiario,  según corresponda, está obligado a declarar todas las circunstancias relativas  al hecho que genera el siniestro. El asegurador puede liberarse de sus  obligaciones cuando el aseguradoo beneficiario, según el caso, omitan dar el  aviso dentro del plazo establecido en el anterior punto con el fin de impedir  la comprobación oportuna de las  circunstancias del siniestro o el de la magnitud de los dañosAdemás, el  Tarjetahabiente debe acreditar al Banco PYME Ecofuturo S.A. el no haber  participado en forma alguna en los hechos a través de una declaración,  manifestando en ella conocer que cualquier infracción a dicho deber puede  generar para él las responsabilidades civiles y penales de cada caso.</li>
               <li>Para todas  las secciones de cobertura del artículo primero, el Tarjetahabiente y/o  beneficiario debe cooperar con el Banco PYME Ecofuturo S.A. y con el liquidador  designado entregando toda la información y documentación solicitada por  cualquiera de ellos, en caso que sea necesario.</li>
        
         </ol>
         <strong>CONDICIONES ESPECIALES:</strong>
         <ol style="padding-left: 13px;margin-top:0px">
       
               <li>El Seguro  concluirá automáticamente por falta de pago de primas, después de transcurridos  treinta (30) días calendario desde la fecha de activación de la Póliza o la  fecha de fin de vigencia de la última liquidación abonada.</li>
               <li>&ldquo;Los cobros de prima se  efectuarán al vencimiento de cada mes, siendo responsabilidad del Asegurado  mantener el saldo subsiguiente para el cobro correspondiente&rdquo;</li>
       
         </ol>
         <p>&nbsp;</p>
         <strong>AVISO DE SINIESTRO:</strong>
         <ol style="padding-left: 13px;margin-top:0px">
               <li>El Contratante deberá dar  aviso del siniestro a la Compañía en el lapso de 30 (treinta) días una vez conocido  el hecho reportado al Contratante por el Tarjetahabiente.</li>
               <li>Para el Tarjetahabiente se  otorga 90 días calendario de plazo de aviso al contratante a partir de ocurrido  el hecho para las coberturas de clonación.</li>
               <li>Para el Tarjetahabiente se  otorga 10 días calendario de plazo de aviso al contratante de conocido el hecho  para las coberturas de robo, asalto, secuestro.</li>
               <li>El asegurador  puede liberarse de sus obligaciones cuando el asegurado o beneficiario, según  el caso, omitan dar el aviso dentro delos plazos señalado en el Certificado con  el fin de impedir la comprobación oportuna de las circunstancias del siniestro  o el de la magnitud de los daños.</li>
         </ol>
         <div style="border: 3px solid #555;border-radius: 20px;">
            <p style="margin:10px;"><b>NOTA IMPORTANTE:</b>
               Se acuerda que ni el Banco PYME Ecofuturo S.A. ni Seguros y Reaseguros Credinform International S.A. asumirán responsabilidad alguna por la guardia y conservación de su Certificado, que es de su exclusiva responsabilidad.<br>
               En caso de requerir el reemplazo de la tarjeta por renovación, extravío o destrucción, el tarjetahabiente deberá solicitar a la entidad financiera una tarjeta nueva, misma que deberá contar con su propio certificado de cobertura.<br>
               Se comunica a los clientes que para la emisión de las facturas por los Contratos de Seguro de Protección de Usuarios Financieros emitidos por Seguros y Reaseguros Credinform International S.A. se adopta la modalidad de Facturación Electrónica, de conformidad a la Resolución RND N° 10-0016-07 del Servicio de Impuestos Nacionales, debiendo el cliente proceder a descargar el archivo magnético que contendrá dichas Notas Fiscales del sitio web: http://apps.credinformsa.com:2590/, desde el día 10 de cada siguiente mes. Por tanto es única y total responsabilidad de los clientes recabar sus Notas Fiscales de los mencionados sitios en Internet.<br>
               El Banco PYME Ecofuturo S.A. y/o la Compañía Aseguradora Seguros y Reaseguros Credinform International S.A., no asumen responsabilidad alguna por la no descarga de las Facturas Fiscales, así como por su oportuna presentación al Servicios de Impuestos Nacionales, ni por la indebida utilización que el cliente haga de estas Notas Fiscales o el uso que hagan terceras personas, a las que el cliente haya permitido el acceso.
			</p>		
         </div>
		 <br />
		 <div style="border: 3px solid #555;border-radius: 20px;padding-left:50px;padding-right:50px">
            <p style="margin:10px;">
			<b>OBSERVACIONES AL CERTIFICADO</b>
				<ul>
				<li>
				<li>
				<li>
				</ul>
			</p>
         </div>
		 <br>
         <!--<table width="100%" cellspacing="0" cellpadding="0">
            <tr align="center">
               <td><img width="100" height="96" src="{{firma1}}"></td>
               <td><img width="100" height="81" src="{{firma2}}"></td>
            </tr>
            <tr align="center">
               <td>
                  <p>LITZY W. MARTINEZ MEDINA</p>
               </td>
               <td>
                  <p>ROMULO LANDIVAR H.</p>
               </td>
            </tr>
         </table>			   !-->
      </div>
   </body>
</html>