<table style="width: 100%;">
    <tbody>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><img width="50" height="50" src="{{logo_nacional_seguros}}"></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%;text-align: center"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15"><img width="50" height="25" src="{{logo_kerkus}}"></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><img width="50" height="15" src="{{logo_ecofuturo}}"></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>CERTIFICADO INDIVIDUAL DE COBERTURA</strong></span></div>
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>AL CONTRATO DE SEGURO DE PROTECCI&Oacute;N DE TARJETAS DE CR&Eacute;DITO ANUAL RENOVABLE</strong></span></div>
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>BANCO PYME ECOFUTURO S.A.</strong></span></div>
        </td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 51%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>C&Oacute;DIGO ASIGNADO 115-910991-2009 07 057 4007</strong></span></div>
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>APROBADO SEG&Uacute;N RESOLUCI&Oacute;N ADMINISTRATIVA APS/DS/No.139-2009 DE FECHA 25 DE AGOSTO DE 2009</strong></span></div>
        </td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 20.4811%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="3" style="width: 30.3617%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 12.2648%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>P&oacute;liza N&deg;</strong></span></td>
        <td style="width: 16.4759%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">{{numero}}</span></td>
        <td style="width: 4.0052%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 11.7387%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Certificado de Cobertura N&deg;</strong></span></td>
        <td style="width: 10.1355%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">{{nro_certificado}}</span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 20.4811%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="3" style="width: 30.3617%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="10"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">Se deja expresa constancia mediante el presente certificado, que la persona Asegurada abajo se&ntilde;alada ha sido admitida como integrante de la P&oacute;liza de Seguros contratada por el Tomador:</span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 20.4811%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="3" style="width: 30.3617%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>ASEGURADO:</strong> (Nombre y Apellidos)</span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">{{nombres}}</span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>N&Uacute;MERO DE TARJETA DE CR&Eacute;DITO&nbsp;</strong></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">{{nro_tarjeta}}</span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>(Sujeto a la Cobertura de Seguro):</strong></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>FECHA DE INICIO DE VIGENCIA:</strong></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">{{fecha}}</span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>TOMADOR:</strong></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">BANCO PYME ECOFUTURO S.A.</span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>BENEFICIARIOS:</strong></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%; border-bottom: 1px solid;">
            {{filas}}
        </td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 12.2648%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 16.4759%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 4.0052%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 11.7387%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="3" style="width: 24.6094%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>COBERTURAS Y CAPITALES ASEGURADOS:</strong></span></td>
        <td style="width: 16.4759%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 4.0052%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 11.7387%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="9" style="width: 82.5431%;">
            <ul style="list-style-type: square;">
                <li style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Protecci&oacute;n contra Robo, Clonaci&oacute;n o Extrav&iacute;o de la Tarjeta de Cr&eacute;dito:</strong></li>
            </ul>
        </td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;">
            <div style="text-align: justify; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Cobertura contra Robo, hurto o Extrav&iacute;o de la tarjeta</strong>, hasta US$ 20.000 para Tarjetas de Cr&eacute;dito como Beneficio M&aacute;ximo Anual. Sub l&iacute;mite de US$ 1,000 por evento.</span></div>
        </td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 7px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; line-height: 1.15; display: inline !important;"><strong>Incluye Robo del dinero retirado de cajeros autom&aacute;ticos (ATMS)</strong> a consecuencia del asalto al tarjeta habiente que se realice despu&eacute;s de retiros de ATMS. Hasta US$ 2,000 por evento y hasta US$ 10,000 por tarjeta y en el agregado anual. Cubre siempre y cuando la denuncia a la autoridad competente sea dentro de las siguientes 12 horas de sucedido el siniestro.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">Cobertura contra Clonaci&oacute;n (Skimming) hasta US$ 20.000 por cada Tarjeta de Cr&eacute;dito, por evento y en el agregado anual.</span></td>
    </tr>
    <tr>
        <td colspan="9" style="width: 99.0956%;">
            <ul style="list-style-type: square;">
                <li style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Protecci&oacute;n Personal al Asegurado:</strong></li>
            </ul>
        </td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>- Cobertura contra robo como consecuencia de asalto y/o secuestro,</strong> US$ 1.000 y US$ 5.000 en el agregado anual.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>- Cobertura de traslado m&eacute;dico terrestre a consecuencia del asalto y/o secuestro. (s&oacute;lo en Bolivia)</strong>, hasta US$ 1.000 hasta 2 eventos al a&ntilde;o.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>- Cobertura de Gastos por asistencia m&eacute;dica a consecuencia del asalto y/o secuestro. (S&oacute;lo en Bolivia)</strong>, hasta US$ 1.500, hasta 2 eventos al a&ntilde;o.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>- Cobertura de muerte accidental asociada al asalto y/o secuestro</strong>, hasta US$ 10.000.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>- Cobertura de Gastos por recuperaci&oacute;n de documentos (reembolso)</strong>, hasta US$ 250</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;">
            <ul style="list-style-type: square;">
                <li style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Protecci&oacute;n en Compras:</strong></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Cobertura contra Robo con violencia en la vivienda habitual o da&ntilde;os accidentales de los bienes adquiridos</strong>, Hasta US$ 2.000 por evento, hasta 2 eventos al a&ntilde;o.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Cobertura de extensi&oacute;n de garant&iacute;a del fabricante</strong>, Hasta US$ 2.000 por evento, hasta 2 eventos al a&ntilde;o.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Cobertura para compras fraudulentas por internet, hasta US$ 1.000</strong> por evento, y en el agregado anual.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">PRIMA TOTAL MENSUAL:</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">Las Primas ser&aacute;n cargadas cada mes vencido a la (s) cuenta (s) asociada (s) de la tarjeta de cr&eacute;dito registrada</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">Prima Total Mensual a facturar por el Asegurador: BOB 12.- (por tarjeta)</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">En caso de que el &ldquo;Tomador&rdquo;, como administrador del colectivo, cargase primas superiores a la responsabilidad m&aacute;xima del &ldquo;Asegurador&rdquo;, la responsabilidad del &ldquo;Tomador&rdquo; y el &ldquo;Asegurador&rdquo; frente al asegurado y/o sus representantes se limitar&aacute;n a la devoluci&oacute;n de las primas cobradas y pagadas en exceso.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">CONTRATO PRINCIPAL (P&Oacute;LIZA MATRIZ)</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">&ldquo;NACIONAL SEGUROS PATRIMONIALES Y FIANZAS S.A.&rdquo;, Compa&ntilde;&iacute;a de Seguros y Reaseguros asegura al TARJETAHABIENTE, seg&uacute;n las condiciones descritas en el Contrato del Seguro de Protecci&oacute;n de Tarjetas de Cr&eacute;dito; celebrado entre &ldquo;NACIONAL SEGUROS PATRIMONIALES Y FIANZAS S.A.&rdquo; y el Tomador BANCO PYME ECOFUTURO S.A., condiciones que forman parte integrante del seguro aqu&iacute; concedido.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">El presente Certificado de Seguro tendr&aacute; valor siempre y cuando la p&oacute;liza est&eacute; vigente y sus primas se encuentren pagadas de acuerdo a las Condiciones de la p&oacute;liza.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">ADHESI&Oacute;N VOLUNTARIA DEL ASEGURADO</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">El Asegurado al momento de autorizar el cargo mensual de la prima a su (s) cuenta (s) asociada a la tarjeta con el Tomador declara su consentimiento VOLUNTARIO para ser asegurado en la p&oacute;liza arriba indicada y declara conocer y estar de acuerdo con las condiciones del contrato de seguros.</span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.0202%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="5" style="width: 50.8428%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>&quot;NACIONAL SEGUROS PATRIMONIALES Y FIANZAS S.A.&quot;</strong></span></div>
        </td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">
            <img width="70" height="70" src="{{codigo_qr}}">
        </span></td>
        <td colspan="3" style="width: 26.1072%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br><br></span>
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">FIRMA DEL ASEGURADO</span></div>
        </td>
        <td colspan="3" style="width: 30.3618%;text-align: center"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><img width="50" height="50" src="{{firma_1}}"><br>Maria Elena Ar&eacute;valo Guzman Gerente Nacional de Banca Seguros y Masivos</span></td>
        <td colspan="2" style="width: 27.261%;text-align: center"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><img width="70" height="70" src="{{firma_2}}"><br>Jose Carlos Mendez Roca Gerente Nacional T&eacute;cnico y de Reaseguros</span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="6" style="width: 56.5982%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>EN CASO DE SINIESTRO S&Iacute;RVASE CONTACTARSE DIRECTAMENTE CONLA COMPA&Ntilde;&Iacute;A AL 800 10 9911 O</strong></span></div>
        </td>
        <td colspan="2" style="width: 27.261%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="6" style="width: 56.5982%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; line-height: 1.15;"><strong>KERKUS CORREDORES DE SEGUROS S.A. AL TELEFONO: 297-4000</strong></span></div>
        </td>
        <td colspan="2" style="width: 27.261%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="6" style="width: 56.5982%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>LA PAZ, CALACOTO&nbsp;</strong>TORRES ECOFUTURO - TORRE 4, PISO 8 AV. SANCHEZ BUSTAMANTE N&deg; 302 ESQ. CALLE 9 <br><br></span></div>
        </td>
        <td colspan="2" style="width: 27.261%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;border-bottom:1px solid;"></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br><br> HE RECIBIDO MI CERTIFICADO INDIVIDUAL DE COBERTURA Y AFILIACION AL CONTRATO DE SEGUROS DE PROTECCION DE TARJETAS DE CR&Eacute;DITO ANUAL RENOVABLE, CON CUYOS TERMINOS Y CONDICIONES ESTOY</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">DE ACUERDO Y DECLAR CONOCER.</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">EL CLIENTE AUTORIZA A LA COMPA&Ntilde;&Igrave;A AL REPORTE DE LOS DATOS DEL PRESENTE DOCUMENTO A LA CENTRAL DE RIESGO DEL MERCADO DE SEGUROS A CORDE A LAS NORMATIVAS REGLAMENTARIAS EN VIGENCIA</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">EL ASEGURADO AUTORIZA EL CARGO DE LA PRIMA A SU (S) CUENTA (S) ASOCIADAS A LA TARJETA ASEGURADA</span></td>
    </tr>
    <tr>
        <td colspan="10" style="width: 100%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>P&oacute;liza N&ordm;</strong></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 16.4759%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 17.4419%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>Certificado de Cobertura N&ordm;</strong></span></td>
        <td colspan="2" style="width: 19.7674%;border-bottom:1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 9.9612%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>NOMBRE:</strong></span></td>
        <td colspan="2" style="width: 22.1021%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 4.0052%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>FECHA AFILIACION</strong></span></td>
        <td style="width: 11.6429%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 9.9612%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="2" style="width: 18.854%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>CODIGO CLIENTE:</strong></span></td>
        <td colspan="2" style="width: 22.1021%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 4.0052%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 11.7387%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td colspan="3" style="width: 24.6094%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>N&Uacute;MERO DE TARJETA DE CR&Eacute;DITO:</strong></span></td>
        <td colspan="2" style="width: 20.481%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>FIRMA ASEGURADO</strong></span></td>
        <td style="width: 11.6429%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 9.9612%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><strong>FECHA:</strong></span></td>
        <td style="width: 17.4825%; border-bottom: 1px solid;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    <tr>
        <td style="width: 6.6264%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 12.2648%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 5.7463%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 16.4759%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 4.0052%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td colspan="2" style="width: 18.7338%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 11.7387%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 10.1355%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
        <td style="width: 17.4825%;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></td>
    </tr>
    </tbody>
</table>
<p style="line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;"><br></span></p>
<table style="width: 100%; line-height: 1.15;">
    <tbody>
    <tr>
        <td colspan="3" style="width: 100%;">
            <div style="text-align: center; line-height: 1.15;"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 7px; line-height: 1.15;">La adhesi&oacute;n a esta p&oacute;liza es de car&aacute;cter voluntario y puede ser reemplazada por otra de similares caracter&iacute;sticas <br><strong>REGLAS DEL CONTRATO DE SEGURO DE PROTECCI&Oacute;N DE TARJETAS DE CR&Eacute;DITO ANUAL RENOVABLE</strong></span></div>
        </td>
    </tr>
    <tr>
        <td style="width: 49.7618%; text-align: justify"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 6.7px; line-height: 1.15"><strong><u>I.DEFINICIONES&nbsp;</u></strong><br>1.01ASEGURADOR: NACIONAL SEGUROS PATRIMONIALES Y FIANZAS S.A.<br>1.02TOMADOR DEL SEGURO: BANCO PYME ECOFUTURO S.A.<br>1.03ASEGURADOS: Tarjetahabientes del &ldquo;tomador&rdquo;, que figuren en las planillas mensuales elaboradas por el tomador.<br>1.04BENEFICIARIOS: Tarjetahabientes y herederos legales del tarjetahabiente asegurado en los casos que se aplique la cobertura de vida asociada al asalto y/o secuestro.<br>1.05COBERTURA CONTRA ROBO, HURTO O EXTRAVIO: Robo, hurto o extrav&iacute;o significa la apropiaci&oacute;n indebida o, el robo de la tarjeta de cr&eacute;dito asegurada contra la voluntad o por inadvertencia de su poseedor y posterior retiro ilegal o fraudulento mediante dicha tarjeta de los fondos de la cuenta del cliente o, el robo de la tarjeta de cr&eacute;dito asegurada contra la voluntad o por inadvertencia de su poseedor que posteriormente es utilizada por la persona o personas que se apropiaron indebidamente de la tarjeta de cr&eacute;dito del Asegurado efectuando de esta forma consumos fraudulentos, sin que para dichos fines haya existido amenaza, secuestro, extorsi&oacute;n o violencia en contra de la persona del Asegurado. La cobertura funcionara dentro o fuera del territorio boliviano<br>1.06 COBERTURA CONTRA CLONACI&Oacute;N &ldquo;SKIMMING&rdquo;: Clonaci&oacute;n significa la reproducci&oacute;n ilegal de la tarjeta de cr&eacute;dito del Asegurado o de los c&oacute;digos electr&oacute;nicos de la misma por parte de personas maliciosas para realizar de esta forma, ya sean consumos y/o retiros de fondos de un cajero autom&aacute;tico (ATM) mediante la utilizaci&oacute;n de dicha tarjeta y/o de los c&oacute;digos electr&oacute;nicos falsificados, afectando de esta manera, la cuenta del Asegurado. Sin que para dichos fines haya existido amenaza, secuestro, extorsi&oacute;n o violencia en contra de la persona del Asegurado. La cobertura funcionara dentro o fuera del territorio boliviano.<br>1.07 COBERTURA CONTRA ROBO COMO CONSECUENCIA DE ASALTO Y/O SECUESTRO: Robo como consecuencia de Asalto y/o secuestro, es el acto de apoderamiento intencional e ilegal, cometido por una persona o personas en contra del asegurado incluyendo la eventualidad de secuestro. Los actos mencionados deben involucrar ya sea el uso de armas peligrosas y/o amenazas de infligir lesi&oacute;n corporal al Asegurado. El robo o secuestro incluye sin limitaci&oacute;n, el robo calificado con violencia o el robo con retenci&oacute;n del Asegurado con el prop&oacute;sito de robarle ya sea la tarjeta de cr&eacute;dito, el dinero retirado de un cajero autom&aacute;tico o a obligarle a divulgar sus claves y/o pines para efectuar retiros ilegales de su cuenta o el robo por medio de hechos violentos como robo con fractura o robo por escalamiento del domicilio o local donde se encuentre el Asegurado y como consecuencia de dichos actos, la tarjeta de cr&eacute;dito del Asegurado haya sido objeto de robo y de retiros fraudulentos de su cuenta. La cobertura funcionara dentro o fuera del territorio boliviano.<br>1.08COBERTURA DE TRASLADO MEDICO TERRESTRE A CONSECUENCIA DE ASALTO Y/O SECUESTRO: Es el gasto que se acredite haber erogado dentro de Territorio Boliviano por, la contrataci&oacute;n necesaria de una ambulancia o cualquier otro medio de trasporte terrestre con acompa&ntilde;amiento de personal especializado en primeros auxilios, con el fin de trasladar al Asegurado herido a un centro m&eacute;dico asistencial a causa de las lesiones infligidas por el Asalto y/o Secuestro cubierto por esta p&oacute;liza. Se aclara que la cobertura funcionara mediante reembolso, contra entrega de Factura.<br>Queda entendido y convenido que esta extensi&oacute;n no ampara en ning&uacute;n caso:<br>a)Gastos de traslado m&eacute;dico fuera de Territorio Boliviano.<br>b)Gastos de traslado mediante ambulancia a&eacute;rea o cualquier otro medio que no sea terrestre.<br>c)Traslados m&eacute;dicos por dolencias que no se atribuyan a lesiones infligidas al Asegurado por parte de los delincuentes.<br>d)Gastos que excedan el l&iacute;mite de responsabilidad del Asegurador, establecido en las Condiciones Particulares de esta p&oacute;liza para esta cobertura.<br>1.09COBERTURA DE GASTOS POR ASISTENCIA M&Eacute;DICA A CONSECUENCIA DE ASALTO Y/O SECUESTRO: Son los gastos m&eacute;dicos erogados dentro de Territorio Boliviano y facturados por el centro m&eacute;dico asistencial y por los profesionales m&eacute;dicos que dieron asistencia al Asegurado herido, por las lesiones sufridas como consecuencia del Asalto y/o Secuestro cubierto por esta p&oacute;liza. Se aclara que la cobertura funcionara mediante reembolso contra entrega de factura y sobre la base de los aranceles m&eacute;dicos bolivianos.<br>Queda entendido y convenido que esta extensi&oacute;n no ampara en ning&uacute;n caso:<br>a)Gastos por la asistencia recibida por el Asegurado fuera de Territorio Boliviano.<br>b)Gastos m&eacute;dicos por dolencias que no se atribuyan a lesiones infligidas al Asegurado por parte de los delincuentes.<br>c)Gastos m&eacute;dicos que excedan el l&iacute;mite de responsabilidad del Asegurador, establecido en las Condiciones Particulares de esta p&oacute;liza para esta cobertura.<br>1.10 COBERTURA DE MUERTE ACCIDENTAL ASOCIADA AL ASALTO Y/O SECUESTRO: Es el beneficio que el Asegurador garantiza indemnizar hasta el l&iacute;mite de responsabilidad establecido en las Condiciones Particulares a favor de los herederos legales, en caso de muerte del Asegurado cuya causa est&eacute; debidamente certificada por las Autoridades Competentes y por los Profesionales M&eacute;dicos como causa asociada y/o vinculada a las lesiones infligidas por los delincuentes en el Asalto y/o Secuestro cubierto por esta p&oacute;liza. Se aclara que la cobertura funcionara dentro o fuera del territorio boliviano.<br>Queda entendido y convenido que esta extensi&oacute;n no ampara en ning&uacute;n caso:<br>a)Gastos de traslado m&eacute;dico fuera de Territorio Boliviano.<br>b)Gastos de traslado mediante ambulancia a&eacute;rea o cualquier otro medio que no sea terrestre.<br>c)Traslados m&eacute;dicos por dolencias que no se atribuyan a lesiones infligidas al Asegurado por parte de los delincuentes.<br>d)Gastos que excedan el l&iacute;mite de responsabilidad del Asegurador, establecido en las Condiciones Particulares de esta p&oacute;liza para esta cobertura<br>1.11 COBERTURA DE GASTOS POR RECUPERACI&Oacute;N DE DOCUMENTOS: Cubre los gastos que el Asegurado acredite haber realizado en Territorio Boliviano, con el prop&oacute;sito de obtener la reposici&oacute;n y/o duplicados de documentos personales y otras tarjetas de cr&eacute;dito que hayan sido objeto de robo o sustracci&oacute;n en el asalto y/o secuestro cubierto por la p&oacute;liza ya sea que el evento haya ocurrido dentro o fuera de territorio boliviano. La cobertura funcionara mediante reembolso contra entrega de documentos que sustenten los cobros realizados por los entes emisores respectivos y dem&aacute;s comprobantes de gastos relacionados directamente con la reposici&oacute;n de dichos documentos; siempre que los mismos se especifiquen en el Atestado o Manifiesto Policial emitido por las autoridades competentes.<br>1.12COBERTURA CONTRA ROBO CON VIOLENCIA EN LA VIVIENDA HABITUAL O DA&Ntilde;OS ACCIDENTALES DE LOS BIENES: Cubre el robo con violencia o los da&ntilde;os que por accidente se causen a los bienes que fueron adquiridos con la tarjeta por un periodo no mayor a lo establecido en el anverso del presente certificado.<br>1.13COBERTURA DE EXTENSION DE GARANTIA DEL FABRICANTE: Duplica o extiende la garant&iacute;a del art&iacute;culo comprado con la tarjeta de cr&eacute;dito por un periodo no mayor a lo establecido en el anverso del presente certificado. Excepto costos de reparaci&oacute;n o el reembolso del precio de compra del bien, ni el fallo mec&aacute;nico o el&eacute;ctrico producido por causa accidental y originada por el propio bien asegurado, en caso de siniestro el cliente debe presentar la garant&iacute;a extendida por el fabricante.<br><u><strong>II.CONDICIONES DE ADHESI&Oacute;N DE LOS ASEGURADOS&nbsp;</strong></u><br>2.01 Podr&aacute;n pertenecer al colectivo asegurado todos los Tarjetahabientes Titulares y Adicionales que re&uacute;nan los requisitos o condiciones de adhesi&oacute;n en la fecha de efecto o con posterioridad y figuren en la &uacute;ltima planilla de declaraci&oacute;n de asegurados elaborada para tal efecto por el &ldquo;Tomador&rdquo; y que forma parte de la p&oacute;liza.<br>La cobertura para cada asegurado ser&aacute; aplicable de la siguiente forma:<br>- Nuevos tarjeta-habientes: desde la fecha de otorgamiento de la l&iacute;nea de cr&eacute;dito por parte de tomador.<br>- Las l&iacute;neas de cr&eacute;dito correspondiente a operaciones otorgadas por el tomador antes del inicio de la vigencia de la p&oacute;liza; quedan aseguradas sin ning&uacute;n tipo de limitaci&oacute;n, desde el inicio de la vigencia de la presente p&oacute;liza y/o sus renovaciones.<br>En cada vencimiento de la p&oacute;liza, este seguro ser&aacute; renovado autom&aacute;ticamente por un nuevo periodo anual. En este periodo el asegurado se sujetar&aacute; a los t&eacute;rminos y condiciones de la vigencia renovada de la p&oacute;liza por una nueva anualidad.<br><strong><u>III.P&Eacute;RDIDA DE LA CONDICI&Oacute;N DE PERTENENCIA AL GRUPO&nbsp;</u></strong><br>3.01 Los beneficios otorgados por este seguro cesaran autom&aacute;ticamente sin derecho a devoluci&oacute;n de primas en los siguientes casos:<br>-Por cancelaci&oacute;n de la tarjeta de cr&eacute;dito<br>-Por la expiraci&oacute;n sin renovaci&oacute;n de la tarjeta de cr&eacute;dito<br>-Por el incumplimiento o mora en el pago de las primas seg&uacute;n reglamento interno del Tomador<br>-En la fecha de vencimiento de las p&oacute;lizas, salvo en los siguientes casos:<br>a)Los casos en los que las eventualidades previstas y cubiertas por esta p&oacute;liza hayan ocurrido dentro de la vigencia de la p&oacute;liza y el tomador haya cumplido con la condici&oacute;n &ldquo;plazo de aviso&rdquo; inserta en las condiciones particulares.<br>b)La p&oacute;liza haya sido renovada por el tomador a su vencimiento (sin perjuicio de que las condiciones puedan modificarse en cada renovaci&oacute;n).<br><strong>IV.LA P&Oacute;LIZA&nbsp;</strong><br>4.01 No se pagar&aacute; ninguna indemnizaci&oacute;n conforme a estas reglas si la suma asegurada correspondiente no resultara pagadera con arreglo a las condiciones de la p&oacute;liza. Cualquier miembro puede examinar la p&oacute;liza si lo cree oportuno, previa coordinaci&oacute;n con el Tomador<br><strong>V.MODIFICACI&Oacute;N Y/O TERMINACI&Oacute;N:&nbsp;</strong><br>5.01Las condiciones estipuladas en el presente contrato, permanecer&aacute;n inalterables durante el periodo de vigencia de la p&oacute;liza, salvo que el &ldquo;Tomador&rdquo; y &ldquo;Asegurador&rdquo;, puedan convenir modificaciones mediante anexo.<br>5.02El &ldquo;Tomador&rdquo; y &ldquo;Asegurador&rdquo; se reservan el derecho de finalizar el contrato.</span></td>
        <td style="width: 50%; line-height: 1.15; text-align: justify"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 6.7px; line-height: 1.15; text-align: justify"><br><strong>VI.RESTRICCIONES Y EXCLUSIONES:</strong><br>No obstante, las restricciones y exclusiones estipuladas en las condiciones generales de la p&oacute;liza, se enumeran a continuaci&oacute;n con car&aacute;cter enunciativo y no limitativo las siguientes exclusiones generales:<br>La presente p&oacute;liza no cubre ninguna p&eacute;rdida, da&ntilde;o o costo resultante de, o que surja de:<br>6.01 Que el Asegurado, su c&oacute;nyuge o cualquier pariente del Asegurado, dentro del cuarto grado de consanguinidad o segundo de afinidad sea autor o c&oacute;mplice del Robo, Asalto, Secuestro o Clonaci&oacute;n.<br>6.02 Que el Robo, Asalto o Atraco sea cometido durante cualquiera de las siguientes situaciones:<br>Guerra internacional o civil, actos perpetrados por fuerzas extranjeras, hostilidades u operaciones b&eacute;licas (sea que se haya declarado la guerra o no), rebeli&oacute;n, sedici&oacute;n o usurpaci&oacute;n de poder.<br>6.03 Cualquier p&eacute;rdida consecuencial, incluyendo, pero no limit&aacute;ndose a: Interrupci&oacute;n de Negocios, Demora, P&eacute;rdida de Mercado,<br>Lucro Cesante, Retraso o cualquier otra p&eacute;rdida similar.<br>6.04 La p&eacute;rdida de dinero efectivo ocurrida a un usuario no autorizado de la tarjeta asegurada.<br>6.05 La p&eacute;rdida de cualquier otro instrumento de comercio negociable, incluyendo cheques y cheques viajeros; como tampoco la<br>p&eacute;rdida de cualquier otra cantidad de dinero que estuviere en posesi&oacute;n del asegurado al momento de ocurrir el delito y que<br>no sea la registrada como retirada del cajero autom&aacute;tico por el asegurado.<br>6.06 Las p&eacute;rdidas resultantes del uso de una tarjeta bancaria con la intenci&oacute;n de defraudar al titular, por parte de una persona autorizada por &eacute;ste.<br>6.07 Transacciones realizadas a trav&eacute;s de ventas por cat&aacute;logo, por tel&eacute;fono o por cualquier medio de transmisi&oacute;n de datos en que no exista la firma manuscrita del titular o adicional.<br>6.08 Incumplimiento de sus obligaciones por parte del asegurado o administrador o usuario.<br>6.09 Uso fraudulento de la tarjeta bancaria por parte del usuario titular o adicional de la respectiva tarjeta<br><strong><u>VII.PROCEDIMIENTO EN CASO DE SINIESTROS&nbsp;</u></strong><br>El Asegurado o beneficiario y el Tomador seg&uacute;n el caso, facilitar&aacute;n en caso de siniestro, los siguientes informes y evidencias:<br>7.01CASOS DE ROBO, HURTO O EXTRAV&Iacute;O DE LA TARJETA DE CR&Eacute;DITO:<br>(a)Carta de reclamo al seguro emitida por el Tomador con confirmaci&oacute;n y cuantificaci&oacute;n de p&eacute;rdidas en la cuenta del Asegurado.<br>(b)Copia de la carta del Asegurado al Tomador por p&eacute;rdidas detectadas e identificadas en su Estado de Cuentas y/o por denuncia de robo y/o extrav&iacute;o de la Tarjeta de Cr&eacute;dito siempre que estos hechos le hayan originado p&eacute;rdida en su cuenta y/o en defecto de la carta de reclamo a la Entidad Financiera copia del &ldquo;Formulario de Reclamo del Tarjetahabiente&rdquo; debidamente llenado en formato que para tal efecto es proporcionado por la Entidad Financiera.<br>(c)Copia de la denuncia hecha a la polic&iacute;a por el Tarjetahabiente afectado, con el relato de las circunstancias del robo y/o hurto y/o extrav&iacute;o de la Tarjeta de Cr&eacute;dito y/o seg&uacute;n sea el caso, carta del asegurado con el relato detallado de los hechos que dieron origen a sus p&eacute;rdidas.<br>(d)Copia del Estado de Cuentas en el que aparezcan las transacciones fraudulentas.<br>(e)Copia del carnet de identidad del tarjetahabiente.<br>(f)Copia del pasaporte completo del tarjetahabiente en caso de que el robo y/o hurto y/o extrav&iacute;o se hubieren producido fuera del pa&iacute;s.<br>(g)Informe sobre las transacciones reclamadas emitida por la Administradora de Tarjetas de Cr&eacute;dito.<br>(h)Copia del Contrato de Caja de ahorro suscrito entre el Tarjetahabiente y la Entidad Financiera o impresi&oacute;n del registro del sistema<br>7.02CASOS DE CLONACI&Oacute;N/ COMPRAS FRAUDULENTAS POR INTERNET: Adem&aacute;s de lo se&ntilde;alado en el punto 7.01:<br>(a)Copia de la tarjeta de cr&eacute;dito afectada (anverso y reverso).<br>(b)Informe y dictamen sobre clonaci&oacute;n y/o Skimming emitido por la Administradora de Tarjetas de Cr&eacute;dito y copia de los vouchers evaluados.<br>7.03CASOS DE ROBO POR ASALTO Y/O SECUESTRO DEL ASEGURADO: Adem&aacute;s de lo se&ntilde;alada en el punto 7.01:<br>(a)Copia de la carta del Asegurado o de sus familiares o representantes legales (seg&uacute;n sea el caso) a la Entidad Financiera con el relato de los hechos y reclamo de p&eacute;rdidas en la cuenta del Asegurado como consecuencia del robo por Asalto y/o Secuestro cometidos al Asegurado.<br>(b)Copia del Informe Policial y/o Manifiesto y/o Atestado Policial, emitido por las autoridades como resultado de las investigaciones.<br>7.04 En caso de aplicaci&oacute;n de las coberturas adicionales asociadas al Asalto y/o Secuestro, la Aseguradora requerir&aacute; adicionalmente:<br>(a)Original del Certificado M&eacute;dico sobre lesiones del Asegurado.<br>(b)Copia de las facturas y/o comprobantes que acrediten los gastos incurridos por concepto de traslado m&eacute;dico terrestre, gastos por asistencia m&eacute;dica al Asegurado, gastos por recuperaci&oacute;n de documentos.<br>(c)En caso de Muerte del Asegurado: Informe del M&eacute;dico Forense, Original del Certificado de Defunci&oacute;n, Original de la Declaratoria de Herederos, Historia Cl&iacute;nica del Asegurado (siempre que sea aplicable al caso). Si el fallecimiento ocurriese fuera del pa&iacute;s, el Asegurador requerir&aacute; que los documentos de acreditaci&oacute;n de muerte del Asegurado cuenten con las legalizaciones correspondientes en Bolivia.<br>7.05CASO DE PROTECCION DE COMPRA ROBO CON VIOLENCIA O DA&Ntilde;OS ACCIDENTALES<br>a)Carta de reclamo al Asegurador emitida por el Tomador con la confirmaci&oacute;n y cuantificaci&oacute;n del robo o da&ntilde;os sufrido por el Asegurado.<br>b)Copia de la carta del Asegurado al Tomador denunciando el robo o da&ntilde;os de los bienes adquiridos con su tarjeta de cr&eacute;dito.<br>c)En el caso de robo, copia de la denuncia hecha a la polic&iacute;a por el Tarjetahabiente afectado, con el relato de las circunstancias del robo y el detalle de los bienes robados adquiridos con su tarjeta.<br>d)Copia del carnet de identidad del tarjetahabiente.<br>e)Copia del voucher y Factura de compra de los bienes adquiridos.<br>7.06 CASO DE EXTENSI&Oacute;N DE GARANTIA DEL FABRICANTE<br>a)Carta de reclamo al Asegurador emitida por el Tomador solicitando se aplique la cobertura de extensi&oacute;n de garant&iacute;a del fabricante.<br>b)Copia de la carta del Asegurado al Tomador solicitando se extienda la Garant&iacute;a del Fabricante del bien adquirido con su tarjeta de cr&eacute;dito.<br>c)Copia del carnet de identidad del tarjetahabiente.<br>d)Copia del voucher y Factura de compra del bien adquirido.<br>e)Copia de la garant&iacute;a del Fabricante.<br>El asegurado o beneficiario, tienen la obligaci&oacute;n de facilitar a requerimiento de la compa&ntilde;&iacute;a, todas las informaciones que tengan sobre los hechos, circunstancias del siniestro, suministrar las evidencias conducentes a la determinaci&oacute;n de la causa, identidad de las personas o intereses asegurados y cuant&iacute;a de los da&ntilde;os, as&iacute; como permitir las indagaciones pertinentes necesarias para esclarecer el siniestro.<br>El Asegurador debe pronunciarse sobre el derecho del Asegurado o Beneficiario dentro de los treinta (30) d&iacute;as de recibidas la informaci&oacute;n y evidencia de acuerdo a lo estipulado. Se dejar&aacute; constancia escrita de la fecha de recepci&oacute;n de la informaci&oacute;n y evidencias a efecto del c&oacute;mputo del plazo. El plazo de treinta (30) d&iacute;as mencionado, fenece con la aceptaci&oacute;n o rechazo del siniestro o con la solicitud del Asegurador al Asegurado que se complementen los requerimientos contemplados y no vuelve a correr hasta que el Asegurado haya cumplido con tales requerimientos, la solicitud de complementos , por parte del asegurador no podr&aacute; extenderse por m&aacute;s de dos veces a partir de la primera solicitud de informes y evidencias, debiendo pronunciarse dentro el plazo establecido y de manera definitiva sobre el derecho del asegurado, despu&eacute;s de la entrega por parte del asegurado del &uacute;ltimo requerimiento de informaci&oacute;n. El silencio del asegurador, vencido el t&eacute;rmino para pronunciarse o vencidas las solicitudes de complementaci&oacute;n, importa la aceptaci&oacute;n del reclamo.<br><strong><u>VIII.AVISO DE SINIESTRO&nbsp;</u></strong><br>(En Concordancia con los Art&iacute;culo 1028 y 1030 del C&oacute;digo de Comercio) El tomador o el asegurado tienen la obligaci&oacute;n de denunciar cualquier evento que pudiera afectar a la cobertura de esta p&oacute;liza inmediatamente y por escrito a la Compa&ntilde;&iacute;a y a m&aacute;s tardar dentro de los tres d&iacute;as de tener conocimiento del hecho, salvo fuerza mayor o impedimento justificado.<br><strong><u>IX. GARANT&Iacute;A&nbsp;</u></strong><br>El tarjetahabiente asume la responsabilidad por el uso del c&oacute;digo de identificaci&oacute;n personal (PIN) y las claves o contrase&ntilde;as confidenciales que le facilite el Banco, que deben ser de uso exclusivo del tarjetahabiente. Estas no deben portarse ni deben estar junto a su tarjeta y no deben brindarse a terceros por cualquier medio (digital, telef&oacute;nico, escrito).<br>Se considera un periodo de 15 d&iacute;as calendario desde la fecha de entrega de la tarjeta al cliente/asegurado para que esta observaci&oacute;n (PIN junto a la tarjeta) sea aceptada solo en caso de Robo y/o Asalto. En casos de extrav&iacute;o y pasado este periodo de 15 d&iacute;as para casos de robo y/o asalto las perdidas ser&aacute;n de responsabilidad del tarjetahabiente.</span></td>
    </tr>
    </tbody>
</table>
<p><br></p>
