<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body style="font-family:Arial;font-size:6pt">
<div style="page-break-after: always;">
  <p style="text-align: right">ORIGINAL CLIENTE - Banco  Pyme Ecofuturo S.A. <br> Número de Solicitud: {{nro_sol}}</p>
  <table  width="100%">
	<tr>
		<td align="left">
	<img width="100" height="32" src="{{logo_banco}}">
		</td>
		<td align="right"><img width="100"  height="34" src="{{logo_aseguradora}}" align="center"></td>
		</tr>
	</table>
  </p>
  <h2 align="center"><u>FORMULARIO DE SOLICITUD DE ADHESIÓN AL SEGURO PARA TARJETAHABIENTES–  TARJETA DE DÉBITO<br />AUTORIZACIÓN  DE COBRO DE PRIMAS MENSUALES<br /> TARJETA DE  DÉBITO</u>
  </h2>
	<p align="center">Registro No. TJ - 1155 Registro  No.102-9109 255-2017 09 205 3001</p>
 Formulario  No 1390<br clear="all">
<table border="1" cellspacing="0" cellpadding="0" width="100%">
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	DATOS DEL TARJETAHABIENTE (ASEGURADO / TITULAR)</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Nombre y Apellidos:<br>
      {{nombres}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">C.I.<br>{{carnet}}</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Dirección:<br>
      {{direccion}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">Correo Electrónico<br>{{correo_electronico}}</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">Beneficiarios para Tarjeta de Débito ( Se considerará beneficiario al Asegurado titular de las coberturas de Invalidez y cualquier daño económico ocasionado por las coberturas otorgadas por esta póliza a través de Tarjetas de Débito.Se considerarán beneficiarios a los herederos legales del asegurado titular en caso de la cobertura de muerte.)
	{{nombres}}
	</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	CUENTA PARA DEBITO DE PRIMA (TARJETA DE DÉBITO)</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">{{numero_cuenta}} &nbsp {{moneda}}</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">III.	AUTORIZACIÓN DE COBRO DE LA PRIMA MEDIANTE DÉBITO AUTOMATICO</p></td>
  </tr>
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">El suscrito declara conocer que la prima del Seguro para Tarjetahabientes se paga de forma mensual y mediante Crédito automático. Para tal efecto, el suscrito autoriza en forma irrevocable al Banco PYME Ecofuturo
	S.A. que efectúe el cobro de la prima mensual; en el caso de una Tarjeta de Débito, sesss debitará de la cuenta indicada en el punto II (Tarjeta de Débito). La prima vigente a la firma del presente Certificado es:
	Prima mensual por cada Tarjeta de Débito: bs 10,00 o su equivalente en otra moneda
	</p></td>
  </tr>
	
</table>
<p><strong>LUGAR Y FECHA: </strong>LA PAZ, {{fecha}}</p>
<p><strong>FIRMA DEL CLIENTE<u>                                                                                           </u>                                                                 ACLARACIÓN  DE FIRMA </strong>{{nombres}}</p>
</div>
<div style="page-break-after: always;">
  <p style="text-align: right">COPIA BANCO - Banco  Pyme Ecofuturo S.A. <br> Numero de Solicitud: {{nro_sol}}</p>
  <table  width="100%">
	<tr>
		<td align="left">
	<img width="100" height="32" src="{{logo_banco}}">
		</td>
		<td align="right"><img width="100"  height="34" src="{{logo_aseguradora}}" align="center"></td>
		</tr>
	</table>
  </p>
  <h2 align="center"><u>FORMULARIO DE SOLICITUD DE ADHESIÓN AL SEGURO PARA TARJETAHABIENTES–  TARJETA DE CRÉDITO<br />AUTORIZACIÓN  DE COBRO DE PRIMAS MENSUALES<br /> TARJETA DE  CRÉDITO</u>
  </h2>
	<p align="center">Registro No. TJ - 1155 Registro  No.102-9109 255-2017 09 205 3001</p>
 Formulario  No 1390<br clear="all">
<table border="1" cellspacing="0" cellpadding="0" width="100%">
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	DATOS DEL TARJETAHABIENTE (ASEGURADO / TITULAR)</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Nombre y Apellidos:<br>
      {{nombres}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">C.I.<br>{{carnet}}</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Dirección:<br>
      {{direccion}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">Correo Electrónico<br>{{correo_electronico}}</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">Beneficiarios para Tarjeta de Crédito ( Se considerará beneficiario al Asegurado titular de las coberturas de Invalidez y cualquier daño económico ocasionado por las coberturas otorgadas por esta póliza a través de Tarjetas de Crédito.Se considerarán beneficiarios a los herederos legales del asegurado titular en caso de la cobertura de muerte.)
	{{nombres}}
	</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	CUENTA PARA DEBITO DE PRIMA (TARJETA DE CRÉDITO)</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">{{numero_cuenta}} &nbsp</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">III.	AUTORIZACIÓN DE COBRO DE LA PRIMA MEDIANTE DÉBITO AUTOMATICO</p></td>
  </tr>
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">El suscrito declara conocer que la prima del Seguro para Tarjetahabientes se paga de forma mensual y mediante Crédito automático. Para tal efecto, el suscrito autoriza en forma irrevocable al Banco PYME Ecofuturo
	S.A. que efectúe el cobro de la prima mensual; en el caso de una Tarjeta de Crédito, se debitará de la cuenta indicada en el punto II (Tarjeta de Crédito). La prima vigente a la firma del presente Certificado es:
	Prima mensual por cada Tarjeta de Crédito: bs 11,00 o su equivalente en otra moneda
	</p></td>
  </tr>
	
</table>
<p><strong>LUGAR Y FECHA: </strong>LA PAZ, {{fecha}}</p>
<p><strong>FIRMA DEL CLIENTE<u>                                                                                           </u>                                                                 ACLARACIÓN  DE FIRMA </strong>{{nombres}}</p>
</div>
<div>
  <p style="text-align: right">COPIA CIA - Banco  Pyme Ecofuturo S.A. <br> Numero de Solicitud: {{nro_sol}}</p>
  <table  width="100%">
	<tr>
		<td align="left">
	<img width="100" height="32" src="{{logo_banco}}">
		</td>
		<td align="right"><img width="100"  height="34" src="{{logo_aseguradora}}" align="center"></td>
		</tr>
	</table>
  </p>
  <h2 align="center"><u>FORMULARIO DE SOLICITUD DE ADHESIÓN AL SEGURO PARA TARJETAHABIENTES–  TARJETA DE CRÉDITO<br />AUTORIZACIÓN  DE COBRO DE PRIMAS MENSUALES<br /> TARJETA DE  CRÉDITO</u>
  </h2>
	<p align="center">Registro No. TJ - 1155 Registro  No.102-9109 255-2017 09 205 3001</p>
 Formulario  No 1390<br clear="all">
<table border="1" cellspacing="0" cellpadding="0" width="100%">
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	DATOS DEL TARJETAHABIENTE (ASEGURADO / TITULAR)</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Nombre y Apellidos:<br>
      {{nombres}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">C.I.<br>{{carnet}}</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Dirección:<br>
      {{direccion}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">Correo Electrónico<br>{{correo_electronico}}</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">Beneficiarios para Tarjeta de Crédito ( Se considerará beneficiario al Asegurado titular de las coberturas de Invalidez y cualquier daño económico ocasionado por las coberturas otorgadas por esta póliza a través de Tarjetas de Crédito.Se considerarán beneficiarios a los herederos legales del asegurado titular en caso de la cobertura de muerte.)
	{{nombres}}
	</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	CUENTA PARA DEBITO DE PRIMA (TARJETA DE CRÉDITO)</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">{{numero_cuenta}} &nbsp</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">III.	AUTORIZACIÓN DE COBRO DE LA PRIMA MEDIANTE DÉBITO AUTOMATICO</p></td>
  </tr>
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">El suscrito declara conocer que la prima del Seguro para Tarjetahabientes se paga de forma mensual y mediante Crédito automático. Para tal efecto, el suscrito autoriza en forma irrevocable al Banco PYME Ecofuturo
	S.A. que efectúe el cobro de la prima mensual; en el caso de una Tarjeta de Crédito, se debitará de la cuenta indicada en el punto II (Tarjeta de Crédito). La prima vigente a la firma del presente Certificado es:
	Prima mensual por cada Tarjeta de Crédito: bs 11,00 o su equivalente en otra moneda
	</p></td>
  </tr>
	
</table>
<p><strong>LUGAR Y FECHA: </strong>LA PAZ, {{fecha}}</p>
<p><strong>FIRMA DEL CLIENTE<u>                                                                                           </u>                                                                 ACLARACIÓN  DE FIRMA </strong>{{nombres}}</p>
</div>
</body>
</html>
