<html>
<head>
</head>
<body>
<p style="font-family:Arial;font-size:9pt;text-align: center;"><strong>FORMULARIO DE SOLICITUD DE SEGURO Y AUTORIZACI&Oacute;N
  DE D&Eacute;BITO EN CUENTA <br />SEGURO DE PROTECCION DE TARJETA DE CRÉDITO ANUAL RENOVABLE</strong></p>
<strong></strong>
</br></br></br></br>
  <table width="100%" border="0" style="font-family:Arial;font-size:8pt;text-align: left;">
    <tr>
    <td><strong>Solicitud No.: </strong> {{numero}}</td>
    <td><strong>Agencia:</strong> {{oficina}}</td>
    <td><strong>Sucursal:</strong> {{sucursal}}</td>
    </tr>
  </table>
</br>
  <p style="font-family:Arial;font-size:8pt;text-align: justify;">Declaro haber sido informado(a) de todas las condiciones, alcances y coberturas del presente seguro que vincula a Banco PyME Ecofuturo en calidad de Tomador y la Compañía en calidad de Asegurador. </p>
  <p style="font-family:Arial;font-size:8pt;text-align: justify;">Evaluadas las condiciones, alcances y coberturas del seguro, de forma voluntaria, mediante la presente, autorizo al Banco mi incorporación en la póliza del presente seguro.</p>
  <p style="font-family:Arial;font-size:8pt;text-align: justify;">En caso de ser admitida mi solicitud, me comprometo a cancelar el monto de la prima del seguro, mediante débito de mi cuenta de ahorros que se indica líneas más abajo:</p>
  </br>
<table width="100%" border="0" style="font-family:Arial;font-size:8pt;text-align: justify;">
  <tr>
    <td colspan="2"><i><strong>DATOS DEL SOLICITANTE:</strong></i></td>
  </tr>
  <tr>
    <td width="20%">Nombre Completo:</td>
    <td>{{asegurado}} </td>
  </tr>
  <tr>
    <td width="20%">Apellido de Casada:</td>
    <td>{{persona_apellido_casada}}</td>
  </tr>
  <tr>
    <td width="20%">Tipo Documento:</td>
    <td>{{par_tipo_documento_id}}</td>
  </tr>
  <tr>
    <td width="20%">No. De Documento:</td>
    <td>{{persona_doc_id}}</td>
  </tr>
  <tr>
    <td width="20%">Extensi&oacute;n CI:</td>
    <td>{{persona_doc_id_ext}}</td>
  </tr>
  <tr>
    <td width="20%">Complemento:</td>
    <td>{{persona_doc_id_comp}}</td>
  </tr>
  <tr>
    <td width="20%">G&eacute;nero:</td>
    <td>{{par_sexo_id}}</td>
  </tr>
  <tr>
    <td width="20%">Tel&eacute;fono de Referencia:</td>
    <td>{{persona_celular}}</td>
  </tr>
  <tr>
    <td width="20%">Direcci&oacute;n:</td>
    <td>{{persona_direccion_domicilio}}</td>
  </tr>
  <tr>
    <td width="20%">Fecha de nacimiento:</td>
    <td>{{persona_fecha_nacimiento}}</td>
  </tr>
<!--  <tr>-->
<!--    <td width="20%">No. De Cuenta de Ahorros:</td>-->
<!--    <td>{{cta}}</td>-->
<!--  </tr>-->
  <tr>
    <td width="20%">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="20%" colspan="2"><i><strong>DATOS DE LA SOLICITUD:</strong></i></td>
  </tr>
  <tr>
    <td width="20%">Compa&ntilde;&iacute;a de Seguros:</td>
    <td>NACIONAL SEGUROS PATRIMONIALES Y FINANZAS S.A.</td>
  </tr>
  <tr>
    <td width="20%">Poliza:</td>
    <td>{{poliza}}</td>
  </tr>
  <tr>
    <td width="20%">Modalidad de Pago</td>
    <td>{{modalidad}}</td>
  </tr>
  <tr>
    <td width="20%">Monto de la Prima</td>
    <td>{{moneda_prima}}{{monto_prima}} .- ({{monto_prima_des}} {{moneda_prima_des}} 00/100)</td>
  </tr>
  <tr>
    <td width="20%">Fecha de solicitud del Seguro:</td>
    <td>{{fecha_solicitud}}</td>
  </tr>
  <tr>
    <td width="20%">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="20%" colspan="3"><i><strong>DATOS DE LOS BENEFICIARIOS:</strong></i></td>
  </tr>

</table>
  <table width="100%" border="1" style="font-family:Arial;font-size:8pt;text-align: justify;"cellspacing="0">
  <tr>
    <td width="35%">Nombre Completo: </td>
    <td width="25%">No. Documento Identidad:</td>
    <td width="20%">Porcentaje Asignado:</td>
    <td width="20%">Parentesco:</td>
  </tr>
  {{tabla_beneficiarios}}
</table>
</br></br></br></br>
  <table width="100%" border="0" style="font-family:Arial;font-size:8pt;text-align: center;">
    <tr>
      <td width="50%">
        <p align="center">FIRMA DEL SOLICITANTE:</p>
        <p align="center">Aclaraci&oacute;n de Firma</p>
      </td>
      <td width="50%">
        <p align="center">FIRMA DEL FUNCIONARIO DEL BANCO</p>
        <p align="center">Aclaraci&oacute;n de Firma</p>
      </td>
    </tr>
  </table>
</body>
</html>
