<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>
<style type="text/css">
p {margin:0;
   line-height: 100%;
   }
</style>
<body style="font-family:Arial Narrow;font-size:9pt">
  <p align="center" style="font-family:Calibri Light;font-size:14pt;color:rgb(46, 116, 181);"><b>FORMULARIO DE SOLICITUD DE ADHESIÓN AL SEGURO GENÉRICO<br />PARA TARJETAHABIENTES<br /> TARJETA DE CRÉDITO AUTORIZACIÓN DE COBRO DE PRIMAS MENSUALES</b></p>
	<p align="center" style="font-family:Arial Narrow;font-size:10pt;">Código de Registro 102-9109255-2017 09 205 3003<br />Formulario aprobado mediante la Resolución Administrativa APS/DS/Nro. 1286/2019 del 26 de Julio de 2019</p>
 <br />
 <br />
 <p style="font-family:Arial Narrow;font-size:10pt;">Formulario  No {{nro_sol}}<br clear="all"></p>
 <br />
<table border="1" cellspacing="0" cellpadding="0" width="100%">
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">I.	DATOS DEL TARJETAHABIENTE (ASEGURADO / TITULAR)</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Nombre y Apellidos:<br>
      {{nombres}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">C.I.<br>{{carnet}}</p></td>
  </tr>
  <tr>
    <td width="384" valign="top"><p style="margin: 5pt;">Dirección:<br>
      {{direccion}}</p></td>
    <td width="387" valign="top"><p style="margin: 5pt;">Correo Electrónico<br>{{correo_electronico}}</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">Beneficiarios para Tarjeta de Crédito
	{{nombres}}
	</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">II.	CUENTA PARA DEBITO DE PRIMA (TARJETA DE CRÉDITO)</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">{{numero_cuenta}} &nbsp {{moneda}}</p></td>
  </tr>
	<tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;">III.	AUTORIZACIÓN DE COBRO DE LA PRIMA MEDIANTE DÉBITO AUTOMATICO</p></td>
  </tr>
  <tr>
	<td width="387" valign="top" colspan="2"><p style="margin: 5pt;line-height: 2;">El suscrito declara conocer que la prima del Seguro para Tarjetahabientes se paga de forma mensual y mediante Crédito automático. Para tal efecto, el suscrito autoriza en forma irrevocable al Banco PYME Ecofuturo
	S.A. que efectúe el cobro de la prima mensual; en el caso de una Tarjeta de Crédito, se debitará de la cuenta indicada en el punto II (Tarjeta de Crédito).<br /> La prima vigente a la firma del presente Certificado es:<br />
	Prima mensual por cada Tarjeta de Crédito: bs 11,00 o su equivalente en otra moneda
	</p></td>
  </tr>
	
</table>
<br />
<br />
<p><strong>LUGAR Y FECHA: </strong>LA PAZ, {{fecha}}</p>
<br />
<br />
<p><strong>FIRMA DEL CLIENTE<u>                                                            </u>ACLARACIÓN  DE FIRMA </strong>{{nombres}}</p>
