<!--<p-dialog header="Sucursal/Agencia incorrectos" [(visible)]="loginService.displaySinSucursalAgencia" [modal]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">-->
    <!--<div class="ui-g-12 text-center">-->
        <!--<i class="ui-icon-priority-high ui-icon-warn-colibri"></i>-->
    <!--</div>-->
    <!--<p class="text-center">No se pudo identificar la sucursal o agencia de su usuario: {{User.userName}}, por favor conactese con soporte del banco.</p>-->
    <!--<p-footer>-->
        <!--<div class="ui-dialog-buttonpane ui-helper-clearfix">-->
            <!--<button type="button" pButton icon="pi pi-times"-->
                    <!--(click)="loginService.displaySinSucursalAgencia= false; cerrarSesion()" label="Aceptar"></button>-->
            <!--&lt;!&ndash;<button type="button" pButton icon="pi pi-times"&ndash;&gt;-->
            <!--&lt;!&ndash;(click)="displayEdadIncorrecta= false; afterAlertEdad(); guardarSolicitudPersona()" label="Si"></button>&ndash;&gt;-->
        <!--</div>-->
    <!--</p-footer>-->
<!--</p-dialog>-->
<div class="wrapper body">
  <div class="container">
      <h1 [ngClass]="{desplazamiento:!formulario}">Iniciar Sesión</h1>
      <form class="form" *ngIf="formulario">
          <input name="username" [(ngModel)]="User.userName" type="text" placeholder="Username">
          <input name="password" [(ngModel)]="User.password" type="password" placeholder="Password">
          <button (click)="Session()" id="login-button">Ingresar</button>
          <!-- <button (click)="Registrar()" id="login-button">Registrar</button> -->
      </form>
  </div>
  
  <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
</div>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <br />
      <div class="ui-g ui-fluid">
          <div class="ui-g-12">
              <button type="button" pButton (click)="onReject()" label="Aceptar" class="ui-button-success"></button>
          </div>
      </div>
  </ng-template>
</p-toast>