<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 7.2.4.1 (Linux)"/>
	<meta name="author" content="carolinapo"/>
	<meta name="created" content="2022-01-31T21:08:00"/>
	<meta name="changedby" content="Mauricio Silva"/>
	<meta name="changed" content="2022-01-31T21:08:00"/>
	<style type="text/css">
		@page { size: 8.5in 11.35in; margin: 0.5in }
		p { color: #000000; line-height: 115%; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
		p.western { font-family: "Calibri", sans-serif; font-size: 11pt; so-language: es-CL }
		p.cjk { font-family: "Times New Roman", serif; font-size: 11pt }
		p.ctl { font-family: "Times New Roman", serif; font-size: 11pt; so-language: ar-SA }
	</style>
</head>
<body lang="en-US" text="#000000" link="#000080" vlink="#800000" dir="ltr">
<div title="header">
    <p lang="es-BO" align="center" style="margin-bottom: 0in">
	    <img src="{{imagen1}}" name="Imagen 2" align="bottom" width="121" height="108" border="0"/><br>
        <font face="Arial, sans-serif"><font size="2" style="font-size: 10pt">
            <b>DECLARACIÓN JURADA DE SALUD</b><br>
            <b>SOLICITUD DE SEGURO DE VIDA INDIVIDUAL MASIVO</b><br>
            <b>Aprobada por R.A.- APS/DS/N° 967 del 13 de Diciembre de 2012</b><br>
            <b>COD. 207 – 934618 – 2012 12 024 4001</b>
            <br>
            <br>
            <br>
        </font></font>
    </p>
</div>
<div title="content">
    <font face="Arial, sans-serif">
        <font size="1" style="font-size: 7pt">
            Favor Completar con letra clara y legible (sin correcciones o enmendaduras) <br>
            <p lang="es-CL" style="line-height: 100%;orphans: 0; widows: 0; margin-bottom: 0in">
                <b>INFORMACION DEL SOLICITANTE</b>
            </p>
        </font>
    </font>
</div>
<p lang="es-CL" style="line-height: 100%; orphans: 2; widows: 2; margin-bottom: 0in">
<span id="Frame5" dir="ltr" style="position: absolute; top: 3.3in; left: 0.67in; width: 6.55in; border: none; padding: 0in; background: #ffffff">
    <p lang="es-CL" style="line-height: 100%; orphans: 0; widows: 0; margin-bottom: 0in">
	    <font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
            <font face="Arial, sans-serif">
                <font size="1" style="font-size: 7pt">
                    Nombres: {{asegurado_nombres}} Apellidos: {{asegurado_apellidos}}
                    <br>
                    <table border="0px" style="font-size: 7pt; text-align: left">
                        <tr>
                            <td>Sexo:</td>
                            <td>M</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_masculino}}</td>
                            <td>F</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_femenino}}</td>
                            <td>Fecha de Nacimiento: </td>
                            <td>{{asegurado_fecha_nacimiento}}</td>
                            <td>Edad</td>
                            <td>{{asegurado_edad}} </td>
                            <td>Lugar de Nacimiento</td>
                            <td>{{asegurado_lugar_nacimiento}}</td>
                        </tr>
                    </table>
                    <br>
                    Dirección del domicilio: {{asegurado_direccion_domicilio}}
                    <br>
                    Teléfono Domicilio: {{asegurado_telefono_domicilio}} Correo Electrónico: {{asegurado_correo}}
                    <br>
                    Ciudad: {{asegurado_ciudad}} Provincia: {{asegurado_provincia}}  Departamento: {{asegurado_departamento}} N° Celular: {{asegurado_celular}}
                    <br>
                    Cédula de Identidad o Pasaporte: {{asegurado_doc_id}}  Extendido: {{asegurado_doc_id_ext}}
                    <br>
                    <table border="0px" style="font-size: 7pt; text-align: left">
                        <tr>
                            <td>Estado Civil:</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_soltero}}</td>
                            <td>Soltero</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_casado}}</td>
                            <td>Casado</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_viudo}}</td>
                            <td>Viudo</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_divorciado}}</td>
                            <td>Divorciado</td>
                            <td style="border:1px solid; width: 20px">{{asegurado_conviviente}}</td>
                            <td>Conviviente</td>
                        </tr>
                    </table>
                    <br><br>
                    <b>BENEFICIARIOS</b><br>
                    <b>PRIMARIO</b>
                    <br>
                    {{beneficiarios_primarios}}
                    <b>CONTINGENTE</b><br>
                    {{beneficiarios_contingentes}}
                    Se entiende por Beneficiario Contingente la persona que el asegurado elige para que reciba los beneficios de su seguro de vida solo si todos los beneficiarios primarios fallecen antes que el asegurado.
                    <br>
                    <b>AUTORIZACIÓN DE DEBITO / FORMA DE PAGO  </b>
                    <br>
                    <table border="0px" style="font-size: 7pt; text-align: left">
                        <tr>
                            <td>Al Contado:</td>
                            <td style="border-bottom:1px solid; width: 100px">{{contado}}</td>
                            <td style="width: 20px"></td>
                            <td>Al Crédito</td>
                            <td style="border-bottom:1px solid; width: 100px">{{credito}}</td>
                            <td style="width: 20px"></td>
                            <td>En Efectivo</td>
                            <td style="border-bottom: 1px solid; width: 100px">{{efectivo}}</td>
                        </tr>
                    </table>
                    <br>
                    Autorizo
                    a Banco Pyme Ecofuturo S.A. y Alianza Vida Seguros y Reaseguros
                    S.A., enviarme ofertas, consultas o información a través de los
                    datos electrónicos provistos en este formulario.
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <table border="0px" style="font-size: 7pt;">
                        <tr>
                            <td style="border-top: 1px solid; width: 200px; text-align: center">
                                Firma del Solicitante
                            </td>
                            <td style="width: 10px"></td>
                            <td style="border-top: 1px solid; width: 200px; text-align: center">
                                Firma y/o sello del contratante
                            </td>
                            <td style="width: 10px"></td>
                            <td style="border-top: 1px solid; width: 200px; text-align: center">
                                Nombre del vendedor:
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    Fecha: {{fecha_hoy}}    Ciudad: {{sucursal}} Oficina: {{agencia}}
                </font>
            </font><br>
        </font></font>
	</p>
</span>



</body>
</html>
