<html>
	<style type="text/css">
p {margin:0;
  line-height: 100%}
</style>
	<body>
	<br />
	<br />
<table width="100%">
	<tr>
		<td rowspan="2" width="50%" align="left"><img src="{{imagen1}}" width="52" height="35"></td>
		<td rowspan="2" width="50%" align="right"><img src="{{imagen2}}" width="173" height="25"></td>
	</tr>
</table>
<br />
<br />
		<font face="Arial Narrow" style="font-size:6.5pt">
		<p align="right"><strong>N° {{nro_certificado}}</strong></p>
		<p align="center">
		  <strong>CERTIFICADO DE  COBERTURA INDIVIDUAL – &ldquo;SEGURO ECOVIDA&rdquo;</strong><br>
		  <strong>Registrada en Autoridad de Fiscalización y Control de Pensiones y  Seguros (APS) mediante </strong><br>
		  <strong>Resolución Administrativa APS/DS/N° 771-2016 con Código  de Registro N° 209-934633-2014 09 010 4001</strong></p><br />
        <p align="center"><strong>POLIZA N° CRS-MCBS-002</strong></p>
		</font>
		<font face="Arial Narrow" style="font-size:5.5pt">
        <strong>Lugar y Fecha </strong>{{sucursal}} {{fecha_hoy}}<br /><br />
        <p>Nombre del Asegurado:  {{asegurado}} N° de CI: {{carnet}}  Fecha de Nacimiento {{fecha_nacimiento}} Teléfono {{telefono}}</p>
		<br />
        <table border="1" cellspacing="0" cellpadding="0" width="660" style="font-size:7pt">
          <tr>
            <td width="660" nowrap colspan="4" valign="bottom"><p><strong>Nombro    voluntariamente como Beneficiario(s) a la(s) siguiente(s) persona(s):</strong></p></td>
          </tr>
          <tr>
            <td width="254" nowrap valign="bottom"><p>Nombre Completo</p></td>
            <td width="257" nowrap valign="bottom"><p>&nbsp;</p></td>
            <td width="12" nowrap valign="bottom">%</td>
            <td width="137" nowrap valign="bottom"><p>Parentesco</p></td>
          </tr>
          {{filas}}
        </table>
		<br />
        <p><strong>&nbsp;</strong></p>
        <p><strong>CREDISEGURO S.A. SEGUROS PERSONALES </strong>domiciliada en Av. Hernando Siles esq. Calle 10, Torre Empresarial ESIMSA, piso 9 – Zona Obrajes de la ciudad de La Paz, teléfono 2175900 (LA COMPAÑÍA), certifica que la persona indicada en el presente documento se encuentra asegurada bajo la presente Póliza (ASEGURADO), contratada por el Banco Pyme Ecofuturo S.A. (EL TOMADOR). <br>
            Intermediada por <em>Kerkus Corredores de Seguros S.A.</em> domiciliada en Torres Ecofuturo piso 8, Av. Sánchez Bustamante Nro. 302, esquina calle 9, Zona Calacoto de la ciudad de La Paz, teléfono 2974000<br>
            El presente Seguro, es un seguro opcional destinado a todas las personas naturales usuarias de  la entidad financiera que suscribe el presente contrato, en adelante EL TOMADOR,  y que hayan solicitado su afiliación al seguro. Este paquete de seguros incluirá las coberturas de Muerte Natural, Muerte Accidental y Gastos de Sepelio. <br>
  <strong>COBERTURAS Y SUMAS ASEGURADAS:</strong><br>
  <strong>Muerte Natural: </strong>En caso de muerte originada por causas naturales (no accidentales), la Suma Asegurada será de siete mil 00/Bolivianos (Bs. 7.000). La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. Se contará con un período de carencia de 30 días para contar con el beneficio. El pago de este beneficio supone la terminación de la cobertura total de la Póliza y no da lugar a otra indemnización por muerte accidental.<br>
  <strong>Muerte Accidental:</strong> En caso de muerte originada por causas accidentales, la Suma Asegurada será de siete mil 00/Bolivianos (Bs. 7.000). La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. El pago de este beneficio supone la terminación de la cobertura total de la Póliza y no da lugar a otra indemnización por muerte natural o de otra cobertura adicional <strong> </strong><br>
  <strong>Gastos de Sepelio</strong>: LA COMPAÑÍA pagará dos mil 00/100 Bolivianos (Bs. 2.000), a los beneficiarios del ASEGURADO por la muerte del mismo ya sea por causas naturales o accidentales. La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. Se contará con un período de carencia de 30 días para la cobertura de Muerte Natural, no aplica período de carencia para la cobertura a causa de Muerte Accidental. <br>
  <strong>EXCLUSIONES</strong>. No se cubrirán los siniestros que fueran a consecuencia de:<br>
  <strong>Para la Cobertura de Muerte Natural y  Gastos de Sepelio:</strong></p>
			<ol type="a" style="padding: 0; margin-left: 10; margin-top: 0; margin-bottom: 0;margin-right: 0;">
			  <li style="padding-left:2.5em"> Participación del ASEGURADO como sujeto activo en acto delictuoso o empresa criminal.</li>
			  <li style="padding-left:2.5em"> Guerra declarada o no declarada (conflicto armado), civil o internacional. </li>
			  <li style="padding-left:2.5em"> Epidemias declaradas como tal por las entidades gubernamentales competentes.</li>
			</ol>
        <p><strong>Para la Cobertura de Muerte Accidental:</strong><br>
            Los incisos a) y b) mencionados en las exclusiones de la Cobertura de Muerte Natural más:<strong></strong><br>
            Eventos en los que el ASEGURADO realice actividades que atenten contra su vida y/o la de terceros al encontrarse en estado de ebriedad o con presencia de alcohol en la sangre en proporción mayor al 0.7 gramos/litro o se encuentre bajo los efectos de drogas ilícitas, salvo cuando el ASEGURADO hubiere sido sujeto pasivo en el acontecimiento que produjo el siniestro.<br>
            La participación del ASEGURADO en cualquier maniobra, experimento, exhibición, desafío o actividad notoriamente peligrosa, entendido por tales aquellas donde se pone en grave peligro la vida e integridad física de las personas.<br>
  <strong>REQUISITOS  PARA SOLICITAR EL BENEFICIO:</strong><br>
            LA COMPAÑÍA efectuará el pago que corresponda, para lo cual EL ASEGURADO/BENEFICIARIO/TOMADOR deberá presentar tan pronto y a más tardar dentro de los treinta (30) días de conocido el mismo, salvo fuerza mayor o impedimento justificado de acuerdo al Artículo 1028 del Código de Comercio la siguiente documentación:<strong> </strong><br>
  <strong>Muerte  Natural: </strong>a) Formulario de Declaración de Siniestro proporcionado por LA COMPAÑÍA (debidamente llenado),  b) Fotocopia simple del Documento de Identidad del ASEGURADO c) Certificado de Defunción original o Certificado Médico de Defunción d) Formularios requeridos por la UIF (en lo que aplica).<strong></strong><br>
  <strong>Muerte  Accidental</strong>: Incisos  a), b), y, d) de la cobertura de Muerte Natural  más: Certificado de Defunción original o Certificado emitido por el Instituto de Investigaciones Forenses original o copia legalizada. Informe de la Autoridad Competente que certifique las circunstancias del Accidente en caso que haya tomado acción en el siniestro (si aplica). Examen toxicológico y/o de alcoholemia en copia legalizada (cuando corresponda).  <br>
  <strong>Sepelio: </strong>Inciso a) de la cobertura de Muerte Natural más: Fotocopia simple del Documento de Identidad del(los) BENEFICIARIO(S), Formulario de Identificación del BENEFICIARIO. </p>
        <strong>PROCEDIMIENTO  EN CASO DE SINIESTRO: </strong><br />
            LA COMPAÑÍA debe pronunciarse sobre el derecho del ASEGURADO/BENEFICIARIO dentro de los 30 días de recibidos todos los informes, evidencias, documentos y/o requerimientos adicionales acerca de los hechos y circunstancias del siniestro. La solicitud de LA COMPAÑÍA no podrá extenderse por mas de dos veces a partir de la primera solicitud de informes y evidencias debiendo LA COMPAÑÍA pronunciarse dentro del plazo establecido y de manera definitiva sobre el derecho del ASEGURADO después de la entrega por parte del ASEGURADO del último requerimiento de información en base a lo establecido en la Ley 365 de fecha 23 de abril de 2013, Disposiciones Adicionales Segunda, Párrafo II. LA COMPAÑÍA procederá al pago del Beneficio en el plazo máximo de 15 días posteriores al aviso del siniestro o tan pronto sean llenados los requerimientos señalados.
        <p><strong>VIGENCIA</strong><br>
            Las Coberturas otorgadas por esta Póliza respecto de cada ASEGURADO, entrará en vigencia a partir del día de la afiliación al seguro, si el siniestro ocurre en el período en que el ASEGURADO tiene plazo para el pago de la prima, se descontará del pago la prima correspondiente. Algunas de las coberturas tienen periodo de carencia señaladas en el presente documento.<br>
  <strong>BENEFICIARIOS: </strong>Los Beneficiarios son los designados por el ASEGURADO en el Certificado de Cobertura o en su defecto, los herederos instituidos de acuerdo a ley. En algunos casos el ASEGURADO es el Beneficiario de la Póliza. <br>
  <strong>PRIMA:</strong> Bs. 100.-  anualmente. <br>
  <strong>TÉRMINO DEL SEGURO RESPECTO DE CADA ASEGURADO: </strong>La responsabilidad de LA COMPAÑÍA respecto a cada ASEGURADO cesará en la primera de los siguientes casos: 1) Al cumplir el ASEGURADO la edad máxima de permanencia 2) Cuando se hubiera presentado documentación o información adulterada, fraudulenta o inexacta para acceder a alguno de los beneficios del seguro. 3) Cuando EL TOMADOR incumpla con su obligación de pago de Primas El contrato caduca si no se pagan las primas en los términos convenidos y la caducidad no se produce de hecho sino después de transcurrido el plazo de treinta (30) días de la fecha de vencimiento para su pago y tal hecho no da lugar a la pérdida de los valores garantizados señalados en la póliza de acuerdo a lo establecido en el Artículo 1019 del Código de Comercio. 4) Si se comprobase que la edad real del ASEGURADO no estuviera comprendida dentro de los límites de admisión establecidos por LA COMPAÑÍA y/o 5) Si el siniestro se inicia dentro de la vigencia del seguro y continúa después de vencido el plazo del mismo LA COMPAÑÍA responde de la indemnización; pero si el siniestro se inició antes y continúa después de la asunción del riesgo por LA COMPAÑÍA, ésta no responde por el siniestro de acuerdo a lo establecido en el Artículo 1026 del Código de Comercio.<br>
  <strong>FORMA  DE PAGO: </strong>Anual (al contado).<strong> </strong><br>
  <strong>ACLARACIÓN: </strong>El presente documento, resume los términos y condiciones del contrato de seguro suscrito por LA COMPAÑÍA y EL TOMADOR, cuyo texto original respalda éste documento. Los términos y condiciones de la póliza pueden cambiar y que en todos los casos EL TOMADOR informará oportunamente a los ASEGURADOS, por escrito y/o por otros medios de difusión entre ellos páginas web, correo electrónico y/o medios de circulación nacional.  <br>
  <strong>CONDICION DE  ADHESIÓN, DECLARACIONES Y AUTORIZACIONES: </strong><br>
            El ASEGURADO, se adhiere voluntariamente al presente Seguro.<br>
  <strong>Declaración:</strong> El ASEGURADO declara conocer y aceptar todas las condiciones del presente Certificado de Cobertura y declara que a la fecha no tiene conocimiento de alguna enfermedad prexistente y goza de buena salud.<br>
            El ASEGURADO acepta la presentación, con calidad de Declaración Jurada, de la documentación de respaldo que solicitará CREDISEGURO S.A. SEGUROS PERSONALES misma que será requerida en virtud de la obligación normativa regulatoria que éste mantiene respecto a los controles e informes que realiza por instrucción de la Unidad de Investigaciones Financieras u otras entidades fiscalizadoras.<br>
  <strong>Autorización  expresa</strong>: El ASEGURADO autoriza a La Compañía su reporte a la Central de Riesgos del Mercado de Seguros acorde a las normativas reglamentarias de la Autoridad de Fiscalización y Control de Pensiones y Seguros vigente. Asimismo, El ASEGURADO, autoriza(n) expresamente a LA COMPAÑÍA a solicitar, obtener y dar información respecto a sus antecedentes financieros, de seguros y de salud, a través de ellos o terceras personas. <strong></strong><br>
            Todos los beneficios a los cuales el ASEGURADO tiene derecho, se sujetan a lo estipulado en las Condiciones Generales, Particulares y/o Adicionales de la Póliza de Seguro de la cual el presente certificado forma parte integrante. El ASEGURADO podrá requerir a LA COMPAÑÍA o a EL TOMADOR cualquier información adicional que considere necesaria.<strong></strong></p><br />
        <p> La presente Póliza se encuentra intermediada por Kerkus Corredores de Seguros S.A. domiciliado en la Ciudad de La Paz, Avenida Sánchez Bustamante Nro. 302, esquina calle 9, Zona Calacoto, teléfono: (2) 2974000 </p>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		<div align="center">
          <table border="0" cellspacing="0" cellpadding="0" style="font-size:7pt">
            <tr>
              <td width="256"><p align="center">&nbsp;</p></td>
              <td width="255"><p align="center"></p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
            <tr>
              <td width="256"><p align="center">&nbsp;</p></td>
              <td width="255"><p align="center"> </p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
            <tr>
              <td width="256"><p align="center"><strong><img src="{{firma2}}" width="60%" align="center"></strong><strong> </strong></p></td>
              <td width="255"><p align="center"><strong><img src="{{firma1}}" width="60%" align="center"></strong></p></td>
              <td width="235"><p align="center">Asegurado<strong></strong></p></td>
            </tr>
            <tr>
              <td width="256"><p align="center"> </p></td>
              <td width="255"><p align="center"> </p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
          </table>
        </div>
		</font>
		</body>
</html>
