<!--<p-toolbar>-->
<!--<div class="ui-toolbar-group-left">-->
<!--<button pButton type="button" label="Imprimir" icon="ui-icon-print" class="green-btn"></button>-->
<!--<button pButton type="button" label="Nueva Solicitud" icon="ui-icon-update" class="orange-btn" (click)="displayModalFormTitular=true"></button>-->
<!--</div>-->
<!--</p-toolbar>-->

<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
  <div class="loading"></div>
  <!--<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>-->
</div>

<app-transiciones *ngIf="solicitudService.asegurado && solicitudService.asegurado.instancia_poliza && solicitudService.asegurado.instancia_poliza.id" #componentTransiciones [parametros_atributos] = "solicitudService.parametrosYAtributos"></app-transiciones>

<p-panel *ngIf="solicitudService.asegurado && solicitudService.asegurado.instancia_poliza && solicitudService.displayModalDatosTitular" header="SOLICITUD {{solicitudService.poliza.descripcion}}" toggleable="true" collapseIcon="ui-icon-close" (onBeforeToggle)="solicitudService.displayModalDatosTitular=false; beforeToggleDatosTitular();" [(collapsed)]="collapsedDatosTitular">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12">
                  <div class="ui-g ui-fileupload ui-widget">
                    <div class="ui-g-12 ui-fileupload-buttonbar ui-abrirModalRegistroClientewidget-header" style="text-align: right">
                      <p-button type="button" icon="ui-icon-print" title="Imprimir Solicitud de Seguro" class="green-btn"
                                [disabled]="!solicitudService.btnImprimirSolicitudEnabled"
                                (click)="solicitudService.btnImprimirSolicitudEnabled ? solicitudService.ImprimirSolicitud(solicitudService.asegurado.instancia_poliza.id,solicitudService.asegurado.instancia_poliza.id_poliza,null,solicitudService.persona_banco_solicitud.solicitud_sci_selected) : ''"
                                label="Imprimir Solicitud de Seguro"></p-button>
                      <p-button *ngIf="solicitudService.showOrdenPago" type="button" icon="ui-icon-attach-money" title="Orden de Cobro" class="blue-grey-btn"
                                [disabled]="!solicitudService.btnOrdenPagoEnabled"
                                (click)="solicitudService.btnOrdenPagoEnabled ? solicitudService.ImprimirOrden(solicitudService.asegurado.instancia_poliza.id,solicitudService.asegurado.instancia_poliza.id_poliza) : ''"
                                label="Imprimir Orden de Cobro"></p-button>
                      <p-button *ngIf="solicitudService.showBtnImprimirCarta" type="button" icon="ui-icon-attach-money" title="Imprimir Carta" class="blue-grey-btn"
                                [disabled]="!solicitudService.btnCartaEnabled"
                                (click)="solicitudService.btnCartaEnabled ? solicitudService.ImprimirCarta() : ''"
                                label="Imprimit Carta"></p-button>

                      <p-button *ngIf="solicitudService.showPlanPago && solicitudService.atributoDebitoAutomatico.valor == solicitudService.pagoDebitAutomatico.id+''"
                                type="button" icon="ui-icon-print" title="Imprimir Plan de Pago" class="blue-grey-btn"
                                [disabled]="!solicitudService.btnPlanPagoEnabled"
                                (click)="solicitudService.btnPlanPagoEnabled ? solicitudService.ImprimirPlanPagoEcoMedicB(solicitudService.asegurado.id_instancia_poliza) : ''"
                                label="Imprimir Plan de Pago"></p-button>

                      <p-button type="button" icon="ui-icon-import-contacts" class="blue-grey-btn"
                                title=">Imprimir Certificado de Cobertura" [disabled]="!solicitudService.btnEmitirCertificadoEnabled "
                                (click)="solicitudService.btnEmitirCertificadoEnabled ? solicitudService.ImprimirCertificado(solicitudService.asegurado.instancia_poliza.id,solicitudService.asegurado.instancia_poliza.id_poliza) : ''"
                                label="Imprimir Certificado de Cobertura"></p-button>
                      <p-button *ngIf="solicitudService.btnRefrescarInformacion" type="button" icon="ui-icon-check" [title]="'Refrescar Información'" class="blue-grey-btn"
                                [disabled]="!solicitudService.btnRefrescarInformacionEnabled"
                                (click)="solicitudService.btnRefrescarInformacionEnabled? refrescarInformacion() : ''"
                                label="Refrescar Información>"></p-button>
                      <p-button type="button" icon="ui-icon-check" [title]="'Validar y Continuar'" class="blue-grey-btn ui-toolbar-group-right"
                                [disabled]="!solicitudService.btnValidarYContinuarEnabled"
                                (click)="solicitudService.btnValidarYContinuarEnabled ? validarYContinuar() : ''"
                                label="Continuar... >"></p-button>
                    </div>
                  </div>
                  <div class="ui-fileupload-content ui-widget-content ui-corner-bottom">
                    <p-fieldset class="form-group" legend="Datos de la solicitud" toggleable="true">
                      <div [classList]="solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoIniciado.id ? 'task-box task-box-1' :
                              solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoSolicitado.id ? 'task-box task-box-2' :
                               solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoPorPagar.id ? 'task-box task-box-3' :
                               solicitudService.asegurado.instancia_poliza.id_estado == solicitudService.estadoEmitido.id ? 'task-box task-box-4' :'' ">

                        <div class="ui-g">
                          <div class="ui-g-12 ui-md-1" style="text-align:center">
                            <img src="/assets/form-icon.jpg" alt="form-icon">
                          </div>
                          <div class="ui-g-12 ui-md-10 car-details">
                            <div class="ui-g">
                              <div class="ui-g-3 ui-sm-3">
                                <span style="white-space: nowrap"><b>Número de Solicitud: </b><br></span>
                                <span style="white-space: nowrap"><b>Número de Poliza: </b><br></span>
                                <span style="white-space: nowrap"><b>Fecha de Solicitud: </b><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoComprobante.nro_documento && solicitudService.showOrdenPago"><b>Número de Comprobante de Pago:</b><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoCertificado.nro_documento"><b>Número de Certificado de Cobertura: </b><br></span>
                                <span style="white-space: nowrap" ><b>Estado Solicitud Seguro: </b><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoCertificado.fecha_inicio_vigencia && solicitudService.instanciaDocumentoCertificado.fecha_fin_vigencia"><b>Vigencia del certificado de cobertura: </b><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.asegurado.usuario"><b>Referido Por: </b><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoSucursal"><b>Sucursal: </b><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoAgencia"><b>Agencia: </b><br></span>
                              </div>
                              <div class="ui-g-3 ui-sm-3">
                                <span style="white-space: nowrap">{{solicitudService.instanciaDocumentoSolicitud.nro_documento}}<br></span>
                                <span style="white-space: nowrap">{{solicitudService.poliza.numero}}<br></span>
                                <span style="white-space: nowrap"><span *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoSolicitud.fecha_emision">{{solicitudService.instanciaDocumentoSolicitud.fecha_emision.getDate().pad(2)+'/'+(solicitudService.instanciaDocumentoSolicitud.fecha_emision.getMonth()+1).pad(2)+'/'+solicitudService.instanciaDocumentoSolicitud.fecha_emision.getFullYear()}}</span><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoComprobante.nro_documento && solicitudService.showOrdenPago">{{solicitudService.instanciaDocumentoComprobante.nro_documento}}  de <span *ngIf="solicitudService.instanciaDocumentoComprobante.fecha_emision">{{solicitudService.instanciaDocumentoComprobante.fecha_emision.getDate().pad(2)+'/'+(solicitudService.instanciaDocumentoComprobante.fecha_emision.getMonth()+1).pad(2)+'/'+solicitudService.instanciaDocumentoComprobante.fecha_emision.getFullYear()}}</span><br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoCertificado.nro_documento">{{solicitudService.instanciaDocumentoCertificado.nro_documento}}  de <span *ngIf="solicitudService.instanciaDocumentoCertificado.fecha_emision">{{solicitudService.instanciaDocumentoCertificado.fecha_emision.getDate().pad(2)+'/'+(solicitudService.instanciaDocumentoCertificado.fecha_emision.getMonth()+1).pad(2)+'/'+solicitudService.instanciaDocumentoCertificado.fecha_emision.getFullYear()}}</span><br></span>
                                <span style="white-space: nowrap" class="task-status">{{solicitudService.asegurado && solicitudService.EstadosInstaciaPolizaId[solicitudService.asegurado.instancia_poliza.id_estado]}}<br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.instanciaDocumentoCertificado.fecha_inicio_vigencia && solicitudService.instanciaDocumentoCertificado.fecha_fin_vigencia"> De {{solicitudService.instanciaDocumentoCertificado.fecha_inicio_vigencia.getDate().pad(2)}}/{{(solicitudService.instanciaDocumentoCertificado.fecha_inicio_vigencia.getMonth()+1).pad(2)}}/{{solicitudService.instanciaDocumentoCertificado.fecha_inicio_vigencia.getFullYear()}} a{{solicitudService.instanciaDocumentoCertificado.fecha_fin_vigencia.getDate().pad(2)}}/{{(solicitudService.instanciaDocumentoCertificado.fecha_fin_vigencia.getMonth()+1).pad(2)}}/{{solicitudService.instanciaDocumentoCertificado.fecha_fin_vigencia.getFullYear()}}<br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.asegurado.usuario">{{solicitudService.asegurado.usuario.usuario_nombre_completo}}<br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoSucursal">{{solicitudService.SucursalesParametroCod[solicitudService.atributoSucursal.valor]}}<br></span>
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoAgencia">{{solicitudService.AgenciasParametroCod[solicitudService.atributoAgencia.valor]}}<br></span>
                              </div>
                              <div class="ui-g-3 ui-sm-3">
                                <span *ngIf="solicitudService.asegurado && solicitudService.atributoDebitoAutomatico" style="white-space: nowrap"><span><b>Mėtodo de Pago: </b></span><br></span>
                                <!--<span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoSolicitudSci"><span><b>Nro Solicitud de Crédito: </b></span><br></span>-->
                                <!--<span *ngIf="solicitudService.persona_banco_solicitud.solicitud_tipo" style="white-space: nowrap" ><span><b>Tipo Producto: </b></span><br></span>-->
                                <!--<span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoTipoCredito"><span><b>Tipo Crédito: </b></span><br></span>-->
                                <!--<span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.atributoSolicitudSciEstado"><span><b>Estado solicitud de Crédito: </b></span><br></span>-->
                                <span style="white-space: nowrap" *ngIf="solicitudService.asegurado && solicitudService.asegurado.instancia_poliza.anexo_poliza"><span><b>Prima: </b></span><br></span>
                                <!--<span style="white-space: nowrap" *ngIf="solicitudService.atributoUsuarioCargo && solicitudService.atributoUsuarioCargo.valor"><b>Cargo Usuario: <br></b></span>-->
                              </div>
                              <div class="ui-g-3 ui-sm-3">
                                <span *ngIf="solicitudService.asegurado && solicitudService.atributoDebitoAutomatico" style="white-space: nowrap">{{solicitudService.CondicionesIdDesc[solicitudService.atributoDebitoAutomatico.valor]}}<br></span>
                                <!--<span *ngIf="solicitudService.asegurado && solicitudService.atributoSolicitudSci" style="white-space: nowrap">{{solicitudService.atributoSolicitudSci.valor}}<br></span>-->
                                <!--<span *ngIf="solicitudService.persona_banco_solicitud.solicitud_tipo" style="white-space: nowrap">{{solicitudService.persona_banco_solicitud.solicitud_tipo}}<br></span>-->
                                <!--<span *ngIf="solicitudService.asegurado && solicitudService.atributoTipoCredito" style="white-space: nowrap">{{solicitudService.atributoTipoCredito.valor}}<br></span>-->
                                <!--<span *ngIf="solicitudService.asegurado && solicitudService.atributoSolicitudSciEstado">{{solicitudService.atributoSolicitudSciEstado.valor}}<br></span>-->
                                <span *ngIf="solicitudService.asegurado && solicitudService.asegurado.instancia_poliza.anexo_poliza">{{solicitudService.asegurado.instancia_poliza.anexo_poliza.monto_prima}}<br></span>
                                <!--<span *ngIf="solicitudService.atributoUsuarioCargo && solicitudService.atributoUsuarioCargo.valor" style="white-space: nowrap" >{{solicitudService.atributoUsuarioCargo.valor}}<br></span>-->
                              </div>
                            </div>
                          </div>
                          <div class="ui-g-12 ui-md-1 search-icon">
                            <!--<button pButton type="button" (cshowNroCuentalick)="editarTitular()"-->
                            <!--class="ui-button-secondary"-->
                            <!--icon="{{solicitudService.hasRolConsultaTarjetas || solicitudService.hasRolConsultaCajero ? 'ui-icon-remove-red-eye' : 'ui-icon-edit'}}"-->
                            <!--style="width: 35px;height: 35px"></button>-->
                          </div>
                        </div>
                      </div>
                    </p-fieldset>
                    <p-fieldset class="form-group" legend="Datos del Titular" toggleable="true">

                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-1" style="text-align:center">
                          <img src="assets/layout/images/avatar5.png" width="30px"/>
                        </div>
                        <div class="ui-g-12 ui-md-10 car-details">
                          <div class="ui-g">
                            <div class="ui-g-3 ui-sm-3">
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_primer_nombre"><b>Nombre: </b><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_primer_apellido"><b>Apellido Paterno: </b><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_segundo_apellido"><b>Apellido Materno:</b><br></span>
                              <span style="white-space: nowrap"><b>Nro Documento Identidad: </b><br></span>
                            </div>
                            <div class="ui-g-3 ui-sm-3">
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_primer_nombre">{{solicitudService.asegurado.entidad.persona.persona_primer_nombre}}<br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_primer_apellido">{{solicitudService.asegurado.entidad.persona.persona_primer_apellido}}<br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_segundo_apellido">{{solicitudService.asegurado.entidad.persona.persona_segundo_apellido}}<br></span>
                              <span style="white-space: nowrap">{{solicitudService.asegurado.entidad.persona.persona_doc_id}} {{solicitudService.asegurado.entidad.persona.persona_doc_id_ext != 12 ? solicitudService.ProcedenciaCIParametroCod[solicitudService.asegurado.entidad.persona.persona_doc_id_ext] : ''}}<br></span>
                            </div>
                            <div class="ui-g-3 ui-sm-3">
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_fecha_nacimiento"><span><b>Fecha Nacimiento: </b></span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_celular"><span><b>Celular: </b></span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.showNroCuenta && solicitudService.atributoNroCuenta"><span><b>Nro Cuenta: </b></span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.id_poliza == 5 && solicitudService.showPlan"><span><b>Plan:</b></span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.id_poliza == 5 && solicitudService.showPlazo"><span><b>Plazo:</b></span><br></span>
                            </div>
                            <div class="ui-g-3 ui-sm-3">
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_fecha_nacimiento"><span>{{solicitudService.persona_banco.fecha_nacimiento_str}}</span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.asegurado.entidad.persona.persona_celular"><span>{{solicitudService.asegurado.entidad.persona.persona_celular}}</span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.showNroCuenta && solicitudService.atributoNroCuenta"><span>{{solicitudService.atributoNroCuenta.valor + ' ' + solicitudService.MonedasParametroCod[solicitudService.atributoMoneda.valor+'']}}</span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.id_poliza == 5 && solicitudService.showPlan"><span>{{solicitudService.PlanesParametroCod[solicitudService.persona_banco_datos.plan+'']}}</span><br></span>
                              <span style="white-space: nowrap" *ngIf="solicitudService.id_poliza == 5 && solicitudService.showPlazo"><span>{{solicitudService.persona_banco_datos.plazo}} (meses)</span><br></span>
                            </div>
                          </div>
                        </div>
                        <div class="ui-g-12 ui-md-1 search-icon">
                          <button pButton type="button" (click)="editarTitular()"
                                  class="ui-button-secondary"
                                  icon="{{solicitudService.hasRolConsultaTarjetas || solicitudService.hasRolConsultaCajero ? 'ui-icon-remove-red-eye' : solicitudService.estadoIniciado.id == solicitudService.asegurado.instancia_poliza.id_estado+'' ? 'ui-icon-edit' : 'ui-icon-remove-red-eye'}}"
                                  style="width: 35px;height: 35px"></button>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                </div>
              </div>
              <!--<app-anexo #componenteAnexo [parametrosAnexo]="anexoService.parametrosYAtributos" (setBeneficiarios)="solicitudService.asegurado.beneficiarios = $event"></app-anexo>-->
              <app-beneficiario #componenteBeneficiario [parametros_beneficiario]="solicitudService.parametrosYAtributos" (setBeneficiarios)="solicitudService.asegurado.beneficiarios = $event"></app-beneficiario>
            </div>
        </div>
    </div>
</p-panel>

<p-dialog class="dialog-emitir-solicitud" header="Emitir Solicitud" [(visible)]="solicitudService.displayEmitirSolicitud" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <form *ngIf="fechaEmisionForm" [formGroup]="fechaEmisionForm" (ngSubmit)="updateInstanciaPoliza()">
    <div class="ui-g-12 text-center">
      <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
      <div class="ui-g-12 ui-md-12">
        <p>La fecha de emisión del certificado de seguro sera la siguiente:</p>
      </div>
      <div class="ui-g-12 ui-md-offset-3 ui-md-6 ui-md-offset-3">
        <span class="md-inputfield" style="height: 260px">
          <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="solicitudService.instanciaDocumentoCertificado.fecha_emision" pInputText
                      formControlName="fecha_registro" [minDate]="yesterday" [disabled]="true"></p-calendar>
        </span>
        <p-message severity="error"
                   [text]="fechaEmisionForm && fechaEmisionForm.controls['fecha_registro'].errors != null ? fechaEmisionForm.controls['fecha_registro'].errors['required'] ? 'La fecha es requerida' : fechaEmisionForm.controls['fecha_registro'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : '' : ''"
                   *ngIf="!fechaEmisionForm && fechaEmisionForm.controls['fecha_registro'].valid&&fechaEmisionForm.controls['fecha_registro'].dirty">
        </p-message>
        <button type="submit" pButton icon="fa fa-check" label="Guardar" style="bottom: 115px"></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog header="Se Actualizó Exitósamente" *ngIf="solicitudService.asegurado && solicitudService.asegurado.instancia_poliza" [(visible)]="solicitudService.displayCambioEstadoExitosoSinOpciones" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
    <p> {{solicitudService.msgCambioEstadoExitoso}}</p>
    <p *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+''">{{solicitudService.msgCambioExitoso}}</p>
    <p *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoPorPagar.id+''">{{solicitudService.msgCambioExitoso}}</p>
    <p *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+''">{{solicitudService.msgCambioExitoso}}</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <!--<button type="button" pButton icon="pi pi-check" (click)="displayCambioEstadoExitoso = false; solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' ? ImprimirSolicitud(solicitudService.asegurado) : solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' ? solicitudService.ImprimirCertificado(solicitudService.asegurado) : ''" label="SI"></button>-->
      <button type="button" pButton icon="pi pi-checks" (click)="solicitudService.displayCambioEstadoExitosoSinOpciones = false;" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="El cliente no existe" [(visible)]="displayNuevoClienteSinNroCuenta" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
  </div>
  <p class="text-center">No se encontró una cuenta para realizar el débito de la prima</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="cancelarSolicitud(); displayNuevoClienteSinNroCuenta = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="El cliente no tiene tarjeta" [(visible)]="displaySinTarjetaDebito" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
  </div>
  <p class="text-center">No se encontró una tarjeta de debito para el cliente, no se podrá instrumentar el producto</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="cancelarSolicitud(); displaySinTarjetaDebito = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Se Actualizo Exitosamente" [(visible)]="displayActualizacionExitoso" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
    <p>La informacion proveniente del banco sobre el cliente fue actualizada exitosamente</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayActualizacionExitoso = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Se Actualizo Exitosamente" [(visible)]="solicitudService.displayCambioEstadoExitoso" *ngIf="solicitudService.asegurado && solicitudService.asegurado.instancia_poliza" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
    <p>La solicitud fue actualizada exitosamente a la siguiente instancia:
      {{solicitudService.EstadosInstaciaPolizaId[solicitudService.asegurado.instancia_poliza.id_estado]}}</p>
    <p *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+''">¿Desea imprimir la solicitud de seguro Nro: {{solicitudService.instanciaDocumentoSolicitud.nro_documento+''}}?</p>
    <p *ngIf="solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+''">¿Desea imprimir el certificado de cobertura Nro: {{solicitudService.instanciaDocumentoCertificado.nro_documento+''}}?</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayCambioEstadoExitoso = false; solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoSolicitado.id+'' ? solicitudService.ImprimirSolicitud(solicitudService.asegurado.id_instancia_poliza,solicitudService.asegurado.instancia_poliza.id_poliza) : solicitudService.asegurado.instancia_poliza.id_estado+'' == solicitudService.estadoEmitido.id+'' ? solicitudService.ImprimirCertificado(solicitudService.asegurado.id_instancia_poliza,solicitudService.asegurado.instancia_poliza.id_poliza) : ''" label="SI"></button>
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayCambioEstadoExitoso = false;" label="No"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Solicitud Existente" [(visible)]="solicitudService.displayModalSolicitudExistente" [modal]="true" [responsive]="true" [closable]="false" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
    <p>{{solicitudService.msgSolicitudExistente}} ¿Desea VER las anteriores solicitudes?</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <!--<button type="button" pButton icon="pi pi-check" (click)="abrirModalRegistroCliente(solicitudService.persona_banco.doc_id,solicitudService.persona_banco.extension)"-->
      <!--label="CREAR Nueva Solicitud"></button>-->
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayModalSolicitudExistente = false; solicitudService.verGestionSolicitudes(solicitudService.asegurados,filtros)"
              label="VER Solicitudes Anteriores"></button>
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayModalSolicitudExistente = false; cancelarSolicitud()"
              label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Solicitud Existente" [(visible)]="solicitudService.displayModalSolicitudExistenteCrear" [modal]="true" [responsive]="true" [closable]="false" [minY]="70" style="background: #ffffff !important;" [position]="'center'" [closeOnEscape]="true">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
    <p>{{solicitudService.msgSolicitudExistente}} ¿Desea CREAR una nueva solicitud o prefiere VER las anteriores solicitudes?</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayModalSolicitudExistenteCrear = false; abrirModalRegistroCliente(solicitudService.persona_banco.doc_id,solicitudService.persona_banco.extension)"
      label="CREAR Nueva Solicitud"></button>
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayModalSolicitudExistenteCrear = false; solicitudService.verGestionSolicitudes(solicitudService.asegurados,filtros)"
              label="VER Solicitudes Anteriores"></button>
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayModalSolicitudExistenteCrear = false;cancelarSolicitud()"
              label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayValidacionConObservaciones" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-error-outline" style="
    border-radius: 20px;
    font-size: 50px;
    color: #f44336;"></i>
    <p>Antes de continuar debe resolver las siguientes observaciones:</p>
  </div>
  <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_error" *ngIf="solicitudService.mostrarObservaciones">
    <p-messages [closable]="false" severity="error" text="Fields are required" [value]="solicitudService.msgs_error"></p-messages>
    <br>
    <p-messages [closable]="false" severity="warn" text="Are you sure?" [value]="solicitudService.msgs_warn"></p-messages>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayValidacionConObservaciones = false"
              label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="solicitudService.displayValidacionSinObservaciones" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 60px;
    color: #4CAF50;"></i>
    <p>{{solicitudService.msgText +', ¿Desea continuar?'}}</p>
  </div>
  <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_warn" *ngIf="solicitudService.mostrarObservaciones">
    <p-messages [closable]="false" severity="warn" text="Are you sure?" [value]="solicitudService.msgs_warn"></p-messages>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="cambiarSolicitudEstado()" label="Aceptar"></button>
      <button type="button" pButton icon="pi pi-times" (click)="solicitudService.displayValidacionSinObservaciones = false"
              label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Error de validacion" [(visible)]="displayErrorPlanPago" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-error-colibri"></i>
  </div>
  <p class="text-center">No se logro iniciar el plan de pago, por favor contactese con el area de TI</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times"
              (click)="displayErrorPlanPago = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Error de validacion" [(visible)]="displayErrorPlanPago" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-error-colibri"></i>
  </div>
  <p class="text-center">No se logro iniciar el plan de pago, por favor contactese con el area de TI</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times"
              (click)="displayErrorPlanPago = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="Validación de la solicitud" [(visible)]="displayValidacionAlInicio" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 60px;
    color: #e6e102;"></i>
    <p>{{solicitudService.msgText +', ¿Desea continuar?'}}</p>
  </div>
  <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_error">
    <p-messages [closable]="false" severity="error" text="Fields are required" [value]="solicitudService.msgs_error"></p-messages>
    <br>
    <p-messages [closable]="false" severity="warn" text="Are you sure?" [value]="solicitudService.msgs_warn"></p-messages>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="displayValidacionAlInicio = false"
              label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="No Existe" [(visible)]="displayClienteNoExiste" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p class="text-center">{{solicitudService.msgText ? solicitudService.msgText : 'El cliente no existe'}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="cancelarSolicitud(); displayClienteNoExiste = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="No Existe" [(visible)]="solicitudService.displayErrorRespuestaBanco" [modal]="true" [minY]="70">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
  </div>
  <p class="text-center">Hubo un problema relacionado con la respuesta de los servicios del banco, el servicio: {{solicitudService.nombreServicioBanco}} no genero ningun dato, por favor contactese con el area de sistemas del Banco, o intente mas tarde.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="solicitudService.displayErrorRespuestaBanco = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Solicitud de Tarjeta Existente" [(visible)]="solicitudService.displaySolicitudTarjetaCreditoExistente" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p>{{solicitudService.msgSolicitudExistente}} ¿que acción desea realizar?</p>
  <!--<p class="text-center">El cliente ya tiene una solicitud de tarjeta {{id_poliza == 3 ? 'de Crédito' : (id_poliza == 4 ? 'de Débito' : '')}}, ¿Desea CREAR una nueva solicitud o prefiere VER las anteriores solicitudes?</p>-->
  <p-footer>
    <div class="ui-g-12">
      <div class="ui-g ui-dialog-buttonpane ui-helper-clearfix">
        <div class="ui-g-12 ui-md-3"></div>
        <div class="ui-g-12 ui-md-3">
          <button class="full-width" type="button" pButton icon="pi pi-check"
                  (click)="solicitudService.verGestionSolicitudes(solicitudService.asegurados,filtros); solicitudService.displaySolicitudTarjetaCreditoExistente = false"
                  label="VER {{numero_solicitudes > 1 ? 'Solicitudes Anteriores' : 'Solicitud Anterior'}}"></button>
        </div>
        <!--<div class="ui-g-12 ui-md-3">-->
        <!--<button class="full-width" type="button" pButton icon="pi pi-check"-->
        <!--(click)="abrirModalRegistroCliente() ;solicitudService.displaySolicitudTarjetaCreditoExistente = false"-->
        <!--label="CREAR Nueva Solicitud"></button>-->
        <!--</div>-->
        <div class="ui-g-12 ui-md-3">
          <button class="full-width" type="button" pButton icon="pi pi-times"
                  (click)="solicitudService.displaySolicitudTarjetaCreditoExistente = false" label="Cancelar"></button>
        </div>
      </div>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Tarjeta invalida" [(visible)]="solicitudService.displayTarjetaInvalida" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p class="text-center">La tarjeta es invalida, por favor, verifica que los datos sean correctos.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="solicitudService.displayTarjetaInvalida = false" label="Verificar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Tarjeta invalida" [(visible)]="displayTarjetaInvalidaContinuar" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p class="text-center">La tarjeta es invalida, desea continuar?.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="displayTarjetaInvalidaContinuar = false; guardarSolicitudPersona()" label="SI"></button>
      <button type="button" pButton icon="pi pi-times"
              (click)="displayTarjetaInvalidaContinuar = false" label="NO"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Edad incorrecta" [(visible)]="solicitudService.displayEdadIncorrecta" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
  </div>
  <p class="text-center">La edad de la persona ({{solicitudService.edadAsegurado}} {{solicitudService.anexoAsegurado && solicitudService.anexoAsegurado.edad_unidad ? solicitudService.anexoAsegurado.edad_unidad.parametro_descripcion : ''}}), no cumple con las condiciones de asegurabilidad de la poliza, favor verifique la fecha de nacimiento</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times"
              (click)="solicitudService.displayEdadIncorrecta= false; solicitudService.afterAlertEdad(userform)" label="Aceptar"></button>
      <!--<button type="button" pButton icon="pi pi-times"-->
      <!--(click)="displayEdadIncorrecta= false; afterAlertEdad(); guardarSolicitudPersona()" label="Si"></button>-->
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Nro de Tarjeta Vacia" [(visible)]="displayIntroduscaNroTarjeta" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p class="text-center">Debe introducir un Nro de Tarjeta</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times"
              (click)="displayIntroduscaNroTarjeta = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="No Existe" [(visible)]="solicitudService.displayValidacionApellidos" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high ui-icon-warn-colibri"></i>
  </div>
  <p class="text-center">El cliente no tiene registrado ningun apellido, Por favor registre un apellido paterno o materno</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayValidacionApellidos = false" label="ACEPTAR"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Información actualizada" [(visible)]="displayNroCuentasActualizados" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-check" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
  </div>
  <p class="text-center">La información relacionada al Nro. de tarjeta fue recuperada exitosamente.</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="displayNroCuentasActualizados = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Actualizar Datos Persona" *ngIf="aseguradoWithDiferentDocIdExt" [(visible)]="solicitudService.displayActualizacionPersona" [modal]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
    <p>La informacion proveniente de la busqueda del CI {{solicitudService.asegurado.entidad.persona.persona_doc_id}}
      con extensión {{solicitudService.ProcedenciaCIParametroCodDescripcion[solicitudService.asegurado.entidad.persona.persona_doc_id_ext]}}
      del cliente {{aseguradoWithDiferentDocIdExt.entidad.persona.persona_primer_apellido}} {{aseguradoWithDiferentDocIdExt.entidad.persona.persona_segundo_apellido}} {{aseguradoWithDiferentDocIdExt.entidad.persona.persona_primer_nombre}},
      tiene actualmente el CI {{aseguradoWithDiferentDocIdExt.entidad.persona.persona_doc_id}} con extensión {{solicitudService.ProcedenciaCIParametroCodDescripcion[aseguradoWithDiferentDocIdExt.entidad.persona.persona_doc_id_ext]}},<br>
      Desea Cambiar la extensión del cliente a {{solicitudService.ProcedenciaCIParametroCodDescripcion[solicitudService.asegurado.entidad.persona.persona_doc_id_ext]}}? <br>
      Nota: Esto afectara a las anteriores solicitudes que el cliente haya realizado en los distintos productos del Colibri.
    </p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="solicitudService.displayActualizacionPersona = false; afterSearch()" label="NO"></button>
      <button type="button" pButton icon="pi pi-check" (click)="cambiarPersonaExtension(aseguradoWithDiferentDocIdExt.entidad.persona.id, aseguradoWithDiferentDocIdExt.id_instancia_poliza, solicitudService.doc_id, solicitudService.extension)" label="SI"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Tarjeta de Débito sin Cuenta" [(visible)]="displayNroTarjetaSinCuentas" [modal]="true" [responsive]="true" [minY]="70" style="background: #ffffff !important;" [position]="'center'">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p class="text-center">El Nro de tarjeta de débito introducido no tiene cuentas asignadas a la misma
    {{solicitudService.Cuentas.length ? ', actualmente se muestran solo las cuentas relacionadas a NetBank.' : '.'}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="displayNroTarjetaSinCuentas = false" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Error Interno" [(visible)]="displaySolicitudDuplicado" *ngIf="solicitudService.asegurado" [modal]="true" [responsive]="true" [minY]="70">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 50px;
    color: #e6e102;"></i>
  </div>
  <p class="text-center">Se encontro ({{solicitudService.asegurados.length}}) solicitudes referentes al cliente: {{solicitudService.asegurado.entidad.persona.persona_segundo_apellido}} {{solicitudService.asegurado.entidad.persona.persona_primer_nombre}} con CI: {{solicitudService.asegurado.entidad.persona.persona_doc_id}} {{solicitudService.ProcedenciaCIParametroCod[solicitudService.asegurado.entidad.persona.persona_doc_id_ext]}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check"
              (click)="abrirVentanaRegistroNuevoTitular(); displayClienteNoExiste = false" label="Nuevo Cliente"></button>
    </div>
  </p-footer>
</p-dialog>

<p-panel *ngIf="solicitudService.asegurado && solicitudService.displayModalFormTitular" header="SOLICITUD {{solicitudService.poliza.descripcion}}" toggleable="true" collapseIcon="ui-icon-close" (onBeforeToggle)="solicitudService.displayModalFormTitular=false; beforeToggleFormTitular()" [(collapsed)]="collapsedFormTitular">
  <p-tabView class="form-group">
    <p-tabPanel header="Datos Personales" leftIcon="ui-icon-person">
      <form *ngIf="userform" [formGroup]="userform" (ngSubmit)="guardarSolicitudValidando()" id="formSolicitud">
        <p-fieldset id="EA_SecRegistroTitular" legend="Registro del Titular" toggleable="true" *ngIf="solicitudService.showSecRegistroTitular">
          <div class="ui-g-12">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'paterno')" *ngIf="solicitudService.showPaterno">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.paterno" pInputText
                         id="persona_primer_apellido" formControlName="persona_primer_apellido"
                         [readonly]="!solicitudService.editPaterno">
                  <label>Apellido Paterno</label>
                </span>
                <p-message severity="error" text="Login"
                           *ngIf="!userform.controls['persona_primer_apellido'].valid&&userform.controls['persona_primer_apellido'].dirty">
                </p-message>
                <p-message *ngIf="solicitudService.atributoApellidoPaterno.requerido" severity="warn" [text]="solicitudService.atributoApellidoPaterno.tipo_error"></p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'materno')" *ngIf="solicitudService.showMaterno">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.materno" pInputText
                         id="persona_segundo_apellido" formControlName="persona_segundo_apellido"
                         [readonly]="!solicitudService.editMaterno">
                  <label>Apellido Materno</label>
                </span>
                <p-message severity="error"
                           [text]="userform.controls['persona_segundo_apellido'].errors['required'] ? 'Segundo apellido requerido' : ''"
                           *ngIf="!userform.controls['persona_segundo_apellido'].valid&&userform.controls['persona_segundo_apellido'].dirty">
                </p-message>
                <p-message *ngIf="solicitudService.atributoApellidoMaterno.requerido" severity="warn" [text]="solicitudService.atributoApellidoMaterno.tipo_error"></p-message>

              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'nombre')" *ngIf="solicitudService.showPrimerNombre">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.nombre" pInputText
                         id="persona_primer_nombre" formControlName="persona_primer_nombre"
                         [readonly]="!solicitudService.editPrimerNombre">
                  <label>Nombres</label>
                </span>
                <p-message severity="error" text="Nombres"
                           *ngIf="!userform.controls['persona_primer_nombre'].valid&&userform.controls['persona_primer_nombre'].dirty">
                </p-message>
                <p-message *ngIf="solicitudService.atributoPrimerNombre.requerido" severity="warn" [text]="solicitudService.atributoPrimerNombre.tipo_error"></p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'apcasada')" *ngIf="solicitudService.showApCasada">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.apcasada" pInputText
                         id="persona_apellido_casada" formControlName="persona_apellido_casada"
                         [readonly]="!solicitudService.editApCasada">
                  <label>Apellido de casada</label>
                </span>
                <p-message severity="error" text="Email"
                           *ngIf="!userform.controls['persona_apellido_casada'].valid&&userform.controls['persona_apellido_casada'].dirty">
                </p-message>
                <p-message *ngIf="solicitudService.atributoApellidoCasada.requerido" severity="warn" [text]="solicitudService.atributoApellidoCasada.tipo_error"></p-message>

              </div>
              <div class="ui-g-12 ui-md-3">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showTipoDocumento">
                  <p-dropdown [options]="solicitudService.TiposDocumentos" [(ngModel)]="solicitudService.TiposDocumentosCodId[solicitudService.persona_banco_datos.tipo_doc]"
                              [showClear]="true" formControlName="par_tipo_documento_id"
                              (onChange)="solicitudService.showFormValidation(userform)"
                              [disabled]="!solicitudService.editTipoDocumento"></p-dropdown>
                  <label>Tipo de Documento</label>
                </span>
                <p-message severity="error" text="Contexto es requerido" *ngIf="!userform.controls['par_tipo_documento_id'].valid&&userform.controls['par_tipo_documento_id'].dirty"></p-message>
                <p-message *ngIf="solicitudService.atributoTipoDoc.requerido" severity="warn" [text]="solicitudService.atributoTipoDoc.tipo_error"></p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'doc_id')" *ngIf="solicitudService.showDocId">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.doc_id" pInputText
                         id="persona_doc_id" formControlName="persona_doc_id"
                         [readonly]="!solicitudService.editDocId">
                  <label>Numero de documento</label>
                </span>
                <p-message severity="error"
                           [text]="userform.controls['persona_doc_id'].errors['required'] ? 'Password is required' : userform.controls['persona_doc_id'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : ''"
                           *ngIf="!userform.controls['persona_doc_id'].valid&&userform.controls['persona_doc_id'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'complemento')" *ngIf="solicitudService.showDocIdComplemento">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.complemento" pInputText
                         id="persona_doc_id_comp" formControlName="persona_doc_id_comp"
                         [readonly]="!solicitudService.editDocIdComplemento">
                  <label>Complemento</label>
                </span>
                <p-message severity="error"
                           [text]="userform.controls['persona_doc_id_ext'].errors['required'] ? 'Password is required' : userform.controls['persona_doc_id_ext'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : ''"
                           *ngIf="!userform.controls['persona_doc_id_ext'].valid&&userform.controls['persona_doc_id_ext'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'extension')" *ngIf="solicitudService.showDocIdExt">
                  <p-dropdown [options]="solicitudService.ProcedenciaCI" [(ngModel)]="solicitudService.persona_banco.extension"
                              [showClear]="true" formControlName="persona_doc_id_ext"
                              [disabled]="!solicitudService.editDocIdExt"></p-dropdown>
                  <label>Extensión</label>
                </span>
                <p-message severity="error" text="Contexto es requerido"
                           *ngIf="!userform.controls['persona_doc_id_ext'].valid&&userform.controls['persona_doc_id_ext'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'sexo')" *ngIf="solicitudService.showSexoId">
                  <p-dropdown [options]="solicitudService.Sexos" [(ngModel)]="solicitudService.SexosAbreviacion[solicitudService.persona_banco.sexo]" [showClear]="true"
                              formControlName="par_sexo_id" [disabled]="!solicitudService.editSexoId">
                  </p-dropdown>
                  <label>Sexo</label>
                </span>
                <p-message severity="error" text="Sexo es requerido"
                           *ngIf="!userform.controls['par_sexo_id'].valid&&userform.controls['par_sexo_id'].dirty"></p-message>
              </div>
              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.showFechaNac">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'dia_fechanac')">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.fecha_nacimiento_str"
                         pInputText formControlName="persona_fecha_nacimiento"
                         (change)="solicitudService.showFormValidation(userform); solicitudService.updateEdad($event)"
                         [readonly]="!solicitudService.editFechaNac"
                         [disabled]="!solicitudService.editFechaNac">
                  <label>Fecha de Nacimiento</label>
                </span>
                <p-message severity="error"
                           [text]="userform.controls['persona_fecha_nacimiento'].errors != undefined ? userform.controls['persona_fecha_nacimiento'].errors['required'] ? 'Fecha de nacimiento requerida' :
                                                    userform.controls['persona_fecha_nacimiento'].errors['max'] ? 'La persona es mayor de 65 años' :
                                                    userform.controls['persona_fecha_nacimiento'].errors['min'] ? 'La persona no es mayor de 18 años' :
                                                    userform.controls['persona_fecha_nacimiento'].errors['pattern'] ? 'Ejemplo de fecha dd/mm/aaaa' : '' : ''"
                           *ngIf="userform.controls['persona_fecha_nacimiento'].errors && !userform.controls['persona_fecha_nacimiento'].valid&&userform.controls['persona_fecha_nacimiento'].dirty">
                </p-message>
                <p-message *ngIf="solicitudService.atributoFechaNacimiento.requerido" severity="warn" [text]="solicitudService.atributoFechaNacimiento.tipo_error"></p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showPaisNacimiento">
                  <p-dropdown [options]="solicitudService.Paises" [(ngModel)]="solicitudService.persona_banco_datos.pais_nacimiento"
                              [showClear]="true" selectId="410" formControlName="par_pais_nacimiento_id"
                              [disabled]="!solicitudService.editPaisNacimiento"></p-dropdown>
                  <label>Lugar de Nacimiento</label>
                </span>
                <p-message severity="error" text="Contexto es requerido"
                           *ngIf="!userform.controls['par_pais_nacimiento_id'].valid&&userform.controls['par_pais_nacimiento_id'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-6">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'direccion')" *ngIf="solicitudService.showDireccionDomicilio">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.direccion" pInputText
                         id="persona_direccion_domicilio" formControlName="persona_direccion_domicilio"
                         [readonly]="!solicitudService.editDireccionDomicilio">
                  <label>Dirrección domicilio</label>
                </span>
                <p-message severity="error"
                           [text]="userform.controls['persona_direccion_domicilio'].errors != undefined ? userform.controls['persona_direccion_domicilio'].errors['required'] ? 'Direccion de domicilio requerido' : userform.controls['persona_direccion_domicilio'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : '' : ''"
                           *ngIf="!userform.controls['persona_direccion_domicilio'].valid&&userform.controls['persona_direccion_domicilio'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'fono_domicilio')" *ngIf="solicitudService.showTelefonoDomicilio">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.fono_domicilio" pInputText
                         id="persona_telefono_domicilio" formControlName="persona_telefono_domicilio"
                         [readonly]="!solicitudService.editTelefonoDomicilio">
                  <label>Teléfono de contacto</label>
                </span>
                <p-message severity="error"
                           [text]="userform.controls['persona_telefono_domicilio'].errors != undefined ? userform.controls['persona_telefono_domicilio'].errors['required'] ? 'Telefono de domicilio requerido' : userform.controls['persona_telefono_domicilio'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : '' : ''"
                           *ngIf="!userform.controls['persona_telefono_domicilio'].valid&&userform.controls['persona_telefono_domicilio'].dirty">
                </p-message>
              </div>
              <div class="ui-g-12 ui-md-3">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'fono_oficina')" *ngIf="solicitudService.showTelefonoTrabajo">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.fono_oficina" pInputText
                         id="persona_telefono_trabajo" formControlName="persona_telefono_trabajo"
                         [readonly]="!solicitudService.editTelefonoTrabajo">
                  <label>Telefono oficina</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-3"  *ngIf="solicitudService.showTelefonoCelular">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco,'nro_celular')">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco.nro_celular" pInputText
                         (change)="solicitudService.showFormValidation(userform)"
                         id="persona_telefono_celular" formControlName="persona_telefono_celular"
                         [readonly]="!solicitudService.editTelefonoCelular">
                  <label>Teléfono celular</label>
                </span>
                <p-message severity="error"
                  [text]="userform.controls['persona_telefono_celular'].errors != undefined ?
                  userform.controls['persona_telefono_celular'].errors['required'] ? 'El teléfono de celular es requerido' :
                               userform.controls['persona_telefono_celular'].errors['minlength'] ? solicitudService.minLengthMsgCelular :
                               userform.controls['persona_telefono_celular'].errors['maxlength'] ? solicitudService.minLengthMsgCelular :
                               userform.controls['persona_telefono_celular'].errors['pattern'] ? 'Debe contener solo números' :
                               'Número de telefono inválido' : '' "
                               *ngIf="!userform.controls['persona_telefono_celular'].valid&&userform.controls['persona_telefono_celular'].dirty">
                </p-message>
                <p-message *ngIf="solicitudService.atributoTelefonoCelular.requerido" severity="warn" [text]="solicitudService.atributoTelefonoCelular.tipo_error"></p-message>
              </div>


              <div class="ui-g-12 ui-md-3">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showZona">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco_datos.zona" pInputText
                         id="par_zona" formControlName="par_zona"
                         [readonly]="!solicitudService.editZona">
                  <label>Zona</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-3">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showNroDireccion">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco_datos.nro_direccion" pInputText
                         id="par_nro_direccion" formControlName="par_nro_direccion"
                         [readonly]="!solicitudService.editNroDireccion">
                  <label>Nro de Direccion</label>
                </span>
              </div>

            </div>
          </div>
        </p-fieldset>

        <p-fieldset id="EA_SecDatosTarjeta" legend="Datos de la Tarjeta {{solicitudService.id_poliza == 3 || solicitudService.id_poliza == 13 ? 'de Crédito' : (solicitudService.id_poliza == 4 ? 'de Débito' : '')}} a Asegurar" toggleable="true" *ngIf="solicitudService.showSecDatosTarjeta">
          <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 3 || solicitudService.id_poliza == 13">
                        <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showTarjetaNro">
                          <input type="text" [(ngModel)]="solicitudService.persona_banco_datos.nro_tarjeta" pInputText
                                 id="tarjeta_nro" formControlName="par_tarjeta_nro"
                                 [readonly]="!solicitudService.editTarjetaNro">
                          <label>{{solicitudService.id_poliza == 4 ? 'Código de tarjeta NetBank' : 'Nro de tarjeta'}}</label>
                        </span>
            <p-message severity="error"
                       [text]="userform.controls['par_tarjeta_nro'].errors != undefined ?
                               userform.controls['par_tarjeta_nro'].errors['required'] ? 'El nro de tarjeta es requerido' :
                               userform.controls['par_tarjeta_nro'].errors['minlength'] ? minLengthMsg :
                               userform.controls['par_tarjeta_nro'].errors['maxlength'] ? minLengthMsg :
                               userform.controls['par_tarjeta_nro'].errors['pattern'] ? 'Debe contener solo números' :
                               'Número de tarjeta inválida' : '' "
                       *ngIf="!userform.controls['par_tarjeta_nro'].valid&&userform.controls['par_tarjeta_nro'].dirty">
            </p-message>
          </div>

          <!-- Tarjetas debito -->

          <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 4">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada && solicitudService.showTarjetaNro">
                  <p-dropdown [options]="solicitudService.tarjetasAsegurar" [(ngModel)]="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.nro_tarjeta"
                              (onChange)="selectNroTarjeta($event,solicitudService.persona_banco_tarjeta_debito_cuentas_vinculadas)"
                              [showClear]="true" selectId="410" formControlName="par_tarjeta_nro"
                              [disabled]="!solicitudService.editTarjetaNro"></p-dropdown>
                  <label>Número de tarjeta</label>
                </span>
                <p-message severity="error" text="Contexto es requerido"
                           *ngIf="!userform.controls['par_tarjeta_nro'].valid&&userform.controls['par_tarjeta_nro'].dirty">
                </p-message>
              </div>


          <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.persona_banco_tarjetas_debito.length">
                        <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showTarjetaUltimosCuatroDigitos">
                          <input type="text" [(ngModel)]="solicitudService.persona_banco_tarjeta_debito.tarjeta_ultimos_cuatro_digitos" pInputText
                                 id="tarjeta_ultimos_cuatro_digitos" formControlName="par_tarjeta_ultimos_cuatro_digitos"
                                 [readonly]="!solicitudService.editTarjetaUltimosCuatroDigitos">
                          <label>Últimos 4 dígitos del número de tarjeta</label>
                        </span>
            <p-message severity="error"
                       [text]="userform.controls['par_tarjeta_ultimos_cuatro_digitos'].errors != undefined ?
                               userform.controls['par_tarjeta_ultimos_cuatro_digitos'].errors['required'] ? 'Los ultimos 4 digitos del numero de tarjeta son requeridos' :
                               userform.controls['par_tarjeta_ultimos_cuatro_digitos'].errors['minlength'] ? 'Debe contener 4 dígitos' :
                               userform.controls['par_tarjeta_ultimos_cuatro_digitos'].errors['maxlength'] ? 'Debe contener 4 dígitos' :
                               '' : '' "
                       *ngIf="!userform.controls['par_tarjeta_ultimos_cuatro_digitos'].valid&&userform.controls['par_tarjeta_ultimos_cuatro_digitos'].dirty">
            </p-message>
          </div>

          <!-- Tarjetas credito -->

          <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 3 || solicitudService.id_poliza == 13">
                        <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showTarjetaNombre">
                          <input type="text" [(ngModel)]="solicitudService.persona_banco_tarjeta_credito.tarjeta_nombre" pInputText
                                 id="tarjeta_nombre" formControlName="par_tarjeta_nombre"
                                 [readonly]="!solicitudService.editTarjetaNombre">
                          <label>Nombre de la tarjeta</label>
                        </span>
            <p-message severity="error"
                       [text]="userform.controls['par_tarjeta_nombre'].errors != undefined ?
                               userform.controls['par_tarjeta_nombre'].errors['required'] ? 'El nombre de tarjeta es requerido' :
                               '' : '' "
                       *ngIf="!userform.controls['par_tarjeta_nombre'].valid&&userform.controls['par_tarjeta_nombre'].dirty">
            </p-message>
          </div>

          <div class="ui-g-12 ui-md-1" *ngIf="solicitudService.id_poliza == 3 || solicitudService.id_poliza == 13">
            <button type="button" pButton icon="pi pi-search" [disabled]="!btnTarjetaDebitoCuentasEnabled"  (click)="getDatosFromTarjetaDebitoCuentaService()" *ngIf="solicitudService.id_poliza == 4"></button>
          </div>

          <div class="ui-g-12 ui-md-2" *ngIf="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada && solicitudService.id_poliza == 4">
                <span class="md-inputfield" *ngIf="solicitudService.showFechaActivacion && solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.fecha_activacion">
                  <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.fecha_activacion"
                              pInputText formControlName="par_tar_fecha_activacion"
                              [disabled]="!solicitudService.editTarjetaFechaActivacion"></p-calendar>
                  <label>Fecha Activación</label>
                </span>
            <p-message severity="error"
                       [text]="userform.controls['par_tar_fecha_activacion'].errors['required'] ? 'la tarjeta no cuenta con una fecha de activacion' : userform.controls['par_tar_fecha_activacion'].errors['minlength'] ? '' : ''"
                       *ngIf="!userform.controls['par_tar_fecha_activacion'].valid&&userform.controls['par_tar_fecha_activacion'].dirty">
            </p-message>
          </div>

          <div class="ui-g-12 ui-md-2" *ngIf="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada && solicitudService.id_poliza == 4">
                <span class="md-inputfield" *ngIf="solicitudService.showFinVigencia && solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.fecha_activacion">
                  <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.fin_vigencia"
                              pInputText formControlName="par_tar_fin_vigencia"
                              [disabled]="!solicitudService.editTarjetaFechaFinVigencia"></p-calendar>
                  <label>Fecha Fin de vigencia</label>
                </span>
            <p-message severity="error"
                       [text]="userform.controls['par_tar_fin_vigencia'].errors['required'] ? 'la tarjeta no cuenta con fecha final de vigencia' : userform.controls['par_tar_fin_vigencia'].errors['minlength'] ? '' : ''"
                       *ngIf="!userform.controls['par_tar_fin_vigencia'].valid&&userform.controls['par_tar_fin_vigencia'].dirty">
            </p-message>
          </div>

          <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada && solicitudService.poliza.id == 4">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showEstadoTarjeta">
                  <p-dropdown [options]="solicitudService.EstadosTarjeta" [(ngModel)]="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.estado_tarjeta"
                              [showClear]="true" formControlName="par_estado_tarjeta"
                              [disabled]="true"
                              [readonly]="true"></p-dropdown>
                  <label>Estado de la Tarjeta</label>
                </span>
            <p-message severity="error" text="Tarjeta requerida"
                       *ngIf="!userform.controls['par_estado_tarjeta'].valid&&userform.controls['par_estado_tarjeta'].dirty">
            </p-message>
          </div>

<!-- Tarjetas credito -->

          <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.poliza.id == 3 || solicitudService.poliza.id == 13">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showTipoTarjeta">
                  <p-dropdown [options]="solicitudService.TiposTarjeta" [(ngModel)]="solicitudService.persona_banco_datos_tarjeta.tipo_tarjeta"
                              [showClear]="true" formControlName="par_tipo_tarjeta"
                              [disabled]="!solicitudService.editTarjetaTipo"></p-dropdown>
                  <label>Tipo de Tarjeta</label>
                </span>
            <p-message severity="error" text="Tarjeta requerida"
                       *ngIf="!userform.controls['par_tipo_tarjeta'].valid&&userform.controls['par_tipo_tarjeta'].dirty">
            </p-message>
          </div>

<!-- Tarjetas debito -->

          <div class="ui-g-12 ui-md-2" *ngIf="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada && solicitudService.poliza.id == 4">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showTipoTarjeta">
                  <p-dropdown [options]="solicitudService.TiposTarjeta" [(ngModel)]="solicitudService.persona_banco_datos_tarjeta.tipo_tarjeta"
                              [showClear]="true" formControlName="par_tipo_tarjeta"
                              [disabled]="!solicitudService.editTarjetaTipo"></p-dropdown>
                  <label>Tipo de Tarjeta</label>
                </span>
            <p-message severity="error" text="Tarjeta requerida"
                       *ngIf="!userform.controls['par_tipo_tarjeta'].valid&&userform.controls['par_tipo_tarjeta'].dirty">
            </p-message>
          </div>

        </p-fieldset>

        <p-fieldset id="EA_SecFormaPago" legend="Forma de Pago" toggleable="true" *ngIf="solicitudService.id_poliza == 4 &&  solicitudService.showSecFormaPago">
          <div class="ui-g-12">
            <div class="ui-g form-group">

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.showFormaPago">
                <span class="md-inputfield md-inputfield-fill">
                  <p-dropdown [options]="solicitudService.FormasPago"
                              [(ngModel)]="solicitudService.persona_banco_solicitud.solicitud_forma_pago" [showClear]="true"
                              (onChange)="solicitudService.showFormValidation(userform); selectFormaPago($event)"
                              selectId="410" formControlName="par_forma_pago"
                              [disabled]="!solicitudService.editFormaPago"></p-dropdown>
                  <label>Forma de Pago<span *ngIf="solicitudService.atributoFormaPago.requerido" style="color: red">(*)</span></label>
                  <span class="md-inputfield-important">
                    <!--<label>¿El pago de la prima será en efectivo?<span *ngIf="solicitudService.atributoDebitoAutomatico.requerido" style="color: red">(*)</span></label>-->
                  </span>
                </span>
                <p-message *ngIf="solicitudService.atributoFormaPago.requerido" severity="warn" [text]="solicitudService.atributoFormaPago.tipo_error"></p-message>
              </div>

              <div class="ui-g-12 ui-md-3">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showModalidadPago">
                    <p-dropdown [options]="solicitudService.Periodicidad"
                                [(ngModel)]="solicitudService.persona_banco_datos.modalidad_pago" [showClear]="true"
                                id="par_modalidad_pago" formControlName="par_modalidad_pago"
                                (onChange)="selectPeriodicidad($event); solicitudService.showFormValidation(userform)"
                                [disabled]="!solicitudService.editModalidadPago"></p-dropdown>
                  <label>Periodicidad</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.poliza.anexo_poliza && solicitudService.showPrima">
                <span class="md-inputfield">
                  <input type="text" [(ngModel)]="solicitudService.poliza.anexo_poliza.monto_prima" pInputText
                         (change)="solicitudService.showFormValidation(userform)"
                         id="par_prima" formControlName="par_prima"
                         [disabled]="!solicitudService.editPrima"
                         [readonly]="!solicitudService.editPrima">
                  <label>Costo prima en {{solicitudService.poliza.anexo_poliza.par_moneda.parametro_abreviacion}}<span *ngIf="solicitudService.atributoPrima.requerido" style="color: red">(*)</span></label>
                </span>
                <p-message *ngIf="solicitudService.atributoPrima.requerido" severity="warn" [text]="solicitudService.atributoPrima.tipo_error"></p-message>
              </div>

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.showNroCuotas">
                <span [classList]="solicitudService.styledFields(solicitudService.persona_banco_datos,'nro_cuotas')">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco_datos.nro_cuotas" pInputText
                         id="par_nro_cuotas" (change)="setNroCuotas($event); solicitudService.showFormValidation(userform)"
                         formControlName="par_nro_cuotas"
                         [disabled]="!solicitudService.editNroCuotas"
                         [readonly]="!solicitudService.editNroCuotas">
                  <label>Número de cuotas</label>
                </span>
                <p-message *ngIf="solicitudService.atributoNroCuotas.requerido" severity="warn" [text]="solicitudService.atributoNroCuotas.tipo_error"></p-message>
              </div>

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.showPagoEfectivo">
                <span class="md-inputfield md-inputfield-fill">
                  <p-dropdown [options]="solicitudService.Condiciones"
                              [(ngModel)]="solicitudService.persona_banco.debito_automatico" [showClear]="true"
                              (onChange)="selectMetodoPago($event); solicitudService.showFormValidation(userform)"
                              selectId="410" formControlName="par_debito_automatico_id"
                              [disabled]="!solicitudService.editPagoEfectivo"></p-dropdown>
                  <label>Método de Pago<span *ngIf="solicitudService.atributoDebitoAutomatico.requerido" style="color: red">(*)</span></label>
                  <span class="md-inputfield-important">
                    <!--<label>¿El pago de la prima será en efectivo?<span *ngIf="solicitudService.atributoDebitoAutomatico.requerido" style="color: red">(*)</span></label>-->
                  </span>
                </span>
                <!--<p-message *ngIf="solicitudService.atributoDebitoAutomatico.requerido" severity="warn" [text]="solicitudService.atributoDebitoAutomatico.tipo_error"></p-message>-->
              </div>

              <!-- Tarjetas debito -->

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 4 && solicitudService.Cuentas.length">
                <span class="md-inputfield md-inputfield-fill" *ngIf="solicitudService.showNroCuenta && solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.cuentaSelected">
                  <p-dropdown [options]="solicitudService.Cuentas" [(ngModel)]="solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.cuentaSelected.nro_cuenta" [showClear]="true"
                              id="par_numero_cuenta" formControlName="par_numero_cuenta" (onChange)="selectNroCuenta($event)"
                              [disabled]="!solicitudService.editNroCuenta"></p-dropdown>
                  <label>Numero de Cuenta para debito de prima</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 4 && solicitudService.atributoDebitoAutomatico.valor == solicitudService.pagoDebitAutomatico.id+'' && false && solicitudService.length">
                <span class="md-inputfield-important md-inputfield-fill" *ngIf="solicitudService.showNroCuenta && solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada && solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.cuentaSelected">
                  <p-dropdown [options]="solicitudService.Monedas"
                              [(ngModel)]="solicitudService.MonedasStrParametroCod[solicitudService.persona_banco_tarjeta_debito_cuenta_vinculada.cuentaSelected.moneda.trim()]" [showClear]="true"
                              (onChange)="solicitudService.showFormValidation(userform)"
                              id="par_moneda" formControlName="par_moneda"
                              [disabled]="!solicitudService.editMoneda"></p-dropdown>
                  <label>Moneda</label>
                </span>
                <p-message *ngIf="solicitudService.atributoMoneda.requerido" severity="warn" [text]="solicitudService.atributoMoneda.tipo_error"></p-message>
              </div>

              <!-- Tarjetas credito -->

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 3 || solicitudService.id_poliza == 13 && solicitudService.Cuentas.length">
                <span class="md-inputfield-important md-inputfield-fill" *ngIf="solicitudService.showNroCuenta">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco_account.nrocuenta" pInputText id="par_numero_cuenta"
                         formControlName="par_numero_cuenta"
                         [readonly]="!solicitudService.editNroCuenta">
                  <label>Numero de Cuenta para debito de prima</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.id_poliza == 3 || solicitudService.id_poliza == 13 && solicitudService.atributoDebitoAutomatico.valor == solicitudService.pagoDebitAutomatico.id+'' && false && solicitudService.Cuentas.length">
                <span class="md-inputfield-important md-inputfield-fill" *ngIf="solicitudService.showMoneda">
                  <p-dropdown [options]="solicitudService.Monedas" [(ngModel)]="solicitudService.persona_banco_account.moneda" [showClear]="true"
                              id="par_moneda" formControlName="par_moneda"
                              [disabled]="!solicitudService.editMoneda"></p-dropdown>
                  <label>Moneda</label>
                </span>
              </div>


            </div>

          </div>
        </p-fieldset>

        <p-fieldset id="EA_SecImpuestos" legend="Datos para impuestos" toggleable="true" *ngIf="solicitudService.showSecImpuestos">
          <div class="ui-g-12">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield" *ngIf="solicitudService.showRazonSocial">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco_datos.razon_social" pInputText
                         id="par_razon_social" formControlName="par_razon_social"
                         [readonly]="!solicitudService.editRazonSocial">
                  <label>Nombre o razon social para facturar</label>
                </span>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield" *ngIf="solicitudService.showNitCarnet">
                  <input type="text" [(ngModel)]="solicitudService.persona_banco_datos.nit_carnet" pInputText
                         id="par_nit_carnet" formControlName="par_nit_carnet"
                         [readonly]="!solicitudService.editNitCarnet">
                  <label>Nit o Carnet </label>
                </span>
              </div>

            </div>
          </div>

        </p-fieldset>
        <p-fieldset>
          <div class="ui-g-12 ui-md-6">
            <button type="submit" pButton icon="fa fa-check" label="Guardar"
                    [disabled]="!userform.valid"></button>
          </div>
          <div class="ui-g-12 ui-md-6">
            <div class="ui-g-12 ui-md-3" *ngIf="solicitudService.asegurado.instancia_poliza.anexo_poliza && solicitudService.showPrima">
                            <span class="md-inputfield">
                              <label>Prima {{solicitudService.poliza.anexo_poliza.par_moneda.parametro_abreviacion}} {{solicitudService.asegurado.instancia_poliza.anexo_poliza.monto_prima}}</label>
                            </span>
            </div>
          </div>
        </p-fieldset>
        <button type="button" pButton icon="fa fa-check" label="Guardar" (click)="solicitudService.getFormValidationErrors(userform)"></button>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Datos Complementarios" leftIcon="ui-icon-description" *ngIf="solicitudService.displayFormTitular && solicitudService.asegurado && solicitudService.asegurado.instancia_poliza">
      <p-fieldset legend="Datos Adicionales del Titular" toggleable="true">
        <div class="ui-g">
          <p-table #dt [columns]="cols" [value]="solicitudService.asegurado.instancia_poliza.atributo_instancia_polizas_inter"
                   [paginator]="false" [rows]="10" selectionMode="single" [globalFilterFields]="['valor']"
                   [(selection)]="atributo_instancia_poliza_selected" dataKey="id"
                   (onRowSelect)="onRowSelectDato_complementario($event)">
            <ng-template pTemplate="caption">
              <div class="ui-g">
                <div class="ui-g-6" style="text-align: left">
                  Dato
                </div>
                <div class="ui-g-6" style="text-align: right">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="15" placeholder="Global Filter"
                         (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-atributo_instancia_poliza>
              <tr [pSelectableRow]="atributo_instancia_poliza_selected">
                <td>{{atributo_instancia_poliza.objeto_x_atributo.atributo.descripcion}}</td>
                <td>{{atributo_instancia_poliza.valor}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-fieldset>
    </p-tabPanel>
  </p-tabView>
</p-panel>

<div class="card form-group" *ngIf="formBusqueda && solicitudService.displayBusquedaCI">
  <form [formGroup]="formBusqueda" (ngSubmit)="BuscarCliente()">
    <div class="ui-g form-group">
      <p-fieldset class="ui-g-12" legend="Busqueda del cliente" toggleable="false">
        <div class="ui-g-12">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                              <span class="md-inputfield">
                                <input type="text" [(ngModel)]="solicitudService.doc_id" pInputText formControlName="persona_doc_id">
                                <label>Cedula de identidad</label>
                              </span>
              <p-message severity="error"
                         [text]="formBusqueda && formBusqueda.controls['persona_doc_id'].errors != undefined ?
                                                   formBusqueda.controls['persona_doc_id'].errors['required'] ? 'El documento de identidad es requerido' :
                                                   formBusqueda.controls['persona_doc_id'].errors['pattern'] ? 'Debe introducir solo números' :
                                                   '' : '' "
                         *ngIf="formBusqueda && !formBusqueda.controls['persona_doc_id'].valid&&formBusqueda.controls['persona_doc_id'].dirty">
              </p-message>
            </div>

            <div class="ui-g-12 ui-md-4">
                              <span class="md-inputfield">
                                <p-dropdown [options]="solicitudService.ProcedenciaCI" [(ngModel)]="solicitudService.extension"
                                            [showClear]="true" formControlName="persona_doc_id_ext"></p-dropdown>
                                <label>Extensión</label>
                              </span>
            </div>

            <div class="ui-g-12 ui-md-4">
              <button type="submit" pButton icon="pi pi-search"
                      [disabled]="!formBusqueda.valid && (!formBusqueda.valid===true)"></button>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>
  </form>
</div>
