<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
  <div class="loading"></div>
</div>
<p-fieldset #pf1 class="form-group" legend="Seleccione reporte" [toggleable]="true" [collapsed]="a"
(onAfterToggle)="CerrarAll(pf1,pf2,pf3,1)">
<p-table #dt [columns]="cols" [value]="reportes" dataKey="id" scrollHeight="300px">
  <!--<ng-template pTemplate="caption">
    <div class="ui-g">
      <div class="ui-g-6" style="text-align: left">
        Resultados de Reportes
      </div>
      <div class="ui-g-6" style="text-align: right">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="15" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
    </div>
  </ng-template>!-->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [style.width]="col.width">
        <h3>{{col.header}}</h3>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-reporte let-i="rowIndex">
    <tr>
      <td>{{reporte.poliza.descripcion}}</td>
      <td>{{reporte.descripcion}}</td>
      <td>
        <button type="button" pButton icon="ui-icon-filter-vintage" title="GenerarReporte"
          (click)="GenerarReporte(reporte,pf1,pf2,pf3)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</p-fieldset>

<p-fieldset #pf2 class="form-group" legend="Ingrese los parametros para {{reporteSelect.descripcion}}" [toggleable]="true" [collapsed]="b"
  (onAfterToggle)="CerrarAll(pf1,pf2,pf3,2)" [hidden]="reporteSelect.reporte_query_parametros.length===0">
  <form [formGroup]="userform" *ngIf="reporteSelect.reporte_query_parametros.length>0">
    <div class="ui-g form-group">
      <div class="ui-g-12 ui-md-12" *ngFor="let reporte_query_parametro of reporteSelect.reporte_query_parametros">
        <span class="md-inputfield"
          *ngIf="reporte_query_parametro.id_diccionario===null && reporte_query_parametro.tipo!=='date'">
          <input type="text" [(ngModel)]="reporte_query_parametro.valor"
            formControlName="{{reporte_query_parametro.descripcion}}" pInputText>
          <label>{{reporte_query_parametro.descripcion}}</label>
        </span>
        <span class="md-inputfield"
          *ngIf="reporte_query_parametro.id_diccionario===null && reporte_query_parametro.tipo==='number'">
          <input type="number" [(ngModel)]="reporte_query_parametro.valor"
            formControlName="{{reporte_query_parametro.descripcion}}" pInputText>
          <label>{{reporte_query_parametro.descripcion}}</label>
        </span>
        <span class="md-inputfield" *ngIf="reporte_query_parametro.id_diccionario!==null">
          <p-dropdown [options]="reporte_query_parametro.diccionarios" [(ngModel)]="reporte_query_parametro.valor"
            [showClear]="true" formControlName="{{reporte_query_parametro.descripcion}}"></p-dropdown>
          <label>{{reporte_query_parametro.descripcion}}</label>
        </span>
        <div class="ui-g-12"
          *ngIf="reporte_query_parametro.id_diccionario===null && reporte_query_parametro.tipo==='date'">
          <span class="md-inputfield">
            <p-calendar [(ngModel)]="reporte_query_parametro.valor" dateFormat="dd-mm-yy" [baseZIndex]="1000001"
              [showIcon]="true" [showButtonBar]="true" [maxDate]="today" [minDate]="lastMonth"
              [locale]="util.calendario_es" formControlName="{{reporte_query_parametro.descripcion}}"></p-calendar>
            <label>{{reporte_query_parametro.descripcion}}</label>
          </span>
        </div>
        <div class="ui-g-12">
          <p-message severity="error"
            [text]="userform.controls[reporte_query_parametro.descripcion].errors['required'] ? reporte_query_parametro.descripcion+' es requerido' : ''"
            *ngIf="!userform.controls[reporte_query_parametro.descripcion].valid&&userform.controls[reporte_query_parametro.descripcion].dirty">
          </p-message>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12" style="text-align: right">
        <button type="button" pButton [disabled]="btnEjecuta" (click)="EjecutarQuery(reporteSelect,pf1,pf2,pf3,dt2)"
          icon="ui-icon-content-paste" [disabled]="!userform.valid"></button>
      </div>
    </div>
  </form>
</p-fieldset>

<p-fieldset #pf3 legend="resultados" [toggleable]="true" [collapsed]="c" [hidden]="resultado_query.length===0"
(onAfterToggle)="CerrarAll(pf1,pf2,pf3,3)">
  <div [classList]="'ui-g-12 ui-md-12 feature-report-data'">
    <p-table class="reporte-resultados" #dt2 [columns]="cols2"  [value]="resultado_query" [paginator]="true"
    [scrollable]="true" columnResizeMode="expand" [rows]="10">
      <ng-template pTemplate="caption">
        <div class="ui-g">
          <div class="ui-g-6" style="text-align: left">
            Resultados de Reportes
          </div>
          <div class="ui-g-6" style="text-align: right">
            <button type="button" *ngIf="resultado_query.length>0" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
              (click)="dt2.exportCSV()" style="margin-right: 0.5em;"></button>
            <button type="button" *ngIf="resultado_query.length>0" pButton icon="pi pi-file-excel" iconPos="left"
              label="EXCEL" (click)="exportExcel(dt2)" style="margin-right: 0.5em;" class="ui-button-success"></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:150px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col2 of columns" [pSortableColumn]="col2.field">
            <b>{{col2.header}}</b>
            <p-sortIcon [field]="col2.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
              <input type="text" style="width: 100%;" (input)="dt2.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-query let-i="rowIndex">
        <tr>
          <td *ngFor="let name of cols2" style="font-size: 8pt;">
            {{query[name.header]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-fieldset>

<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
