<body style="font-family:Arial">
<p style="font-family:Arial;font-size:8pt;text-align: right; font-weight: bold">Form.Sol.EcoRiesgo-1</p>
<h1 style="font-size: 11pt; text-align: cent	er;" align="center">FORMULARIO DE SOLICITUD DE SEGURO </h1>
<h1 align="center" style="font-size: 11px"><span style="text-align: center; font-size: 11pt;">ECORIESGO</span></h1>
<p style="font-size: 8pt">Solicitud No.:{{nro_documento}}</p>
<p style="font-size: 8pt">Declaro  haber sido informado(a) de todas las condiciones, alcances y coberturas del  presente seguro que vincula a Banco PyME Ecofuturo en calidad de Tomador y la  Compañía en calidad de Asegurador.</p>
<p style="font-size: 8pt">Evaluadas  las condiciones, alcances y coberturas del seguro, de forma voluntaria,  mediante la presente, autorizo al Banco mi incorporación en la póliza del  presente seguro de vida individual masivo.</p>
<!--<p style="font-size: 8pt">En caso  de ser admitida mi solicitud, me comprometo a cancelar el monto mensual de la  prima del seguro, mediante débito de mi cuenta de ahorros que se indica líneas  más abajo:</p>!-->
<table border="0">
    <tr><td colspan="2" style="font-size: 8pt"><strong>DATOS DEL SOLICITANTE:</strong></td></tr>
    <tr><td style="font-size: 8pt">Nombre Completo:</td><td style="font-size: 8pt">{{persona_primer_apellido}} {{persona_segundo_apellido}} {{persona_apellido_casada}} {{persona_primer_nombre}} {{persona_segundo_nombre}}</td></tr>
    <tr><td style="font-size: 8pt">Apellido de Casada:</td><td style="font-size: 8pt">{{persona_apellido_casada}}</td></tr>
    <tr><td style="font-size: 8pt">Tipo Documento:</td><td style="font-size: 8pt">{{tipo_documento}}</td></tr>
    <tr><td style="font-size: 8pt">No. De Documento:</td><td style="font-size: 8pt">{{persona_doc_id}}</td></tr>
    <tr><td style="font-size: 8pt">Extensión CI:</td><td style="font-size: 8pt">{{persona_doc_id_ext}}</td></tr>
    <tr><td style="font-size: 8pt">Complemento:</td><td style="font-size: 8pt">{{persona_doc_id_comp}}</td></tr>
    <tr><td style="font-size: 8pt">Género:</td><td style="font-size: 8pt">{{sexo}}</td></tr>
    <tr><td style="font-size: 8pt">Teléfono de Referencia:</td><td style="font-size: 8pt">{{persona_celular}}</td></tr>
    <tr><td style="font-size: 8pt">Dirección:</td><td style="font-size: 8pt">{{persona_direccion_domicilio}}</td></tr>
    <tr><td style="font-size: 8pt">Fecha de nacimiento:</td><td style="font-size: 8pt">{{persona_fecha_nacimiento}}</td></tr>
    <!--<tr><td style="font-size: 8pt">No. De Cuenta de Ahorros:</td><td style="font-size: 8pt">{{cta}}</td></tr> !-->
</table>

<table border="0">
    <tr><td colspan="2" style="font-size: 8pt"><strong>DATOS DE LA SOLICITUD:</strong></td></tr>
    <tr><td style="font-size: 8pt">Compañía de Seguros:</td><td style="font-size: 8pt"><strong>ALIANZA VIDA SEGUROS Y REASEGUROS S.A.</strong></td></tr>
    <tr><td style="font-size: 8pt">Monto de la Prima:</td><td style="font-size: 8pt"><strong>{{moneda_abreviacion}} {{monto_prima}}.- ({{monto_prima_str}} 00/100 {{moneda_descripcion}})</strong></td></tr>
    <tr><td style="font-size: 8pt">Fecha de solicitud del Seguro:</td><td style="font-size: 8pt">{{fecha_emision}}</td></tr>
    <!--<tr><td style="font-size: 8pt">Fecha de inicio de cobertura:</td><td style="font-size: 8pt">A PARTIR DE LA FECHA DE DÉBITO DEL MONTO TOTAL DE LA PRIMA ESTABLECIDA EN EL CONTRATO DE SEGURO	</td></tr>!-->
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
</table>

<table border="0">
    {{tabla_beneficiarios}}
</table>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<b />

<table  width="100%" style="font-size: 8pt">
    <tr><td style="text-align: center">FIRMA DEL SOLICITANTE:</td><td style="text-align: center">FIRMA DEL FUNCIONARIO DEL BANCO</td></tr>
    <tr><td style="text-align: center">Aclaración de Firma</td><td style="text-align: center">Aclaración de Firma</td></tr>
    <tr><td style="text-align: center">{{persona_primer_apellido}} {{persona_segundo_apellido}} {{persona_apellido_casada}} {{persona_primer_nombre}} {{persona_segundo_nombre}}</td><td style="text-align: center"></td></tr>
</table>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<!--<h1 align="center" style="font-size: 11px">CONDICIONES DEL SEGURO</h1>
<h1 style="font-size: 8pt">COBERTURAS Y VALORES ASEGURADOS</h1>
<p style="font-size: 8pt">Este seguro garantiza el pago  de Bs7.000,00 en caso de muerte del asegurado como consecuencia de enfermedad,  accidente o muerte natural en general.</p>
<ol>
  <li style="font-size: 8pt">Muerte Natural o Accidental /excepto las expresamente excluidas.</li>
</ol>
<h1 style="font-size: 8pt">EXCLUSIONES</h1>
<p style="font-size: 8pt">Este Seguro no será aplicable  en ninguna de las siguientes circunstancias:</p>
<ol>
  <li style="font-size: 8pt">Guerra Civil o Internacional,  declarada o no</li>
  <li style="font-size: 8pt">Fisión o fusión nuclear,  contaminación radioactiva</li>
  <li style="font-size: 8pt">Participación activa del  Asegurado en actos delincuenciales, subversivos o terroristas.</li>
  <li style="font-size: 8pt">Accidentes que se produzcan  mientras el Asegurado se encuentre en estado de ebriedad o bajo los efectos de  drogas, siempre que guarden relación causal con el accidente</li>
  <li style="font-size: 8pt">Enfermedades congénitas o  preexistentes conocidas por el Asegurado</li>
  <li style="font-size: 8pt">Participación directa o  indirecta de un beneficiario en calidad de autor o cómplice en actos delictivos  que ocasionen la muerte al Asegurado</li>
  <li style="font-size: 8pt">Participación del Asegurado  como conductor o acompañante en carreras de automóviles, motocicletas, lanchas  a motor, avionetas, en carreras de entrenamiento viajes u operaciones  submarinas o cualquier otro acto que represente alto riesgo para su integridad  física.</li>
  <li style="font-size: 8pt">Suicidio practicado por el Asegurado  dentro del primer año de vigencia de la cobertura </li>
</ol>
<h1 style="font-size: 8pt">REQUISITOS PARA SOLICITAR EL BENEFICIO</h1>
<p style="font-size: 8pt">En caso de muerte del  Asegurado, la indemnización del capital asegurado será pagada al beneficiario  declarado o en ausencia de estos a los herederos legales, como máximo los 15  días hábiles de haber presentado los documentos probatorios de la muerte del  Asegurado, de acuerdo al siguiente detalle:</p>
<ol>
  <li style="font-size: 8pt">Certificado de Defunción original.</li>
  <li style="font-size: 8pt">Fotocopia simple del documento de Identidad del Asegurado y Beneficiario.</li>
  <li style="font-size: 8pt">Formularios requeridos por la UIF (si aplica).</li>
  <li style="font-size: 8pt">Informe de la Autoridad Competente que corresponda que certifique las  circunstancias del accidente (en caso que haya tomado acción en el siniestro)  en copia legalizada (si aplica).</li>
</ol>
<h1 style="font-size: 8pt">VIGENCIA</h1>
<p style="font-size: 8pt">Las coberturas otorgadas por  esta Póliza respecto de cada Asegurado, entrará en vigencia a partir del día del  pago efectivo de la prima.</p>
<h1 style="font-size: 8pt">BENEFICIARIO</h1>
<p style="font-size: 8pt">Persona que el prestatario  haya designado en el Formulario de Solicitud de Seguro.</p>
<h1 style="font-size: 8pt">PRIMA ANUAL INDIVIDUAL</h1>
<p style="font-size: 8pt">Bs50,00</p>
<h1 style="font-size: 8pt">CARENCIA</h1>
<p style="font-size: 8pt">Se establece un periodo de  carencia de 30 días para fallecimiento por enfermedad, computables a partir de  la fecha de inclusión del asegurado a la presente póliza.</p>
<h1 style="font-size: 8pt">CONDICIÓN DE ADHESIÓN, DECLARACIONES Y AUTORIZACIONES</h1>
<p style="font-size: 8pt">El Asegurado, se adhiere  voluntariamente al presente Seguro.</p>
<p style="font-size: 8pt">Declaración: El Asegurado  declara conocer y aceptar todas las condiciones del presente Seguro y declara  que a la fecha no tiene conocimiento de alguna  enfermedad prexistente y goza de buena salud.</p>
<p style="font-size: 8pt">El Asegurado acepta la  presentación, con calidad de Declaración Jurada, de la documentación de  respaldo que solicitará ALIANZA VIDA SEGUROS Y REASEGUROS S misma que será  requerida en virtud de la obligación normativa regulatoria que éste mantiene  respecto a los controles e informes que realiza por instrucción de la Unidad  Investigaciones Financieras u otras entidades fiscalizadoras.</p>
<p style="font-size: 8pt">Autorización expresa: El  Asegurado autoriza a la Compañía su reporte a la Central de Riesgos del Mercado  de Seguros acorde a las normativas reglamentarias de la Autoridad de  Fiscalización y Control de Pensiones y Seguros vigente. Asimismo, el Asegurado  autoriza expresamente a la Compañía a solicitar, obtener y dar información  respecto a antecedentes financieros, de seguros y de salud, a través de ellos o  terceras personas.</p>!-->
</body>
