<p-panel header="PLAN DE PAGO" toggleable="true" collapseIcon="ui-icon-close" (onBeforeToggle)="beforeToggle();">
<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
  <div class="loading"></div>
</div>
<p-fieldset legend="DATOS PARA BUSQUEDA" toggleable="true" [hidden]="this.parametrosRuteo.parametro_ruteo!==null">
  <div class="ui-g-12 ui-md-4">
    <span class="md-inputfield">
      <p-dropdown [options]="ListaPolizas" [(ngModel)]="objeto.id_poliza" [showClear]="true"></p-dropdown>
      <label>Poliza</label>
    </span>
  </div>
  <div class="ui-g-12 ui-md-4">
    <span class="md-inputfield">
      <input type="text" [(ngModel)]="objeto.nro_certificado" pInputText>
      <label>Nro. certificado</label>
    </span>
  </div>
  <div class="ui-g-12 ui-md-4" style="text-align: left;">
    <button type="button" pButton (click)="listaCertificadosPorNroDocYIdPoliza(dt)" pTooltip="Buscar" tooltipPosition="top"
      icon="pi pi-search"></button>
  </div>
  <div class="ui-g-12 ui-md-12">
  <table style="width:100%;border: black 1px solid;" *ngIf="certificados.length>1">
    <tr *ngFor="let certificado of certificados">
      <td><b>Fecha Emisión:</b>{{certificado.fecha_emision}}</td>
      <td><b>Fecha Inicio Vig.:</b>{{certificado.fecha_inicio_vigencia}}</td>
      <td><b>Fecha Fin Vig.:</b>{{certificado.fecha_fin_vigencia}}</td>
      <td><b>Estado:</b>{{certificado.estado}}</td>
      <td><b>{{certificado.RENOVADA}}</b></td>
      <td><button type="button" pButton icon="ui-icon-remove-red-eye" title="Ver" (click)="selecionar(certificado.nro_documento,certificado.id)"></button></td>
    </tr>
  </table>
  </div>
</p-fieldset>
<p-fieldset legend="DATOS PLAN PAGOS DE LA PRIMA DE SEGURO" toggleable="true" [hidden]="!milimizado">
  <table style="width:100%">
    <tr>
      <td style="width:25%"><b>PRODUCTO:</b></td>
      <td style="width:25%">{{plan_pago.poliza}}</td>
      <td style="width:25%"><b>PLAZO EN AÑOS</b></td>
      <td style="width:25%">{{plan_pago.plazo_anos}}</td>
    </tr>
    <tr>
      <td style="width:25%"><b>NOMBRE DEL ASEGURADO:</b></td>
      <td style="width:25%">{{plan_pago.asegurado}}</td>
      <td style="width:25%"><b>NUMERO DE PAGOS(CUOTAS):</b></td>
      <td style="width:25%">{{plan_pago.periodicidad_anual}}</td>
    </tr>
    <tr>
      <td style="width:25%"><b>NRO. DE CERTIFICADO</b></td>
      <td style="width:25%">{{plan_pago.nro_certificado}}</td>
      <td style="width:25%"><b>MONEDA:</b></td>
      <td style="width:25%">{{plan_pago.moneda}}</td>
    </tr>
    <tr>
      <td style="width:25%"><b>FECHA DE EMISION:</b></td>
      <td style="width:25%">{{plan_pago.fecha_emision}}</td>
      <td style="width:25%"><b>PRIMA TOTAL</b></td>
      <td style="width:25%">{{plan_pago.total_prima | number:'.2'}}</td>
    </tr>
    <tr>
      <td style="width:25%"><b>INICIO DE VIGENCIA:</b></td>
      <td style="width:25%">{{plan_pago.fecha_inicio_vigencia}}</td>
      <td style="width:25%"><b>PRIMA CANCELADA(CUOTAS):</b></td>
      <td style="width:25%">{{plan_pago.total_calcelado | number:'.2'}}({{plan_pago.nro_cuotas_canceladas}})</td>
    </tr>
    <tr>
      <td style="width:25%"><b>FIN DE VIGENCIA</b></td>
      <td style="width:25%">{{plan_pago.fecha_fin_vigencia}}</td>
      <td style="width:25%"><b>PRIMA PENDIENTE(CUOTAS):</b></td>
      <td style="width:25%">{{plan_pago.total_pendiente | number:'.2'}}({{plan_pago.nro_cuotas_pendientes}})</td>
    </tr>
    <tr>
      <td style="width:25%"><b>ESTADO CERTIFICADO</b></td>
      <td style="width:25%">{{plan_pago.estado_instancia}}</td>
      <td style="width:25%"><b></b></td>
      <td style="width:25%"></td>
    </tr>
  </table>
</p-fieldset>
<p-fieldset legend="DETALLE PLAN PAGOS" toggleable="true" [hidden]="!milimizado">
  <p-table #dt [columns]="cols" [value]="plan_pagos" dataKey="id">
    <ng-template>
      <div class="ui-g">
        <div class="ui-g-6" style="text-align: left">
          Resultados de la busqueda
        </div>
        <div class="ui-g-6" style="text-align: right">
          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="IMPRIMIR PLAN PAGOS"
            (click)="exportExcel(dt)" style="margin-right: 0.5em;" class="ui-button-success"></button>
          <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field">
          <b>{{col.header}}</b>
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-instancia_poliza let-i="rowIndex">
      <tr>
        <td>{{instancia_poliza['nro_cuota_prog']}}</td>
        <td>{{instancia_poliza['fecha_couta_prog']}}</td>
        <td style="text-align: right;">{{instancia_poliza['pago_cuota_prog'] | number:'.2'}}</td>
        <td>{{instancia_poliza['fecha_limite']}}</td>
        <td style="text-align: right;">{{instancia_poliza['pago_prima_acumulado'] | number:'.2'}}</td>
        <td style="text-align: right;">{{instancia_poliza['prima_pendiente'] | number:'.2'}}</td>
        <td >{{instancia_poliza['FechaPagoEjec']}}</td>
        <td>{{instancia_poliza['estado']}}</td>
        <td>{{instancia_poliza['estado_det']}}</td>
        <td>
          <b>...</b>
          <!--<div class="ui-g-6">
          <button type="button" pButton label="Image" (click)="op1.toggle($event)"></button>
                    <p-overlayPanel #op1>
                        <img src="assets/demo/images/nature/nature1.jpg" alt="Nature 1" />
                    </p-overlayPanel>
                  </div>                    !-->
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="ui-g-12" style="text-align: center">
    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="IMPRIMIR PLAN PAGOS"
       style="margin-right: 0.5em;" class="ui-button-success" (click)="imprimirPlanPagos()"></button>
    <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
  </div>
</p-fieldset>
</p-panel>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
