<html>

<head>
    <meta charset="utf8">
    <title>automotores</title>
    <style>
        html,
        body,* {
            margin: 0;
            padding: 0;
            font-family: Calibri;
			font-size:7.5pt;
			text-align:justify;
        }
    </style>
</head>

<body>
    <div class="page">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="65"><img width="67" height="61" src="{{logo_alianza}}"></td>
			<td width="602"><p align="center" style="text-align: center;"><strong style="font-size:8pt;">CERTIFICADO DE COBERTURA AL CONTRATO  DE SEGURO DE VIDA INDIVIDUAL MASIVO</strong><br>
  			<strong style="font-family: Calibri;font-size: 8pt">Aprobada por R.A. – APS/SA/N° 967 del 13 de diciembre de  2012 COD- 2017 – 934618 – 2012 12 024 4001</strong></p></td>
			<td width="67">
              <!--<table>-->
                <!--<tr>-->
                  <!--<td><img src="{{logo_ecoaguinaldo}}" width="69" height="30" align="right"></td>-->
                  <!--<td><img src="{{logo_ecopasanaku}}" width="69" height="30" align="right"></td>-->
                <!--</tr>-->
              <!--</table>-->
            </td>
			<td width="75"><img src="{{logo_banco}}" width="75" height="25" align="right"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><strong style="font-size: 9pt">Nº ECR-{{numero de certificado}}</strong></td>
		</tr>
	</table>
<p>
  <span>Se deja expresa constancia mediante el presente certificado, que: <u>{{asegurado}}</u> con No. C.I. <u>{{numero carnet}} {{extencion}}</u>, Fecha de Nacimiento: <u>{{fecha de nacimiento}}</u>, ha sido admitido como integrante a  la póliza N° <u>43041419</u> con  efecto desde <u>{{fecha desde}} al {{fecha hasta}}</u> y tiene derecho a las prestaciones  del contrato según sus reglas y condiciones:</span></p>
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="558" colspan="3"><strong>DECLARATORIA DE BENEFICIARIOS</strong></td>
  </tr>
  <tr>
    <td width="558" colspan="3"><strong>Nombro    voluntariamente como beneficiarios a las siguientes personas:</strong></td>
  </tr>
  <tr>
    <td width="315">Nombre Completo</td>
    <td width="115">Parentesco </td>
    <td width="128">% de Participación </td>
  </tr>
  {{filas}}
</table>
<p><strong>COBERTURAS</strong><br>
    <strong>-</strong>Muerte  Natural o Accidental<br>
    <strong>PRIMA</strong><br>
  Bs{{monto_prima}}.-<br>
  <strong>CAPITAL ASEGURADO</strong><br>
  Bs{{monto_capital}}.-<br>
  <strong align="center"><u align="center">REGLAS DEL  CONTRATO DEL SEGURO DE VIDA INDIVIDUAL MASIVO</u></strong><br>
  <strong><u>Regla I.  DEFINICIONES</u></strong><br>
  <u>EL ASEGURADOR:</u> Alianza  Vida Seguros y Reaseguros S.A.<br>
  <u>ASEGURADO:</u> Persona  natural que haya sido admitida, bajo los términos de la Condiciones Generales y  Particulares de la Póliza de Seguro de Vida Individual Masivo.<br>
  <u>BENEFICIARIO:</u> Persona o  personas naturales a cuyo favor se extiende la Indemnización. Puede ser  designada o en su defecto respondiendo a la declaratoria de herederos  correspondiente.<br>
  <u>COBERTURA DE MUERTE NATURAL O  ACCIDENTAL:</u> Este seguro garantiza el pago de capital asegurado en caso  de muerte del asegurado como consecuencia de enfermedades, accidente o muerte  natural en general, siempre que la causa no haya sido excluida en el presente  contrato y la póliza se encuentre vigente al momento del fallecimiento.<br>
  <strong><u>Regla II. CONDICIONES  DE ADHESION DE LOS ASEGURADOS</u></strong><br>
  2.1. Toda persona que tenga una edad igual o superior a 18  años e inferior o igual a 70 años y haya cumplido con los requisitos de  asegurabilidad. Posteriormente la permanencia del asegurado se amplía a los 75  años de edad.<br>
  2.2. Toda Persona, a partir de la fecha de inicio de  vigencia, debe rellenar un formulario de declaración jurada de salud.<br>
  2.3. Si el límite de asegurabilidad es superior al  establecido en el inciso 2.1, el solicitante, para ser admitido debe completar  un informe médico personal para el Asegurador y aportar tantas pruebas de su  asegurabilidad como requiera de él la Compañía de Seguros.<br>
  <strong><u>Regla III.  CARENCIA</u></strong><br>
  3.1. Se establece un periodo de carencia de 30 días para  fallecimiento por enfermedad computables a partir de la fecha de inclusión del  asegurado a la presente póliza.<br>
  <strong><u>Regla IV. LA  POLIZA</u></strong><br>
  4.1. No se pagará ninguna indemnización conforme a estas  reglas si la suma asegurada correspondiente, no resultara pagadera con arreglo  a las condiciones de la Póliza.<br>
  <strong><u>Regla V. MODIFICACION  O TERMINACION</u></strong><br>
  5.1. El asegurado y la Compañía se reservan el derecho de  modificar estas reglar y los términos de la póliza, al vencimiento de cada  anualidad.<br>
  5.2. El asegurado y la Compañía se reservan el derecho de  finalizar el contrato al vencimiento de cada anualidad.<br>
  <strong><u>Regla VI. RESTRICCIONES  Y EXCLUSIONES</u></strong><br>
  Este Seguro no será aplicable en ninguna de las siguientes  circunstancias:<br>
  a) Guerra civil o internacional, declarada o no.<br>
  b) Fisión o fusión nuclear, contaminación radioactiva.<br>
  c) Participación activa en actos delictivos, subversivos o  terroristas.<br>
  d) Accidentes que se produzcan mientras el Asegurado se  encuentre en estado ebriedad o bajo los efectos de drogas, siempre que guarden  causal con el accidente.<br>
  e) Enfermedades congénitas o pre-existentes conocidas por  el asegurado.<br>
  f) Participación directa o indirecta de un beneficiario en  calidad de autor o cómplice en actos delictivos que ocasionen la muerte al  asegurado.<br>
  g) Participación del asegurado como conductor o acompañante  en carreras de automóviles, motocicletas, lanchas a motor, avionetas, en  carreras de entretenimiento y en operaciones o viajes submarinos o cualquier  otro acto que represente alto riesgo para su integridad física.<br>
  h) Suicidio practicado por el asegurado dentro del primer  año de vigencia de su cobertura.<br>
  <strong><u>Regla VII.  RESPONSABILIDAD MAXIMA DEL &ldquo;ASEGURADOR&rdquo; EN CASO DE SINIESTRO</u></strong><br>
  La responsabilidad máxima del &ldquo;Asegurador&rdquo; o límite máximo  Indemnizable bajo esta póliza no será superior al Limite Asegurado.<br>
  <strong><u>Regla VIII.  AVISO DE SINIESTRO</u></strong><br>
  El asegurado o beneficiario, tan pronto y a más tardar  dentro de los tres días de tener conocimiento del siniestro, deben comunicar  tal hecho al asegurado, salvo fuerza mayor impedimento justificado.<br>
  <strong><u>Regla IX. PROCEDIMIENTO  EN CASO DE SINIESTRO</u></strong><br>
  En caso de siniestros contemplados bajo el presente  contrato, el asegurado debe presentar:<br>
  a) Certificado de defunción.<br>
  b) Fotocopia del carnet de identidad del asegurado y  beneficiario.<br>
  c) Formularios requeridos por la UIF (si aplica).<br>
  d) En caso de que el fallecimiento sea a consecuencia de  accidente, se deberán presentar los informes legales expedidos por las  autoridades competente.<br>
  <strong><u>Regla X. PLAZO  PARA PRONUNCIARSE Y TERMINO PARA EL PAGO DE SINIESTRO</u></strong><br>
  El asegurador debe pronunciarse sobre el derecho del  asegurado o beneficiario dentro de los treinta días de recibidas la  información. El plazo de (30) días, fenece con la aceptación o rechazo del  siniestro o con la solicitud del asegurador al asegurado de que se complementen  los requerimientos contemplados en el artículo 1031 y no vuelve a correr hasta  que el asegurado haya cumplido con tales requerimientos. En caso de demora u  omisión del asegurado o beneficiario en proporcionar la información y  evidencias sobre el siniestro, el termino señalado no corre hasta el  cumplimiento de estas obligaciones. El silencio del asegurador, vencido el  termino para pronunciarse, importe la aceptación del reclamo. Una vez  establecido el derecho del asegurado y el monto de la indemnización, el  asegurador debe pagar su obligación, dentro de los quince días posteriores al  aviso de siniestro o tan pronto sean llenados los requerimientos.</p>
    </div>

    <table width="100%" style="font-size:7pt">
      <tr style="width: 100%">
        <td width="8%"><img src="{{logo_corredora}}" style="width: 80%"></td>
        <td width="85%">
          <img src="{{firmas}}" align="right" width="50%">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span>La presente Póliza se encuentra intermediada por Kerkus Corredores de seguros S.A. domiciliado en la Ciudad de La Paz, Avenida Sánchez Bustamante Nro. 302, esquina calle 9, Zona Calacoto, teléfono (2) 2974000</span>
        </td>
      </tr>
    </table>


</body>

</html>
