<body style="font-family: Calibri">
	    <style>
        body,* {
			font-size:12;
        }
    	</style>
<table>
	<tr>
<td style="border: solid 2px black; font-family: Calibri;">	
<p align="center">Orden de Cobro<br>
{{Ecoaguinaldo}}
</p>
	<p style="text-align: right;font-size: 12;font-weight: bold;padding: 5;">OC-{{numero de documento}}</p>
<p style="margin: 5;">
Estimado Cliente: {{nombres}}<br />
Para hacer efectivo la contratación del seguro {{Ecoaguinaldo}}, debe presentarse en caja y realizar el pago a través de los siguientes datos.<br />
Nro. de Solicitud: {{numero de certificado}}<br />
Nro. De CI: {{numero carnet}} {{extencion}}<br />
Importe: Bs. 60.00</p>
<table width="100%" border="0">
<tr>
<td style="text-align: left;font-size: 11">Generado por {{nombres_adicionado}}</td><td style="text-align: right;font-size: 11">fecha y hora:{{fecha_hora}}</td>
</tr>
</table>
</td>
</tr>	
</table>	
</body>
