<!doctype html>
<html>
<head>
	<style type="text/css">
p {margin:0;
  line-height: 100%}
</style>
</head>
<body style="font-size:10pt">
	<p align="right">{{fecha}}</p>
  <p align="center"><strong style="text-align: center">PLAN DE PAGO DE LA PRIMA DE SEGURO</strong><br></p>
  <p align="center">Poliza: {{poliza}}</p>
	<br />
<table border="0" cellspacing="0" cellpadding="0" width="659">
  <tr>
    <td width="429" valign="top">
      <strong>Apellidos y Nombres:</strong> {{asegurado}} </td>
    <td width="230" valign="top"><p><strong>Prima Total:</strong> {{total_prima}}</p></td>
  </tr>
  <tr>
    <td width="429" valign="top"><p><strong>Nro. Certificado:</strong> {{nro_certificado}}</p></td>
    <td width="230" valign="top"><p><strong>Plazo en años</strong> {{plazo_anos}}</p></td>
  </tr>
  <tr>
    <td width="429" valign="top"><p><strong>Fecha de Emisión:</strong> {{fecha_emision}}</p></td>
    <td width="230" valign="top"><p><strong>Plazo:</strong> {{periodicidad_anual}}</p></td>
  </tr>
  <tr>
    <td width="429" valign="top"><p><strong>Inicio de Vigencia:</strong> {{fecha_inicio_vigencia}}</p></td>
    <td width="230" valign="top"><p><strong>Moneda:</strong> {{moneda}}</p></td>
  </tr>
  <tr>
    <td width="429" valign="top"><p><strong>Fin Vigencia:</strong> {{fecha_fin_vigencia}}</p></td>
    <td width="230" valign="top"><p><strong></strong></p></td>
  </tr>
</table>
	<br />
<table border="0" cellspacing="0" cellpadding="0" align="left" width="690">
  <tr>
    <td width="56" valign="top"><p align="center"><strong>Nro de cuota.</strong></p></td>
    <td width="132" valign="top"><p align="center"><strong>Fecha programada</strong></p></td>
    <td width="132" valign="top"><p align="center"><strong>Monto a pagar</strong></p></td>
    <td width="132" valign="top"><p align="center"><strong>Fecha límite para pago</strong></p></td>
    <td width="123" valign="top"><p align="center"><strong>Pago acumulado</strong></p></td>
    <td width="113" valign="top"><p align="center"><strong>Pago pendiente</strong></p></td>
  </tr>
	<tr><td colspan="6"><hr></td></tr>
  {{filas}}
	<tr><td colspan="2"></td><td colspan="3"><hr></td><td></td></tr>
	{{totales}}
</table>


<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>

<table  width="100%" style="font-size: 8pt">
		 <tr><td style="text-align: center">FIRMA DEL SOLICITANTE:</td><td style="text-align: center">FIRMA DEL FUNCIONARIO DEL BANCO</td></tr> 
		 <tr><td style="text-align: center">Aclaración de Firma</td><td style="text-align: center">Aclaración de Firma</td></tr> 
		 <tr><td style="text-align: center">{{asegurado}}</td><td style="text-align: center"></td></tr> 
</table>
</body>
</html>
