<div class="ui-g dashboard">
    <!--
    <div class="ui-g-12 ui-md-3">
      <div class="overview-box overview-box-1">
          <div class="overview-box-header"></div>
          <div class="overview-box-content">
              <div class="overview-box-icon"><i class="material-icons">inbox</i></div>
              <div class="overview-box-title">Colibri Desgravamen</div>
              <div class="overview-box-count">152</div>
          </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-3">
      <div class="overview-box overview-box-2">
          <div class="overview-box-header"></div>
          <div class="overview-box-content">
              <div class="overview-box-icon"><i class="material-icons">person_pin_circle</i></div>
              <div class="overview-box-title">Colibri Garantias</div>
              <div class="overview-box-count">532</div>
          </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-3">
      <div class="overview-box overview-box-3">
          <div class="overview-box-header"></div>
          <div class="overview-box-content">
              <div class="overview-box-icon"><i class="material-icons">insert_drive_file</i></div>
              <div class="overview-box-title">Colibri 2</div>
              <div class="overview-box-count">28</div>
          </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-3">
      <div class="overview-box overview-box-4">
          <div class="overview-box-header"></div>
          <div class="overview-box-content">
              <div class="overview-box-icon"><i class="material-icons">supervisor_account</i></div>
              <div class="overview-box-title">Colibri 3</div>
              <div class="overview-box-count">256</div>
          </div>
      </div>
    </div>!-->
</div>
