<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>SegurosApp</title>
  <base href="/desgravamen">  <!--
  <meta http-equiv="Content-Security-Policy"
content="default-src 'self';
  frame-src 'self';
  script-src 'self';
  style-src 'self' 'unsafe-inline';
  font-src 'self';
  img-src 'self' data:;
  connect-src 'self'">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/desgravamen/styles.b662797bf755c7130116.css"></head>
<body>
  <app-root></app-root>
<script src="/desgravamen/runtime-es2015.829d6185100d2f69b880.js" type="module"></script><script src="/desgravamen/runtime-es5.829d6185100d2f69b880.js" nomodule defer></script><script src="/desgravamen/polyfills-es5.33e544efa56951553a6f.js" nomodule defer></script><script src="/desgravamen/polyfills-es2015.451f47aa8b4f20da31ee.js" type="module"></script><script src="/desgravamen/vendor-es2015.a4b18cb0c4a7267f5583.js" type="module"></script><script src="/desgravamen/vendor-es5.a4b18cb0c4a7267f5583.js" nomodule defer></script><script src="/desgravamen/main-es2015.dc5c6b1dfc602232a989.js" type="module"></script><script src="/desgravamen/main-es5.dc5c6b1dfc602232a989.js" nomodule defer></script></body>
</html>
