<div class="row mt-1">
  <p-table #dt [columns]="cols" [value]="diccionarios" [paginator]="true" [rows]="10" selectionMode="single"
    [(selection)]="diccionarioSelect" dataKey="id" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
      <div class="ui-g">
        <div class="ui-g-6" style="text-align: left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialog()" class="green-btn flat" label="Adicionar"></button>
        </div>
        <div class="ui-g-6" style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="15" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-diccionario>
      <tr [pSelectableRow]="diccionario">
        <td>{{diccionario.diccionario_codigo}}</td>
        <td>{{diccionario.diccionario_descripcion}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<form [formGroup]="diccionarioform" (ngSubmit)="onSubmit()">
  <p-dialog header="Detalle de parametros" [(visible)]="display" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '800px'}" [resizable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="diccionario_codigo">codigo</label>
        </div>
        <div class="ui-g-8">
          <input pInputText [(ngModel)]="diccionario.diccionario_codigo" id="diccionario_codigo" formControlName="diccionario_codigo" />
        </div>
        <div class="ui-g-12">
          <p-message severity="error" text="diccionario_codigo"
            *ngIf="!diccionarioform.controls['diccionario_codigo'].valid&&diccionarioform.controls['diccionario_codigo'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="year">descripción</label>
        </div>
        <div class="ui-g-8">
          <input pInputText [(ngModel)]="diccionario.diccionario_descripcion" id="diccionario_descripcion" formControlName="diccionario_descripcion" />
        </div>
        <div class="ui-g-12">
          <p-message severity="error"
            [text]="diccionarioform.controls['diccionario_descripcion'].errors['required'] ? 'Password is required' : ''"
            *ngIf="!diccionarioform.controls['diccionario_descripcion'].valid&&diccionarioform.controls['diccionario_descripcion'].dirty"></p-message>
        </div>
      </div>
        <div class="ui-g-12" *ngIf="!nuevo">
          <p-table #dt [columns]="cols2" [value]="parametros" [paginator]="true" [rows]="10" selectionMode="single"
            [(selection)]="parametroSelect" dataKey="id" (onRowSelect)="onRowSelectParametro($event)">
            <ng-template pTemplate="caption">
              <div class="ui-g">
                <div class="ui-g-6" style="text-align: left">
                  <button type="button" pButton icon="pi pi-plus" (click)="showDialogParametro()" class="green-btn flat" label="Adicionar"></button>
                </div>
                <div class="ui-g-6" style="text-align: right">
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="15" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col2 of columns">
                  {{col2.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parametro>
              <tr [pSelectableRow]="parametro">
                <td>{{parametro.parametro_cod}}</td>
                <td>{{parametro.parametro_descripcion}}</td>
                <td>{{parametro.parametro_abreviacion}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Eliminar"></button>
        <button type="submit" pButton icon="fa fa-check" label="Guardar" [disabled]="!diccionarioform.valid && (!diccionarioform.valid===true && nuevo)"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>


<form [formGroup]="parametroform" (ngSubmit)="onSubmitParametro()">
  <p-dialog header="Detalle de parametros" [(visible)]="displayParametro" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '800px'}" [resizable]="true">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="parametro_cod">codigo</label>
        </div>
        <div class="ui-g-8">
          <input pInputText [(ngModel)]="parametro.parametro_cod" id="parametro_cod" formControlName="parametro_cod" />
        </div>
        <div class="ui-g-12">
          <p-message severity="error" text="parametro"
            *ngIf="!parametroform.controls['parametro_cod'].valid&&parametroform.controls['parametro_cod'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="parametro_descripcion">descripción</label>
        </div>
        <div class="ui-g-8">
          <input pInputText [(ngModel)]="parametro.parametro_descripcion" id="parametro_descripcion" formControlName="parametro_descripcion" />
        </div>
        <div class="ui-g-12">
          <p-message severity="error"
            [text]="parametroform.controls['parametro_descripcion'].errors['required'] ? 'Password is required' : ''"
            *ngIf="!parametroform.controls['parametro_descripcion'].valid&&parametroform.controls['parametro_descripcion'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="parametro_abreviacion">abreviación</label>
        </div>
        <div class="ui-g-8">
          <input pInputText [(ngModel)]="parametro.parametro_abreviacion" id="parametro_abreviacion" formControlName="parametro_abreviacion" />
        </div>
        <div class="ui-g-12">
          <p-message severity="error"
            [text]="parametroform.controls['parametro_abreviacion'].errors['required'] ? 'Password is required' : ''"
            *ngIf="!parametroform.controls['parametro_descripcion'].valid&&parametroform.controls['parametro_abreviacion'].dirty"></p-message>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="deleteParametro()" label="Eliminar"></button>
        <button type="submit" pButton icon="fa fa-check" label="Guardar" [disabled]="!parametroform.valid && (!parametroform.valid===true && nuevoParametro)"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>


<!-- <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000"> -->
<p-toast position="center" key="c" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button type="button" pButton (click)="onConfirm()" label="Ok" class="ui-button-success"></button>
      </div>
      <!-- <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
      </div> -->
    </div>
  </ng-template>
</p-toast>
<p-toast key="tst" [style]="{marginTop: '80px'}"></p-toast>

<br />
<br />
<br />
<br />
<br />
<button type="button" pButton title="Plan Pago" (click)="GeneraAllPlanPagos()" [disabled]="!btnPP"> Generar plan pagos a partir del numero de certificado 90000</button> <h1>{{numero_final}}/{{numero_inicial}}</h1>
<br />
<br />
<br />
<br />
<br />
<button type="button" pButton title="Plan Pago" (click)="GeneraAllPlanPagosMigrados()" [disabled]="!btnPP"> Generar plan pagos con numero de certificado menor a 90000</button> <h1>{{numero_final2}}/{{numero_inicial2}}</h1>
<!-- <app-usuario *ngIf='visto'></app-usuario> -->