<div class="ui-g-12 ui-md-4">
  <span class="md-inputfield">
    <!--<p-dropdown [options]="Sucursales" [showClear]="true"></p-dropdown>-->
    <label>Poliza</label>
  </span>
</div>

<div class="ui-g-12 ui-md-6">
  <div class="ui-g-12">
    <!--<p-calendar  placeholder="fecha de generación" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es"></p-calendar>-->
  </div>
</div>
