<div *ngIf="solicitudService.isLoadingAgain" class="overlay">
  <div class="loading"></div>
</div>

<p-dialog header="Se Actualizo Exitosamente" [(visible)]="displayExedioResultados" [modal]="true" [responsive]="true" [maxlength]="150" [minY]="70">
    <div class="ui-g-12 text-center">
        <i class="ui-icon-priority-high ui-icon-warn-colibri" style="border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;"></i>
        <p [outerHTML]="'<br><br>Advertencia: El criterio de búsqueda introducido ha generado como resultado gran cantidad de registros, <br>por lo que se mostrarán solo los primeros 300 cuyas fechas de solicitud son las más recientes.'"></p>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="displayExedioResultados = false; exportExcel(dt, true)" label="Aceptar"></button>
        </div>
    </p-footer>
</p-dialog>

<p-panel header="{{solicitudService.product}}" toggleable="true" collapseIcon="fa fa-minus" [(collapsed)]="PanelFiltrosColapsed">

<p-fieldset class="form-group" *ngIf="filtros" legend="Buscar polizas por" toggleable="true">
  <div class="ui-g form-group">
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Sucursales" [(ngModel)]="objeto.sucursal" (onChange)="filterAgencies($event)" [showClear]="true"></p-dropdown>
        <label>Sucursal</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Agencias" [(ngModel)]="objeto.agencia" [showClear]="true"></p-dropdown>
        <label>Agencia</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.usuario_login" pInputText>
        <label>Usuario</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.nro_documento" pInputText>
        <label>Nro. Sol.</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.id_certificado" pInputText>
        <label>Nro. id_certificado</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <p-dropdown [options]="Estados" [(ngModel)]="objeto.estado" [showClear]="true"></p-dropdown>
        <label>Estado</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_primer_apellido" pInputText>
        <label>Apellido Paterno</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_segundo_apellido" pInputText>
        <label>Apellido Materno</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_primer_nombre" pInputText>
        <label>Nombre</label>
      </span>
    </div>
    <div class="ui-g-12 ui-md-2">
      <span class="md-inputfield">
        <input type="text" [(ngModel)]="objeto.persona_doc_id" pInputText>
        <label>Carnet de identidad</label>
      </span>
    </div>
    <!--<div class="ui-g-12 ui-md-6">-->
          <!--<span class="md-inputfield">-->
            <!--<p-dropdown [options]="ProcedenciaCI" [(ngModel)]="objeto.persona_doc_id_ext" [showClear]="true"></p-dropdown>-->
            <!--<label>Extensión</label>-->
          <!--</span>-->
                    <!--</div>-->
                </div>
                    </p-fieldset>

    <p-fieldset class="form-group" *ngIf="filtros" legend="Buscar por fecha" toggleable="true">
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-2">
                <span class="md-inputfield">
                    <p-dropdown [options]="FiltrosFechas" [(ngModel)]="objeto.campo_fecha" [showClear]="true" selectId="1"></p-dropdown>
                    <label>Fechas</label>
                </span>
            </div>
            <div class="ui-g-12 ui-md-4" *ngIf="objeto.campo_fecha">
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12">
                        <p-calendar [(ngModel)]="objeto.fecha_min" placeholder="Desde" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es" [dateFormat]="'dd/mm/yy'"></p-calendar>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12">
                        <p-calendar [(ngModel)]="objeto.fecha_max" placeholder="Hasta" [showIcon]="true" [showButtonBar]="true" [locale]="util.calendario_es" [dateFormat]="'dd/mm/yy'"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
    </p-fieldset>

        <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-12" style="text-align: right">
                        <button type="button" pButton (click)="limpiar()" pTooltip="Borrar Filtros" tooltipPosition="top"
                                icon="ui-icon-refresh"></button>
                        <button type="button" pButton (click)="onSearchAction(objeto,dt)" pTooltip="Buscar" tooltipPosition="top"
                                icon="pi pi-search"></button>
                    </div>
                </div>

</p-panel>

<p-table #dt [columns]="cols" [value]="instancias_polizas" [paginator]="true" [rows]="this.objeto.rows" (onPage)="onPageAction($event,dt)" [lazyLoadOnInit]="true" [totalRecords]="totalRows" [showCurrentPageReport]="true" responsiveLayout="scroll" resetPageOnSort="false"
         [currentPageReportTemplate]="'Mostrando '+rowsPerPage+' de '+totalRows+' registros'" [rowsPerPageOptions]="[10,25,50]"
         dataKey="id">
            <ng-template pTemplate="caption">
              <div class="ui-g">
                  <div class="ui-g-6" style="text-align: left">
                      Resultados <span *ngIf="showMoreResultsMessage"><b>(solo se mostrarán los 300 primeros resultados)</b></span>
                  </div>
                  <div class="ui-g-6" style="text-align: right">
                    <!--<button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>-->
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel(dt)" style="margin-right: 0.5em;" class="ui-button-success"></button>
                    <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
                  </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field">
                  <b>{{col.header}}</b>
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                </th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-instancia_poliza let-i="rowIndex">
              <tr>
                <td style="font-size: 12px;">{{instancia_poliza['Nro'] ? instancia_poliza['Nro'] : ''}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Nro_Sol']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Sucursal']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Agencia']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Nro_Certificado']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Estado']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Fecha_Registro']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Fecha_Solicitud']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Fecha_Emision']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['Asegurado']}}</td>
                <td style="font-size: 12px;">{{instancia_poliza['usuario_login']}}</td>
                <td>
                    <button type="button" [disabled]="btnEditar" *ngIf="verifyRol([24,59,60,62,63,65,81,238,282], [15,16,9], instancia_poliza)" pButton icon="ui-icon-{{ValidarEstados(instancia_poliza.id_estado,[24,81]) ? 'edit' : 'remove-red-eye'}}" title="{{ValidarEstados(instancia_poliza.id_estado,[24,81]) ? 'Editar' : 'Ver'}}" (click)="EditarPoliza(instancia_poliza.id)"></button>
                    <button type="button" [disabled]="btnVer1" *ngIf="verifyRol([24,59,60,62,63,65,81,238,282],[13],instancia_poliza)" pButton icon="ui-icon-{{ValidarEstados(instancia_poliza.id_estado,[238]) ? 'edit' : 'remove-red-eye'}}" title="{{ValidarEstados(instancia_poliza.id_estado,[238]) ? 'Editar' : 'Ver'}}" (click)="ValidarEstados(instancia_poliza.id_estado, [238]) ? EditarPoliza(instancia_poliza.id) : VerPoliza(instancia_poliza.id)"></button>
                    <button type="button" [disabled]="btnEmitir" *ngIf="verifyRol([238],[13],instancia_poliza)"  pButton icon="ui-icon-content-copy" title="Emitir Certificado" (click)="buscarObjetoAsegurado(instancia_poliza.id,i)"></button>
                    <button type="button" *ngIf="verifyRol([59,60,62,63,65,282],[9,13,15,16],instancia_poliza)" pButton icon="ui-icon-print" title="Imprimir Certificado" (click)="instancia_poliza.id_poliza == 11 ? solicitudService.ImprimirCertificado(instancia_poliza.id,instancia_poliza.id_poliza) : solicitudService.ImprimirCertificado(instancia_poliza.id,instancia_poliza.id_poliza)"></button>
                    <button type="button" *ngIf="verifyRol([59,60,62,63,65,81,238,282],[9,13,15,16],instancia_poliza)" pButton icon="ui-icon-print" title="Imprimir Solicitud" (click)="instancia_poliza.id_poliza == 11 ? solicitudService.ImprimirSolicitud(instancia_poliza.id,instancia_poliza.id_poliza) : solicitudService.ImprimirSolicitud(instancia_poliza.id,instancia_poliza.id_poliza)"></button>
                  </td>
              </tr>
            </ng-template>
          </p-table>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<app-actualizar-solicitud #componenteActualizarSolicitud *ngIf="solicitudService.asegurado" (setAsegurado)="solicitudService.asegurado = $event"></app-actualizar-solicitud>
