//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */

body .ui-inputtext {
    width: 100%!important;
    font-weight: bold;
    color: black;
}

body .ui-dropdown {
    width: 100%!important;
    font-weight: bold;
    color: black;
}

body .ui-calendar {
    width: 100%!important;
    font-weight: bold;
    color: black;
}

.display-none{
    display: none!important;
}

.display-block{
    display: block!important;
}

body .text-center{
    text-align: center!important;
}
body form input{
    font-weight: bold;
}

body form span{
    font-weight: bold;
}

body .md-inputfield-important > label {
    color: #ff7700;
}

body .modalidad-pago {
    //padding: 5px;
    //border-radius: 15px;
    //border: 1px solid #ccc;
    //background-color: #ccc;
    color: #4caf50;
    text-transform: uppercase;
    font-weight: bold;
}
.user-roles {
    position: fixed;
    top: 43px;
    left: 135px;
}

.overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(74,74,74,.8);
    z-index:99997!important;
}
.spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.53);
}
@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
body .layout-wrapper-static .ui-dialog {
    left: 5%!important;
    min-width: 68%!important;
}

body form .disabled {
    color: #ccc;
}

body .ui-toolbar {
    background-color: #ffffff;
}

body .ui-dialog-alta-eco-aguinaldo .ui-dialog{
    top: 12%!important;
}

body .ui-dialog-alta-eco-aguinaldo .ui-carousel .ui-carousel-content .ui-carousel-next, body .ui-dialog-alta-eco-aguinaldo .ui-carousel .ui-carousel-content .ui-carousel-prev{
    display:none!important;
}

body form .eco-form-titular readonly{
    color: #373737;
}

body .ui-table .ng-star-inserted .pi-search {
    display: none;
}


body .dialog-emitir-solicitud input {
    text-align: center;
    font-size: 20px;
}
body .eco-form-titular .input-disabled{
    color: #373737 !important;
}


body .ui-messages-eco .ui-messages-warn .ui-messages-icon{
    color: #ec971f;
}
body .ui-messages-eco .ui-messages-success .ui-messages-icon{
    color: #4caf50;
}
body .ui-messages-eco .ui-messages-error .ui-messages-icon{
    color: #f44336;
}
body .ui-messages-eco .ui-messages{
    display: contents!important;
}
body .ui-messages-eco .ui-messages.ui-messages-error {
    color: #f44336;
}
body .ui-messages-eco .ui-messages.ui-messages-success {
    color: #4caf50;
}
body .ui-messages-eco .ui-messages.ui-messages-warn {
    color: #ec971f;
}
body .ui-messages-eco .ui-messages span{
    width: 10%;
    margin-right: 5px;
}
body .ui-messages-eco .ui-messages ul{
    width: 90%;
}

.btn-menu-botones-accion .btn-enabled i{
    font-size: 30px;
    color:#ffffff!important;
    background-color: #4caf50;
}

.btn-menu-botones-accion .btn-enabled:hover {
    color:#ffffff!important;
    background-color: #4caf50;
}

body .ui-carousel .ui-carousel-content .ui-carousel-next, body .ui-carousel .ui-carousel-content .ui-carousel-prev{
    display:none!important;
}

body form readonly{
    color:#ccc;
}


.btn-menu-botones-accion > div{
    color: #999999;
    background: #ffffff;
    width: 70px;
    height: 90px;
    text-align: center;
    font-size: 12px;
    /* font-weight: bolder; */
    /*border-radius: 20px;*/
}

.btn-menu-botones-accion i{
    font-size: 30px;
    color:#ccc;
}

body .custom-textarea{
    border: 1px solid #ccc!important;
}

body .transicion a.layout-config-button{
    top:170px!important;
}
body .transicion a span.material-icons{
    font-size: 33px;
    padding: 10px;
}

body .md-inputfield-fill input {
    background: #f7f7f7;
}

body .md-inputfield-fill .ui-dropdown-label-container {
    background: #f7f7f7;
}

body .md-inputfield-fill label {
    background: none;
}
body .align-right {
    text-align: right!important;
}
body .full-width {
    width: 100%!important;
}
body .display-flex {
    display: flex!important;
}
body .ui-icon-check-colibri {
    border: 1px solid #4CAF50;
    border-radius: 20px;
    font-size: 50px;
    color: #4CAF50;
}
body .ui-icon-error-colibri {
    border: 1px solid #f44336;
    border-radius: 20px;
    font-size: 50px;
    color: #f44336;
}

body .ui-icon-warn-colibri {
    border: 1px solid #f1e017;
    border-radius: 20px;
    font-size: 60px;
    color: #e6e102;
}
.fondoPlomo{
    background-color: #f7f7f7!important;
}

p-table .ui-table-thead > tr > th,
p-table .ui-table-tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexcolumn,
.flexcolumn .ui-table,
.flexcolumn .ui-table-scrollable-wrapper,
.flexcolumn .ui-table-scrollable-view,
.flexcolumn .ui-table-scrollable-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.author {
  margin-top: 30px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  text-align: right;
  font-style: italic;
}
.loading {
    margin-top: 25%;
    margin-left: 50%;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ec971f; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 99999 !important;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Task status

.task-box.task-box-1 .task-box-header {
    background-color: #e91e63;
}
.task-box-1 .task-status {
    color: #e91e63;
    font-weight: bold;
}
.task-box.task-box-1 .task-box-footer .task-status {
    color: #e91e63;
    font-weight: bold;
}
.task-box.task-box-2 .task-box-header {
    background-color: #ffc107;
}
.task-box-2 .task-status {
    color: #ffc107;
    font-weight: bold;
}
.task-box.task-box-2 .task-box-footer .task-status {
    color: #ffc107;
    font-weight: bold;
}
.task-box.task-box-3 .task-box-header {
    background-color: #00bcd4;
}
task-box-3 .task-status {
    color: #00bcd4;
    font-weight: bold;
}
.task-box.task-box-3 .task-box-footer .task-status {
    color: #00bcd4;
    font-weight: bold;
}

.task-box.task-box-4 .task-box-header {
    background-color: #4CAF50;
}
.task-box-4 .task-status {
    color: #4CAF50;
    font-weight: bold;
}
.task-box.task-box-4 .task-box-footer .task-status {
    color: #4CAF50;
    font-weight: bold;
}
.produc-logo{
    color: #ffffff;
}
.ui-widget-overlay {
    background-color: rgb(0,0,0,0.4);
}
body .p-component-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.ui-table-fixed-opened-sidebar {
    width: 81.5vw !important;
    white-space: nowrap;
    overflow-x: scroll;
}
.ui-table-fixed-closed-sidebar {
    width: 92vw !important;
    white-space: nowrap;
    overflow-x: scroll;
}
.ui-table-fixed {
    width: 95em!important;
}