<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>
<style>
        p {
			text-align:justify;
			margin:0;
			line-height: 100%;
        }
    </style>
<body style="font-size:8pt">
<div style="page-break-after: always;">
		<font face="Arial Narrow">
<p style="text-align:right;"><img width="151" height="24" src="{{imagen}}" /><strong> </strong></p>
<br />
<p style="text-align:center;"><strong>ECOMEDIC-V</strong><br>
  <strong>CERTIFICADO DE COBERTURA INDIVIDUAL - B </strong><br>
  <strong>PÓLIZA DE SEGURO COBERTURA COMPLETA</strong><br>
  Código de Registro N° 209-934642-2016 04 021 4003<br>
  <strong>POLIZA N° {{numero_poliza}}</strong><br>
</p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
		<td align="left">Lugar y Fecha {{sucursal}} {{fecha_hoy}}</td>
		<td align="right">N°  Certificado: {{nro_certificado}}</td>
		</tr>
</table>
<br />
<p>Nombre del Asegurado: {{asegurado}} N° de CI: {{carnet}} Fecha  de Nacimiento {{fecha_nacimiento}} <br>
  CREDISEGURO S.A. SEGUROS PERSONALES, domiciliada en  Av. Hernando Siles esq. Calle 10, Torre Empresarial ESIMSA, piso 9 – Zona Obrajes de la ciudad de La Paz,  teléfono 2175900, (LA COMPAÑÍA), certifica que la persona indicada en el  presente documento se encuentra asegurada bajo la presente Póliza (ASEGURADO),  contratada por la Entidad/Empresa BANCO PYME ECOFUTURO S.A. que suscribe el  presente contrato (EL TOMADOR), quien a nombre y cuenta del ASEGURADO contrata  con LA COMPAÑÍA, la(s) cobertura(s) detalladas en las Condiciones Particulares  de la Póliza. <br>
  Intermediada por <em>Kerkus Corredores de Seguros S.A.</em> domiciliada en Torres Ecofuturo piso 8, Av. Sánchez Bustamante Nro. 302, esquina calle 9, Zona Calacoto de la ciudad de La Paz, teléfono 2974000 <br>
  <strong>COBERTURAS Y SUMAS ASEGURADAS:</strong></p>
<br />
          <table border="1" cellspacing="0" cellpadding="0" align="center" width="595">
  <tr>
    <td width="236" align="center">
      <strong>COBERTURA    PRINCIPAL</strong></td>
    <td width="142" align="center"><strong>HASTA:</strong></td>
    <td width="217" align="center"><strong>CARENCIA</strong><br>
      <strong>(no aplica para eventos accidentales)</strong></td>
  </tr>
  <tr>
    <td width="236" valign="top">Muerte por Cualquier Causa</td>
    <td width="142" valign="top" align="center">Bs. 3.500.-</td>
    <td width="217" valign="top" align="center">30 días</td>
  </tr>
  <tr>
    <td width="236" valign="top" align="center"><strong>COBERTURA ADICIONAL</strong></td>
    <td width="142" valign="top" align="center"><strong>HASTA:</strong></td>
    <td width="217" valign="top" align="center"><strong>&nbsp;</strong></td>
  </tr>
  <tr>
    <td width="236" valign="top">Renta Hospitalaria (Bs. 200.- por día, hasta 7 días)</td>
    <td width="142" valign="top" align="center">Bs. 1.400.-</td>
    <td width="217" valign="top" align="center">30 días</td>
  </tr>
</table>
<br />
<p><strong>PROCEDIMIENTO EN CASO DE SINIESTRO:</strong> <br>
  LA COMPAÑÍA debe pronunciarse sobre el derecho del  BENEFICIARIO dentro de los 30 (treinta) días de recibidos todos los informes,  evidencias, documentos y/o requerimientos adicionales acerca de los hechos y  circunstancias del siniestro (el plazo no será mayor al establecido en la  normativa vigente). La solicitud de LA COMPAÑÍA no podrá extenderse por más de  dos veces a partir de la primera solicitud de informes y evidencias debiendo LA  COMPAÑÍA pronunciarse dentro del plazo establecido y de manera definitiva sobre  el derecho de EL ASEGURADO después de la entrega por parte de EL ASEGURADO del  último requerimiento de información en base a lo establecido en la Ley 365 de  fecha 23 de abril de 2013, Disposiciones Adicionales Segunda, Párrafo II. LA  COMPAÑÍA procederá al pago del Beneficio en el plazo máximo de 15 días de  haberse pronunciado positivamente al pago. <br>
  <strong>VIGENCIA:</strong><br>
  Las Coberturas otorgadas por esta Póliza respecto de cada ASEGURADO, entrarán en vigencia a partir de la emisión del presente certificado, salvo aquellas coberturas que tengan periodo de carencia señalado en el presente documento, en cuyo caso no surtirán efecto las mismas hasta que hubiere concluido dicho periodo. Algunas de las coberturas tienen periodo de carencia señaladas en el presente documento.<br>
  <strong>BENEFICIARIOS: </strong><br>
  Los Beneficiarios son los designados por el ASEGURADO en el presente documento o en su defecto, los herederos instituidos de acuerdo a ley. En algunos casos el ASEGURADO es el Beneficiario de la Póliza. <br>
  <strong>PRIMA: </strong><br>
  Las Primas tienen el objeto de garantizar la cobertura, siempre y cuando sean abonadas en el tiempo y forma establecidos. El no pago de la prima en la fecha de corte determinada entre LA COMPAÑÍA y el CONTRATANTE, no dará derecho a Cobertura aunque se haya emitido el Certificado de Cobertura correspondiente. <br>
  <strong>TÉRMINO DEL SEGURO RESPECTO DE CADA ASEGURADO:</strong><br>
  La responsabilidad de LA COMPAÑÍA respecto a cada ASEGURADO cesará en la primera de los siguientes casos: 1) Por solicitud escrita del ASEGURADO, mencionando su voluntad de rescisión, motivo por el cual la terminación del seguro se hace efecto desde la notificación a LA COMPAÑÍA de acuerdo al artículo 1023 del Código de Comercio; 2) El primer día calendario luego de transcurridos treinta (30) días en que la Prima del seguro no se encuentre pagada de acuerdo a lo establecido en la presente Póliza. La COMPAÑÍA rehabilitará la Póliza que hubiera concluido por falta de pago de Primas, en caso que EL TOMADOR pueda volver a cargar el pago de la Prima, en cuyo caso se considerará como fecha de rehabilitación el día en que se efectúe el cargo de Prima. En este supuesto, sólo se otorgará cobertura a aquellos siniestros que ocurran o se diagnostiquen a partir de la fecha de rehabilitación de acuerdo al artículo 1026 del Código de Comercio. 3) Al cumplir el ASEGURADO la edad máxima de permanencia indicada en las Condiciones Particulares. 4). Cuando se hubiera presentado documentación o información adulterada, fraudulenta o inexacta para acceder a alguno de los beneficios del seguro. La reticencia o inexactitud en las declaraciones del ASEGURADO, sobre los hechos y circunstancias que, conocidas por LA COMPAÑÍA, la hubieran inducido a no aceptar el contrato o a estipular condiciones distintas, hacen anulable el presente contrato de seguro y LA COMPAÑÍA podrá impugnar la nulidad del mismo durante los dos (2) primeros años de vigencia del contrato. Una vez transcurrido el plazo señalado, el contrato no podrá ser objeto de impugnación, salvo por el no pago de primas. 5) Cuando EL TOMADOR/ASEGURADO incumpla con su obligación de pago de Primas. 6) Si se comprobase que la edad real del ASEGURADO no estuviera comprendida dentro de los límites de admisión establecidos por LA COMPAÑÍA. Si se diera este caso, LA COMPAÑÍA actuará de acuerdo a lo establecido en la cláusula SEPTIMA del presente documento. 7) Si el siniestro se inicia dentro de la vigencia del seguro y continúa después de vencido el plazo del mismo LA COMPAÑÍA responde de la indemnización; pero si el siniestro se inició antes y continúa después de la asunción del riesgo por LA COMPAÑÍA, ésta no responde por el siniestro de acuerdo a lo establecido en el artículo 1026 del Código de Comercio. <br>
  <strong>FORMA DE PAGO:</strong> Anual (al  contado) <br>
  <strong>ACLARACIÓN:</strong> El presente documento, resume los términos y condiciones del contrato de seguro suscrito por CREDISEGURO y el CONTRATANTE/TOMADOR, cuyo texto original respalda éste documento. Los términos y condiciones de la Póliza pueden cambiar y que en todos los casos el CONTRATANTE informará oportunamente a los ASEGURADOS. <br>
  <strong>CONDICION DE ADHESIÓN, DECLARACIONES Y AUTORIZACIONES:</strong> El ASEGURADO, se adhiere voluntariamente al presente Seguro. Declaración: El ASEGURADO declara conocer y aceptar todas las Condiciones del Seguro. <br>
  <strong>Autorización expresa</strong>: El ASEGURADO, autoriza a La Compañía su reporte a la Central de Riesgos del Mercado de Seguros acorde a las normativas reglamentarias de la Autoridad de Fiscalización y Control de Pensiones y Seguros vigente. Asimismo, El ASEGURADO autoriza expresamente a LA COMPAÑÍA a solicitar, obtener y dar información respecto a su información y antecedentes financieros, de seguros y de salud, a través de ellos o terceras personas. EL ASEGURADO acepta la presentación, con calidad de Declaración Jurada, de la documentación de respaldo que solicitara LA COMPAÑIA misma que será requerida antes y durante la vigencia y en virtud a la obligación normativa regulatoria que éste mantiene respecto a los controles e informes que realiza por instrucción de la Autoridad de Fiscalización y Control de Pensiones y Seguros, Unidad de Investigaciones Financieras u otra entidad competente en el marco de la normativa vigente. Todos los beneficios a los cuales el ASEGURADO tiene derecho, se sujetan a lo estipulado en las Condiciones Generales, Particulares y/o Adicionales de la Póliza de SEGURO COBERTURA COMPLETA de la cual el presente certificado forma parte integrante. El ASEGURADO podrá requerir a LA COMPAÑÍA o a EL TOMADOR cualquier información adicional que considere necesaria. </p>
</div>

<table border="1" cellspacing="0" cellpadding="0" width="695" align="center">
  <tr>
    <td width="695" colspan="3" valign="top"><strong>DECLARACION DE BENEFICIARIOS</strong></td>
  </tr>
  <tr>
    <td width="695" colspan="3" valign="top"><strong>Señores Crediseguro </strong></td>
  </tr>
  <tr>
    <td width="695" colspan="3" valign="top"><strong>Nombro voluntariamente como Beneficiario(s) a la(s) siguiente(s) persona(s)</strong></td>
  </tr>
  <tr>
    <td width="246" valign="top">Nombre Completo</td>
    <td width="225" valign="top">Parentesco</td>
    <td width="225" valign="top">% de Participación de cada Beneficiario</td>
  </tr>
{{filas}}
</table>
<br />
<p><strong>Descripción de Cobertura Principal:</strong> <br>
  <strong>Muerte por cualquier causa:</strong> Cubre el fallecimiento del ASEGURADO durante la vigencia de la Póliza, por cualquier causa, sean en territorio nacional o extranjero (siempre y cuando el ASEGURADO tenga residencia en el Estado Plurinacional de Bolivia). LA COMPAÑÍA pagará al ASEGURADO/Beneficiario el monto establecido en las condiciones particulares de la póliza) siempre que se cumpla lo siguiente: (i) que la Póliza se encuentre vigente; (ii) que EL TOMADOR/ASEGURADO hubiera efectuado el pago de la Prima a LA COMPAÑÍA, (iii) que la causa del fallecimiento no se encuentre comprendida dentro de las exclusiones de Póliza, (iv) que el ASEGURADO haya tenido entre 18 años y 64 años y 364 días al ingresar al seguro y no hubiere superado la edad máxima de permanencia de 69 años y 364 días. Se contará un período de carencia establecido en las Condiciones Particulares de la Póliza para contar con este beneficio si fuera fallecimiento natural. El ASEGURADO que sufra un siniestro accidental dentro del primer mes de su afiliación, gozará de cobertura independientemente del pago de su primera Prima. <br>
  <strong>Descripción de Cobertura Adicional:</strong><br>
  <strong>Renta Hospitalaria: </strong>LA COMPAÑÍA otorga una renta diaria al ASEGURADO, en caso de hospitalización o internación ininterrumpida y por un periodo máximo determinado en las Condiciones Particulares. El monto de indemnización por día de internación en Unidad de Terapia Intensiva se determina en las Condiciones Particulares de la Póliza. La edad máxima de permanencia y el período de carencia se encuentran establecidos en las Condiciones Particulares de la Póliza. <br>
  <strong>EXCLUSIONES:</strong> <br>
  No se cubrirán los siniestros que fuera a consecuencia de: <br>
  <strong>Para la Cobertura Principal de Muerte por cualquier Causa</strong> No cubre el fallecimiento del ASEGURADO cuando el deceso se produjera como consecuencia de: <strong>a)&nbsp;</strong>Suicidio, salvo que el ASEGURADO haya mantenido ininterrumpidamente la cobertura por al menos dos a&ntilde;os; <strong>b)</strong> Viaje o vuelo en veh&iacute;culo a&eacute;reo de cualquier clase, excepto como pasajero en uno operado por una empresa de transporte a&eacute;reo comercial sobre una ruta establecida para el transporte de pasajeros sujeto a itinerario regular; <strong>c)</strong> Participaci&oacute;n en acto delictivo; <strong>d)&nbsp;</strong>Guerra declarada o no declarada (conflicto armado), civil o internacional; servicio militar o policial de cualquier &iacute;ndole, tanto en tiempo de paz como en tiempo de guerra; <strong>e)</strong> Actos de guerrilla, rebeli&oacute;n, sedici&oacute;n, mot&iacute;n, conmoci&oacute;n contra el orden p&uacute;blico, terrorismo, huelga o tumulto popular, cuando el ASEGURADO hubiera participado como elemento activo; <strong>f)</strong> Participar en: inmersi&oacute;n submarina; monta&ntilde;ismo; ala delta; paracaidismo; parapente; artes marciales, boxeo u otros deportes o disciplinas de peleas; equitaci&oacute;n; carreras de caballo. Asimismo, la participaci&oacute;n del ASEGURADO como conductor o acompa&ntilde;ante, profesionalmente o como aficionado, en competencias o ensayos de velocidad o resistencia, en cualquier clase de veh&iacute;culo, terrestre, acu&aacute;tico o a&eacute;reo, a motor o no; <strong>g)</strong> Participar en: actos y riesgos pol&iacute;ticos y/o terrorismo; atentar contra la propia vida y la de terceros al manipular armas corto punzantes, armas de fuego; o realizar actividades donde se pone en grave peligro la vida e integridad f&iacute;sica de las personas; <strong>h)</strong> VIH/SIDA; <strong>i)</strong> Cuando el ASEGURADO est&eacute; bajo los efectos de alcohol y/o drogas il&iacute;citas; <strong>j)</strong> La participaci&oacute;n del ASEGURADO en cualquier maniobra, experimento, exhibici&oacute;n, desaf&iacute;o o actividad notoriamente peligrosa, entendido por tales aquellas donde se pone en grave peligro la vida e integridad f&iacute;sica de las personas; <strong>k)</strong> Epidemias declaradas como tal por las entidades gubernamentales competentes.<span style="color:red;">&nbsp;</span> <br>
  <strong>Para la cobertura Adicional</strong>: <br>
  <strong>Renta Hospitalaria: </strong>Esta Cl&aacute;usula Adicional no cubre el pago del Beneficio del ASEGURADO cuando la hospitalizaci&oacute;n se produjera como consecuencia de las exclusiones de la cobertura principal detalladas en el Condicionado General de la P&oacute;liza y las detalladas a continuaci&oacute;n: <strong>a)</strong> Hospitalizaci&oacute;n por uso o adicci&oacute;n a drogas il&iacute;citas, estupefacientes o alcohol. <strong>b)</strong> Embarazo y maternidad. <strong>c)</strong> Tratamiento de infertilidad, obesidad o esterilizaci&oacute;n. <strong>d)</strong> Enfermedades contagiosas epid&eacute;micas que requieren aislamiento, chequeos m&eacute;dicos o despistajes<strong>&nbsp;e)</strong> Cirug&iacute;a est&eacute;tica o pl&aacute;stica con fines de embellecimiento. <strong>f)</strong> Curas de reposo. <strong>g)</strong> Surmenage y enfermedades emocionales.&nbsp; <br>
  <strong>CONDICION ESPECIAL:</strong><br>
  Franquicia: Para la cobertura de renta hospitalaria 48 horas <br>
  <strong>REQUISITOS PARA SOLICITAR EL BENEFICIO:</strong><br>
  LA COMPAÑÍA efectuará el pago que corresponda, para lo cual EL ASEGURADO deberá presentar la Carta de Aviso de Siniestro a EL TOMADOR tan pronto y a más tardar dentro de los 10 (diez) días de conocido el mismo, salvo fuerza mayor o impedimento justificado de acuerdo al Artículo 1028 del Código de Comercio o según anexo de ampliación de aviso de siniestro que forma parte integrante de la presente póliza. <br>
  <strong>Requisitos para la Cobertura Principal:</strong> <br>
  <strong>Muerte por Cualquier Causa:</strong> <strong>a)</strong> Certificado de Defunción original; <strong>b)</strong> Certificado Médico de Defunción o  Certificado Médico o documente equivalente en original o copia legalizada  (cuando corresponda); <strong>c)</strong> Fotocopia  simple del Documento de Identidad del ASEGURADO y BENEFICIARIO; <strong>d)</strong> Formularios requeridos por la UIF  (si aplica); <strong>e)</strong> Si corresponde Informe  de la Autoridad Competente que certifique las circunstancias del Accidente (en  caso que haya tomado acción en el siniestro) en copia legalizada, <strong>f)</strong> Si corresponde Examen toxicológico  y/o de alcoholemia en copia legalizada.<br>
  <strong>Requisitos para la Coberturas Adicional:</strong>  <br>
  <strong>Renta Hospitalaria: a)</strong> Documento de Identidad b) Certificado médico o documento que establezca los siguientes datos: fecha de internación, fecha de alta y diagnóstico de internación y alta.
  Para todas las Coberturas, el ASEGURADO proporcionará a LA COMPAÑÍA cualquier información que solicite para verificar la ocurrencia del siniestro y se le permitirá realizar las indagaciones que sean necesarias para tal fin. </p>

<div align="center">
          <table border="0" cellspacing="0" cellpadding="0" style="font-size:7pt">
            <tr>
              <td width="256"><p align="center">&nbsp;</p></td>
              <td width="255"><p align="center"></p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
            <tr>
              <td width="256"><p align="center">&nbsp;</p></td>
              <td width="255"><p align="center"> </p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
            <tr>
              <td width="256" align="center"><strong><img src="{{firma2}}" width="60%" align="center"></strong><strong> </strong></td>
              <td width="255" align="center"><strong><img src="{{firma1}}" width="60%" align="center"></strong></td>
              <td width="235" align="center">Asegurado<strong></strong></td>
            </tr>
            <tr>
              <td width="256"><p align="center"> </p></td>
              <td width="255"><p align="center"> </p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
          </table>
        </div>
</body>          
</html>
