<html>
<head>
</head>
<body>
<p style="font-family:Arial;font-size:11pt;text-align: center;"><strong>FORMULARIO DE SOLICITUD DE SEGURO Y AUTORIZACI&Oacute;N 
  DE D&Eacute;BITO EN CUENTA ECOMEDIC</strong></p>
<strong></strong>
</br></br></br></br>
  <table width="100%" border="0" style="font-family:Arial;font-size:8pt;text-align: left;">
    <tr>
    <td><strong>Solicitud No.: </strong> {{numero}}</td>
    <td><strong>Agencia:</strong> {{oficina}}</td>
    <td><strong>Sucursal:</strong> {{sucursal}}</td>
    </tr>
  </table>
</br>
  <p style="font-family:Arial;font-size:8pt;text-align: justify;">Declaro haber sido informado(a) de todas las condiciones, alcances y coberturas
    del presente seguro que vincula a Banco PyME Ecofuturo en calidad de Tomador
    y la Compa&ntilde;&iacute;a en calidad de Asegurador. </br>Evaluadas las condiciones,
    alcances y coberturas del seguro, de forma voluntaria, mediante la presente,
    autorizo al Banco mi incorporaci&oacute;n en la p&oacute;liza del presente seguro
    de Salud. </br>En caso de ser admitida mi solicitud, me comprometo a cancelar el
    monto mensual de la prima del seguro, mediante d&eacute;bito de mi cuenta de
    ahorros que se indica l&iacute;neas m&aacute;s abajo:</p>
  </br>
<table width="100%" border="0" style="font-family:Arial;font-size:8pt;text-align: justify;">
  <tr> 
    <td colspan="2"><i><strong>DATOS DEL SOLICITANTE:</strong></i></td>
  </tr>
  <tr> 
    <td width="20%">Nombre Completo:</td>
    <td>{{persona_primer_nombre}} {{persona_segundo_nombre}} {{persona_primer_apellido}} 
      {{persona_segundo_apellido}} </td>
  </tr>
  <tr> 
    <td width="20%">Apellido de Casada:</td>
    <td>{{persona_apellido_casada}}</td>
  </tr>
  <tr> 
    <td width="20%">Tipo Documento:</td>
    <td>{{par_tipo_documento_id}}</td>
  </tr>
  <tr> 
    <td width="20%">No. De Documento:</td>
    <td>{{persona_doc_id}}</td>
  </tr>
  <tr> 
    <td width="20%">Extensi&oacute;n CI:</td>
    <td>{{persona_doc_id_ext}}</td>
  </tr>
  <tr> 
    <td width="20%">Complemento:</td>
    <td>{{persona_doc_id_comp}}</td>
  </tr>
  <tr> 
    <td width="20%">G&eacute;nero:</td>
    <td>{{par_sexo_id}}</td>
  </tr>
  <tr> 
    <td width="20%">Tel&eacute;fono de Referencia:</td>
    <td>{{persona_celular}}</td>
  </tr>
  <tr> 
    <td width="20%">Direcci&oacute;n:</td>
    <td>{{persona_direccion_domicilio}}</td>
  </tr>
  <tr> 
    <td width="20%">Fecha de nacimiento:</td>
    <td>{{persona_fecha_nacimiento}}</td>
  </tr>
  <tr> 
    <td width="20%">No. De Cuenta de Ahorros:</td>
    <td>{{cta}}</td>
  </tr>
  <tr> 
    <td width="20%">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td width="20%" colspan="2"><i><strong>DATOS DE LA SOLICITUD:</strong></i></td>
  </tr>
  <tr> 
    <td width="20%">Plan:</td>
    <td>{{plan}}</td>
  </tr>
  <tr> 
    <td width="20%">Compa&ntilde;&iacute;a de Seguros:</td>
    <td>XXXXXXX</td>
  </tr>
  <tr> 
    <td width="20%">Monto de la Prima:</td>
    <td>Bs100.- (CINCUENTA 00/100 BOLIVIANOS)</td>
  </tr>
  <tr> 
    <td width="20%">Fecha de solicitud del Seguro:</td>
    <td>{{fecha_registro}}</td>
  </tr>
  <tr> 
    <td width="20%">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td width="20%" colspan="3"><i><strong>DATOS DE LOS DEPENDIENTES:</strong></i></td>
  </tr>
  
</table>
  <table width="100%" border="1" style="font-family:Arial;font-size:8pt;text-align: justify;"cellspacing="0">
  <tr> 
    <td width="35%">Nombre Completo: </td>
    <td width="25%">No. Documento Identidad:</td>
    <td width="20%">Fecha Nacimiento:</td>
    <td width="20%">Parentesco:</td>
  </tr>
  {{tabla_beneficiarios}}
</table>
</br></br></br></br>
  <table width="100%" border="0" style="font-family:Arial;font-size:8pt;text-align: center;">
    <tr>
      <td width="50%">
        <p align="center">FIRMA DEL SOLICITANTE:</p>
        <p align="center">Aclaraci&oacute;n de Firma</p>
      </td>
      <td width="50%">
        <p align="center">FIRMA DEL FUNCIONARIO DEL BANCO</p>
        <p align="center">Aclaraci&oacute;n de Firma</p>
      </td>
    </tr>
  </table>
</body>
</html>