<div *ngIf="isLoadingAgain" class="overlay">
    <div class="loading"></div>
    <!--<mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>-->
</div>
<div class="card card-w-title">
  <h3>Genere Archivo</h3>
  <div class="ui-g-12 ui-md-4">
    <span class="md-inputfield">
      <p-dropdown [options]="ListaPolizas" [(ngModel)]="id_poliza" [showClear]="true" (onChange)="onSelectPoliza($event)"></p-dropdown>
      <label>Poliza</label>
    </span>
  </div>

  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-12">
      <p-calendar placeholder="fecha de generación" dateFormat="dd/mm/yy" [(ngModel)]="fecha" [showIcon]="true" [showButtonBar]="true"
        [locale]="util.calendario_es"></p-calendar>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12">
      <button type="button" pButton (click)="generarArchivo(dt)" tooltipPosition="top">Procesar</button>
    </div>
  </div>

  <br />

</div>

<p-table #dt [columns]="cols" [value]="pagos" [paginator]="true" [rows]="20" dataKey="id">
  <ng-template pTemplate="caption">
    <div class="ui-g">
      <div class="ui-g-6" style="text-align: left">
        Resultados obtenidos {{pagos.length}}
      </div>
      <div class="ui-g-6" style="text-align: right">
        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="ENVIAR AL BANCO"
          (click)="GenerarAndSendArchivo()" style="margin-right: 0.5em;" class="ui-button-success"></button>
        <!--<button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button>!-->
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field">
        <h3>{{col.header}}</h3>
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pago let-i="rowIndex">
    <tr>
      <td>{{i+1}}</td>
      <td>{{pago['persona_primer_nombre']+' '+pago['persona_segundo_nombre']+' '+pago['persona_primer_apellido']+''+pago['persona_segundo_apellido']}}</td>
      <td>{{pago['cod_agenda']}}</td>
      <td>{{pago['nro_certificado']}}</td>
      <td>{{pago['nro_cuota_prog']}}</td>
      <td>{{pago['fecha_couta_prog']}}</td>
      <td>{{pago['parametro_descripcion']}}</td>
      <td>{{pago['pago_cuota_prog']}}</td>

    </tr>
  </ng-template>
</p-table>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<p-dialog class="ui-messages-eco" header="¿?" [(visible)]="displayConfirmacion" [modal]="true" [responsive]="true"
  [width]="1000" [minWidth]="200" [minY]="70">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-error-outline" style="
    border-radius: 20px;
    font-size: 50px;
    color: #f44336;"></i>
    <p>Esta seguro de enviar al banco las cuotas generadas?</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="Cancelar()" label="Cancelar Envio"></button>
      &nbsp;
      &nbsp;
      <button type="button" pButton icon="pi pi-check" (click)="Aceptar()" label="Enviar"></button>
    </div>
  </p-footer>
</p-dialog>
