<div *ngFor="let anexo_poliza of poliza.anexo_polizas ; let i = index">
  <p-fieldset *ngFor="let anexo_asegurado of poliza.anexo_polizas[i].anexo_asegurados ; let j = index"
    legend="Datos de {{anexo_asegurado.parametro.parametro_descripcion}}" toggleable="true">
    <div class="ui-g form-group">
      <div class="ui-g-12 ui-md-3"
        *ngIf="anexo_asegurado.instancia_anexo_asegurados.length<anexo_asegurado.nro_requeridos">
        <button pButton type="button" (click)="confirm(i,j)"
          label="Adicionar {{anexo_asegurado.parametro.parametro_descripcion}}" style="margin-bottom:10px"></button>
      </div>
    </div>
    <div class="ui-g dashboard">
      <div class="ui-g-12 ui-lg-9 ui-g-nopad">
        <div class="ui-g-12 global-sales">
          <table *ngIf="anexo_asegurado.instancia_anexo_asegurados.length>0">
            <thead>
              <tr>
                <th>Nro.</th>
                <th colspan="2">Nombres</th>
                <th>Parentesco</th>
                <th>Edad Actual</th>
                <th>Sexo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let instancia_anexo_asegurado of anexo_asegurado.instancia_anexo_asegurados;let k=index">
                <td>{{k+1}}</td>
                <td><img src="assets/layout/images/male-user-accept_25361.png" pTooltip="{{mensajeTooltip}}"
                    *ngIf="ValidarFormulario(instancia_anexo_asegurado.observaciones)" library="serenity-layout"
                    width="45">
                  <img src="assets/layout/images/Remove-Male-User-icon.png" pTooltip="{{mensajeTooltip}}"
                    *ngIf="!ValidarFormulario(instancia_anexo_asegurado.observaciones)" library="serenity-layout"
                    width="45">
                </td>
                <td>
                  {{instancia_anexo_asegurado.entidad.persona.persona_primer_nombre+' '+instancia_anexo_asegurado.entidad.persona.persona_primer_apellido+' '+instancia_anexo_asegurado.entidad.persona.persona_segundo_apellido}}
                </td>
                <td *ngIf="instancia_anexo_asegurado.id_parentesco+''!==56+''">
                  {{devolverDescripcion(instancia_anexo_asegurado.id_parentesco)}}</td>
                <td *ngIf="instancia_anexo_asegurado.id_parentesco+''===56+''">
                  {{instancia_anexo_asegurado.descripcion_otro}}
                </td>
                <td>{{util.getEdad(instancia_anexo_asegurado.entidad.persona.persona_fecha_nacimiento)}} años</td>
                <td>{{devolverDescripcion(instancia_anexo_asegurado.entidad.persona.par_sexo_id)}}</td>
                <td>
                  <button pButton type="button" icon="ui-icon-edit" title="Editar" class="message-btn secondary-btn"
                    (click)="EditarAnexo(instancia_anexo_asegurado,i,j,k)"></button>
                  <button pButton type="button" [disabled]="botonD" icon="ui-icon-close" title="Eliminar"
                    class="remove-btn" (click)="Eliminar(instancia_anexo_asegurado,i,j,k)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p-messages [value]="msgs" *ngIf="velidarAllAnexoAsegurado()"></p-messages>
  </p-fieldset>
</div>

<p-dialog [(visible)]="display" [closable]="true" [modal]="true" [closeOnEscape]="false" [responsive]="true"
  showEffect="fade" [baseZIndex]="1000000">
  <div class="ui-g-12">
    <p-fieldset legend="Buscar Cliente" toggleable="true" *ngIf="nuevo && !RegistrarSinBanco">
      <form [formGroup]="userform2">
        <div class="ui-g-4">
          <span class="md-inputfield">
            <input type="text" [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_doc_id"
              formControlName="Nro. Carnet" pInputText>
            <label>Cedula de identidad</label>
          </span>
        </div>
        <div class="ui-g-4">
          <span class="md-inputfield">
            <p-dropdown [options]="Extensiones"
              [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_doc_id_ext" [showClear]="true"
              formControlName="Extencion de Carnet">
            </p-dropdown>
            <label>Extensión</label>
          </span>
        </div>
        <div class="ui-g-4">
          <button type="button" [disabled]="ValidacionesMensajes.length>0" pButton icon="fa fa-close"
            (click)="BusacarClienteBanco()" label="Buscar"></button>
        </div>
      </form>
      <p-messages [value]="ValidacionesMensajes"></p-messages>
    </p-fieldset>
  </div>
  <p-fieldset legend="Datos de Personales" toggleable="true">
    <div class="ui-g-12">
      <p-tabView>
        <p-tabPanel header="Datos Personales" leftIcon="ui-icon-person">
          <form [formGroup]="userform" (ngSubmit)="GuardarAnexo()">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input size="40%" pInputText [disabled]="!DatosVisible" [readonly]="!DatosVisible"
                    [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_primer_nombre" id="apellido_paterno"
                    formControlName="Primer Nombre"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget"
                    [style]="{'background-color': '#ccc!important'}" />
                  <label>Primer Nombre</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error" text="nombre es requerido"
                    *ngIf="!userform.controls['Primer Nombre'].valid&&userform.controls['Primer Nombre'].dirty">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input size="40%" pInputText [disabled]="!DatosVisible" [readonly]="!DatosVisible"
                    [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_segundo_nombre" id="segundo_nombre"
                    formControlName="Segundo Nombre"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget fondoPlomo" />
                  <label>Segundo Nombre</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error"
                    [text]="userform.controls['Segundo Nombre'].errors['required'] ? 'segundo nombre es requerido' : userform.controls['Segundo Nombre'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userform.controls['Segundo Nombre'].valid&&userform.controls['Segundo Nombre'].dirty">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input pInputText [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_primer_apellido"
                    [disabled]="!DatosVisible" [readonly]="!DatosVisible" id="primer_apellido"
                    formControlName="Apellido Paterno"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                  <label>Apellido Paterno</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error"
                    [text]="userform.controls['Apellido Paterno'].errors['required'] ? 'apellido paterno es requerido' : userform.controls['Apellido Paterno'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userform.controls['Apellido Paterno'].valid&&userform.controls['Apellido Paterno'].dirty">
                  </p-message>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input pInputText [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_segundo_apellido"
                    [disabled]="!DatosVisible" [readonly]="!DatosVisible" id="segundo_apellido"
                    formControlName="Apellido Materno"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                  <label>Apellido Materno</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error"
                    [text]="userform.controls['Apellido Materno'].errors['required'] ? 'apellido materno es requerido' : userform.controls['Apellido Materno'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userform.controls['Apellido Materno'].valid&&userform.controls['Apellido Materno'].dirty">
                  </p-message>
                </div>
              </div>

              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <p-dropdown [style]="{'width': '100%'}" [options]="Parentescos" [disabled]="!DatosVisible"
                    [(ngModel)]="instancia_anexo_asegurado.id_parentesco" placeholder="Seleccione Parentesco"
                    [showClear]="true" formControlName="Parentesco" class="fondoPlomo"></p-dropdown>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error" text="parentesco es requerido"
                    *ngIf="!userform.controls['Parentesco'].valid&&userform.controls['Parentesco'].dirty"></p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4" *ngIf="instancia_anexo_asegurado.id_parentesco+''===56+''">
                <span class="md-inputfield">
                  <input pInputText [(ngModel)]="instancia_anexo_asegurado.descripcion_otro" id="descrion_otro"
                    [disabled]="!DatosVisible" [readonly]="!DatosVisible" formControlName="Descripcion de la relacion"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget fondoPlomo" />
                  <label>Descripcion de la relacion</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error" text="parentesco es requerido"
                    *ngIf="!userform.controls['Descripcion de la relacion'].valid&&userform.controls['Descripcion de la relacion'].dirty">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <p-calendar dateFormat="dd/mm/yy" placeholder="Fecha de Nacimiento" [disabled]="!DatosVisible"
                  [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_fecha_nacimiento"
                  [locale]="util.calendario_es" pInputText formControlName="Fecha de Nacimiento"></p-calendar>
                <div class="ui-g-12">
                  <p-message severity="error"
                    [text]="userform.controls['Fecha de Nacimiento'].errors['required'] ? 'Password is required' : userform.controls['Fecha de Nacimiento'].errors['minlength'] ? 'Debe tener por lo menos 6 caracteres' : ''"
                    *ngIf="!userform.controls['Fecha de Nacimiento'].valid&&userform.controls['Fecha de Nacimiento'].dirty">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4" [hidden]="!RegistrarSinBanco && nuevo">
                <span class="md-inputfield">
                  <input pInputText [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_doc_id"
                    id="persona_doc_id" disabled="RegistrarSinBanco" formControlName="Nro. Carnet"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                  <label>Documento de Identidad</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error"
                    [text]="userform.controls['Nro. Carnet'].errors['required'] ? 'documento de identidad es requerido' : userform.controls['Nro. Carnet'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userform.controls['Nro. Carnet'].valid&&userform.controls['Nro. Carnet'].dirty"></p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4" [hidden]="!RegistrarSinBanco && nuevo">
                <span class="md-inputfield">
                  <p-dropdown [style]="{'width': '100%'}" [options]="Extensiones"
                    [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_doc_id_ext"
                    placeholder="Seleccione Extensión" [showClear]="true" formControlName="Extencion de Carnet">
                  </p-dropdown>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error" text="extension de documento es requerido"
                    *ngIf="!userform.controls['Extencion de Carnet'].valid&&userform.controls['Extencion de Carnet'].dirty">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <p-dropdown [style]="{'width': '100%'}" [options]="TiposDocumentos" class="fondoPlomo"
                    [disabled]="!DatosVisible"
                    [(ngModel)]="instancia_anexo_asegurado.entidad.persona.par_tipo_documento_id"
                    placeholder="Seleccione tipo de documento" [showClear]="true" formControlName="Tipo de documento">
                  </p-dropdown>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error" text="tipo de documento requerido"
                    *ngIf="!userform.controls['Tipo de documento'].valid&&userform.controls['Tipo de documento'].dirty">
                  </p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <p-dropdown [style]="{'width': '100%'}" [options]="Generos" [disabled]="!DatosVisible"
                    [(ngModel)]="instancia_anexo_asegurado.entidad.persona.par_sexo_id" placeholder="Seleccione Genero"
                    [showClear]="true" formControlName="Genero"></p-dropdown>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error" text="genero es requerido"
                    *ngIf="!userform.controls['Genero'].valid&&userform.controls['Genero'].dirty"></p-message>
                </div>
              </div>
              <div class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input pInputText [(ngModel)]="instancia_anexo_asegurado.entidad.persona.persona_telefono_domicilio"
                    [disabled]="!DatosVisible" [readonly]="!DatosVisible" id="persona_telefono_domicilio"
                    formControlName="Telefono de domicilio"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                  <label>Telefono de domicilio</label>
                </span>
                <div class="ui-g-12">
                  <p-message severity="error"
                    [text]="userform.controls['Telefono de domicilio'].errors['required'] ? 'Telefono de domicilio es requerido' : userform.controls['Telefono de domicilio'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                    *ngIf="!userform.controls['Telefono de domicilio'].valid&&userform.controls['Telefono de domicilio'].dirty">
                  </p-message>
                </div>
              </div>
            </div>
          </form>
        </p-tabPanel>

        <p-tabPanel header="Datos Complementarios" leftIcon="ui-icon-description" *ngIf="ExistenAtributos_x_obejtos()">
          <p-fieldset *ngFor="let objeto of poliza.objetos" legend="{{objeto.descripcion}}" toggleable="true">
            <div class="ui-g form-group">
              <div class="ui-g-12 ui-md-4" *ngFor="let objeto_x_atributo of objeto.objeto_x_atributos">
                <span class="md-inputfield" *ngIf="objeto_x_atributo.atributo.id_diccionario===null">
                  <input pInputText id="descripcion_atributo" [(ngModel)]="objeto_x_atributo.atributo.valor"
                    class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
                  <label>{{objeto_x_atributo.atributo.descripcion}}</label>
                </span>
                <span class="md-inputfield" *ngIf="objeto_x_atributo.atributo.id_diccionario!==null">
                  <p-dropdown [options]="objeto_x_atributo.atributo.diccionarios" [showClear]="true"></p-dropdown>
                  <label>{{objeto_x_atributo.atributo.diccionario.diccionario_descripcion}}</label>
                </span>
                <div class="ui-g-12">
                  <!--<p-message severity="error"
                        [text]="userform.controls['persona_segundo_apellido'].errors['required'] ? 'apellido materno es requerido' : userform.controls['persona_segundo_apellido'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
                        *ngIf="!userform.controls['persona_segundo_apellido'].valid&&userform.controls['persona_segundo_apellido'].dirty"></p-message>!-->
                </div>
              </div>
            </div>
          </p-fieldset>
        </p-tabPanel>
        <p-footer>
          <p-messages [value]="ValidacionesMensajesOtrosCambos"></p-messages>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="GuardarAnexo()" label="Guardar"
              [disabled]="!botonGuardar" [disabled]="!userform.valid"
              *ngIf="instancia_anexo_asegurado.observaciones.length===0"></button>
            <button type="button" pButton icon="pi pi-times" (click)="Salir()" label="Guardar"
              [disabled]="!userform.valid" *ngIf="instancia_anexo_asegurado.observaciones.length>0"></button>
          </div>
        </p-footer>
      </p-tabView>
    </div>
  </p-fieldset>
</p-dialog>
<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>

<p-dialog header="Resultados Busqueda" [(visible)]="displayBeneficiariosNotFound" [modal]="true" [responsive]="true"
  [minY]="70" [closable]="false">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-priority-high" style="border: 1px solid #f1e017;
  border-radius: 20px;
  font-size: 50px;
  color: #e6e102;"></i>
  </div>
  <p class="text-center">El Número de documento {{instancia_anexo_asegurado.entidad.persona.persona_doc_id}} no fue
    encontrado en la BD del banco, deberá introducir los datos de la
    persona en el sistema Colibri. Desea continuar?</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="registrarNuevoConCI()" label="Si"></button>
      <button type="button" pButton icon="pi pi-times" (click)="registrarNuevoSinCI()" label="No"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="¿?" [(visible)]="displayValidaciones" [modal]="true" [responsive]="true"
  [width]="1000" [minWidth]="200" [minY]="70">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-error-outline" style="
    border-radius: 20px;
    font-size: 50px;
    color: #f44336;"></i>
    <p>Existen las siguientes observaciones deseas GUARDAR?</p>
  </div>
  <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_error">
    <p-messages [closable]="false" severity="error" text="Fields are required" [value]="msgs_error"></p-messages>
    <br>
    <p-messages [closable]="false" severity="warn" text="Are you sure?" [value]="msgs_warn"></p-messages>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="Cancelar()" label=" No Guardar"></button>
      &nbsp;
      &nbsp;
      <button type="button" pButton icon="pi pi-check" (click)="Aceptar()" label="Guardar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="¿?" [(visible)]="displaySalir" [modal]="true" [responsive]="true"
  [width]="1000" [minWidth]="200" [minY]="70">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-error-outline" style="
    border-radius: 20px;
    font-size: 50px;
    color: #f44336;"></i>
    <p>Deseas guardar los datos ingresados?</p>
  </div>
  <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_error">
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="Aceptar()" label="SI"></button>
      &nbsp;
      &nbsp;
      <button type="button" pButton icon="pi pi-times" (click)="Cancelar()" label="NO"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog class="ui-messages-eco" header="¿?" [(visible)]="displayCarnetExistente" [modal]="true" [responsive]="true"
  [width]="1000" [minWidth]="200" [minY]="70">
  <div class="ui-g-12 text-center">
    <i class="ui-icon-error-outline" style="
    border-radius: 20px;
    font-size: 50px;
    color: #f44336;"></i>
    <p>{{mensaje}}</p>
  </div>
  <div class="ui-g-offset-2 ui-g-9 ui-g-offset-1 msg_error">
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="UtilizarOtroCarnet()" label="Aceptar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="fa ui-icon-warning" [style]="{width: '425px'}"></p-confirmDialog>