<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>N° 000000</title>
	<meta name="generator" content="LibreOffice 7.2.4.1 (Linux)"/>
	<meta name="author" content="Roberto T. Paz"/>
	<meta name="created" content="2022-01-31T20:48:00"/>
	<meta name="changedby" content="Mauricio Silva"/>
	<meta name="changed" content="2022-01-31T20:48:00"/>
	<style type="text/css">
		body {background: url('{{origin}}/{{imagen2}}'); width: 720px; height:1175px; margin: 15px}
		@page { size: 8.5in 11in; margin-left: 0.45in; margin-right: 0.45in; margin-top: 0.77in; margin-bottom: 1.1in }
		p { color: #000000; letter-spacing: -0.3pt; margin-top: 8px }
		p.western { font-family: "Century Gothic", sans-serif; font-size: 11pt; so-language: es-ES }
		p.cjk { font-family: "Times New Roman", serif; font-size: 11pt }
		p.ctl { font-family: "Century Gothic", sans-serif; font-size: 8pt; so-language: ar-SA }
	</style>
</head>
<body lang="en-US" text="#000000" link="#000080" vlink="#800000" dir="ltr" style="border: none; padding: 0.01in 0.33in">
<p lang="en-US" align="center" style="margin-bottom: 0.01in">
	<img src="{{imagen1}}" name="Image1" align="bottom" width="100" height="100" border="0"/><br><br>
	<font face="Tempus Sans ITC, fantasy"><font size="4" style="font-size: 14pt;"><font face="Arial, sans-serif"><b>CERTIFICADO DE COBERTURA AL CONTRATO DE SEGURO DE VIDA INDIVIDUAL MASIVO</b>
	</font></font></font><br>
	<font face="Arial, sans-serif"><font size="2" style="font-size: 8pt"><b>Aprobada por R.A.- APS/DS/N° 967 del 13 de Diciembre de 2012</b></font></font><br>
	<font face="Arial, sans-serif"><font size="2" style="font-size: 8pt"><b>COD. 207 – 934618 – 2012 12 024 4001</b></font></font><br>
</p>
<p style="text-align: right"><font face="Arial, sans-serif"><font size="2" style="font-size: 11pt;text-align: right">N° {{nro_certificado}}</font><br></font></p>
<p align="justify">
	<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">Se deja expresa constancia mediante el presente certificado, que: <b>{{asegurado}}</b><br></font></font>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">Ha sido admitido como asegurado con la póliza Nº {{numero}} con efecto desde {{fecha_desde}} hasta {{fecha_hasta}} y por consiguiente tiene derecho a las prestaciones del Contrato según sus reglas y condiciones.</font></font>
</p>
<p align="justify">
	<font face="Tempus Sans ITC, fantasy"><font face="Arial, sans-serif"><font size="1" style="font-size: 8pt"><u><b>COBERTURAS Y CAPITAL ASEGURADO</b></u></font></font></font><br>
	<font face="Arial, sans-serif">
		<font size="1" style="font-size: 8pt">
		• Muerte Natural $us. 300.-<br>
		• Muerte Accidental $us. 10,000.- (que podría ser pagado en 25 rentas mensuales de USD  400.- cada una)
		</font>
	</font>
</p>

<p lang="es-ES" align="justify" style="margin-bottom: 0in">
	<font face="Tempus Sans ITC, fantasy"><font face="Arial, sans-serif"><font size="1" style="font-size: 8pt"><u><b>PRIMAS (costo de la cobertura)</b></u></font></font></font><br>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">Las primas serán canceladas por adelantado durante la vigencia de la póliza (Al contado)</font></font>
</p>

<p lang="es-ES" align="justify" style="margin-bottom: 0in">
	<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt"><u><b>PUNTO DE VENTA/OFERENTE CASUAL</b></u></font></font><br>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt">En el lugar físico donde se encuentra el asegurado o en cualquier sucursal del Banco</font></font>
</p>

<p lang="es-ES" align="justify" style="margin-bottom: 0in">
	<font face="Tempus Sans ITC, fantasy"><font face="Arial, sans-serif"><font size="1" style="font-size: 9pt"><u><b>BENEFICIO ADICIONAL: </b></u></font></font>
		<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt">Asistencia en farmacias, </font></font>
		<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">10% de descuento en medicamentos, solo en las farmacias adheridas a esteconvenio con American Assist </span></font></font>
	</font><br>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt"><b>PROCESO PARA SOLICITAR ASISTENCIA (Descuento en Farmacias)</b></font></font><br>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt">Cliente afiliado al programa, puede dirigirse a cualquier sucursal de la cadena de FARMACIAS adheridas a esta Asistencia a nivel nacional, mostrando su cedula de identidad en la farmacia</font></font><br>
	<font face="Arial, sans-serif"><font size="3" style="font-size: 12pt"><font size="1" style="font-size: 9pt">El
		Afiliado se apersonará por ventanillas de atención al cliente, en
		la misma proporcionará sus datos personales que fuesen requeridos
		por el personal de la farmacia (indicando que es afiliado del
		programa de asistencias de Banco Pyme ECOFUTURO), para registrar y
		reportar el descuento correspondiente.</font></font></font><br>
	<font face="Arial, sans-serif"><font size="3" style="font-size: 12pt"><font size="1" style="font-size: 9pt"><b>CASOS DE EXCEPCIÓN: </b></font></font></font><br>
	<font face="Arial, sans-serif">
		<font size="1" style="font-size: 9pt">
			No son objeto de los SERVICIOS, las situaciones de asistencia que presenten las siguientes causas: <br>
			• La mala fe del AFILIADO comprobada por el personal de AMERICAN ASSIST. <br>
			• Cuando el Afiliado no proporcionen información veraz y oportuna, que por su naturaleza no permita atender debidamente la situación.<br>
			• Cuando el Afiliado no se identifique como Afiliado de los servicios de asistencia.
		</font>
	</font><br>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt"><b>Condiciones:</b></font></font><br>
	<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt">
		• La oferta es extensible a los beneficiarios en su consumo de uso personal de medicamentos. <br>
		• Para acceder a los beneficios farmacéuticos, el beneficiario debe presentar su cedula de identidad.<br>
		• El acceso al uso del descuento en la compra de medicamentos es sin receta médica, excepto aquellos que requieran presentación o retención de este documento según el Reglamento Sanitario Vigente.<br>
		• Los descuentos no son acumulables a otras ofertas, promociones o descuentos que estén vigentes en la farmacia al momento de la compra.<br>
		• Los descuentos no son acumulables a otros convenios que el beneficiario tenga vigente con la cadena de farmacias.<br>
		• Los topes son mensuales (mes calendario) y no son acumulables para mes siguiente. <br>
		<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt"><b>Exclusiones:</b></font></font><br>
		<font face="Arial, sans-serif"><font size="1" style="font-size: 9pt">
		• No se aplica para los beneficiarios. <br>
		• No se aplica descuento a las Recargas Telefónicas y otros Servicios de Recaudación.
		• No se aplica descuento a otros productos comercializados que no sean medicamentos. <br>
		• Ninguna de las alternativas se aplica descuento a medicamentos oncológicos e inmunológicos, medicina reproductiva, vacunas y medicamentos para uso catastrófico.<br>
		</font></font>
	</font></font>
<p lang="es-ES" align="center" style="margin-bottom: 0in">
	<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">ALIANZA VIDA  SEGUROS Y REASEGUROS S.A.</font></font><br>
	<img src="{{firma1}}" name="Image2" align="bottom" width="80" height="70" border="0"/>
	<img src="{{firma2}}" name="Image3" align="bottom" width="80" height="70" border="0"/>
</p>
<p lang="es-ES" align="center" style="margin-bottom: 0.06in">
	<font face="Tempus Sans ITC, fantasy"><font face="Arial, sans-serif"><font size="1" style="font-size: 9pt">EN CASO DE SINIESTRO SÍRVASE CONTACTARSE CON </font></font><font face="Arial, sans-serif"><font size="1" style="font-size: 8pt"><b>“Alianza Vida Seguros y Reaseguros S.A.”</b></font></font></font><br>
	<font face="Tempus Sans ITC, fantasy"><font face="Arial, sans-serif"><font size="1" style="font-size: 8pt"><b>O llamar a la línea 800-102266 de Consultores de Seguros S.A.</b></font></font></font>
</p>

<footer  style="margin-left: 0px;"  >
	<div title="footer"><p lang="es-ES" align="center" style="margin-bottom: 0in; border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.01in; padding-bottom: 0in; padding-left: 0in; padding-right: 0in">
		<font face="Tempus Sans ITC, fantasy"><font style="font-size: 4px">SANTA CRUZ: Av. Viedma N°19 · Teléfono: 337-5656 · Fax: 337-5666 · LA PAZ: Av. 20 de octubre  2678 · Teléfono: 243-1111 · Fax: 243-3522</font></font>
	</div>
</footer>

<br>
<br>
<br>
<br>
<br>

<table border="0px">
	<tr>
		<td colspan="2" style="text-align: center">
			<font face="Tempus Sans ITC, fantasy"><font face="Arial, sans-serif"><font size="1" style="font-size: 8pt"><b>REGLAS DEL CONTRATO DEL SEGURO DE VIDA INDIVIDUAL MASIVO </b></font></font></font>
			<br>
		</td>
	</tr>
	<tr>
		<td width="50%">

				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla I. <u>DEFINICIONES</u></b></span><br>
					<span lang="es-ES-u-co-trad"><u>EL ASEGURADOR</u> :Alianza Vida Seguros y Reaseguros S.A.</span><br>
					<span lang="es-ES-u-co-trad"><u>ASEGURADO</u> :Persona natural que hayan sido admitida bajo los términos de laCondiciones Generales y Particulares de la Póliza de Seguro de VidaIndividual Masivo. </span><br>
					<span lang="es-ES-u-co-trad"><u>BENEFICIARIO</u> :Persona o personas naturales a cuyo favor se extiende laindemnización. Puede ser designada o en su defecto respondiendo ala declaratoria de herederos correspondiente. </span><br>
					<span lang="es-ES-u-co-trad"><u>COBERTURADE MUERTE NATURAL O ACCIDENTAL</u> : Este seguro garantiza el pago del capital asegurado en caso de muerte del asegurado como consecuencia de enfermedad, accidente o muerte natural en general, siempre que la causa no haya sido excluida en el presente Contrato y la póliza se encuentre vigente al momento del fallecimiento. </span><br>
				</font></font>
			<br>

				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla II. <u>CONDICIONES DE ADHESIÓN DE LOS ASEGURADOS</u></b></span><br>
					<span lang="es-ES-u-co-trad">2.01 Toda persona que tenga una edad igual o superior a 18 años e inferior o igual a 69 años y 364 días; haya cumplido con los requisitos de asegurabilidad. Posteriormente la permanencia del asegurado se amplía a los 75 años de edad. </span>
				</font></font>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla III. <u>LAPÓLIZA</u></b></span><br>
					<span lang="es-ES-u-co-trad">3.01 No se pagará ninguna indemnización conforme a estas reglas si la suma asegurada correspondiente, no resultara pagadera con arreglo a las condiciones de la Póliza. </span>
				</font></font>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla IV. <u>MODIFICACIÓNO TERMINACIÓN</u></b></span><br>
					<span lang="es-ES-u-co-trad">4.01. El Asegurado y la Compañía se reservan el derecho de modificar estas reglas y los términos de la póliza, al vencimiento de cada anualidad o certificado, siempre y cuando no se excedan de 60 meses.</span>
					<span lang="es-ES-u-co-trad">4.02. El Asegurado y la Compañía se reservan el derecho de finalizar el Contrato al vencimiento de cada anualidad, pero no antes del vencimiento de cada certificado, siempre y cuando no exceda de los 60 meses.</span>
				</font></font>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla V. <u>RESTRICCIONES Y EXCLUSIONES</u></b></span><br>
					<span lang="es-ES-u-co-trad">Este Seguro no será aplicable en ninguna de las siguientes circunstancias:</span>
					a) Guerra civil o internacional, declarada o no. <br>
					b) Fisión o fusión nuclear, contaminación radioactiva. <br>
					c) Participación activa en actos delictivos, subversivos o terroristas. <br>
					d) Accidentes que se produzcan mientras el Asegurado se encuentre en estado de ebriedad o bajo los efectos de drogas, siempre que guarden relación causal con el accidente. <br>
					e) Enfermedades congénitas o pre-existentes conocidas por el asegurado. <br>
					f) Participación directa o indirecta de un beneficiario en calidad de autor o cómplice en actos delictivos que ocasionen la muerte al asegurado.<br>
				</font></font>
		</td>
		<td width="50%">

				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					g) Participación del asegurado como conductor o acompañante en cameras de automóviles, motocicletas, lanchas a motor, avionetas, en cañeras de entrenamiento y en operaciones o viajes submarinos o cualquier otro acto que represente alto riesgo para su integridad física. <br>
					h) Suicidio practicado por el Asegurado dentro de los dos primeros años de vigencia de su cobertura. <br>
				</font></font>
			<br>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla VI. <u>RESPONSABILIDAD MÁXIMA DEL &quot;ASEGURADOR&quot; EN CASO DE SINIESTRO</u></b></span><br>
					<span lang="es-ES-u-co-trad">La responsabilidad máxima del &quot;Asegurador&quot; o límite máximo indemnizare bajo esta póliza no será superior <span lang="es-ES-u-co-trad"><b>al <i>Límite Asegurado.</i></b></span></span>
				</font></font>
			<br>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla VII. <u>AVISO DEL SINIESTRO</u></b></span><br>
					<span lang="es-ES-u-co-trad">Elasegurado o beneficiario, tan pronto y a más tardar dentro de los60 días de tener conocimiento del siniestro, deben comunicar talhecho al asegurador, salvo fuerza mayor o impedimento justificado.</span>
				</font></font>
			<br>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla VIII.  <u>PROCEDIMIENTO EN CASO DE SINIESTROS</u></b></span><br>
					<span lang="es-ES-u-co-trad">En caso de siniestros contemplados bajo el presente contrato, el beneficiario debe presentar:</span>
					a) Certificado de defunción
					b) Fotocopia del carnet de identidad u otro documento de identificación.
					c) Declaratoria de herederos debidamente ejecutoriada por la autoridad competente si corresponde (no aplica en los casos en que el asegurado haya declarado al beneficiario en la Declaración Jurada de Salud - Solicitud de Vida Individual Masivo)
					d) En caso de que el fallecimiento sea a consecuencia de accidentes, se deberán presentar los informes legales expedidos por las autoridades competentes.
				</font></font>
			<br>
			<br>
				<font face="Arial, sans-serif"><font size="1" style="font-size: 8pt">
					<span lang="es-ES-u-co-trad"><b>Regla IX. <u>PLAZO PARA PRONUNCIARSE Y TERMINO PARA EL PAGO DEL SINIESTRO</u></b></span><br>
					<span lang="es-ES-u-co-trad">El
	asegurador debe pronunciarse sobre el derecho del asegurado o
	beneficiario dentro de los treinta días de recibidas la
	información. El plazo de  (30) días, fenece con la aceptación o
	rechazo del siniestro o con la solicitud del asegurador al asegurado
	de que se complementen los requerimientos contemplados en el
	artículo 1031 y no vuelve a correr hasta que el asegurado haya
	cumplido con tales requerimientos. En caso de demora u omisión del
	asegurado o beneficiario en proporcionar la información y
	evidencias sobre el siniestro, el término señalado no corre hasta
	el cumplimiento de estas obligaciones. El silencio del asegurador,
	vencido el término para pronunciarse, importa la aceptación del
	reclamo. Una vez, establecido el derecho del asegurado y el monto de
	la indemnización, el asegurador debe pagar su obligación, dentro
	de los quince días posteriores al aviso del siniestro o tan pronto
	sean llenados los requerimientos.</span>
				</font></font>
		</td>
	</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer  style="margin-left: 0px;">
	<div title="footer"><p lang="es-ES" align="center" style="margin-bottom: 0in; border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding-top: 0.01in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
		<font face="Tempus Sans ITC, fantasy"><font style="font-size: 4px">SANTA CRUZ: Av. Viedma N°19 · Teléfono: 337-5656 · Fax: 337-5666 · LA PAZ: Av. 20 de octubre  2678 · Teléfono: 243-1111 · Fax: 243-3522</font></font>
	</div>
</footer>
<br>


</body>
</html>
