<div class="login-body">
  <form [formGroup]="userformPwd">
    <p-dialog header="Cambio Contraseña" [(visible)]="displayPwd" [focusOnShow]="false" [responsive]="true"
      showEffect="fade" [modal]="true" [style]="{width: '250px'}" [resizable]="true" [closable]="false">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <input type="text" value={{username}} readonly=true pInputText size="26%" />
            <label>Login</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
            <input size="26%" type="password" id="password" formControlName="password" pInputText class="ng-dirty ng-invalid ui-inputtext ui-corner-all ui-state-default ui-widget" />
            <label>Contraseña</label>
          </span>
        </div>
        <div class="ui-g-12">
          <p-message severity="error"
            [text]="userformPwd.controls['password'].errors['required'] ? 'Password es requerido' : userformPwd.controls['password'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
            *ngIf="!userformPwd.controls['password'].valid&&userformPwd.controls['password'].dirty">
          </p-message>
            <!-- <div *ngIf="!userformPwd.controls['password'].valid&&userformPwd.controls['password'].dirty">
              <label *ngIf="userformPwd.controls['password'].errors['required']"><div class="ui-message ui-messages-error ui-corner-all" >Password es requerido</div></label>
              <label *ngIf="userformPwd.controls['password'].errors['minlength']"><div class="ui-message ui-messages-error ui-corner-all" >Debe tener por lo menos 3 caracteres</div></label>
            </div> -->
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
            <input size="26%" type="password" id="password2" formControlName="password2" pInputText />
            <label>Confirmar Password</label>
          </span>
        </div>
        <div class="ui-g-12">
          <p-message severity="error"
            [text]="userformPwd.controls['password2'].errors['required'] ? 'Password es requerido' : userformPwd.controls['password2'].errors['minlength'] ? 'Debe tener por lo menos 3 caracteres' : ''"
            *ngIf="!userformPwd.controls['password2'].valid&&userformPwd.controls['password'].dirty"></p-message>
        </div>
        <p-footer>
          <div class="ui-g-6">
            <button type="button" pButton icon="fa fa-check"
              (click)="cambiarPassword(userformPwd.controls['password'].value, userformPwd.controls['password2'].value)"
              label="Cambiar" [disabled]="!userformPwd.valid"></button>
          </div>
          <div class="ui-g-6">
            <button type="button" pButton icon="fa fa-check" (click)="cerrarSesion()" label="Cancelar"></button>
          </div>
        </p-footer>
      </div>
    </p-dialog>
  </form>
</div>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button type="button" pButton (click)="onConfirm()" label="Ok" class="ui-button-success"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<p-toast [style]="{marginTop: '80px'}"></p-toast>