<html>
	<body style="font-size:7pt">
		<font face="Arial Narrow">
<style type="text/css">
p {margin:0;
   line-height: 100%;
   }
</style>
<table width="100%" style="font-size:7pt">
	<tr>
		<td rowspan="2" width="33.33%" align="center"><img src="{{imagen}}" width="73" height="36"></td>
		<td rowspan="2" width="33.33%" align="center"><img src="{{imagen2}}" width="144" height="32"></td>
		<td width="33.33%" align="center"><p><font face="Calibri" color="blue">Con el respaldo de:</font></p></td>
	</tr>
	<tr>
		<td width="33.33%" align="center"><img src="{{imagen3}}" width="118" height="17"></td>
	</tr>
	
</table>
<br />
<br />
<p align="right"><span align="right"><strong>N° {{nro_certificado}}</strong></span></p>
<p align="center"><strong>CERTIFICADO DE  COBERTURA INDIVIDUAL – &ldquo;SEGURO ECOPROTECCION&rdquo;</strong><br>
  <strong>Registrada  en Autoridad de Fiscalización y Control de Pensiones y Seguros (APS) mediante </strong><br>
  <strong>Resolución  Administrativa APS/DS/N° 251-2016 con Código de Registro N° 209-934632-2014 09  009 4001<u></u></strong><br>
<strong>POLIZA N° CRS-MCBS-001</strong><strong> </strong></p>
<p align="justify">
<strong>Lugar y Fecha {{sucursal}} {{fecha_hoy}}</strong><br />
Nombre del Asegurado: {{asegurado}} N°  de CI: {{carnet}} Fecha de Nacimiento {{fecha_nacimiento}} N° de  operación {{cta}} <br>
  <strong>CREDISEGURO S.A. SEGUROS PERSONALES </strong>domiciliada en Av. Hernando Siles esq. Calle 10, Torre Empresarial ESIMSA, piso 9 – Zona Obrajes de la ciudad de La Paz, teléfono 2175900 (LA COMPAÑÍA), certifica que la persona indicada en el presente documento se encuentra asegurada bajo la presente Póliza (ASEGURADO), contratada por el Banco Pyme Ecofuturo S.A. (EL TOMADOR). <br>
  Intermediada por <em>Kerkus Corredores de Seguros S.A.</em> domiciliada en Torres Ecofuturo piso 8, Av. Sánchez Bustamante Nro. 302, esquina calle 9, Zona Calacoto de la ciudad de La Paz, teléfono 2974000<br>
  El presente Seguro, es un seguro opcional destinado a todas las personas naturales que posean una cuenta de ahorros con la entidad financiera que suscribe el presente contrato, en adelante EL TOMADOR, sea individual o mancomuna y que hayan solicitado su afiliación al seguro. Este paquete de seguros incluirá las coberturas de Muerte Natural, Muerte Accidental, Gastos de Sepelio, Adelanto por Enfermedad Terminal, Cobertura Indemnizatoria por Cáncer, Enfermedades Graves y Asistencias Adicionales.<br>
  <strong>COBERTURAS Y SUMAS ASEGURADAS:</strong><br>
  <strong>Muerte  Natural: </strong>En caso de muerte originada por causas naturales (no accidentales), la Suma Asegurada será de cinco (5) veces el Saldo Promedio de los últimos seis (6) meses, de la cuenta afiliada al seguro, previos a la muerte natural, hasta un máximo de treinta mil 00/100 Dólares Americanos (US$ 30.000) y un mínimo de cuatrocientos 00/100 Dólares Americanos (US$ 400). La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. Se contará con un período de carencia de 30 días para contar con el beneficio. El pago de este beneficio supone la terminación de la cobertura total de la Póliza y no da lugar a la indemnización por muerte accidenta. <br>
  <strong>Muerte  Accidental:</strong> En caso de muerte originada por causas accidentales, la Suma Asegurada será de diez (10) veces el Saldo Promedio de los últimos seis (6) meses, de la cuenta afiliada al seguro, previos a la muerte accidental, hasta un máximo de treinta mil 00/100 Dólares Americanos (US$ 30.000) y un mínimo de cuatrocientos 00/100 Dólares Americanos (US$ 400). La edad límite de afiliación es de 65 años y permanencia máxima de 70 años. El pago de este beneficio supone la terminación de la cobertura total de la Póliza y no da lugar a la indemnización por muerte natural o de otra cobertura adicional.<br>
  <strong>Gastos  de Sepelio</strong>: LA COMPAÑÍA pagará doscientos 00/100 Dólares Americanos (US$ 200), a los beneficiarios del ASEGURADO por la muerte del mismo ya sea por causas naturales o accidentales. La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. Se contará con un período de carencia de 30 días para contar con el beneficio, no aplica carencia para la cobertura a causa de Muerte Accidental.<br>
  <strong>Adelanto  por Enfermedad Terminal: </strong>Otorga al ASEGURADO un adelanto a cuenta del beneficio final a otorgarse por la cobertura de Muerte Natural, en caso de ser detectada alguna Enfermedad Terminal (pronóstico de Supervivencia (médicamente establecida) inferior a seis (6) meses. La Suma Asegurada será equivalente al veinticinco por ciento (25%) de la cobertura de Muerte Natural. La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. Se contará con un período de carencia de 30 días para contar con el beneficio.<br>
  <strong>Cobertura Indemnizatoria por Cáncer: </strong>LA COMPAÑÍA indemnizará al ASEGURADO un mil 00/100 Dólares Americanos (US$1.000) cuando se determine la existencia de Cáncer mediante un informe histopatológico dentro de la vigencia de la Póliza. Para determinar si procede o no la Cobertura, se tomará en cuenta la fecha del primer diagnóstico de Cáncer. La enfermedad de Cáncer que se inicie o se detecte durante el período de carencia de 90 días, no se encontrará cubierto por la Póliza. La edad límite de afiliación es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días.<br>
  <strong>Enfermedades Graves: </strong>Se consideran enfermedades graves para esta cobertura a las siguientes: <br>
  <u>Accidente Cerebrovascular (ACV): </u> Cubrirá cualquier tipo de accidente cerebrovascular que de lugar a secuelas permanentes que estén presentes tras 45 días calendario del hecho. Éstas deberán ser confirmadas por un médico especialista en neurología debidamente registrado en el Colegio Médico que corresponda (a costo del ASEGURADO). No se aceptarán reclamaciones antes de transcurrido este tiempo. <br>
  <u>Trasplante de Órganos Vitales:</u> Cuando, como consecuencia del diagnóstico médico o quirúrgico, sea preciso efectuar un trasplante de corazón (total), pulmón, hígado, riñón, médula ósea o páncreas (total). Esto deberá ser confirmado por un informe del médico tratante debidamente registrado en el Colegio Médico que corresponda (a costo del ASEGURADO). Se otorga cobertura únicamente al ASEGURADO cuando éste sea receptor y no aplica al donante.<br>
  <u>Insuficiencia Renal Crónica: </u>Insuficiencia Renal Crónica irreversible que implique la necesidad de someterse regularmente a diálisis peritoneal o hemodiálisis. Esto deberá ser confirmado por un informe del médico especialista en Nefrología debidamente registrado en el Colegio Médico que corresponda (a costo del ASEGURADO).<br>
  <u>Enfermedad Coronaria que exija Intervención Quirúrgica:</u> Someterse a cirugía cardiaca para corregir el estrechamiento o bloqueo de las arterias del corazón mediante una cirugía de by-pass o puente coronario, diagnosticado por el resultado de una angiografía y/o coronariografía. Esto deberá ser confirmado por un informe del médico especialista en Cardiología debidamente registrado en el Colegio Médico que corresponda (a costo del ASEGURADO). <br>
  <u>Ataque al Corazón:</u> También denominado infarto de miocardio, trombosis coronaria u oclusión coronaria. Esto deberá ser confirmado por un informe del médico especialista en Cardiología debidamente registrado en el Colegio Médico que corresponda (a costo del ASEGURADO). <br>
  La edad límite de afiliación para enfermedades graves es de 65 años y 364 días y  permanencia máxima de 70 años y 364 días. Se contará con un período de carencia de 90 días.<br>
  Todas las enfermedades y/o tratamientos que incluyen esta cobertura complementaria, son excluyentes entre sí, es decir, el pago de la indemnización por una de estas cinco enfermedades graves supone la terminación de la cobertura de otra o todas las demás enfermedades graves listadas en el presente documento, hasta la renovación de la presente Póliza.<br>
  En caso que el ASEGURADO sufra de más de una de estas enfermedades graves durante la vigencia de la Póliza, LA COMPAÑÍA indemnizará solo hasta un mil 00/100 Dólares Americanos (US$. 1.000), o su equivalente en Bolivianos, Suma Asegurada Máxima que se expresa en las Condiciones Particulares de la Póliza. <br>
  La presente cobertura aplica a un evento por año, es decir, LA COMPAÑÍA indemnizará este beneficio al ASEGURADO una sola enfermedad por año de vigencia.<br>
  <strong>Asistencias Adicionales: </strong>El ASEGURADO, su cónyuge y los descendientes en primer grado (usuario), podrán ser beneficiados con las asistencias que se detallan en el presente documento, comunicándose al número de teléfono <strong>+ 591 69054663</strong>. El costo de la llamada la asume el ASEGURADO.<strong> </strong><br>
  <u>Asistencia Legal Telefónica en todas las áreas:</u> Se brindará un servicio de asistencia legal telefónica en relación a cualquier cuestión legal, civil, penal, fiscal, administrativa, mercantil, laboral y otras, que se le pudiera presentar. La consulta será atendida por uno de los abogados designados por la compañía que brindará el servicio y se limitará a la orientación verbal respecto a la consulta planteada, sin emitir dictamen por escrito sobre la misma. Rubros de consultas comprendidos en el servicio: - Consultas sobre derechos relativos a la vivienda.- En calidad de propietario.- En calidad de inquilino. - En calidad de usufructuario. - Consultas sobre contratos de servicios. - Consultas sobre contratos sobre cosas muebles.- Consultas sobre cualquier cuestión penal.- Consultas sobre cualquier cuestión civil.- Consultas sobre cualquier cuestión fiscal o impositiva.- Consultas sobre cualquier cuestión laboral.- Consultas en caso de Accidentes de Tránsito y otras urgencias, adicionalmente en otras situaciones de emergencia relacionadas por el vehículo.<br>
  Estas asistencias se prestarán únicamente de forma telefónica y no presencial. <br>
  <u>Asistencia Mediphone:</u> Información Sanitaria: Se pondrá a disposición la información precisa, mediante los distintos tipos de servicios que se detallan. Los servicios se  prestarán de acuerdo con las condiciones que se establecen a continuación: <u>Consejo Médico Telefónico</u><strong>: </strong>En caso de necesidad, podrán efectuar una consulta médica telefónica relacionada con cuadros patológicos durante las 24 horas del día los 365 días del año. Esta información médica podrá versar sobre los siguientes aspectos: - Procedimientos a seguir en determinadas patologías.- Centros médicos donde acudir para un tratamiento ambulatorio. -Consejos ante emergencias médicas.- Información sobre medicamentos y prescripciones.- Medicina preventiva. - Consejos de salud.<br>
  <u>Servicio fúnebre telefónico: </u>Orientación telefónica en caso de fallecimiento de familiar/amigo. Se brindará un servicio de orientación telefónica en caso de fallecimiento de familiar o amigo. Se orientará en los pasos a seguir para obtener el certificado de defunción del fallecido, cómo contactar a la funeraria y finalmente poder contratar con ésta el velatorio, compra de cajón fúnebre, inscripción periódica del fallecimiento y el sepelio o entierro.<br>
  Los requisitos para acceder a este servicio son los siguientes: Ser ASEGURADO o usuario de la póliza principal y tener las primas pagadas en los plazos estipulados en las condiciones de la Póliza. La empresa que brindará la asistencia podrá solicitar información para validar la identidad del usuario/ASEGURADO antes de otorgar el servicio de asistencia.<br>
  <u>Límite de eventos a cubrir:</u> Ilimitado, para el servicio de asistencia legal telefónica en caso de accidente de tránsito se cubrirán hasta 2 eventos por año calendario.<br>
  <strong>EXCLUSIONES</strong>. No se cubrirán los siniestros que fueran a consecuencia de:<br>
  <strong>Para la Cobertura de Muerte Natural y Gastos de Sepelio:</strong></p>
<ol type="a" style="line-height: 100%; padding: 0; margin-left: 10; margin-top: 0; margin-bottom: 0;margin-right: 0;">
  <li style="padding-left:2em"> Participación del ASEGURADO como sujeto activo en acto delictuoso o empresa criminal.</li>
  <li style="padding-left:2em"> Guerra declarada o no declarada (conflicto armado), civil o internacional. </li>
  <li style="padding-left:2em"> Epidemias declaradas como tal por las entidades gubernamentales competentes. </li>
</ol>
<p align="justify"><strong>Para la Cobertura de Muerte Accidental:</strong><br>
  Los incisos a) y b) mencionados en las exclusiones de la Cobertura de Muerte Natural más: - Eventos en los que el ASEGURADO realice actividades que atenten contra su vida y/o la de terceros al encontrarse en estado de ebriedad o con presencia de alcohol en la sangre en proporción mayor al 0.7 gramos/litro o se encuentre bajo los efectos de drogas ilícitas, salvo cuando el ASEGURADO hubiere sido sujeto pasivo en el acontecimiento que produjo el siniestro. - La participación del ASEGURADO en cualquier maniobra, experimento, exhibición, desafío o actividad notoriamente peligrosa, entendido por tales aquellas donde se pone en grave peligro la vida e integridad física de las personas.<br>
  <strong>Para Adelanto por Enfermedad Terminal:</strong><br>
  Tiene las mismas exclusiones que la cobertura de Muerte Natural.<br>
  <strong>Para la Cobertura Indemnizatoria por Cáncer:</strong><br>
  Los tumores que no corresponden a un cáncer maligno, los carcinomas in situ incluyendo la displasia cervical o aquellos considerados como pre-malignos. <br>
  Cáncer de piel (excepto melanoma maligno).<br>
  Los cánceres de la próstata que están clasificados como T1 según el sistema TNM, excepto aquellos en que haya metástasis. <br>
  Leucemia linfocítica crónica.<br>
  <strong>Para la Cobertura Enfermedades Graves:</strong><br>
  Accidente Cerebrovascular (ACV): Se excluyen los síntomas cerebrales de migraña, lesión cerebral causada por traumatismo o hipoxia, el AIT (Accidente Isquémico Transitorio) y la enfermedad vascular que afecte al ojo o al nervio óptico y al sistema vestibular.<br>
  Trasplante de Órganos Vitales: Sin exclusiones<br>
  Insuficiencia Renal Crónica: Sin exclusiones. <br>
  Enfermedad Coronaria que exija Intervención Quirúrgica: Quedan excluidas las técnicas no quirúrgicas, tales como la angioplastía de balón y stent o la eliminación de una obstrucción mediante rayos láser y la cirugía no invasiva.<br>
  Ataque al Corazón: Sin exclusiones. <br>
  <strong>Para las Asistencias Adicionales</strong><br>
  No son objeto de la cobertura los siguientes servicios y hechos: - Los servicios que el usuario/ASEGURADO haya concertado por su cuenta sin previo consentimiento de LA COMPAÑÍA, salvo caso de fuerza mayor que le impida comunicarse con ésta. - Los gastos de Asistencia Médica, hospitalaria o sanitaria.<br>
  <strong>REQUISITOS PARA SOLICITAR EL BENEFICIO:</strong><br>
  LA COMPAÑÍA efectuará el pago que corresponda, para lo cual EL ASEGURADO/BENEFICIARIO/TOMADOR deberá presentar tan pronto y a más tardar dentro de los 30 días de conocido el mismo, salvo fuerza mayor o impedimento justificado de acuerdo al Artículo 1028 del Código de Comercio la siguiente documentación:<strong> </strong><br>
  <strong>Muerte Natural:</strong>a) Formulario de Declaración de Siniestro proporcionado por LA COMPAÑÍA (debidamente llenado), b) Número de la cuenta c) Liquidación de los Saldos Promedio d) Fotocopia simple del Documento de Identidad del ASEGURADO e) Certificado de Defunción original o Certificado Médico de Defunción f) Formularios requeridos por la UIF (en lo que aplica).<strong></strong><br>
  <strong>Muerte Accidental:</strong> Incisos  a), b), c), d) y f) de la cobertura de Muerte Natural  más: Certificado de Defunción original o Certificado emitido por el Instituto de Investigaciones Forenses original o copia legalizada. Informe de la Autoridad Competente que certifique las circunstancias del Accidente en caso que haya tomado acción en el siniestro (si aplica). Examen toxicológico y/o de alcoholemia en copia legalizada (cuando corresponda).  <br>
  <strong>Sepelio: </strong>Inciso  a<strong>) </strong>de la cobertura de Muerte Natural más: Fotocopia simple del Documento de Identidad del(los) BENEFICIARIO(S), Formulario de Identificación del BENEFICIARIO. <br>
  <strong>Adelanto por Enfermedad Terminal: </strong>Incisos a), d) de la cobertura de Muerte Natural más: Certificado Médico original detallando la enfermedad, evolución y pronóstico de la enfermedad expresando la expectativa de vida.<br>
  <strong>Cobertura Indemnizatoria por Cáncer:</strong> Incisos a) d) y f) de la cobertura de Muerte Natural más: Informe Histopatológico con resultado positivo para cáncer en original o copia legalizada. <br>
  <strong>Enfermedades Graves: </strong>Incisos a), d) y f) de la cobertura de Muerte Natural más: Los informes médicos señalados en las coberturas de cada enfermedad del presente documento. <br />
  Para todas las Coberturas, el ASEGURADO proporcionará a LA COMPAÑÍA cualquier información que solicite para verificar la ocurrencia del siniestro y se le permitirá realizar las indagaciones que sean necesarias para tal fin.
<strong>PROCEDIMIENTO EN CASO DE SINIESTRO: </strong><br />
  LA COMPAÑÍA debe pronunciarse sobre el derecho del ASEGURADO/BENEFICIARIO dentro de los treinta (30) días de recibidos todos los informes, evidencias, documentos y/o requerimientos adicionales acerca de los hechos y circunstancias del siniestro. La solicitud de LA COMPAÑÍA no podrá extenderse por mas de dos veces a partir de la primera solicitud de informes y evidencias debiendo LA COMPAÑÍA pronunciarse dentro del plazo establecido y de manera definitiva sobre el derecho del ASEGURADO después de la entrega por parte del ASEGURADO del último requerimiento de información en base a lo establecido en la Ley 365 de fecha 23 de abril de 2013, Disposiciones Adicionales Segunda, Párrafo II. LA COMPAÑÍA procederá al pago del Beneficio en el plazo máximo de 15 días posteriores al aviso del siniestro o tan pronto sean llenados los requerimientos señalados.<br />
  El beneficio (Suma Asegurada) en caso de cuentas mancomunadas, se prorratea entre el número de mancómunos  que tiene la cuenta. Para las cuentas con vigencia menor a seis (6) meses, el promedio se calculará sobre el número de meses que tenga vigencia la cuenta. <br>
  <strong>VIGENCIA</strong><br>
  Las Coberturas otorgadas por esta Póliza respecto de cada ASEGURADO, entrará en vigencia a partir del día de la afiliación al seguro, si el siniestro ocurre en el período en que el ASEGURADO tiene plazo para el pago de la prima, se descontará del pago la prima correspondiente. Algunas de las coberturas tienen periodo de carencia señaladas en el presente documento.<br>
  <strong>BENEFICIARIOS: </strong>Los Beneficiarios son los designados por el ASEGURADO en el Certificado de Cobertura o en su defecto, los herederos instituidos de acuerdo a ley. En algunos casos el ASEGURADO es el Beneficiario de la Póliza. <br>
  <strong>PRIMA:</strong> Hasta Bs.16 mensual, Bs. 176 anual. El cobro se realiza debitando el monto correspondiente a la cuenta afiliada al seguro cada mes, en forma total o parcial para efectuar el cobro total de la Prima, en caso de no contar con fondos suficientes para el cobro de la Prima, la desafiliación procederá de manera automática manteniéndose la cobertura del seguro hasta los 30 días posteriores del último pago efectuado. La Prima para afiliaciones mancomunadas se aplica por cada uno de los mancómunos afiliados al Seguro.<br>
  <strong>TÉRMINO DEL SEGURO RESPECTO DE CADA ASEGURADO: </strong>La responsabilidad de LA COMPAÑÍA respecto a cada ASEGURADO cesará en la primera de los siguientes casos: 1) El primer día calendario luego de transcurridos treinta (30) días en que la cuenta no tenga los fondos suficientes para el cargo de la Prima Individual del seguro de acuerdo a lo establecido en la presente Póliza y de acuerdo a lo que establece el artículo 1019 del Código de Comercio. 2) Si el siniestro se inicia dentro de la vigencia del seguro y continúa después de vencido el plazo del mismo LA COMPAÑÍA responde de la indemnización; pero si el siniestro se inició antes y continúa después de la asunción del riesgo por LA COMPAÑÍA, ésta no responde por el siniestro, según lo que se establece en el artículo 1026 del Código de Comercio 3) Al cumplir el ASEGURADO la edad máxima de permanencia 4) Cuando se hubiera presentado documentación o información adulterada, fraudulenta o inexacta para acceder a alguno de los beneficios del seguro. 5) Cuando EL TOMADOR incumpla con su obligación de pago de Primas El contrato caduca si no se pagan las primas en los términos convenidos y la caducidad no se produce de hecho sino después de transcurrido el plazo de treinta (30) días de la fecha de vencimiento para su pago y tal hecho no da lugar a la pérdida de los valores garantizados señalados en la póliza de acuerdo a lo establecido en el Artículo 1019 del Código de Comercio. y/o 6) Si se comprobase que la edad real del ASEGURADO no estuviera comprendida dentro de los límites de admisión establecidos por LA COMPAÑÍA. <br>
  <strong>FORMA DE PAGO: </strong>Anual/<strong> </strong>Mensual  (al contado).<strong> </strong><br>
  <strong>ACLARACIÓN: </strong> El presente documento, resume los términos y condiciones del contrato de seguro suscrito por CREDISEGURO y ECOFUTURO, cuyo texto original respalda éste documento. Los términos y condiciones de la póliza pueden cambiar y que en todos los casos ECOFUTURO informará oportunamente a los ASEGURADOS, por escrito y/o por otros medios de difusión entre ellos páginas web, correo electrónico y/o medios de circulación nacional.  <br>
  <strong>CONDICION DE ADHESIÓN, DECLARACIONES Y AUTORIZACIONES: </strong><br>
  El ASEGURADO, se adhiere voluntariamente al presente Seguro.<br>
  <strong>Declaración:</strong> El ASEGURADO declara conocer y aceptar todas las Condiciones de la Póliza y declara que a la fecha no tiene conocimiento de alguna enfermedad prexistente y goza de buena salud.<br>
  Es responsabilidad del ASEGURADO mantener saldo suficiente y disponible en la cuenta afiliada a este seguro, para que el TOMADOR efectúe el débito (cobro) mensual/anual y mantener la cobertura del presente seguro. <br>
  <strong>Autorización expresa:</strong> El ASEGURADO autoriza a La Compañía su reporte a la Central de Riesgos del Mercado de Seguros acorde a las normativas reglamentarias de la Autoridad de Fiscalización y Control de Pensiones y Seguros vigente. Asimismo, autoriza expresamente a LA COMPAÑÍA a solicitar, obtener y dar información respecto a sus antecedentes financieros, de seguros y de salud, a través de ellos o terceras personas. Asimismo, EL ASEGURADO autoriza al TOMADOR a debitar mensualmente o anualmente (según corresponda) de la cuenta detallada en el presente documento, la suma de Bs 16 o Bs. 176  correspondiente al pago de la prima por el seguro.<br>
  Es responsabilidad del ASEGURADO mantener saldo suficiente y disponible en la cuenta afiliada a este seguro, para que el TOMADOR efectúe el débito (cobro) mensual/anual y mantener la cobertura del presente seguro. <br>
  EL ASEGURADO contará con cobertura, mientras sus cuotas mensuales/anuales se encuentren pagadas, en caso de no pagar la totalidad de la prima, automáticamente quedará desafiliado de este seguro.<br>
  Todos los beneficios a los cuales el ASEGURADO tiene derecho, se sujetan a lo estipulado en las Condiciones Generales, Particulares y/o Adicionales de la Póliza de Seguro de la cual el presente certificado forma parte integrante. El ASEGURADO podrá requerir a LA COMPAÑÍA o a EL TOMADOR cualquier información adicional que considere necesaria.</p>
<div align="center">
<br />
  <table border="1" cellspacing="0" cellpadding="0" width="664" style="font-size:7pt">
    <tr>
      <td width="100%" nowrap colspan="7" valign="bottom"><p><strong>DECLARATORIA DE    BENEFICIARIOS</strong></p></td>
    </tr>
    <tr>
      <td width="25.75%" nowrap valign="top"><p>Apellido Paterno</p></td>
      <td width="27.10%" nowrap colspan="2" valign="top"><p>Apellido Materno y/o    casada</p></td>
      <td width="30.57%" nowrap colspan="3" valign="top"><p>Nombre(s)</p></td>
      <td width="16.71%" nowrap valign="top"><p>CI</p></td>
    </tr>
    <tr>
      <td width="100%" nowrap colspan="7" valign="bottom"><p><strong>Nombro    voluntariamente como Beneficiario(s) a la(s) siguiente(s) persona(s):</strong></p></td>
    </tr>
    <tr>
      <td width="38.25%" nowrap colspan="2" valign="bottom"><p>Nombre Completo</p></td>
      <td width="41.56%" nowrap colspan="2" valign="bottom"><p>&nbsp;</p></td>
      <td width="2.87%" nowrap valign="bottom"><p>%</p></td>
      <td width="17.32%" nowrap colspan="2" valign="bottom"><p>Parentesco</p></td>
    </tr>
    {{filas}}
  </table>
  <br />
</div>
          <table width="100%" style="font-size:7pt">
            <tr style="width: 100%">
              <td width="15%"><img src="{{imagen4}}" style="width: 100%"></td>
              <td width="85%">
                <p>La presente Póliza se encuentra intermediada por Kerkus Corredores de seguros S.A. domiciliado en la Ciudad de La Paz, Avenida Sánchez Bustamante Nro. 302, esquina calle 9, Zona Calacoto, teléfono (2) 2974000</p>
              </td>
            </tr>
          </table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div align="center">
          <table border="0" cellspacing="0" cellpadding="0" style="font-size:7pt">
            <tr>
              <td width="256"><p align="center">&nbsp;</p></td>
              <td width="255"><p align="center"></p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
            <tr>
              <td width="256"><p align="center">&nbsp;</p></td>
              <td width="255"><p align="center"> </p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
            <tr>
              <td width="256"><p align="center"><strong><img src="{{firma2}}" width="60%" align="center"></strong><strong> </strong></p></td>
              <td width="255"><p align="center"><strong><img src="{{firma1}}" width="60%" align="center"></strong></p></td>
              <td width="235"><p align="center">Asegurado<strong></strong></p></td>
            </tr>
            <tr>
              <td width="256"><p align="center"> </p></td>
              <td width="255"><p align="center"> </p></td>
              <td width="235"><p align="center">&nbsp;</p></td>
            </tr>
          </table>
        </div>
		</font>
		</body>
</html>
	
